
div.welcome-container{
  max-width: 1024px;
  margin-top: 0px;
  section{
    margin-top: 20px;
    h1,h2,h3,h4,h5{
      color: #777;
      font-size: x-large;
      font-weight: 400;
      margin-left: 10px;
    }
  }
  mdc-card{
    box-sizing: border-box;
    color: white!important;
    height: 14rem;
    position: relative;
    background: white;
    box-shadow:none;
    .icon{
      position: absolute;
      right: 15px;
      bottom: 15px;
      height: 25px; 
      width: 25px; 
    }
  

    div.category-cover{
      background-size: cover;
      width: 128px;
      height: 128px;
      position: absolute;
      right: -30px;
      top: -30px;
      border-radius: 50%;      
      opacity: 0.8;
    }

    div.avatar{
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.41);
    }

    .mdc-card__title{
      font-size:1.4rem!important;
      height: 70px;
      display: block;
      font-size: large;
    }

  }
}
