div.root{
  padding: 10%;
  .console{
    font-family: monospace;
    margin: 0;
    letter-spacing: -0.8px;
    font-weight: 500;
    color: #000;    
    pre{
      color: darkgreen;
      font-size: var(--wa-font-size-xs);      
    }
    p{
      margin: 2px;
    }
  }
  .error{
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 800;
    color: #aaa;
    text-shadow: 3px 3px 0px #ddd;  
  }  

}
