

.menu{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width:599px) {
    background-color:transparent;
  }
  .logo{
    display: inline-block;
    padding: 22px 28px 20px;
    font-weight: 400;
    line-height: 21px;
    margin-right: auto;
    margin-left: 60px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    @media (max-width:599px) {
      padding: 22px 4px 20px;
      margin-left: 40px;
    }
    img{
      top: 5px;
      height: 50px;
      position: absolute;
      left: -20px;
    }
  }
  .menu-item{
    display: inline-block;
    padding: 22px 28px 20px;
    font-weight: 400;
    line-height: 21px;

    .button-primary{
      padding: 10px 20px;
      background-color: var(--wa-color-neutral-fill-quiet);
      color: #007aff;
      border-radius: 20px;
      cursor: pointer;
      @media (max-width:599px) {
        padding: 10px 15px;
      }
    }
  }
}

.b2b-query {
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  margin: 15px auto 0px;
  text-align: center;
  font-weight: bolder;

  .new{
    background: yellow;
    transform: rotate(343deg);
    display: inline-block;
    margin-right: 10px;
  }
  .link{
    font-weight: 600!important;
  }

}

.icon{
}

button{
  cursor: pointer;
  outline: 0;
}

button.CTA {
  text-transform: uppercase;
  padding: 20px 18px;
  border-radius: 45px;
  min-width: 300px;
  display: block;
  margin:10px auto;
  text-decoration: none;
  font-size:large;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-primary-text);
  border: 0px ;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.container.welcome-top {
  background-image: linear-gradient(to right top,#e3eceb,#fff,#fff,#e3eceb);
  .message{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe83d;
    padding: 15px 58px 15px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  .welcome{
    font-family: var(--mdc-theme-font);
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    img{
      border-radius: var(--wa-border-radius-l);
      width: 400px;
      max-width: calc(100% - 30px);
    }
    canvas{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    h1{
      font-size: 65px;
      line-height: 72px;
      color: #111;
      font-weight: 600;
      padding-left: 0;
      margin-bottom: 5px;
      text-align: center;
      width: 100%;
      -background: -webkit-linear-gradient(45deg,#1c176d,#007b48 90%);
      -background-clip: text;
      --webkit-text-fill-color: transparent;

      @media (max-width:599px) {
        font-size: 40px;
        line-height: 48px;
        padding-left: 10px;

      }
    }
    .content{
      font-weight: 400;
      padding-top: 8px;
      line-height: 28px;
      padding-left: 0;
      max-width: 60%;
      font-size: 21px;
      margin: 0 auto;
      color: #333;
      text-align: center;
      display: flex;
      flex-direction:column;

      @media (max-width:599px) {
        font-size: 17px;
        padding-left: 0px;
        max-width: calc(100% - 40px);
        line-height: 21px;
        width: calc(100% - 40px);
        padding-top: 0;
      }
    }
    .actions{
      display: flex;
      width: 100%;
      padding-top: 30px;

    }
  }


  .how-it-works{
    display: flex;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .view-b2b{
      display: flex!important;
    }
    .break {
      flex-basis: 100%;
      height: 0;
      display: none;
    }
    .box{
      &.business,
      &.b2b{
        display: none;
        min-height: 173px;
        background-image:linear-gradient(to  top,#fff,#fff,#dae5ff);
        margin-bottom: 20px;
      }

      display: flex;
      flex-direction: column;
      width: 238px;
      box-shadow: 2px 4px 10px 2px rgb(201 198 198 / 40%);
      border-radius: 14px;
      background-color: #fff;
      min-height: 273px;
      padding: 15px 12px;
      margin: 0 10px 15px;
      position: relative;
      overflow: hidden;
      text-align: center;
      @media (max-width:599px) {
        min-height: auto;
        padding: 15px 12px;
        margin: 10px 10px;
        width: 100%;
      }
      .title{
        font-weight: 600;
        font-size: 17px;
        padding: 6px 0 10px;
      }
      .content{
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 8px;
        line-height: 18px;
        padding: 0 13px;
        font-size: 14px;
        color: #666;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        img{
          margin-left: -25px;
          margin-right: -25px;
          margin-bottom: 10px;
        }
        .bottom{
          margin-top: auto;
          margin-bottom: 0;
          height: fit-content;
          display: flex;
          flex-direction: column;
        }

        .button{
          margin: auto;
          text-decoration:none;
          border: 0;
          padding: 7px 20px;
          background-color: var(--mdc-theme-karibou-yellow) ;
          background-color: #dae5ff;
          font-weight: bold;
          color: #333;
          border-radius: 20px;
          font-size: inherit;
          margin-top: 20px;
        }

      }
    }
  }

  .brands {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    background: rgba(204,204,204 ,0.28);
    margin-top: -50px;
    padding-top: 100px;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    img{
      width: 60%;
      margin: 20px auto;
      opacity: .8;
      @media (max-width:599px) {
        width: 97%;
      }
    }
    h3{
      width: 100%;
      font-size: 28px;
      line-height: 32px;
      font-weight: 400;
      color: #666;
      font-family: var(--mdc-theme-font);

    }
    .actions{
      margin: auto;
    }
  }
}


.container.fees,
.container.faq  {
  .content-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 899px) {
      margin: 10px auto;
      max-width: 1160px;
      overflow-y: auto;
      padding-top: 30px;
      margin-top: 0;
    }

    @media (max-width:599px) {
      padding-top: 0!important;
      padding-bottom: 0!important;
      overflow-y: auto;
    }

  }
  padding-bottom: 50px;
  align-items: stretch;
  font-size: 20px;
  -background-image: linear-gradient(to right top, #fff, #ffffff, #fff, #fffdba);
  background-color: #ffe83d;

  h1{
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: var(--mdc-theme-font);

  }
  .faq-box{
    width: calc(33% - 20px);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
    outline: none;
    background-color: #ffffff4f;
    border-radius: 14px;
    @media (max-width:599px) {
      width: calc(100% - 20px);

    }
    .title{
      padding: 0 13px;
      font-weight: bold;
      font-size: 18px;
    }
    .content{
      margin-top: 15px;
      outline: none;
      font-weight: 400;
      margin-bottom: 8px;
      line-height: 18px;
      padding: 0 13px;
      font-size: 16px;
      color: #333;
    }
  }
}


.container.fees {
  .postalcode{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 395px;
    p{
      padding: 5px 10px;
      padding-left: 0;
      margin: 4px 10px;
      padding-top: 8px;
      font-weight: 400;
      width: 100%;
      text-align: left;
    }
    input{
      transition: all 0.25s ease-out;
      margin: 4px 0px;
      &.invalid{
        border: 1px solid var(--mdc-theme-karibou-pink);
      }
      &.stretch{
        width: 35px;
      }
      width: 100%;
      outline: none;
      border: 1px solid #bbb;
      border-radius: 5px;
      padding: 5px 10px;
      height: 30px;
      font-size: 16px;
      color: #555;
      text-align: left;
      margin-right: 6px;
      font-weight: 600;
    }
    div.price{
      font-size: 17px;
      width: 100%;
      padding-left: 5px;
      color: #333;
      line-height: 25px;
    }
  }
  .actions{
    display: flex;
    width: 100%;
    padding-top: 30px;

  }
}

