@import "colors.scss";

.background-grid{
  position: fixed;
  overflow: hidden;
  top:0;
  @media (max-width: 429px) {
    display: none;
  }

  &.large{
    @media (min-width: 1441px) {
      zoom: 1.1;
    }
    @media (min-width: 1900px) {
      zoom: 1.15;
    }
    @media (min-width: 2500px) {
      zoom: 1.25;
    }
  
    .items-list-wrap{
      animation: none !important;

    }
    li{
      width: 382px!important;
      height: 292px!important;
  
    }
  }
  
  
  height: 110%;
  z-index: -1;  
  .items-list-wrap{
    width: 120%;
    overflow: hidden;
    box-sizing: border-box;
    will-change: transform;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    animation: slowScroll 120s;
    animation-iteration-count: 3;
    animation-delay: 0.5s;
    animation-timing-function: easeInOutSine;    
    ul{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;      
      li{
        display: inline-block;
        position: relative;
        width: 273px;
        height: 203px;
        vertical-align: top;
        background: #8b6f4e;
        text-align: left;
        color: #5a5a5a;
        font-weight: 400;
        margin: 0px;
        cursor: pointer;
        white-space: initial;
        border: 10px solid #fefefe;
        background-size: cover;
        background-position: center;          
      }
    }
  }
}

@keyframes slowScroll {
  0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
  }
  50% {
      -webkit-transform: translateY(-380px);
      -moz-transform: translateY(-380px);
      -ms-transform: translateY(-380px);
      -o-transform: translateY(-380px);
      transform: translateY(-380px);
  }
  100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
  }
}

.container{
  a.enter,
  button.enter{
    width:75%;
    max-width: 350px;
    padding: 20px 10px;
    border-radius: 45px;
    display: block;
    margin: auto;
    margin-top: 5px;
    color: white;
    text-decoration: none;        
    font-size:large;  
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-primary-text);
  }

  &.top{
    color: #424242;
    background-color:rgba(0,0,0,0.1);
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center; /*halign*/
    align-items:center; /*valign*/
    padding-top: 10vh!important;
    padding-bottom: 10vh!important;
    min-height: 80%;
    box-sizing: border-box;    
    
    @media (max-width: 429px) {
      padding-top: 0!important;
      padding-bottom: 0!important;
    }    

    .welcome{
      display: inline-block;
      max-width: none;
      box-shadow: 2px 1px 20px #888;
      background: rgba(255,255,255,0.95);
      margin: 0 auto 20px auto;
      position: relative;
      z-index: 2;  
      text-align:center;
      &.exited {
        opacity: 0;
      }
      
      .logo,
      .spread{
        background-image: url(/assets/img/k-brand-lg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        height: 150px;
        margin: 10px 70px;  
        margin-bottom: 20px;
        @media (max-width: 429px) {
          margin: 0 10px;
        }
      }

      .spread{
        background-image: url(/assets/img/bretzel-spread-lg.jpg);
        height: 50px;
        margin-bottom: 10px;
        @media (max-width: 765px) {
          min-height: 50px;
        }
            
      }

      
      .inner{
        box-sizing: border-box;
        padding: 0 0 20px 0;
        position: relative;
        z-index: 2;
        width: 540px;  
        @media (max-width: 429px) {
          width: 100%;
        }
        
        .postalcode{
          height: 90px;
          margin-top: -90px;
          background: white;
          padding: 5px;
          color: black;
          p{
            padding: 5px 10px;
            margin: 4px;
            padding-top: 8px;
            border-top: 4px dotted var(--mdc-theme-karibou-pink);
            font-weight: 400;            
          }        
          input{
            &.red{
              border: 1px solid var(--mdc-theme-karibou-pink);
            }
            outline: none;
            border: 1px solid #bbb;
            border-radius: 20px;
            padding: 5px 20px;
            height: 30px;
            font-size: 16px;
            color: #555;           
            text-align: center; 
          }
        }
  
        h2{
          font-weight: 500;
          margin: 0 20px;
          &.colored{
            font-weight: 500;
            border-top: 2px solid var(--mdc-theme-secondary);
            border-bottom: 2px solid var(--mdc-theme-secondary);
            padding: 20px 5px;
            margin: 20px 40px;
            color: var(--mdc-theme-secondary);            
          }
        }
        h1{
          margin: 0 20px;
          font-weight: 500;
          font-size: 45px;
          color: var(--mdc-theme-primary-text);
          letter-spacing: 1px;  
        }
        p{
          padding: 10px 70px;  
          @media (max-width: 429px) {
            padding: 10px 40px;
          }
            
        }
        form{
          background: transparent;
          display: flex;
          flex-flow:row wrap;
          margin: 20px auto;
          padding: 8px 70px;  
          min-height:80px;
          width: auto;
          button{
            flex:1;
            height: 50px;
            color: white;
            align-self: center;
          }

          @media (max-width: 429px) {
            padding: 8px 30px;  
          }
          
        }      
        .singup-vs-login{
          margin: 0;
          font-size: inherit;  
        }

        .i18n-switch{
          padding: 5px;
          span{
            cursor: pointer;
            color: #da1c5c;
            border-bottom: 1px dotted #da1c5c;
            font-size: 14px;            
          }          
        }
        
      } 
    }  
  }
  &.middle{
    color: #424242;
    background-color:#EEEEEE!important;
    width:100%;
    .how-it-works{
      background-color:white;
      padding-bottom:40px;
      margin:auto;
      max-width: 1200px;
      width:100%;
      display:flex;
      flex-flow: row wrap;
      justify-content:flex-start; /*halign*/
      align-items:flex-start; /*valign*/
      
      .why{
        flex: 1 0 29%;
        padding:25px;
        min-width:200px;
        @media (max-width: 700px) {
          flex: 1;        
          padding:10px;
        }
        text-align:center;
        .image{
          max-height:200px;
          .image-radius{
            border-radius: 50%;
            border: 2px solid #ddd;
            padding: 2px;
          }
        }
        h3{
          font-weight: 400;
          font-size: 30px;        
          margin:20px 0;
          line-height:46px;
        }
        p{
          font-size: 20px;
          font-weight: 300;
          line-height: 1.6em;
          padding: 0;
          margin: 0;              
        }
      }        
    }
    
    .favorite-products{
      background-image:url("/assets/img/k-bretzel-md.jpg");
      background-repeat:no-repeat;
      background-position: center;
      background-color:white!important;
      background-size: cover;
      min-height: 400px;
      max-width: 1200px;
      width:500px;
      margin: auto;    
      display:flex; 
      flex-flow:row nowrap;
      background-color:#eee;
      max-width: 1200px;
      @media (max-width:429px) {
        min-height: 500px;        
        width: 100%;
      }
      .elem{
        flex: 1 0 50%;
        color: white;
        font-size: xx-large;
        padding: 20px;
        align-self: flex-end;        
      }
    }
  }

  &.separator{
    background-color:#EEEEEE!important;
    width:100%;
    height: 80px;
  }     
}
  