<mdc-permanent-drawer [fixed]="true">
    <mdc-permanent-drawer-spacer></mdc-permanent-drawer-spacer>
    <mdc-permanent-drawer-content>
        <mdc-list-group>
          <mdc-list>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>home</mdc-icon>Home
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>star</mdc-icon>Star
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>send</mdc-icon>Sent Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>drafts</mdc-icon>Drafts
            </mdc-list-item>
          </mdc-list>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>email</mdc-icon>All Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>delete</mdc-icon>Trash
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>report</mdc-icon>Spam
            </mdc-list-item>
          </mdc-list>
        </mdc-list-group>
    </mdc-permanent-drawer-content>
  </mdc-permanent-drawer>
  <mdc-content>
    <mdc-toolbar>
        <mdc-toolbar-row>
            <mdc-toolbar-section [alignStart]="true" >
              <span mdc-toolbar-title>App Layout</span>
            </mdc-toolbar-section>
            <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
            </mdc-toolbar-section>
        </mdc-toolbar-row>
    </mdc-toolbar>
    <div class="mdc-padding">
      Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo
      et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc
      veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an
      legere iriure blandit. Veri iisque accusamus an pri.
    </div>
  </mdc-content>
