
div.welcome-container{
  width:100%;
  margin: auto;
  margin-top: 70px;

  mdc-card{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;      

    mdc-card-media{
      height: 12.313rem;
      background-repeat: no-repeat;
      background-size: cover;      
    }

    .mdc-card__primary{
      background-color: rgba(255, 255, 255, 0.54);
    }


    div.avatar{
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.41);
    }
    .mdc-card__title{
    }

    .mdc-card-subtitle{
    }

    h1{
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;  
    }
  }
}
