.root-container {

//
// BOX INFO
div.hub-header{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 200;
  background-size: cover;
  background-color: transparent!important;
  margin-top: 10px;
  margin-bottom: 0px;
  @media (max-width:1024px){
    padding: 10px 10px;
    width: calc( 100% - 20px );
  }

  @media (max-width:599px){
    padding: 10px 0px;
  }
}

kng-wallet{
  padding: 10px 10px;
}

h2{
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
  font-size: 1.4675rem;
  margin: 0 10px 30px;
}

kng-subscription-option,
kng-nav-marketplace,
kng-feedback,
kng-calendar{
  display: block;
  margin: 0;
  width: 100%;
}

.basic-setting {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: calc(100% - 30px);
  margin-top: 10px;
  .kng-boxed{
    padding: 10px 10px;
    width: 100%;
    min-height: fit-content;
    .end {
      width: 60px;
      height: 35px;
      padding: 0px;
      margin-right: 10px;
      span {
        font-size: 20px;
      }
    }
  }
  .kng-boxed.disabled{
    opacity: .3;
    pointer-events: none;
  }

  .kng-boxed .label{
    margin: auto!important;
    margin-left: 5px!important;
    justify-content: space-between;
    width: auto;
  }
  .kng-boxed kng-slider{
    width: 100%!important;
  }


}

.i18n{
  .content{
    flex-direction: row;
    font-size: 17px;
    line-height: 28px;
    font-weight: bold;
    padding: 10px;
    height: fit-content;
    min-height: 70px;
    align-items: center
  }
}
.theme{
  .content{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    min-height: 50px;
    .color{
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      outline:0;
      background-color: #fff;
    }
  }
}

button{
  text-decoration: none;
  font-size: initial;
  background-color: var(--mdc-theme-primary-text);
  color: var(--mdc-theme-primary);
  background-color: white;
  color: black;
  display: inline;
  .material-symbols-outlined{
    transform: translateY(3px);
  }
  cursor: pointer;
}

button.action{
  margin: 20px 0 15px;
  padding: 12px 26px;
  border-radius: 50px;
  border-width: 0px;
  width: auto;
}

button.goto{
  width: 100%;
  max-width: 400px;
  padding: 18px 10px;
  border-radius: 10px;
  margin: auto;
  margin-left:10px;
  margin-bottom: 40px;
  color: var(--mdc-theme-primary);
  background-color: #eee;
  text-transform: uppercase;
  border: 1px solid var(--mdc-theme-primary)!important;
  -box-shadow: 0px 2px 8px rgba(0, 0, 0,  0.16);
  line-height: 33px;
}



}
