<kng-navbar style="height:100%">

  <div>
      
    <!-- MARKETPLACE -->
    <kng-nav-marketplace [hidden]="lockedHUB" [config]="config" [orders]="[]"></kng-nav-marketplace>
  
    <!-- DATE -->
    <kng-calendar (updated)="currentShippingDay=$event"></kng-calendar>


    <h2 class="">Je commence mes cources</h2>
    <div class="hub-header">
      <button class="goto" (click)="doOpenMarket(store)" [routerLink]="['/store',store,'home']">{{config.shared.hub.name}} pour le {{currentShippingDay|date:'d MMMM':'':locale}}, <b>Go &nbsp;<span class="material-icons pink">rocket_launch</span> </b>  </button>

    </div>
    
    <h2>Les coups coeur du marché</h2>

  
    <section class="products ">
        <div class="product" *ngFor="let product of selected;let j=index">
          <div  class="media ">
            <img [src]="getImage(product)" />
            <div class="title">{{product.title}}</div>
          </div>          

        </div>
    </section>

    <!-- <kng-shops (open)="doOpenShop($event)"></kng-shops> -->

    <!-- DISPLAY HUB -->
    <!-- <div class="hub-header hide">
      <div class="banner" >
        <h1>Bienvenu {{config.shared.hub.name}}</h1>
        <h2>{{config.shared.hub.description[locale]}}</h2>  
        <button class="action" [routerLink]="['/store',store,'home']">Commander pour le <b>{{currentShippingDay|date:'d MMMM':'':locale}}</b> </button>
      </div>
    </div> -->

  </div>

</kng-navbar>  
