<!--- DISPLAY MONTHLY INVOICE DETAILS -->
<div class="invoice-details">
  <div class="panel">
    <div class="actions top">
      <button class="download" (click)="onDownloadPDF()" [hidden]="!qrbillAmount">
        {{i18n[locale].download_invoice}}
      </button>
      <button class="close" (click)="onClose()">{{i18n[locale].close}}</button>
    </div>

    <h2>{{i18n[locale].month_details}} : {{invoice.month}}/{{invoice.year}}</h2>

    <ul class="items" [hidden]="!subscriptionOrders.length">
      <li class="note">{{i18n[locale].subscriptions}}</li>
      <li *ngFor="let order of subscriptionOrders">
        <div class="qty bold">1x</div>
        <div class="title">
          {{orderLabel(order)}} - {{order.when|date:"d MMM y"}}
          <span class="status">{{statusLabel(order)}}</span>
          <div class="line-notes" *ngIf="orderNotes(order).length">
            <span *ngFor="let note of orderNotes(order)">{{note}}</span>
          </div>
        </div>
        <div class="price">{{order.amount|currency:'CHF'}}</div>
      </li>
    </ul>

    <ul class="items" [hidden]="!ponctualOrders.length">
      <li class="note">{{i18n[locale].ponctuals}}</li>
      <li *ngFor="let order of ponctualOrders">
        <div class="qty bold">1x</div>
        <div class="title">
          {{orderLabel(order)}} - {{order.when|date:"d MMM y"}}
          <span class="status">{{statusLabel(order)}}</span>
          <div class="line-notes" *ngIf="orderNotes(order).length">
            <span *ngFor="let note of orderNotes(order)">{{note}}</span>
          </div>
        </div>
        <div class="price">{{order.amount|currency:'CHF'}}</div>
      </li>
    </ul>

    <div class="totals">
      <div>
        <span>{{i18n[locale].invoices}}</span>
        <b>{{invoicesAmount|currency:'CHF'}}</b>
      </div>
      <div>
        <span>{{i18n[locale].transfers}}</span>
        <b>{{transfersAmount|currency:'CHF'}}</b>
      </div>
      <div>
        <span>{{i18n[locale].paids}}</span>
        <b>{{paidsAmount|currency:'CHF'}}</b>
      </div>
      <div class="total">
        <span>{{i18n[locale].total_invoice}}</span>
        <b>{{qrbillAmount|currency:'CHF'}}</b>
      </div>
    </div>
  </div>
</div>