
:host{
 .mdc-content{
    width: 100vw!important;
    padding: unset!important;
    margin: unset!important;
  }
  
}

div.content{
  display: flex;
  flex-flow: column wrap;
  width: 100vw;

  justify-content: center;
  line-height: 1.4;

  flex: 1 0 100vw;

  font-family: Helvetica,Arial, sans-serif;
  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 200;
  font-style: normal;
  letter-spacing: -.003em;

  margin-top: 70px;
  margin-bottom: 100px;
  @media screen and (max-width:426px){
    margin-top: 100px;
  }  

  
  .mdc-image-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;

    max-width: 1024px;
    width: 1024px;
    margin: auto;      

    @media screen and (max-width:426px){
      width: calc( 100vw - 20px );        
    }  

  }
  
  .standard-image-list .mdc-image-list__item {
    width: calc(20% - 4.2px);
    margin: 2px;
    cursor: pointer;

    @media screen and (max-width:426px){
      width: calc(50% - 4.2px);
    }
  }  
}
