div.content{
  display: flex;
  flex-flow: column wrap;
  width: 100%;

  justify-content: center;
  line-height: 1.4;

  flex: 1 0 100vw;

  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 200;
  font-style: normal;
  letter-spacing: -.003em;

  margin-top: 0px;
  margin-bottom: 100px;

  
  .shops-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;

    max-width: 1024px;
    width: 1024px;
    margin: auto;      

    @media screen and (max-width:426px){
      width: calc( 100vw - 20px );        
    }  

    article{
      cursor: pointer;
      width: calc( 100% / 4 - 10px );
      @media screen and (max-width:426px){
        width: 100%;        
      }  
  
      margin: 5px;
      margin-bottom: 15px;
      .shop-image{
        height: 200px;
        position: relative;
        overflow: hidden;        
        border-radius: 16px;
        img{
          object-position: center center;
          width: 100%;
          margin: auto;
          object-fit: cover;
          min-height: 100%;
          object-position: center center;
          padding: 0;
        }
      }
  
      .shop-description{
        margin:12px 8px;
      }
    }

  }
  
}
