<div class="content">

  <mdc-image-list textProtection class="standard-image-list image-list--rounded-corners">
    <mdc-image-list-item *ngFor="let shop of shops" [routerLink]="['../',shop.urlpath]">
      <mdc-image-list-image-aspect>
        <img mdcImageListImage [ngStyle]="ngStyleBck[shop.urlpath]" />
      </mdc-image-list-image-aspect>
      <mdc-image-list-supporting>
        <span mdcImageListLabel>{{shop.name}}</span>
      </mdc-image-list-supporting>
    </mdc-image-list-item>
  </mdc-image-list>  
</div>