.audio-note{
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--mdc-theme-appbar);
  border-radius: 6px;

  &.recording{
    color: white;
    background-color: rgb(160,0,0);
    box-shadow: 0 0px 10px #ffb6b6;
  }

  .title{
    padding: 5px 10px 0;        
    font-weight: 200;
    margin: 8px 0;      
    line-height: 22px;
  }
  textarea{
    padding: 8px;
    margin: 4px;
    width: calc(100% - 26px);
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 50px;
    resize:vertical;
  }

  .loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.73);
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    font-size: 18px;
  }


  .audio-controls{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    .audio-error{
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.93);
      display: flex;
      align-items: center;
      z-index: 1;
      justify-content: center;
      padding: 0px 6px;
      color: red;
      width: calc(100% - 0px);
      button{
        padding: 5px 10px;
        margin-right: 20px;
        margin-left: auto;        
      }
    }

    audio{
      outline: 0;
      scale: .8;
      margin-left: -10px;
      margin-right: 50px;      
    }
    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-panel {
      background-color: #eee;
      color: #333;
    }      

    .record{
      width: 40px;
      height: 40px;
      margin: 10px;
      text-align: center;
      padding: 6px;
      border-radius: 20px;
      border: 1px solid rgb(160,0,0);        

      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;

      user-select:none;   
      margin-left: auto;
      margin-right: 10px;     
      &.recording{
          color: rgb(160,0,0);                                
      }
    }      
  }
}