<div class="audio-note" [class.recording]="audioIsRecording">
  <div class="loading" [hidden]="!cartItemAudioLoading" >
    {{label.audio_recording}}
  </div>
  <div class="title">
    {{label.cart_audio}}
    <p>{{label.cart_audio_note}} <b>{{amount}} fr</b></p>
  </div>
  <textarea  hidden autofocus rows="5" [(ngModel)]="cartItemNote" placeholder="Ajoutez un commentaire ou enregistrez un message audio."></textarea>

  <div class="audio-controls">
    <div class="audio-error" [hidden]="!cartItemAudioError" >
      {{label.audio_error}} <button (click)="cartItemAudioError = null">OK</button>
    </div>

    <div class="audio-error" [hidden]="audioDetected || hasNoAudio" >
      {{label.audio_silent}} <button (click)="audioDetected = true">OK</button>
    </div>

    <!--- SAFARI >=13 -->
    <audio id="audio" controls [hidden]="!cartItemAudio || audioIsRecording"></audio>

    <!-- RUN AUDIO -->
    <button class="record"  [class.recording]="audioIsRecording"                
      (pointerdown)="audioRecord($event)"                
      (click)="$event.preventDefault()">
      <span class="material-symbols-outlined">mic</span>
    </button>

  </div>
</div>
