<form class="search" >
  <i class="left material-symbols-outlined">search</i>
  <span #stats class="stats"></span>
  <input type="text" #search
        (keydown.enter)="doInput($event.target.value)" 
        (focus)="onFocus()" 
        [placeholder]="label.search_placeholder" >    
  <i class="hide right-favorite material-symbols-outlined" (click)="doFavorite()">favorite</i>
  <i class="hide right-favorite material-symbols-outlined" [class.cleared]="isCleared" (click)="doClear()">close</i>
</form>  