//
// display on large screen
kng-search-bar{
	display:flex;
	opacity: .8;	
	margin: auto;
	@media (max-width: 429px) {
		display:none;
	}
	&.force-display{
		display:flex;
	}
}

//
// display on mobile
kng-search{
	display:flex;	
	@media (min-width: 429px) {
		display:none!important;
	}
}


.search{
	z-index: 1;
	height: 45px;
	width: 100%;
	max-width: 450px;
	display: flex;
	right: 0;
	left: 0;      
	i.left{
		position: absolute;
		margin-left: 22px;
		z-index: 1;
		margin-top: 12px;  
		color: var(--mdc-theme-primary)!important;      
		cursor: pointer;
	}
	i.right-favorite{
		z-index: 1;
		margin-top: 11px;  
		color: var(--mdc-theme-primary)!important;      
		margin-left:-54px;
		cursor: pointer;
		@media (max-width: 429px) {
			right: 25px;
		}

	}
	i.right{
		z-index: 1;
		margin-top: 11px;  
		color: var(--mdc-theme-primary)!important;      
		cursor: pointer;
		margin-left:-54px;
		@media (max-width: 429px) {
			right: 25px;
		}
		opacity: .5;
	}
	.stats{
		font-size: 90%;
		position: absolute;
		margin-top: 15px;
		font-weight: 900;
		color: #999;     
		transition: all .3s;   
	}
	input{
		outline: 0;
		border: 1px solid rgba(185, 185, 185, 0.6);
		border-radius: 25px;
		background: #fff;
		width:500px;
		max-width: calc( 100vw - 60px);
		padding-left: 30px;
		font-size: 15px;
		margin: 0 15px;
	}
	@media (max-width: 429px) {
		-margin-right:10px;
	}
}
