<div class="home-header -width-full" [class.cover]="hasBackgroundCover()" [ngStyle]="getHeaderStyle()">
  <h2 [innerHtml]="getAboutContent('t')"></h2>
  <div  [hidden]="!hasAboutContent('h')"
        [innerHtml]="getAboutContent('h')">    
      <!-- <mdc-card [outlined]="true">
        <mdc-card-primary-action mdc-ripple>
          <div class="home-card__header-row">
            <mdc-card-media [square]="true" class="home-card__media"></mdc-card-media>
            <div class="home-card__header-info">
              <div class="home-card__header-title" mdcHeadline5>Title</div>
              <div class="home-card__header-artist" mdcBody2>Under the Grave</div>
              <div class="home-card__header-year" mdcBody2>(2016)</div>
            </div>
          </div>
        </mdc-card-primary-action>
        <mdc-list-divider></mdc-list-divider>
      </mdc-card> -->              
    </div>            
    <p  [hidden]="!hasAboutContent('p')" 
          [innerHtml]="getAboutContent('p')">    
    </p>

    <!-- INFORMATION -->
    <div class="maintenance" *ngIf="config.shared.maintenance.active" [innerHtml]="config.shared.maintenance.reason[locale]">    
    </div>
  
    <div class="info" *ngIf="config.shared.header.active" [innerHtml]="config.shared.header.message[locale]">    
    </div>
</div>

<!-- FAB -->
<button mdc-fab [exited]="scrollDirection<-5||!scrollDirection"   
        (click)="showCategories=!showCategories"
        class='text-primary bottom-right'>
  <mdc-icon>drag_indicator</mdc-icon>
</button>  

<div class="fab-list" [class.show]="showCategories">
  <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
  <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
  <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
  <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
</div>

<!-- Window virtual scroll (manage size) 
  -- https://medium.com/@yongtze_chi/virtual-scrolling-with-angular-145233f79384
  -->
<div class="product-container mdc-layout-grid"
    infiniteScroller
    scrollPerecnt="70"
    immediateCallback="false"
    infiniteScrollContainer="window"
    [scrollCallback]="scrollCallback">

    
  <!-- Layout documentation
       https://github.com/material-components/material-components-web/tree/master/packages/mdc-layout-grid -->
  <div *ngFor="let category of getCategories();let i=index" [hidden]="!category.active" #section>
    <section>
      <h2>{{category.name}}</h2>
      <h3 [innerHtml]="category.description"></h3>
    </section>
              
    <div class="kng-layout-card" >
        <kng-product-thumbnail 
            [sku]="product.sku"
            *ngFor="let product of group[category.name];let j=index"
            class="">
        </kng-product-thumbnail>


    </div>
  </div>

      
</div>
  
<router-outlet ></router-outlet>