
//
// BOX INFO
div.home-header{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-weight: 200;
  background-size: cover;
  background-color: transparent!important;
  margin-top: 0px;
  margin-bottom: 0px;
  @media (max-width: 767px){
    padding: 10px 10px;
    width: calc( 100% - 20px );
  }

  img{
    width: 100%;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1rem;
    max-width: calc(100% - 1.25rem);
    -box-shadow: 10px -10px 0px 0px deeppink;

    @media (min-width: 768px) {
      margin: 1rem;
      margin-left: 0;
        width: (30%);
      object-fit: fill;
    }
  }
  &:has(figure:empty) img {
    margin: auto;
    margin-top: 1rem;
  }
  figure:empty {
    display: none;
  }
  figure {
    margin: 1rem 5px;
    padding: 0.5rem;
    border-radius: 1rem;
    width: calc(100% - 2rem);
    -border: 1px solid #eee;
    background-color: var(--mdc-theme-appbar-light);
    flex: 1;
    @media (min-width: 768px) {
      margin-left: .25rem;
    }

    ul{
      list-style: none;
      padding: 1rem 0;
    }
    >a{
      text-decoration: none;
      color: inherit;
    }
  }
  figure blockquote {
    quotes: "“" "”" "‘" "’";

    &::before{
      content: open-quote;
    }
    &::after{
      content: close-quote;
    }
  }
  figure figcaption,
  figure blockquote {
    margin: 1em;
  }



  .welcome{
    margin-bottom:20px;
    position: relative;
    min-height: 120px;
    width: 100%;
    b{
      font-weight: bold!important;
    }

    >div{
      display: flex;
      flex-flow: row wrap;
      padding: 0px;
      font-size: 18px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
      .left-half{
        max-width: 40%;
        height: 200px;
        img{
          height: 100%;
        }
        @media (max-width:599px) {
          max-width:100%;
          overflow: hidden;
          max-height: 230px;
          transform: rotate(180deg);
          zoom: 1;
          display: block;
          img {
            transform: rotate(180deg) translateY(20%);
            height: auto !important;
            zoom: 1;
          }
        }
      }

      .left{
        flex: 1;
        max-width: 48%;
        @media (max-width: 767px) {
          flex: 1 0 100%;
          max-width:100%;
          font-size:70%;
        }
        margin-bottom:-6px;
        img{
          width: 100%;
        }
      }

      .right{
        &.text-left{
          text-align: left;
          h1,h2,h3,h4,div{
            text-align: left;
          }
        }
        &.full{
          max-width: 80%;
          transform: scale(.9);
          max-height: 200px;
          padding: 0;
          @media (max-width:599px) {
            max-width:100%;
            font-size:70%;
            transform: none;
            padding: 20px;
          }
        }
        p{
          margin-bottom:2px;
          margin-top: 10px;
        }
        flex: 1;
        padding: 20px;
        align-self: center;
        max-width: 45%;
        @media (max-width: 767px) {
          max-width:100%;
        }
      }

    }
  }


  &.cover{
    color: #fff!important;

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    transform: translateX(-4px);
    min-height: 350px;
    text-align: center;
    >h2,
    >div,
    >p{
      color: white;
      text-shadow: 0 0 1px rgba(0,0,0,.71);
    }
  }

}

kng-calendar  {
  .calendar-container{
    .calendar{
      background-color: var(--mdc-theme-appbar-light)!important;
      padding: 10px;
      flex:1;
    }

  }
}

.product-container,
kng-nav-marketplace,
kng-product-link,
kng-product-swipe {
  @media (max-width: 767px) { /* Mobile harmonisé */
    padding: 10px 10px;
    width: calc( 100% - 20px );
  }
}

kng-search.search-mobile,
kng-search.home{
  margin: 20px 10px;
}

kng-search-bar{
  margin:1rem;
  margin-left: 0.5rem;
  width: calc(100% - 2rem);
}
//
// HOME SELECTION
kng-product-swipe{
  margin-top:10px;
}

.kng-boxed.first,
.kng-boxed.themes{
  @media (min-width: 1200px) { /* Desktop harmonisé */
    margin: 0.5rem;
    padding: 1.125rem;
  }
}
.kng-boxed.themes{
  display: flex;
  gap: 8px;
  background: #fff;
  padding: 0;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
  margin:1rem auto;
  border-radius: 0;

  .kng-chip {
    width: auto;
    flex: 1 0 auto;
    height: 2rem;
    border-radius: 1rem;

    span{
      color: white;
      font-weight: 400;
      font-size: 1rem;
    // background: inherit;
    // background-clip: text;
    // color: transparent;
    // filter: invert(1) grayscale(1) contrast(5);
    }
  }
}

.kng-boxed {
  a {
    font-weight: 500;
    font-size: 17px;
  }

  .label{
    h2{
      margin: 0;
    }
  }
  &.theme {
    width: calc( 100% - 0px );
    min-height: auto;
  }
  .items{
    h3{
      margin: 5px 0;
      color: var(--mdc-theme-secondary);
      font-weight: 400;
    }
    li{
      cursor: pointer;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }
}



//
// CATEGORY FOR MOBILE OR DESKTOP
.mobile-categories {
  margin: 0 10px;
  ul{

    border-radius: 14px;
    margin: 10px 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    column-gap: 0.5rem;
    justify-items: center;
    li.subs-item{
      width: calc(100% - 1rem );
      display: flex;
      justify-content: flex-start;
      border-radius: 0.5rem;
      background-color: var(--mdc-theme-appbar-light);
      border: 1px solid var(--mdc-theme-appbar);
      color: var(--mdc-theme-appbar-text);
      font-weight: 500;
      padding: 9px;
      margin: auto auto 0.5rem;
      align-items: center;
      height: 3rem;
      &.inverted{
        color: var(--mdc-theme-appbar-light);
        background-color: var(--mdc-theme-appbar-text);
        i{
          color: var(--mdc-theme-appbar-light);
        }
      }
      i{
        margin-right: 5px;
        color: var(--mdc-theme-secondary);
      }
      i.icon{
        margin-top: -8px;
      }
    }
    li:not(.subs-item){
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 100%;
      height: 3rem;
      overflow: hidden;
      border-radius: 0.5rem;
      background-color: var(--mdc-theme-appbar-light);
      border: 1px solid var(--mdc-theme-appbar);
      color: var(--mdc-theme-appbar-text);
      font-weight: 500;

      img{
        display: none;
        height: 100%;
        width: 100%;
        min-width: 100%;
        object-fit: cover;
        object-position: center center;
      }
      span{
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        padding: 8px 4px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        line-height: 16px;
        background-color: rgba(70, 90, 70,0.7);
        color: #ffed00;
        font-weight: bold;
      }
    }

    li.subs-item:last-child:nth-child(odd) {
      grid-column: span 2;
    }

  }
}

.menu-on-right{
  transition: all 200ms;
  position: fixed;
  overflow-x: visible;
  top: var(--mdc-theme-top-bar);
  width: 350px;
  padding: 0;
  left: auto;
  height: calc(100% - 160px);
  right: initial;
  margin-left: calc(var(--mdc-theme-container-width) + 10px ) ;
  border-left:1px dotted #ddd;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-left: 5px;
  @media (max-width: 767px) {
    display: none;
  }

  @media (max-width: 1199px) { /* Tablet + Mobile harmonisé */
    display: none;
  }

  @media (min-width: 1200px) and (max-width: 1440px) { /* Desktop standard */
  }


  @media (min-width: 1441px) { /* Desktop large */
  }

  @media (min-width: 1600px) { /* Desktop XL */
  }

  >div{
    width: calc(100% - 40px);
    height: fit-content;
    margin-top: 0;
    &.premium{
      background-color: #555;
      color: lightyellow;
    }



  }

}

.menu-on-left{
  transition: all 200ms;
  position: fixed;
  overflow-x: visible;
  top: var(--mdc-theme-top-bar);
  width: 270px;
  padding: 0;
  left: 10px;
  height: calc(100% - 160px);

  margin-top: 1rem;

  /* scale:.9 broke naviation and pointer on some devices */

  &.display{
    opacity: 0;
  }
  @media screen and (min-width: 1600px) {
    margin-left:-290px;
    left: initial;
  }
  @media screen and (max-width: 1440px) and (min-width: 1200px){ /* Desktop range harmonisé */
    width: 16%;
  }

  @media (max-width: 1199px){ /* Tablet + Mobile - harmonisé */
    display: none;
  }

  /* iPad/Iphone Landscape  https://stackoverflow.com/a/10360310 */
  @media  only screen and (max-width:1365px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:landscape),
          only screen and (max-width:1365px) and (-o-min-device-pixel-ratio: 3/2) and (orientation:landscape),
          only screen and (max-width:1365px) and (min--moz-device-pixel-ratio: 1.5) and (orientation:landscape),
          only screen and (max-width:1365px) and (min-device-pixel-ratio: 1.5) and (orientation:landscape) {
    display: none;
  }

  ul{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 0px;
    border-right: 1px solid #ddd;
    height: fit-content;
    overflow: auto;
    margin-right: 10px;
    margin-bottom: 0px;
    &.subs{
      display: none;
      height: auto;
      overflow: hidden;
      background-color: var(--mdc-theme-appbar);
      margin-top: 10px;

    }

    &::-webkit-scrollbar {
      width: 1px;
      height: 8px;
      background-color: transparent; /* or add it to the track */
    }

    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    @media (max-width: 767px) {
      -background: linear-gradient(#f7f9f9,rgba(255,255,255,.3));
    }

    li{
      &:hover{
        background-color: #eee;
      }

      &.selected{
        color:#333;
        font-weight: 500;
        margin-left: 0;
        border-left: 5px solid #333;
      }
      &.subs{
        display: flex;
        padding: 8px 14px;
      }
      &.separator {
        border-bottom: 1px solid #aaa;
        margin-bottom: 8px;
        padding-bottom: 12px;
      }
      cursor: pointer;
      padding: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 5px;
      color: rgb(52, 53, 56);
      b{
        color: #333;
        -font-weight: 400;
      }
      a{
        text-decoration: none;
        color: black;
        margin-left: 0px;
        span{
          transform: translateY(6px);
        }
      }

      i{
        color: var(--mdc-theme-secondary);
      }

      .icon,
      .fa{
        &.invisible{
          opacity: 0;
        }
        margin-left: 0px;
        margin-right: 10px;
        width: 18px;
        height: 18px;
        display: inline-block;
        border: 0px solid #eee;
        border-radius: 14px;
        padding-top:2px;
        padding-left: 2px;
        filter: grayscale(1);
        opacity: .7;
      }
    }
  }
}

h2.root{
  display: none;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

div.product-container{
  margin-top: 0px;
  margin-bottom: 100px;
  padding-top: 0;
  padding: 0;
  width: 100%;
  min-height: 30vh;
  @media (max-width: 767px) {
    padding: 0;
    width: calc(100vw - 20px);
    margin-left: auto;
    margin-right: auto;
  }

  >div{
    padding-bottom:10px;
    background: var(--mdc-theme-background-container);
  }

  //
  // display cards

}

