div.product-container{
  max-width: 1024px;
  margin-top: 0px;

  section h2,
  section h3{
    font-weight: 500;
    color: var(--mdc-theme-text-primary-on-primary, rgba(0, 0, 0, 0.87));
    font-size: 0.875rem;
    text-transform: uppercase;    
    margin-top: 20px;
  }
  section h5,
  section h4{
    color:var(--mdc-theme-secondary);
    font-weight: 500;
    margin-bottom: 0px;    
  }

  .mdc-layout-grid__inner{
    background-color: #fff;
    padding: 5px 5px 40px 5px;    
    @media (max-width: 426px) {
      padding: 0 0 40px 0;    
    }
  }
}

