<!-- FEEDBACK -->
<kng-feedback [config]="config" [user]="user" forceload="true" [orders]="pendingOrders">
  <h3>{{$i18n[locale].home_feedback_title}}</h3>
</kng-feedback>

<!-- INFORMATION -->
<div class="home-header" [hidden]="!hasContent('p',target)" 
    [class.cover-lg]="hasBackgroundContent(target)" 
    [ngStyle]="getContentStyle(target)">
  
  <div class="maintenance" *ngIf="config.shared.hub.maintenance.active" 
      [innerHtml]="config.shared.hub.maintenance.reason[locale]">    
  </div>
  <div class="welcome" [innerHtml]="getContent('p',target)"></div>  
</div>


<!-- -->
<!-- MARKETPLACE -->
<kng-nav-marketplace [config]="config" [orders]="pendingOrders"></kng-nav-marketplace>


<!-- SELECTION -->
<kng-product-swipe [products]="home" ></kng-product-swipe>

<!-- LINKS -->
<kng-product-link [config]="config"><h2 class="title">{{$i18n.label().nav_shortcuts}}</h2></kng-product-link>

<!-- CATEGORY -->
<!-- FIXED SIZE -->
<div class="toolbox home" [class.hide]="(!scrollDirection)" [class.exited]="scrollDirection < -5 || scrollDirection > 15 || (!scrollDirection) ">
  <mdc-chip-set choice >
    <mdc-chip (click)="scrollToSlug(category.slug)"
              [id]="'category-'+j"                    
              [selected]="category.slug == displaySlug"
              *ngFor="let category of getCategories();let j=index">
      <mdc-chip-text>{{category.name}}</mdc-chip-text>
    </mdc-chip>
    <mdc-chip [routerLink]="['/store',store,'shops','list']">
      <mdc-chip-icon secondary leading>home</mdc-chip-icon>
      <mdc-chip-text>{{$i18n.label().nav_store_shops_list}}</mdc-chip-text>
    </mdc-chip>


  </mdc-chip-set>        
</div>

<!-- FAB  [exited]="scrollDirection<-5||!scrollDirection" -->
<kng-ui-bottom-actions [exited]="scrollDirection<-5" 
                       [group]="target"
                       [categories]="getCategories()"
                       [config]="config"
                       (selected)="scrollToSlug($event)">  
</kng-ui-bottom-actions>


  
<div class="product-container mdc-layout-grid" *ngIf="products.length" >
    
  <!-- Layout documentation
       https://github.com/material-components/material-components-web/tree/master/packages/mdc-layout-grid -->


  <kng-product-grouped-list 
       useMaxCat="true"  showMore="on" offsetTop="500" clazz="home-header"       
       [config]="config" 
       [user]="user" 
       [contentCategories]="getCategories()" 
       [contentProducts]="products"       
       [contentIf]="target == 'home' && config.shared.hub.header.active"
       [scrollToSlug]="categorySlug" 
       (currentCategory)="displaySlug=($event || displaySlug)"
       (direction)="scrollDirection=$event">
    <!-- INFORMATION FOR HOME ONLY-->
    <div class="home-header">
      <!-- HUB -->
      <div class="banner" >
        <h1>{{config.shared.hub.name}}</h1>
        <h2>{{config.shared.hub.description[locale]}}</h2>  
        <img hidden [src]="config.shared.hub.tagLine.image" />
        <button hidden>Changer de marché</button>
      </div>
    
      <div class="welcome" [innerHtml]="config.shared.hub.header.message[locale]"></div>
    </div>

  </kng-product-grouped-list>
</div>
  
<router-outlet ></router-outlet>