
      
<!-- HUB -->
<!-- <div class="home-header" [hidden]="hub.header.active">
  <div class="banner" >
    <h1>{{config.shared.hub.siteName[locale]}}</h1>
    <h2>{{config.shared.hub.description[locale]}}</h2>  
  </div>
</div> -->




<!-- CalENDAR -->
<kng-calendar [title]="theme.name" [hidden]="availableSearch" class="fit-content" [config]="config" (updated)="onSetCurrentShippingDay($event)"></kng-calendar>

<!-- INFORMATION -->
<div class="home-header" [hidden]="!hub.header.active">
  <div class="banner flyer-color" [innerHtml]="hub.header.message[locale]"></div>
</div>


<!-- MOBILE SEARCH  -->
<kng-search class="home" [class.active]="availableSearch"></kng-search>


  
<!-- SELECTION -->
<kng-product-swipe [hidden]="useTheme||isMobile" mailchimp="true" [hub]="store" ></kng-product-swipe>


<!-- DISCOUNT -->
<kng-product-swipe [hidden]="useTheme||isMobile" discount="true" [hub]="store" ></kng-product-swipe>



<!-- LISTED CATEGORIES -->
<h2 class="root -show-sm">{{label.category_title}}</h2>  
<!-- CATEGORY -->
<!-- FIXED SIZE -->
<!-- on scroll HIDE==> [class.display]="scrollDirection > 1 || (!scrollDirection)" -->
<div class="home" [class.menu-on-right]="!isMobile" [class.mobile-categories]="isMobile">
  <!-- SEARH -->
  <kng-search-bar [class.active]="availableSearch"></kng-search-bar>




  <!-- JAMES 
  <div class="kng-boxed hide-sm" [hidden]="!isJamesAvailable">
    <div class="content">    
      <kng-audio-assistant [store]="store" agent="feedback" (onAction)="onAssistantClick($event)"></kng-audio-assistant>
    </div> 
  </div> -->

  <!-- NEED HELP? -->
  <div class="kng-boxed">
    <div class="content">    
      <div class="items">
        {{hub.description[locale]}}
      </div>
      <div class="bottom"> 
        <a class="phone" href="tel:{{hub.address.phone}}"><i class="material-symbols-outlined icon">phone</i>&nbsp;{{label.nav_help}}</a>  
      </div>
      
    </div>
  </div>

  <!-- SPECIAL LINKS -->
  <div class="kng-boxed subscription hide-sm">
    <div class="label">
      <h2>Thématiques <i class="material-symbols-outlined icon   ">update</i>  </h2>
    </div>
    <div class="content">
      <div class="items">
        <ul class="subs">
          <li class="subs "  *ngFor="let theme of themes;let j=index"
             [routerLink]="['/store',store,'home','theme',theme.slug]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <h3>{{theme.name}}</h3>
            <span class="">{{theme.description}}</span>
          </li>
        </ul>
      </div>  
    </div>
  </div>


</div>


<div class="home" [class.menu-on-left]="!isMobile" [class.mobile-categories]="isMobile" [hidden]="availableSearch && isMobile">
  <!-- MOBILE -->
  <ul class="subs">
    <li class="subs " [routerLink]="['/store',store,'home','business']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-symbols-outlined icon black   ">trending_up</i>  

      <span>{{label.nav_subscription_b2b}}</span>
    </li>
    <li class="subs  " [routerLink]="['/store',store,'home','subscription']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-symbols-outlined icon black  ">update</i>  
      <span>{{label.nav_subscription}}</span>
    </li>

    <li class="subs  full-width" [routerLink]="['/store',store,'home','assistant','james']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-symbols-outlined icon  pink">smart_toy</i>  
      <span>Découvrez James</span>
    </li>
  </ul>

  <!-- DESKTOP -->
  <ul>
    <li class="hide-sm " [routerLink]="userRouterLink">
      <!-- LOGIN / REGISTER -->
      <span class="fa icon hide">👦</span>
      <b>{{user.isAuthenticated()?label.nav_account:label.nav_login}}</b>

    </li>
    <li class="hide-sm "  [routerLink]="'/store/'+store+'/home/business'">
      <span class="fa icon hide">🤝</span>
      <b>{{label.nav_subscription_b2b}}</b>
    </li>

    <li class="hide-sm "  [routerLink]="'/store/'+store+'/home/subscription'">
      <span class="fa icon hide">🧺</span>
      <b>{{label.nav_subscription}}</b>
    </li>    

    <li class="hide-sm separator"  [routerLink]="'/store/'+store+'/home/assistant/james'">
      <span class="fa icon hide">✨</span>
      <b>Découvrez James ✨</b>
    </li>
    <li class="hide-sm" [routerLink]="['/store',store,'home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span>{{hub.name}}</span>
    </li>

    <li (click)="scrollToSlug(category.slug)" 
              [id]="'category-'+j"                    
              [class.selected]="category.slug == displaySlug"
              *ngFor="let category of sortedCategories;let j=index">
      <img [src]="category.cover" class="show-sm">
      <i [class]="category.image" class="icon hide "></i>              
      <span>{{getCategoryI18n(category)}}</span>
    </li>
  </ul>
</div>
<div class="product-container " *ngIf="products.length" >
  <kng-product-grouped-list 
       [useMaxCat]="useMaxcat"  
       [displayVendor]="true"
       [showMore]="true" 
       [config]="config" 
       [user]="user" 
       [contentCategories]="sortedCategories"
       [contentProducts]="products"       
       [scrollToSlug]="categorySlug" 
       (currentCategory)="displaySlug=($event || displaySlug)"
       (direction)="scrollDirection=$event">    
  </kng-product-grouped-list>
</div>
  
<router-outlet ></router-outlet>