<div class="business">
  <p hidden>
    {{label.title}}
  </p>
  <div class="business-backdrop" [class.invisible]="!options.project">
  </div>

  <form [formGroup]="$quote" (ngSubmit)="onSave()">
    <!-- BUSINESS OPTIONS - calendar:date -->
    <div id="s1" class="selector event">
      <kng-slider [small]="true" [(ngModel)]="options.project" [ngModelOptions]="{standalone: true}"
        (click)="onToggleOptions()">
        <h3>{{label.title}}</h3>
      </kng-slider>
      <p class="info">
        {{label.title_info}}
      </p>
      <div [hidden]="!options.project" class="group">

        <div hidden class="groupfield width-50">
          <input id="bf000" class="form__field" type="date" formControlName="date"
            [placeholder]="glabel.user_display_name">
          <label for="bf000" class="form__label">
            {{label.title_time_contract}}
          </label>
        </div>
        <div hidden class="groupfield width-25 on-right">
          <input id="bf001" class="form__field" type="time" formControlName="time"
            [placeholder]="glabel.user_display_name">
          <label for="bf001" class="form__label">
            A quelle heure?
          </label>
        </div>

        <!-- <kng-slider [small]="true" [(ngModel)]="options.more" formControlName="options">
          Fourniture de nappes, vaisselle et serviettes
        </kng-slider> -->
        <div hidden>{{itemsPrompt}}</div>
        <!-- BUSINESS OPTIONS - person:qty -->
        <div class="groupfield width-100 nopadding">
          <textarea kng-autosize id="bf002" class="form__field" rowcount="9" min="7" formControlName="notes">

          </textarea>
        </div>
        <kng-audio-assistant [store]="store" [cleanQuery]="true" agent="quote"
           (onNote)="onAssistantNote($event)" [whisperOnly]="true"></kng-audio-assistant>

        <!-- BUSINESS OPTIONS - identity -->
        <div class="groupfield width-100" [hidden]="user.isAuthenticated()">
          <kng-slider [small]="true" [(ngModel)]="options.signup" [ngModelOptions]="{standalone: true}">
          <h3>{{label.create_identity}}</h3>
        </kng-slider>

        </div>

      </div>


    </div>

    <!-- MAIL ACTION - validation -->
    <div class="selector action" [hidden]="!options.project">
      <div class="error" [innerHtml]="formError"></div>
      <button class="default action" [disabled]="isRunning" (click)="onMail()" [hidden]="isValid">
        <span class="material-symbols-outlined">mail</span>
        <span>{{label.action}}</span>
      </button>
      <div class="fieldset info" [hidden]="!items.length">
        <legend >{{label.title_cart}}</legend>
      </div>

    </div>

    <!-- BUSINESS OPTIONS - address -->
    <div class="selector address" hidden>
      <kng-slider [small]="true" [(ngModel)]="options.address" [ngModelOptions]="{standalone: true}">
        <h3>Votre adresse de livraison</h3>
      </kng-slider>

      <div [hidden]="!options.address" class="group">
        <kng-address [config]="config" (onAddress)="onAddress($event)"></kng-address>
      </div>
    </div>

  </form>
</div>