<div class="business">
  <p hidden>
    {{label.title}}     
  </p>

  <form [formGroup]="$quote" (ngSubmit)="onSave()">
    <!-- BUSINESS OPTIONS - calendar:date -->
    <div id="s1" class="selector event">
      <kng-slider [small]="true" [(ngModel)]="options.project" [ngModelOptions]="{standalone: true}">
        <h3>Décrivez votre projet</h3>
      </kng-slider>
      <p class="info">
        Vous souhaitez obtenir un devis personalisé? <span class="gray">(formulaire à compléter)</span>
      </p>
      <div [hidden]="!options.project" class="group">

        <div hidden class="groupfield width-50">
          <input  id="bf000" class="form__field" type="date" formControlName="date"  [placeholder]="glabel.user_display_name">
          <label for="bf000" class="form__label">
            {{label.title_time_contract}}
          </label>
        </div>          
        <div hidden class="groupfield width-25 on-right">
          <input  id="bf001" class="form__field" type="time" formControlName="time"  [placeholder]="glabel.user_display_name">
          <label for="bf001" class="form__label">
            A quelle heure?
          </label>
        </div>    
    
        <!-- <kng-slider [small]="true" [(ngModel)]="options.more" formControlName="options">
          Fourniture de nappes, vaisselle et serviettes
        </kng-slider> -->
        <kng-audio-assistant  [store]="store" [quiet]="true"  [cleanQuery]="true" [agent]="'quote'" (onNote)="onAssistantNote($event)"></kng-audio-assistant>  
        
        <!-- BUSINESS OPTIONS - person:qty -->
        <div class="groupfield width-100 nopadding">
          <textarea kng-autosize id="bf002" class="form__field" rowcount="10"  min="5" max="1000" formControlName="notes" >
  
          </textarea>
        </div>          
        <div class="fieldset" [hidden]="!items.length">
          <legend>Votre panier 🛒 sera transmis avec votre demande</legend>
          <ul>
            <li *ngFor="let item of items">{{item.quantity}}x {{item.title}}</li>
          </ul>
        </div>

      </div>  
    </div>

    <!-- BUSINESS OPTIONS - identity -->
    <div class="selector identity" >
      <kng-slider [small]="true" [(ngModel)]="options.identity" [ngModelOptions]="{standalone: true}">
        <h3>Vos informations personnelles</h3>
      </kng-slider>
      <div [hidden]="!options.identity" class="group">
        <kng-signup [user]="user" [signin]="true" [config]="config" (onSignup)="onSignup($event)"></kng-signup>
      </div>      
    </div>
    <!-- BUSINESS OPTIONS - address -->
    <div class="selector address" hidden>
      <kng-slider [small]="true" [(ngModel)]="options.address" [ngModelOptions]="{standalone: true}">
        <h3>Votre adresse de livraison</h3>
      </kng-slider>    
  
      <div [hidden]="!options.address" class="group">
        <kng-address  [config]="config" (onAddress)="onAddress($event)"></kng-address>
      </div>
    </div>
    <!-- MAIL ACTION - address -->
    <div class="selector action" [hidden]="!options.project">
      <button class="default action">
        <span class="material-symbols-outlined">mail</span>
        <span>Envoyer la demande de projet</span>
      </button>

    </div>

  </form>



</div>
