:host{
  background: #f2f2f2;
  background: #fff;
  min-height: 100px;
  border-radius: 15px;
  color: #333;  
  overflow: visible;
  width: 100%;
}

.arrow-up {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #f2f2f2;
  position: absolute;
  right: 40%;
  top: -24px;
}

.arrow-down {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #eee;
  position: absolute;
  right: 70%;
  top: 0px;
}

.icon{
  color: #666;
  transform: translateY(6px);  
}

.business{
  display: flex;
  flex: 1 1 0%;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding: 0px 0;

  .width-100{
    width: 100% !important;
  }

  .width-50{
    width: calc(50% - 25px) !important;
  }

  .width-25{
    width: calc(25% - 25px) !important;
  }

  .info {
    margin: 0;
    margin-top: -10px;
    -background-color: var(--mdc-theme-appbar);    
    -border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
  .on-right{
    margin-right: 0;
    margin-left: auto;    
  }

  form{
    width: 100%;
    font-size: 16px;
    div.group{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;    
      align-items: baseline;
      kng-audio-assistant, kng-address, kng-signup {
        width: 100%;
        border: 0;
      }
      >div{
        width: 100%;
      }

      textarea {
        width: 100%;
        height: 200px;
        font-size: 16px;
        @media (max-width:430px) {
          height: 300px;          
        }
      }
      .fieldset {
        border: none;
        legend{
          font-weight:bold;
        }
      }
      ul{
        padding: 15px 15px;
        margin: 0;
      }

      .nopadding{
        padding-top: 0;
      }
    }

    div.selector.action {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 8px;      
      border: 0px solid var(--mdc-theme-appbar);
      button{
        
        padding: 15px;
        font-size: 18px;
        border-radius: 45px;
        margin: 0;  
      }
      
      .error{
        width: 100%;
        color: #330000;
        white-space: break-spaces;
        padding: 5px;
        font-size: 15px;
        font-weight: 200;
        border-bottom: 2px dotted #aaa;
      }
    }
    div.selector {
      border: 2px solid var(--mdc-theme-appbar);
      border-radius: 14px;
      padding: 10px;
      margin-left: -4px;
      margin-right: -4px;
      margin-bottom: 10px;

      >kng-slider {
        margin-top: -20px;
        padding-top: 0;      
        width: 100%;  
      }

      label.selector {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        width: 100%;
        transform: translateY(-5px);

      }
    }    
    .groupfield label{
      font-size: 16px;
    }
  }


  h1{
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 10px;    
  }
  p{
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 10px;
  }

  p.highcontrast,
  p.checkout{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-weight: bold;
    background: yellow;    
    .update{
      display: none;
    }
  }


}