<div class="business">
  <p>
    {{i18n.title}}     
  </p>

  <form [formGroup]="$quote" (ngSubmit)="onSave()">
    <!-- BUSINESS OPTIONS - calendar:date -->
    <div id="s1" class="selector event">
      <label class="selector" for="s1">Votre événement</label>
      <div class="groupfield width-50">
        <input  id="f000" class="form__field" type="date" formControlName="date"  placeholder="glabel.user_display_name">
        <label for="f000" class="form__label">
          {{i18n.title_time_contract}}
        </label>
      </div>          
      <div class="groupfield width-25 on-right">
        <input  id="f001" class="form__field" type="time" formControlName="time"  placeholder="glabel.user_display_name">
        <label for="f001" class="form__label">
          A quelle heure?
        </label>
      </div>    
      
      <!-- BUSINESS OPTIONS - person:qty -->
      <div class="groupfield width-25">
        <input  id="f002" class="form__field" type="number" min="5" max="1000" formControlName="qty"  placeholder="glabel.user_display_name">
        <label for="f002" class="form__label">
          Qté personnes?
        </label>
      </div>          
    </div>

    <div id="s2" class="selector options">
      <label class="selector" for="s2">Vos options</label>
      <div class="item">
        Fourniture de vaisselle et verres 
        <input type="checkbox" formControlName="options" value="vaisselle">
      </div>
      <div class="item">
        Fourniture de nappes et serviettes 
        <input type="checkbox" formControlName="options" value="nappes">
      </div>

    </div>

    <!-- BUSINESS OPTIONS - calendar:time -->
    <div class="selector time" hidden>
      <div class="label" for="time">{{i18n.title_time_contract_update}}</div>
    </div>

    <!-- BUSINESS OPTIONS - identity -->
    <div class="selector identity" >
      <kng-signup [user]="user" [displayOnly]="true" [config]="config" (onSignup)="onSignup($event)"></kng-signup>
    </div>
    <!-- BUSINESS OPTIONS - address -->
    <div class="selector address" >
      <div class="groupfield width-100">
        <input  id="f004" class="form__field" type="text" formControlName="address"  placeholder="glabel.user_display_name">
        <label for="f004" class="form__label">
          adresse
        </label>
      </div>          
    </div>
    <!-- BUSINESS OPTIONS - note -->
    <div class="selector note" >
      <div class="groupfield width-100">
        <input  id="f005" class="form__field" type="text" formControlName="note"  placeholder="glabel.user_display_name">
        <label for="f005" class="form__label">
          note
        </label>
      </div>          
    </div>

    <kng-audio-assistant class="kng-assistant" [agent]="'quote'" (onData)="onAssistantData($event)"></kng-audio-assistant>  


  </form>


  <!-- BUSINESS OPTIONS - resumé -->
  <div class="info">
    <div class="icon">
      <span class="material-symbols-outlined ">info</span>
    </div>
    <p [class.checkout]="checkout">
      Note du devis
    </p>

  </div>


</div>
