//
// MARKETPLACE selection
h2,h3{
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);      
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));      
  font-size: 1.4675rem;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;      
}
h3{
  font-weight: 200;
  font-size: 1.275rem;
  color: #aaa;
  text-shadow: 1px 1px 0 white;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;  
}

.marketplace {
  overflow-x: auto;
  -webkit-overflow-scrolling:touch;
  &::-webkit-scrollbar {
    display: none;
  }

  width: 100%;
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    @media (max-width:429px) {
      transform: scale(.95);
    }

    .hub{
      position: relative;
      padding: 5px;
      max-height: 70px;
      overflow: hidden;
      width: 274px;
      min-width: 270px;
      border: 1px solid #ddd;
      border-radius: 15px;
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      flex-flow: row wrap;    
      box-shadow: 0px 2px 8px rgba(0,0,0,0.16);
      &.selected{
        -background: rgba(var(--mdc-theme-secondary), 0.6);
        background: var(--mdc-theme-secondary);
        color: var(--mdc-theme-secondary-text);        
      }
      .selected {
        position: absolute;
        right: 5px;
        color: var(--mdc-theme-secondary-text);
        border:1px solid var(--mdc-theme-secondary);
        height: 28px;
        width: 28px;
        text-align: center;        
      }
      .ei_Logo{
        width: 30%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        text-align: center;
        border-right: 2px dotted #ccc;
        padding-right: 2px;
        img{
          height: calc(100% - 16px);
          max-width: 90%;
          margin: 8px;
        }
      }
      .ei_Title{
        margin-left: 0;
        width: 62%;
        padding: 8px;
        .ei_Desc{
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }  
  }
}
