
    :root {
      --grid-width: 250px;
      --row_increment: 10px;
      --card_border_radius: 16px;
      --grid-small: 32;
      --grid-medium: 32;
      --grid-large: 32;
  }

  .group{
    min-width: 100%;
  }

  section{
    &.title{
      text-align:center;
      padding-top:10px;  
      margin-bottom: 30px;
    }
    &.child{      
      margin: 50px 4px;
      border-bottom: 1px solid #ddd;
    }
    &.child:first-child {
      margin-top: 10px;
    }

    h2,h3{
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);      
      color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));      
      font-size: 1.675rem;
      text-transform: uppercase;    
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;      
    }
    h3{
      font-weight: 200;
      font-size: 1.275rem;
      color: #aaa;
      text-shadow:1px 1px 0 white;
      margin-top: -10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    h5,h4{
      color:var(--mdc-theme-secondary);
      font-weight: 500;
      margin-bottom: 0px;    
    }
  
  }

  .kng-layout-card{
    min-width: 100%;
    padding-bottom:0; 

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--grid-width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;

    div.category,
    kng-product-thumbnail{
      border-radius: 20px;
      margin: 15px 10px;
      -background-color: aqua;
      &.grid-small {
        grid-row-end: span var(--grid-small);
      }

      &.grid-medium {
          grid-row-end: span var(--grid-medium);
      }

      &.grid-large {
          grid-row-end: span var(--grid-large);
      }

    }

    .mdc-chip.mdc-chip--selected {
      background-color: var(--mdc-theme-primary)!important;
      color: var(--mdc-theme-surface, #fff)!important;
    }  
  
    div.category{
      cursor: pointer;
      height: 7.5rem;
      max-width: 145px;
      margin-right: auto;      
      background: var(--mdc-theme-primary);
      color: var(--mdc-theme-primary-text);
      position: relative;
      border-radius: 24px;
      margin-bottom: auto;      
      display: flex;
      flex-direction: column;
      &.loader{
        background-color: #f1f1f1!important;
        height: 9rem;
        align-items: self-end;
        margin-bottom: 0;        
      }
      div{
        padding: 20px 15px;        
        font-size: 18px;
        margin-bottom: 0;
        margin-top: auto;        
        &.icon{
          align-self: flex-start;
          margin-top: 0;
          margin-bottom: auto;          
          padding: 10px;
          i{
            font-size: 36px;
          }
        
        }
        &:last-child{
          padding-top: 0;
        }

      }
    }
  }
