


.product-dialog{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility:visible;
  z-index: 4;

  background: white;
  @media (min-width: 1025px) {
    background-color: rgba(0, 0, 0, 0.57);
  }

  &.is-searching{
    z-index: 2;
  }
  &.fadeout{
    opacity: 0;
  }
  @media (max-width: 768px) {
    background: white;
  }

  @media (min-width: 1025px) {
    padding: 5px;
    .product-backdrop{
    }

  }
    .product-dialog__surface{
    /* see overflow in mdc-style.scss */
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--mdc-theme-dlg-width); // ✅ DIALOGUES: Adaptatif selon écran
    border-radius: 0.5rem;
    opacity: 1;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media (max-width: 769px) {
      margin-top: 0px;
    }

    .topbar {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      -width: calc(100% - 2rem);// Not for FIXED position
      padding: 1rem;
      position: fixed;
      top: 2rem;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all .5s;
      z-index: 1;

      @media (max-width:599px) {
        top:0px
      }

      &.sticked {
        background-color: rgba(255, 255, 255, .9);
        top: 0px;
        .title { opacity: 1;}
      }

      .title{
        opacity: 0;
        font-size: 1.375rem;
        margin-left: 3%;
        text-align: left;
        width: 100%;
      }

      button.close {
        cursor: pointer;
        background: transparent;
        border: 0;
        color: #111;
        left: calc((100% - 860px) / 2);
        z-index: 4;

        @media (prefers-color-scheme: dark) {
          color: var(--mdc-theme-secondary-dark-text);
        }
      }

      .cart {
        margin-right: 15px;
        margin-left: auto;
        opacity: 0;
      }

      .cart.visible {
        opacity: 1;
      }

      .subscription-cart {

        display: flex;
        button {
          margin-right: 0;
          margin-left: auto;
          text-align: left;
          padding: 10px 25px;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          border: 0px solid var(--mdc-theme-primary);
          border-radius: 28px;
          color: var(--mdc-theme-appbar-text);
          background-color: var(--mdc-theme-appbar);
          cursor: pointer;

          span {
            float: right;
            font-weight: 400;
          }
        }
      }

    }
    .size-large {
      font-size: 2rem;
      font-weight: bold;
    }


  }



}


.product-wide{
  display:flex;
  flex-flow: column;
  justify-content:flex-end; /*halign*/
  align-items:flex-start; /*valign*/
  overflow:hidden;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.3rem;
  width: 100%;
  max-width: var(--mdc-theme-dlg-container-width);
  max-width: 800px;//FIXME remove HARDCODED value max-width: 800px
  margin: 0 auto;

  img.photo-owner{
    width:120px;
    padding:1px;
    -border: 1px solid #ddd;
    margin-right: 10px;
    border-radius:10px;
  }

  .product-card.incart .action-remove,
  .product-card.incart .action-add
  {
    visibility: visible;
    opacity: 0.8;
  }

  .product-card.incart .info-quantity{
    visibility: visible;
  }

  .product-card{
    flex: 1;
    align-items: center;
    min-height: 400px;
    background: white;

    margin-top: 0px;
    position: relative;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.04),
                0px 2px 2px 0px rgba(0, 0, 0, 0.04),
                0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: inherit;
    display: flex;
    flex-direction: column;

    &.noinstock .product-available{
      display: flex!important;
    }
    &.noavailable .product-available{
      display: flex!important;
    }

    &.insubs .product-in-subscription{
      display: flex!important;
    }

    &.timelimit .product-timelimit{
      display: flex!important;
    }

    &.timelimited .product-timelimited{
      display: flex!important;
    }


    @media (max-width:599px) {
      margin-top: 0px;
    }

    section{
      width: 100%;
    }

    .product-in-subscription{
      position: absolute;
      padding: .5rem;
      left: 0.5rem;
      border-radius: 1rem;
      bottom: .5rem;
      width: fit-content;
      font-weight: 700;
      letter-spacing: -.5px;
      display: none;
      color: var(--mdc-theme-primary-text);
      font-weight: 600;
      background: var(--mdc-theme-primary);
      opacity: .8;
    }

    .product-timelimit,
    .product-available{
      position: absolute;
      top: 0;
      width: 100%;
      bottom: 0;
      background: rgba(0, 0, 0, 0.55);
      z-index: 2;
      text-align: center;
      color: white;
      font-weight: 700;
      letter-spacing: -.5px;
      display: none;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
    }

    .product-timelimited{
      position: absolute;
      top: 10px;
      bottom: auto;
      display: none;
      max-width: 50%;
      border-radius: .5rem;
      left: 10px;
      color: var(--mdc-theme-primary);
      font-weight: 600;
      background: var(--mdc-theme-primary-text);
      padding: 1rem 0.5rem;
      letter-spacing: -0.2px;
      opacity: .8;

    }

    img{
      width: 58px;
      height: 58px;
      padding: 2px;
      border: 1px solid #ddd;
      border-radius: 50%;
      @media (max-width:599px) {
        border-radius: 0;
      }
    }

    img.highlight-new{
      position: absolute;
      top: -30px;
      left: -77px;
      border-radius: 0;
      border: none;
      width: auto;
      height: 17%;
      transform: rotate(-45deg);
      opacity: .8;
    }


    .action-add,.action-remove{
      background-color: var(--mdc-theme-secondary) !important;
      color: var(--mdc-theme-secondary-text) !important;
      opacity: 0.9;
      border: 0;
      font-weight: bold;
      border-radius: 25px;
      width: 68px;
      height: 46px;
      position: absolute;
      bottom: 10px;
      padding: 0px;
      outline: 0;
      z-index: 1;
      cursor: pointer;
      &.right{
        right:10px;
      }
    }


    .action-remove{
      visibility: hidden;
      right:80px;
    }

    .info-portion{
      position: absolute;
      left: 10px;
      bottom: 10px;
      background: rgba(255, 255, 255, 0.48);
      font-size: 1.125rem;
      line-height: 26px;
      font-weight: 200;
      padding: 2px;
      border-bottom: 1px solid #999;

      >div{
        padding: 3px ;
      }
    }

    .info-quantity{
      font-size: 2rem;
      line-height: 42px;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
      text-align: center;
      width: 46px;
      position: absolute;
      bottom: 11px;
      margin: 0 auto;
      right: 150px;
      z-index: 1;
      color: white;
      visibility: hidden;
      background: rgba(0, 0, 0, 0.65);
      border-radius: 50%;
    }
    .image-links{
      position: absolute;
      top: 11px;
      margin: 0 auto;
      left: 10px;
      a{
        margin-right: 3px;
        padding: 3px;
        background-color:rgba(255, 255, 255, 0.32);
      }
    }

    .media{
      background-color:#ddd;

      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 50%;
      border-radius: 5px;
      transition: background-color .2s ease-in-out;
      position: relative!important;

      max-width: var(--mdc-theme-dlg-container-width); // ✅ DIALOGUES: Adaptatif selon écran
      height: 100%;
      aspect-ratio: 1/1;
      @supports not (aspect-ratio: 1 / 1) {
        padding-top: 100%;
      }
      margin: auto;
      margin-top: 50px;
      margin-bottom: 10px;


      .photo-owner{
        top: 10px;
        position: absolute;
        right: 10px;
        border: 4px solid #666;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      .product-variants{
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        background: rgba(255, 255, 255, 0.85);
        z-index: 2;

        ul{
          list-style: none;
          padding: 15px;
          li{
            padding: 10px 20px;
            border-bottom: 1px solid #666;
          }
        }
      }

    }



    .product-card__vendor{
      display: flex;
      padding: 4px 0;
    }


    .price{
      font-weight: 900;
      font-size: 2rem;
      margin: 0px;
      margin-right: 0;
      margin-left: auto;
      .red{
        color: red!important;
      }
      .discount {
        margin-right: 5px;
        text-decoration: line-through;
        color: #999;
        font-size: 0.875rem;
      }
    }

    .part{
      font-weight: 500;
      margin: 0px;
    }
  }





  .admin-actions{
    padding: 10px 20px;
  }

  .further-product-container,
  .vendor,
  .header,
  .admin-actions,
  .quick-stock,
  .recipe,
  .availability,
  .certified,
  .description{
    display: relative;
    width: 100%;
    max-width: var(--mdc-theme-dlg-container-width); // ✅ DIALOGUES: Adaptatif selon écran
    margin: 0 26px;
    flex: 1;
    align-items: center;
    .light{
      color: #aaa;
      white-space: break-spaces;
    }

    img{
      max-width: 100%;
    }
  }
  .product-note{
    position: relative;
    max-width: var(--mdc-theme-dlg-container-width); // ✅ DIALOGUES: Adaptatif selon écran
    margin: 0px 26px 0;
    width: calc(100%);
    background: var(--mdc-theme-appbar);
    border-radius: 1rem;
    .audio-note-enhanced,
    .audio-note{
      width: calc(100% - 1rem);
      padding: 0.5rem;
      .note-header, .header{
        padding: 0.5rem;
        line-height: 1.5;
      }
    }
    &.recording{
      background-color: #ffb6b6;
      box-shadow: 0 0px 10px #ffb6b6;
    }
  }
  .quick-stock{
    width: calc(100% - 26px *2);
    margin-top: 10px;
    opacity: .5;
    margin-bottom: 20px;
    button{
      margin-right: 10px;
    }
    >p,
    >div,
    >h4{
      display: flex;
      flex-flow: row wrap;

      padding: 5px 10px;

    }
  }
  .header{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .title{
      margin: 20px 0;
      font-size: 2.25rem;
      flex:1 0 100%;
      line-height: 40px;
      margin-top: 0;
    }
  }

  .recipe{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .content{
      width: 100%;
      margin: 5px 0;
      padding: 5px;
    }
    button{
      font-size: 1.125rem;
      flex: 1;
      margin: 5px;
    }
  }

  .description>div{
    p{
      margin: 5px 0;
    }
    blockquote{
      margin: 0;
      color: #333;
    }
    padding:15px 5px 0;
  }

  .certified{
    div.kng-chip-content{
      transform: translateX(-4px);
      padding: 10px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    >ul{
      &.info{
        min-height: 0;
        li{
          font-weight: 600;
        }
      }
      margin-bottom: 5px;
      margin-top: 5px;
      padding: 5px;
      list-style: none;
    }

  }


  .availability {
    font-size: 0.875rem;
    width: 100%;
    ul{
      padding-left: 0;
      list-style: none;
      li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
        .indicator{
          color: #a7cf7b;
        }
      }
    }
  }

  .vendor{
    background-color: var(--mdc-theme-appbar-light);
    border-radius: 14px;
    padding: 5px;
    span>p{
      display: inline;
    }
  }


  .disqus{
    padding: 10px 20px;
  }

  ul.dropdown-menu > li:first-child{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
    text-align: center;
  }
  ul.dropdown-menu > li:first-child > span{
    font-weight: normal;
    color: black;
  }

}



.further-product-container{
  max-width: var(--mdc-theme-dlg-container-width); // ✅ DIALOGUES: Adaptatif selon écran
  max-width: 800px;//FIXME remove HARDCODED value max-width: 800px
  padding: 20px 0;

  display: relative;
  width: 100%;
  margin: auto;
  flex: 1;
  align-items: center;
  >div{
    padding:0.5rem 0.25rem;
  }

  @media (max-width:599px) {
    width: calc( 100% - 1rem );
  }
  @media (max-width:320px) {
    width: calc( 100% - 1rem );
  }


}


/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Tablet paysage (Ipad1)
------------------------- */
@media (min-width: 780px) and (max-width: 1124px) {

}

/* Tablet portrait
------------------------- */
@media (min-width: 768px) and (max-width: 970px) {

}

/* Tablet
------------------------- */
@media (max-width: 767px) {

}


