
kng-product-swipe{
  min-height: 280px !important;
  overflow: hidden;
  display: block;
  margin: 20px 10px;
  border-bottom: 1px solid #eee;

  @media (max-width:425px) {
    width: calc(100vw - 30px );    
    margin: 15px 15px;
  }

  .selected{
    display: flex;
    flex-flow: column;
    -webkit-overflow-scrolling: touch;
    height: auto;
    section{
      position: relative;
      width: 100%;
      text-align:left;
      h2,h3{
        font-weight: 700;
        color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
        font-size: 1.4675rem;
        margin-bottom: 5px;
        margin-top:15px;
        margin-left: 1%;
      }
      h3{
        font-weight: 200;
        font-size: 1.275rem;
        color: #aaa;
        text-shadow:1px 1px 0 white;
        margin-top: -10px;
      }  
    }
    div.content{
      margin-bottom:-15px;
      overflow: hidden;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      >div{
        display: flex;
        flex-flow: row nowrap;  
        justify-content: flex-start;
        width: 100%;
        margin: 20px 0;
        padding: 0;
      
        kng-product-thumbnail{
          flex: 1 0 137px;
          min-width: 137px;
          margin: 8px;
          margin-bottom: 0;
          max-width: 163px;
          @media (max-width: 429px) {
            flex: 1 0;
            min-width: 29vw;
            margin: 4px 4px 0;
            flex: 0 0 43%;
            min-width: 39vw;
            margin: 4px 11px 0;
          }
        }
              
      
      
      }
      
    }

    .button{
      cursor: pointer;
      margin-top: 6px;
      height: 9rem;
      max-width: 160px;
      background: var(--mdc-theme-primary);
      color: var(--mdc-theme-primary-text);
      position: relative;
      border-radius: 12px;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;      
      .icon{
        align-self: flex-start;
        margin-top: 0;
        margin-bottom: auto;
        padding: 10px;        
      }
      .title{
        padding: 0px 15px  20px;
        font-size: 20px;
        margin-bottom: 0;
        margin-top: auto;        
      }
    }
  }  
}

