<div class="product-dialog fadeout" #dialog>
  <div class="product-backdrop"></div>
  <div class="product-dialog__surface">
    <div class="category-wide" >

      <!-- CLOSE -->
      <button (click)="onClose(true)" class="close">
        <mdc-icon [fontSize]="40">navigate_before</mdc-icon>
      </button>

      <h3 mdcHeadline5 class="title" [innerHtml]="category.current.name"></h3>
      <h6 mdcSubtitle1 class="subtitle" [innerHtml]="category.current.description"></h6>
      
      <!-- <mdc-card class="category-card card-skeleton hide" [outlined]="false">   
       <mdc-card-primary-action mdc-ripple >
         <div class="product-card__primary">
           <span class="product-card__subtitle">{{category.current.name}}</span>
           <div>{{category.current.description}}</div>

         </div>
       </mdc-card-primary-action>
     </mdc-card> -->
   

      <!-- ADMIN OR OWNER ACTIONS -->
      <!-- <div [hidden]="!user.isOwnerOrAdmin(product.vendor.name)" class="quick-stock">
        <p>Modifié la quantité disponible (actuellement <b>{{product.pricing.stock}}</b>)</p>
        <div role="group" aria-label="Justified button group">
          <button mdc-button [secondary]="true" role="button" (click)="product.pricing.stock=0;save(product);"
            [disabled]="WaitText">0</button>
          <button mdc-button [secondary]="true" role="button" (click)="product.pricing.stock=10;save(product);"
            [disabled]="WaitText">10</button>
          <button mdc-button [secondary]="true" role="button" (click)="product.pricing.stock=40;save(product);"
            [disabled]="WaitText">40</button>
        </div>
      </div> -->





      <div class="breaker small"></div>

      <!-- CATEGORY -->
      <div class="certified ">
        <!-- <div class="label label-product" 
            (click)="toggleChild(child.name)"            
            [class.selected]="filterChild==child.name"
            *ngFor="let child of category.current.child;let j=index" >{{child.name}}</div> -->

        <!-- TODO BUILD PERSISTENT SUB CAT [routerLink]="['./',child.name]"-->
        <!-- TODO [selected]="filterChild==child.name"-->
        <mdc-chip-set choice #subcategory>
          <mdc-chip [routerLink]="[relative,child.name]"                     
                    [id]="'child'+j"                    
                    *ngFor="let child of getChildCategory(category.current);let j=index">
            <mdc-chip-text>{{child.name}}</mdc-chip-text>
          </mdc-chip>
        </mdc-chip-set>
        
      </div>


      <!-- VENDORS-->
      <div class="vendor" >
        <div class="owner" 
            (click)="toggleVendor(vendor)"            
            *ngFor="let vendor of getVendors()">
            <img [src]="vendor.photo.owner" [class.selected]="filterVendor==vendor.urlpath"></div>
      </div>
  
      <!-- <div class="vendor" >
        <div class="owner" 
            *ngFor="let vendor of getVendorsClosed()">
            <img [src]="vendor.photo.owner" ></div>
      </div> -->

    </div>

    <!-- FURTHER -->
    <div class="further-product-container mdc-layout-grid" >
        <!-- <section>
          <h2>{{category.name}}</h2>
          <h3 [innerHtml]="category.description"></h3>
        </section> -->
        <div infiniteScroller
             scrollPercent="30"
             immediateCallback="false"
             [infiniteScrollContainer]="getDialog()"
             [scrollCallback]="scrollCallback" 
             class="kng-layout-card">
          <kng-product-thumbnail             
              *ngFor="let product of getProducts();let j=index" 
              [sku]="product.sku" 
              [visibility]="getVisibility(j)"
              class="">
          </kng-product-thumbnail>
        </div>

        <div *ngIf="!getProducts().length" class="empty-products">
          Rien à proposer pour la prochaine livraison!
        </div>



      </div>
  
  </div>
</div>
