<div class="product-dialog " #dialog (scroll)="onScroll($event)">
  <div class="product-backdrop"></div>
  <div class="product-dialog__surface">
    <div class="category-wide" >

      <!-- CLOSE -->
      <button (click)="onClose(true)" class="close" >
        <span class="material-icons size-large">arrow_back</span>
      </button>

      <!-- TITLE -->
      <h4 class="title" [innerHtml]="category.current.name"></h4>
      <p class="subtitle" [innerHtml]="category.current.description"></p>

      <!-- CATEGORY -->
      <!-- FIXED SIZE -->
      <div class="toolbox " [class.exited]="scrollDirection < -25 || scrollDirection > 25 || !scrollDirection">
        <ul  #subcategory>
          <li class="kng-chip" (click)="scrollTo($event,child.name)"
                    [id]="'child'+j"                    
                    [class.selected]="child.name == filterChild"
                    *ngFor="let child of getChildCategory(category.current);trackBy:trackerCategories;let j=index">
            <span>{{child.name}}</span>
          </li>
        </ul>        
      </div>

      <!-- VENDORS-->
      <div class="vendor" >
      </div>


    </div>

    <!-- FURTHER -->
    <div class="further-product-container mdc-layout-grid" >
      <kng-product-grouped-list class="kng-layout-card"        
        alphasort="true"
        showSection="true"
        [config]="config" 
        [user]="user"         
        [filterByVendor]="filterVendor && filterVendor.urlpath"
        [scrollContainer]="getDialog()"
        [scrollToSlug]="scrollToCategory"
        [contentCategories]="getChildCategory(category.current)" 
        [contentProducts]="getProducts()"
        (currentCategory)="filterChild=$event"
        (direction)="scrollDirection=$event"> </kng-product-grouped-list>
 
  
  </div>
</div>
