<div class="product-dialog " #dialog (scroll)="onScroll($event)">
  <div class="product-backdrop"></div>
  <div class="product-dialog__surface">
    <div class="category-wide" >

      <!-- CLOSE -->
      <button (click)="onClose(true)" class="close">
        <mdc-icon class="size-large">navigate_before</mdc-icon>
      </button>

      <h3 mdcHeadline5 class="title" [innerHtml]="category.current.name"></h3>
      <h6 mdcSubtitle1 class="subtitle" [innerHtml]="category.current.description"></h6>

      <div class="breaker small"></div>

      <!-- CATEGORY -->
      <div class="certified ">
        <!-- TODO BUILD PERSISTENT SUB CAT [routerLink]="['./',child.name]"-->
        <!-- TODO [selected]="filterChild==child.name"-->
        <mdc-chip-set choice #subcategory>
          <mdc-chip [routerLink]="[relative,child.name]"                     
                    [id]="'child'+j"                    
                    *ngFor="let child of getChildCategory(category.current);trackBy:trackerCategories;let j=index">
            <mdc-chip-text>{{child.name}}</mdc-chip-text>
          </mdc-chip>
        </mdc-chip-set>
        
      </div>


      <!-- VENDORS-->
      <div class="vendor" >
        <div class="owner" 
            (click)="toggleVendor(vendor)"
            *ngFor="let vendor of getVendors()">
            <img [src]="vendor.photo.owner" [class.selected]="filterVendor && filterVendor.urlpath==vendor.urlpath"></div>
      </div>
      <div class="owner-title" [hidden]="!filterVendor">
        {{filterVendor && filterVendor.name}}
      </div>

    </div>

    <!-- FURTHER -->
    <div class="further-product-container mdc-layout-grid" >
        <!-- <section>
          <h2>{{category.name}}</h2>
          <h3 [innerHtml]="category.description"></h3>
        </section> -->
        <div infiniteScroller
             scrollPercent="30"
             immediateCallback="false"
             [infiniteScrollContainer]="getDialog()"
             [scrollCallback]="scrollCallback" 
             class="kng-layout-card">
          <kng-product-thumbnail             
              *ngFor="let product of getProducts();trackBy:trackerProducts;let j=index" 
              [sku]="product.sku" 
              [visibility]="getVisibility(j)"
              [hidden]="filterVendor && product.vendor.urlpath !== filterVendor.urlpath"
              class="">
          </kng-product-thumbnail>
        </div>

        <div *ngIf="!getProducts().length" class="empty-products">
          Rien à proposer pour la prochaine livraison!
        </div>



      </div>
  
  </div>
</div>
