<!-- 
	mdc-card documentation
	https://github.com/material-components/material-components-web/tree/master/packages/mdc-card
	https://stackoverflow.com/questions/44741936/angular-4-multiple-named-router-outlets-in-a-child-route-supported/44742481
-->


<mdc-card class="product-card"
	[outlined]="false"	
	[class.incart]="cartItem&&cartItem?.quantity"
	[class.noavailable]="!product.isAvailableForOrder()" 
	[class.noinstock]="!product.pricing.stock">

	<button  class="action-add right " (click)="addToCart(product)"><mdc-icon [fontSize]="26">add</mdc-icon></button>	
	<button  class="action-remove " (click)="removeToCart(product)"><mdc-icon [fontSize]="26">remove</mdc-icon></button>	
	<div class="info-quantity">{{cartItem?.quantity}}</div>		

	<mdc-card-primary-action mdc-ripple [routerLink]="['products',product.sku]">
		<mdc-card-media
			[square]="true"
			[ngStyle]="{'background-image': bgStyle}"
			class="media">
					
		</mdc-card-media>
		<div class="product-card__primary">
			<span class="product-card__subtitle" >{{product.title}}</span>
		</div>
		<div class="product-card__secondary" >
			<div class="part">
					{{product.pricing.part}}
			</div>
			<div class="price ">
				<span [hidden]="product.attributes.discount" class=" ">
					Fr {{product.pricing.price| number:'1.2-2'}}
				</span>
				<span [hidden]="!product.attributes.discount" >
					<span class="red">Fr {{product.pricing.discount| number:'1.2-2'}}</span>
				</span>      
			</div>				
		</div>	
	</mdc-card-primary-action>

</mdc-card>

<!--
<mdc-card class="demo-card" fxFlexOffset="4">
  <mdc-card-primary-action mdc-ripple>
    <mdc-card-media class="demo-card__media--16-9" [wide]="true"></mdc-card-media>
    <div class="demo-card__primary">
      <h2 class="demo-card__title" >Our Changing Planet</h2>
      <h3 class="demo-card__subtitle" >by Kurt Wagner</h3>
    </div>
    <div class="demo-card__secondary" >
      Visit ten places on our planet that are undergoing the biggest changes today.
    </div>
  </mdc-card-primary-action>
  <mdc-card-actions>
    <mdc-card-action-buttons>
      <button mdc-button mdcCardAction="button">Read</button>
      <button mdc-button mdcCardAction="button">Bookmark</button>
    </mdc-card-action-buttons>
    <mdc-card-action-icons>
      <mdc-icon-toggle iconOn="favorite" iconOff="favorite_border" mdcCardAction="icon"></mdc-icon-toggle>
      <mdc-icon mdcCardAction="icon">share</mdc-icon>
      <mdc-icon mdcCardAction="icon">more_vert</mdc-icon>
    </mdc-card-action-icons>
  </mdc-card-actions>
</mdc-card>
-->