div.thumbnails{
  box-sizing: border-box;
  height: 200px;
  padding: var(--wa-space-s);
  img{
    width: 58px;
    height: 58px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 50%;  
  }
  a{
    text-decoration: none;
  }

  .vendor{
    color:gray;
  }
  .price{
    float: right;
  }
}
