.product-card.incart .action-remove,
.product-card.incart .action-add
{
  visibility: visible;
  opacity: 0.8;
}

.product-card.incart .info-quantity{
  visibility: visible;
}

.product-card{
  height: 13rem;
  background: white;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.04), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.04), 
              0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inherit;
 
  .mdc-card__primary{
    padding: 10px;
  }

  img{
    width: 58px;
    height: 58px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 50%;  
  }

  img.highlight-new{
    position: absolute;
    top: -22px;
    left: -25px;
    border-radius: 0;
    border: none;
    width: auto;
    height: 17%;
    transform: rotate(-45deg);    
    opacity: .5;
  }

  
  .action-add,.action-remove{
    background-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.6);
    background-color: var(--mdc-theme-primary) !important;
    color: white!important;
    opacity: 0.5;
    border: 0;
    font-weight: bold;
    border-radius: 25px;
    width: 48px;
    height: 26px;
    position: absolute;
    top: 10px;
    padding: 0px;
    outline: 0;
    z-index: 1;
    cursor: pointer;
    &.right{
      right:10px;
    }
  }


  .action-remove{
    visibility: hidden;
    left:10px;
  }
  
  .info-quantity{
    font-size: 30px;
    line-height: 32px;
    text-shadow: 0 0 6px rgba(0,0,0,0.9);
    text-align: center;
    width: 35px;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
    color: white;
    visibility: hidden;
  }

  .media{
    height: 9rem;
    background-color:#ddd;
    @media (max-width: 426px) {
      height: 9rem;
    }

    background-repeat: no-repeat;
    background-size: cover;  
    background-position-y: 50%;
    border-radius: 5px;  
    transition: background-color .2s ease-in-out;

  }  

  .product-card__subtitle{
    font-size: smaller;
  }

  .product-card__primary{
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    padding: 5px;
  }


  .price{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: large;
    font-weight: 500;
  }

  .part{
    position: absolute;
    left: 5px;
    bottom: 10px;
    font-size: small;
    font-weight: 500;    
  }
}

