<!-- 
	mdc-card documentation
	https://github.com/material-components/material-components-web/tree/master/packages/mdc-card
	https://stackoverflow.com/questions/44741936/angular-4-multiple-named-router-outlets-in-a-child-route-supported/44742481
-->

<mdc-card class="product-card"
	[mdc-elevation]="0"
	[routerLink]="['/products',{ outlets: { modal: [product.sku] } }]"
	[class.noavailable]="!product.isAvailableForOrder()" 
	[class.noinstock]="!product.pricing.stock">

	<mdc-card-media 
		mdc-ripple
		[ngStyle]="{'background-image': 'url(' + product.photo.url + '/-/resize/200x/)'}"
		class="media">

		<!-- <button mdc-card-button class="action-add">-</button>		
		<div class="info-quantity">2</div>		
		<button mdc-card-button class="action-add right">+</button>		 -->

	</mdc-card-media>
	<mdc-card-primary class="primary">
		<mdc-card-title [large]="false">{{product.title}}</mdc-card-title>

		<div class="price ">
			<span [hidden]="product.attributes.discount" class=" ">
				Fr {{product.pricing.price| number:'1.2-2'}}
			</span>
			<span [hidden]="!product.attributes.discount" >
				<span class="red">Fr {{product.pricing.discount| number:'1.2-2'}}</span>
			</span>      
		</div>				
		
	</mdc-card-primary>
	<!-- <mdc-card-actions>
		<mdc-icon-toggle
			[(ngModel)]="love"
			iconOn="favorite" iconOff="favorite_border"
			labelOn="Add to Favorites" labelOff="Remove from Favorites">
		</mdc-icon-toggle>		

		<button mdc-card-button><i class="primary material-icons" material-icon>update</i></button>
		<div class="price ">
				<span [hidden]="product.attributes.discount" class=" ">
					Fr {{product.pricing.price| number:'1.2-2'}}
				</span>
				<span [hidden]="!product.attributes.discount" >
					<span class="red">Fr {{product.pricing.discount| number:'1.2-2'}}</span>
				</span>      
			</div>				

	</mdc-card-actions> -->
</mdc-card>

<!--

<div class="thumbnails" 
    [class.noavailable]="!product.isAvailableForOrder()" 
    [class.noinstock]="!product.pricing.stock">

    <img [hidden]="!product.vendor.photo?.fg" align="left"
          [src]="product.photo.url+'/-/resize/100x/'"
          alt="160x160" class="thumbnail-owner photo-owner" >
    <a [routerLink]="['/product',product.sku]"><strong>{{product.title}}</strong></a>
    <div>
      <span markdown-render="product.details.description"></span>
    </div>
    <div class="price">
      <span [hidden]="product.attributes.discount" class="small green bold ">
        Fr {{product.pricing.price| number:'1.2-2'}}
      </span>
      <span [hidden]="!product.attributes.discount" >
        <span class="red bold strike"> {{product.pricing.price| number:'1.2-2'}}</span>
        <span class="green bold small">Fr {{product.pricing.discount| number:'1.2-2'}}</span>
      </span>      
    </div>

</div>


<!--
<div class="container">
	<h1>{{product?.title}}</h1>
	<h4>Category : {{product?.categories?.name}}</h4>
<div>
<div *ngIf="currentUser?.isOwnerOrAdmin(product?.vendor.name)">
	<a [routerLink]="['/product/edit',product.sku]"><button>Edit</button></a>
</div>
<div>
	<h3>Price</h3>
	<label>{{product?.pricing?.price}} CHF </label>
	<div>
		<label>TVA : {{product?.pricing?.tva}} </label> <label>Part :
			{{product?.pricing?.part}} </label> <label *ngIf="currentUser?.isOwnerOrAdmin(product?.vendor.name)">Stock :
			{{product?.pricing?.stock}} </label>
	</div>
</div>
<div>
	<h3>Vendor</h3>
	<label>{{product?.vendor?.name}} CHF </label>
	<h4>Description</h4>
	<div>
		<label>{{product?.vendor?.description}} </label>
	</div>
</div>
<div [hidden]="!product?.photo">
	<img
		title=""
		class="img-thumbnail"
		[src]="product?.photo.url"
		*ngIf="product?.photo.url">
</div>

</div>
-->