<!-- 
	mdc-card documentation
	https://github.com/material-components/material-components-web/tree/master/packages/mdc-card
	https://stackoverflow.com/questions/44741936/angular-4-multiple-named-router-outlets-in-a-child-route-supported/44742481
-->
<ng-container *ngIf="hidden else loadingTpl">
	<div class="product-card loader" ></div>
</ng-container>

<ng-template #loadingTpl>
	<article class="product-card card-skeleton score-{{product.stats.score.toFixed(3)}}"  
						[class.selected]="selected"
						[class.large]="large"
						[class.incart]="cartItemQuantity"
						[class.noavailable]="!product.isAvailableForOrder()" 
						[class.popular]="product.stats.score>0.25"
						[class.noinstock]="!product.pricing.stock">



		<section [routerLink]="['/store',store, departement,'products',product.sku,product.title]">
			<!-- MEDIA -->
			<div  class="media " [ngStyle]="bgStyle" >
				<img [src]="bgImage" class="thumbnail" />

				<div class="product-available">
					non disponible
				</div>
				<!-- VARIANTS -->
				<div *ngIf="openVariant" class="product-variants">
					<ul>
						<li (click)="addToCart($event,product,variant.short)"
								*ngFor="let variant of product.variants">{{variant.short}}</li>
					</ul>
				</div>
				<!-- LABEL -->				
				<div class="bio">
					<span [hidden]="!hasLabel(product,'bio')"><i class="material-symbols-outlined green">eco</i> bio</span>
					<span [hidden]="!hasLabel(product,'bioconvertion')"><i class="material-symbols-outlined green">eco</i> bioconversion</span>
					<span [hidden]="!hasLabel(product,'biodynamics')"><i class="material-symbols-outlined green">eco</i> biodynamie</span>
					<span [hidden]="!hasLabel(product,'natural')"><i class="material-symbols-outlined green">eco</i> 100% naturel</span>
					<span [hidden]="!hasLabel(product,'grta')" class="text-right"> GRTA</span>
				</div>

				<!-- quantité -->
				<div class="info-quantity">{{cartItemQuantity}}</div>
			</div>
			<!-- CART ACTIONS -->
			<button class="action-add right " (click)="addToCart($event,product)">
				<span [hidden]="!displaySubscription" class="material-symbols-outlined size-medium">more_time</span>
				<span [hidden]="displaySubscription" class="material-symbols-outlined size-medium">add</span>
			</button>
			<button class="action-remove " (click)="removeToCart($event,product)">
				<span class="material-symbols-outlined size-medium">remove</span>
			</button>
			<div class="info-score"><i class="material-symbols-outlined">favorite</i></div>
		
			<!-- TITLE -->
			<div class="product-header">
				<div class="product-card__vendor" *ngIf="displaySubscription && product.vendor.photo">
					<img [src]="product.vendor.photo?.owner"alt="160x160" class="photo-owner hide" />
					<div>{{product.vendor.name}}</div>
				</div>
	
				<div class="product-title">{{product.title}}</div>
				<div class="product-part">
					{{product.pricing.part}}
				</div>
				<div class="product-price ">
					<span [class.discount]="product.attributes.discount" >
						Fr {{product.pricing.price| number:'1.2-2'}}
					</span>

					<span [hidden]="!product.attributes.discount">
						<span class="red">{{product.pricing.discount| number:'1.2-2'}}</span>
					</span>

				</div>

        <div class="product-subscription " [hidden]="!displaySubscription || !product.attributes.subscription ">
          <div>{{product.quantity.comment}}</div>
        </div>

			</div>

			<div class="product-card__secondary">
			</div>
		</section>
	</article>
</ng-template>


