.product-dialog{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility:visible;
  z-index: 2;
  background: white;
  @media (min-width: 1025px) {
    background-color: rgba(0, 0, 0, 0.57);
  }

  @media (max-width: 768px) {
    background: white;
  }

  @media (min-width: 1025px) {
    padding: 5px;  
  }
  .product-dialog-surface{
    /* see overflow in mdc-style.scss */
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: var(--mdc-theme-background, #fff);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 865px;
    min-height: 70vh;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;    

    @media (max-width: 769px) {
      margin-top: 0px;
    }

    @media (min-width: 1640px) {
      max-width: 945px;
    }

    button.close{
      cursor: pointer;
      background: transparent;
      border: 0;
      color: #111;
      position: fixed;
      top: 60px;
      left: calc(( 100vw - 860px ) / 2 );      
      z-index: 4;
      @media (prefers-color-scheme: dark) {
        color: var(--mdc-theme-secondary-dark-text);      
    }

      @media (min-width: 1640px) {
        left: calc(( 100vw - 945px ) / 2 );      
      }
        
      @media (max-width: 769px) {
        top: 30px;
        left: -10px;
        padding: 2px 3px;
        background: white;
        color: #000;
        width: 60px;
        height: 60px;
        border-radius: 30px;
      }
        
    }
      
  }
}

.shop-wide{
  position: relative;
  display:flex;  
  flex-flow: column;
  justify-content:flex-end; /*halign*/
  align-items:center; /*valign*/
  overflow:hidden;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.3rem;

  .title,
  .subtitle{
    margin: auto;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .owner img{
    max-width: 50%;
  }

  img.logo{
    max-height: 150px;    
    object-fit: contain;
    margin: 20px auto;
  }
  img.shop{
    width: 100%;
    max-width: calc(100% - 30px);
    object-fit: contain;
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.18);
    border-radius: 40px;
    min-height: 600px;
    @media (max-width:431px) {
      min-height: 300px;      
    }
  }

  .contact{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;    
  }

  .vendor{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
    padding-left: 5px;
    padding-top: 5px;    
    max-width: 700px;
    div.description{
      max-width: calc(100% - 70px);    
      margin-left: 15px; 
      min-height: 100px; 
      border-radius: 40px;
      background-color: var(--mdc-theme-appbar-light);
      padding: 20px;
    }

    div.owner{
      overflow: hidden;
      display: flex;
      width: 100%;
      img{
        border-radius: 50%;
        width: 96px;
        height: 96px;
        margin: auto;
      }      
    }
  }

}

.products-container {
  max-width: 740px;
  margin: auto;
  flex: 1;
  align-items: center;    

  width: 95%;

  .map{
    img{
      max-width: 100%;
    }  
  }
  .FAQ{
    margin-top: 50px;
    ul{
      list-style: none;
      padding: 4px;
      li{
        h4{
          font-weight: 600;
        }
      }      
    }
  }

}



// /* Desktop large
// ------------------------- */
// @media (min-width: 1200px) {

// }


// /* Tablet paysage (Ipad1)
// ------------------------- */
// @media (min-width: 780px) and (max-width: 1124px) {

// }

// /* Tablet portrait
// ------------------------- */
// @media (min-width: 768px) and (max-width: 970px) {
  
// }

// /* Tablet
// ------------------------- */
// @media (max-width: 767px) {

// }


