
.product-dialog{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility:visible;
  transition: opacity .5s ease-in-out;
  opacity: 1;
  z-index: 2;
  background: white;

  &.fadeout{
    opacity: 0;
  }
  @media (max-width: 768px) {
    background: white;
  }

  @media (min-width: 1025px) {
    padding: 5px;
    .product-backdrop{
      background-color: rgba(0, 0, 0, 0.87);
      background-color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      z-index: -1;  
    }
  
  }
  .product-dialog__surface{
    /* see overflow in mdc-style.scss */
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: var(--mdc-theme-background, #fff);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 865px;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;    
    @media (max-width: 769px) {
      margin-top: 0px;
    }

    button.close{
      cursor: pointer;
      background: transparent;
      border: 0;
      color: #777;
      position: fixed;
      top: 30px;
      left: calc(( 100vw - 860px ) / 2 );;      
      z-index: 1;
      @media (max-width: 769px) {
        top: 2px;
        left: -7px;
        padding: 3px;
        background: rgba(255, 255, 255, 0.3);
        text-shadow: 0px 2px 0px #333;
        color: #aaa;
        width: 45px;
        height: 45px;        
      }
        
    }
      
  }

    
    
}


.category-wide{
  display:flex;  
  flex-flow: column;
  justify-content:flex-end; /*halign*/
  align-items:flex-start; /*valign*/
  overflow:hidden;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.3rem;

  .title,
  .subtitle{
    margin: auto;
    text-align: center;
    margin-top: 15px;
  }
  
  img.photo-owner{
    width:120px;
    padding:1px;
    border: 2px solid #ddd;
    margin-right: 10px;
  }

  .category-card{
    flex: 1;
    align-items: center;
    background: white;

    margin-top: 8px;
    position: relative;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.04), 
                0px 2px 2px 0px rgba(0, 0, 0, 0.04), 
                0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: inherit;
    @media (max-width: 426px) {
      margin-top: 4px;
    }
 
    img{
      width: 58px;
      height: 58px;
      padding: 2px;
      border: 1px solid #ddd;
      border-radius: 50%;  
    }
  
  
    .media{
      height: 400px;
      background-color:#ddd;  
      background-repeat: no-repeat;
      background-size: cover;  
      background-position-y: 50%;
      border-radius: 5px;  
      transition: background-color .2s ease-in-out;

      @media (max-width: 426px) {
        height: 270px;
        border-radius: 0px;  
      }

    }  
  
    .product-card__subtitle{
      font-size: larger;
    }
  
    .product-card__primary{
      height: 3.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 5px;
      font-size: 20px;
      line-height: 24px;      
    }

  }
  
  

  

  .admin-actions{
    padding: 10px 20px;    
  }

  .further-product-container,
  .vendor,
  .admin-actions,
  .quick-stock,
  .availability,
  .certified,
  .description{
    -border-top: dotted 2px #ddd;
    display: relative;
    width: 95%;
    max-width: 600px;
    margin: auto;
    flex: 1;
    align-items: center;    
    >div{
      padding:10px 5px;
    }
    .light{
      color: #aaa;
    }
  }

  .description>div{
    blockquote{
      margin: 0;
      color: #333;      
    }    
    padding:5px;
  }


  .breaker.small{
    margin-top: 25px;
  }

  .vendor{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 94%;
    margin-top: 15px;
    padding-left: 5px;
    border-top: 2px dotted #eee;
    padding-top: 5px;    

    div.owner{
      overflow: hidden;
      width: 48px;
      height: 48px;
      cursor: pointer;
      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        padding: 1px;
        &.selected{
          border: 2px solid var(--mdc-theme-primary);
        }
      }      
    }
  }

  .certified{
    font-size: smaller;
    display: flex!important;
    height: auto;
    flex-flow: row wrap;
  
    .mdc-chip-set--choice .mdc-chip.mdc-chip--selected {
      background-color: var(--mdc-theme-primary);
      color: var(--mdc-theme-surface, #fff);
    }  
  
  }

  .empty-products{
    color: #aaa;
    font-size: x-large;
    letter-spacing: -.5px;    
  }
}




.further-product-container{
  max-width: 740px;
  padding: 0px 0;

  display: relative;
  width: 85%;
  max-width: 600px;
  margin: auto;
  flex: 1;
  align-items: center;    
  >div{
    padding:10px 5px;
  }

  @media (max-width:426px) {
    width: calc( 100% - 10px );
  }
  @media (max-width:320px) {
    width: calc( 100% - 10px );
  }
  
  .kng-layout-card{
    display: flex!important;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;   
    padding-bottom:0; 
    kng-product-thumbnail{
      flex: 1 0 130px;
      width: 137px;
      margin: 8px;
      margin-bottom: 0;
      max-width: 300px;
      @media (max-width: 426px) {
        flex: 1 0;
        min-width: 29vw;
        margin: 4px 4px 0;
        flex: 0 0 49%;
        min-width: 40vw;
        margin: 4px 0px 0;

      }
    }
  }

}


/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Tablet paysage (Ipad1)
------------------------- */
@media (min-width: 780px) and (max-width: 1124px) {

}

/* Tablet portrait
------------------------- */
@media (min-width: 768px) and (max-width: 970px) {
  
}

/* Tablet
------------------------- */
@media (max-width: 767px) {

}


