
kng-product-swipe{
  min-height: 280px !important;
  overflow: hidden;
  display: block;
  margin: 20px 0px;
  border-bottom: 1px solid #eee;

  @media (max-width:430px) {
    width: calc(100vw - 20px );    
    margin: 15px 10px;
    min-height: fit-content !important;
    padding: 0;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--mdc-theme-secondary-dark);
    color: var(--mdc-theme-secondary-dark-text);      

    border-radius: 14px;
    border-width:0;  
  }


  .selected{
    display: flex;
    flex-flow: column;
    -webkit-overflow-scrolling: touch;
    height: auto;
    section{
      @media (max-width: 429px) {
        display: none;        
      }
      position: relative;
      width: 100%;
      text-align:left;
      margin-bottom: 20px;
      h2,h3{
        font-weight: 500;
        color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
        font-size: 1.4675rem;
        margin-bottom: 5px;
        margin-top:15px;
        margin-left: 0;
        @media (prefers-color-scheme: dark) {
          color: var(--mdc-theme-primary-dark-text);      

        }
  
      }
      h3{
        font-weight: 200;
        font-size: 1.275rem;
        color: #aaa;
        text-shadow:1px 1px 0 white;
        margin-top: -10px;
        @media (prefers-color-scheme: dark) {
          color: var(--mdc-theme-primary-dark-text);      
        }
  
      }  
    }

    div.content-sm{
      width: calc(100% - 20px);
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background-color: var(--mdc-theme-appbar);
      color: var(--mdc-theme-appbar-text);
      font-weight: 500;
      padding: 9px;
      margin: auto auto 15px;

      div.product{
        overflow: hidden;
        width: 60px;
        height: 60px;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;          
          border-radius: 10px;
        }
      }
      .action {

      }
      @media (min-width: 430px) {
        display: none;        
      }
    }

    div.content{
      margin-bottom:-15px;
      overflow: hidden;
      overflow-x: auto;
      @media (max-width: 429px) {
        display: none;        
      }
      &::-webkit-scrollbar {
        display: none;
      }
      .mdc-layout-grid{
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-template-columns: repeat(6,minmax(auto,145px));
        @media (max-width:430px) {
          grid-template-columns: repeat(3,minmax(auto,145px));
        }
      
        gap: 8px;
        justify-items: center;                  
    
      }
      
    }

  }  
}

