<div [class.thumbnail]="thumbnail" class="product-container">
   <div class="popupcontent" >
      <div class="header clearfix">
        <aside [class.noavailable]="!product.isAvailableForOrder()" [class.noinstock]="!product.pricing.stock">
          <!-- DISPLAY PHOTO -->
          <img [bgSrc]="product.photo.url" class="item-image" [class.hide]="!product.photo.url">
          <img [bgSrc]="//placehold.it/400x320/eeeeee/000000&text=missing" class="item-image" [class.hide]="product.photo.url">



          <!-- CART QUANTITY -->
					<!-- TODO
          <div class="sexy white product-qty" [hidden]="!cart.findBySku(product.sku).quantity" >
             {{cart.findBySku(product.sku).quantity}} article(s) dans votre panier</span>
          </div>
					-->


        </aside>
        <section>
          <!-- CLOSE-->
          <div>
          <a class="btn btn-transparent pull-right on-close" compute-url><i class="fa fa-remove fa fa-2x white"></i>&nbsp;</a>
          </div>

          <!-- PRICE-->
          <div class="price" *ngIf="product.pricing.price">

            <!-- REGULAR -->
            <span [hidden]="product.attributes.discount" class="small green bold ">
							Fr {{product.pricing.price| number:'1.2-2'}}
						</span>
            <!-- DISCOUNT -->
            <span [hidden]="!product.attributes.discount" >
              <span class="red bold strike"> {{product.pricing.price| number:'1.2-2'}}</span>
              <span class="green bold small">Fr {{product.pricing.discount| number:'1.2-2'}}</span>
            </span>

            <!-- SHOULD BE INLINED IN PHONE -->
            <div class=" em" >{{product.pricing?.part}}</div>
            <div class="part" [hidden]="product.pricing?.part[0]!=='~'">{{product.pricing.part|portion}}</div>
            <div class="part" [hidden]="product.pricing?.part.indexOf('gr')===-1">Fr {{product.pricing.part|baseprice:product.getPrice()}} / 100gr</div> <br/>
            <!-- ACTIONS -->
            <div>
              <button class="btn btn-danger btn-lg " (click)="love(product)">
                <i class="fa" [ngClass]="user.hasLike(product)?'fa-heart':'fa-heart-empty'"></i>&nbsp;J'aime
              </button>
            </div>

            <!-- BY DIRECTIVE -->
						<!-- TODO 
            <cart-button ng-model="product" bt-class="btn-lg" />
						-->

          </div>


        </section>
      </div>

      <!-- ADMIN OR OWNER -->
      <div [hidden]="!user.isOwnerOrAdmin(product.vendor.name)" class="pull-right">
        <a href="{{rootProductPath}}/products/{{product.sku}}/edit" class="btn  btn-small"><i class="fa fa-edit"></i>
				&nbsp;Edition avancée du produit
				</a>
      </div>
      <div [hidden]="!user.isOwnerOrAdmin(product.vendor.name)" class="quick-stock">
        <p>Modifié la quantité disponible (actuellement <b>{{product.pricing.stock}}</b>)</p>
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <button class="btn btn-default" role="button" 
                      (click)="product.pricing.stock=0;save();" [disabled]="WaitText">0</button>
          <button class="btn btn-default" role="button" 
                      (click)="product.pricing.stock=10;save();" [disabled]="WaitText">10</button>
          <button class="btn btn-default" role="button" 
                      (click)="product.pricing.stock=40;save();" [disabled]="WaitText">40</button>
        </div>      
      </div>



      <!-- TITLE -->
      <h2 class="">
        {{product.title}} 
      </h2>
      
      <!-- DESCRIPTION -->
      <div class="description">
        <div  markdown-render="product.details.description"></div>
        <span [hidden]="!product.details?.origin" class="small">{{product.details.origin}}</span>
      </div>

      <!-- CERTIFIED -->
      <div class="certified">
        <ul class="info ">
          <li [hidden]="!product.quantity.display">{{product.quantity.comment}}</li>
          <li [hidden]="!product.shelflife.display">{{product.shelflife.comment}}</li>
        </ul>
        <div>
          <span [hidden]="!product.details.homemade" class="label label-product">Artisanal</span>
          <span [hidden]="!product.details.local" class="label label-product">Local</span>
          <span [hidden]="!product.details.lactose" class="label label-product">Sans lactose</span>
          <span [hidden]="!product.details.gluten" class="label label-product">Sans gluten</span>
          <span [hidden]="!product.details.grta" class="label label-product">GRTA</span>
          <span [hidden]="!product.details.bio&&!product.details.biodynamics" class="label label-product">BIO</span>
          <span [hidden]="!product.details.biodynamics" class="label label-product">Biodynamie</span>
          <span [hidden]="!product.details.bioconvertion" class="label label-product">Bioconversion</span>
          <span [hidden]="!product.details.natural" class="label label-product" title="Naturel">Sans chimie de synthèse</span>
        </div>
      </div>

      <!-- AVAILABLE -->
      <div class="product-availability">
        <ul class="list-inline">
          <li>
            <div class="bold">Livraisons:</div>
            <div class="indicator">&nbsp;</div>
          </li>
          <li>
            <div>Lun.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(1)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Mar.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(2)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Mer.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(3)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Jeu.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(4)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Ven.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(5)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
        </ul>
      </div>
      
  	  <!-- VENDOR-->
      <div class="shop clearfix" >
            <img [hidden]="!product.vendor.photo?.owner"
              [src]="product.vendor.photo?.owner"  align="left"
              alt="160x160" class="thumbnail-owner photo-owner" >
            <img [hidden]="!product.vendor.photo?.fg||product.vendor.photo?.owner" align="left"
              [src]="product.vendor.photo?.fg"
              alt="160x160" class="thumbnail-owner photo-owner">

            <strong>{{product.vendor.name}}</strong>&nbsp;|&nbsp;{{product.vendor.description}} <a  href="/shop/{{product.vendor.urlpath}}">Visiter la boutique</a>
      </div>
  	  <!-- VENDOR-->
      <div id="disqus_thread" ></div>
    </div>
  </div>

<!--
<div class="container">
	<h1>{{product?.title}}</h1>
	<h4>Category : {{product?.categories?.name}}</h4>
<div>
<div *ngIf="currentUser?.isOwnerOrAdmin(product?.vendor.name)">
	<a [routerLink]="['/product/edit',product.sku]"><button>Edit</button></a>
</div>
<div>
	<h3>Price</h3>
	<label>{{product?.pricing?.price}} CHF </label>
	<div>
		<label>TVA : {{product?.pricing?.tva}} </label> <label>Part :
			{{product?.pricing?.part}} </label> <label *ngIf="currentUser?.isOwnerOrAdmin(product?.vendor.name)">Stock :
			{{product?.pricing?.stock}} </label>
	</div>
</div>
<div>
	<h3>Vendor</h3>
	<label>{{product?.vendor?.name}} CHF </label>
	<h4>Description</h4>
	<div>
		<label>{{product?.vendor?.description}} </label>
	</div>
</div>
<div [hidden]="!product?.photo">
	<img
		title=""
		class="img-thumbnail"
		[src]="product?.photo.url"
		*ngIf="product?.photo.url">
</div>

</div>
-->