<div class="group" [class.james]="selectionsTitle" *ngIf="selections.length">
  <section  class="category-hide-sm" [class.display]="showSection" [ngClass]="isChildCategory ? 'child':'title'">
    <h2>{{selectionsTitle}}</h2>
    <!-- <h3 class="hide" [innerHtml]="category.description"></h3> -->
  </section>

  <!-- <div class="kng-layout-card" [class]="clazz">
    <kng-product-thumbnail
      *ngFor="let product of selections;let j=index"
      [displayVendor]="displayVendor"
      [visibility]="true"
      [sku]="product.sku"
      [class]="clazz">
    </kng-product-thumbnail>
  </div> -->
</div>

<ng-template ngFor let-i="index" let-category [ngForOf]="sortedCategories" [ngForTrackBy]="trackerCategories">
  <ng-content  *ngIf="i==categoryMiddle && contentIf"></ng-content>
  <div [attr.name]="category.slug" class="group" [hidden]="!category.active" #section>
    <section  class="category-hide-sm category-title" [class.display]="showSection" [ngClass]="isChildCategory ? 'child':'title'">
      <h2>{{getCategoryI18n(category)}}
        <div class="kng-chip" [routerLink]="['category',category.slug]" [hidden]="!showMore">
          <span class="inlink">/ plus ...</span>
        </div>
      </h2>
      <!-- <h3 class="hide" [innerHtml]="category.description"></h3> -->
    </section>


    <div class="kng-layout-card" [class]="clazz">
        <!-- [hidden]="filterByVendor && product.vendor.urlpath !== filterByVendor" -->
        <kng-product-thumbnail
        *ngFor="let product of group[category.name];trackBy:trackerProducts ;let j=index"
        [displayVendor]="displayVendor"
        [displaySubscription]="displaySubscription"
        [visibility]="visibility[category.slug]"
        [sku]="product.sku"
        [class]="clazz">
      </kng-product-thumbnail>
    </div>
  </div>
</ng-template>
