.product-dialog{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility:visible;
  z-index: 3;
  background: white;

  @media (min-width: 1025px) {
    background-color: rgba(0, 0, 0, 0.57);
  }

  @media (max-width: 768px) {
    background: white;
  }

  @media (min-width: 1025px) {
    padding: 5px;
    .product-backdrop {      
    }  
  }

  @media (prefers-color-scheme: dark) {
    background-color: black!important;
    color: white!important;
  }

  .product-dialog__surface{
    /* see overflow in mdc-style.scss */
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: var(--mdc-theme-background, #fff);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 865px;
    min-height: 70vh;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;    
    padding-bottom: 100px;

    @media (prefers-color-scheme: dark) {
      background-color: black!important;
      color: white!important;
    }
  
    @media (max-width: 769px) {
      margin-top: 0px;
    }

    @media (min-width: 1640px) {
      max-width: 945px;
    }

    .material-symbols-outlined.size-large {
      font-size: 25px!important;
      font-weight: 700;
    }
    
    kng-subscription-option{
      max-width: calc(740px - 0px);
      width: calc(95% - 0px);
      margin: auto;      
      @media (max-width:427px){
        max-width: calc( 100% - 0px);
      }

    }

    .subscription{
      display: flex;
      padding: 12px 16px;
      max-width: calc(740px - 32px);
      width: calc(95% - 32px);
      margin: auto;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;      
      color: #333;
      font-weight: 500;
      background: #f6f6f6;
      border-radius: 15px;
      @media (prefers-color-scheme: dark) {
        background-color: #333!important;
        color: #f6f6f6!important;
      }

      .sublabel{
        color: #333;
        font-weight: 400;
        font-size: 17px;
        margin-top: 5px;        
      }
    }

    .banner{
      position: relative;
      background: #f6f6f6;
      min-height: 120px;
      border-radius: 15px;
      color: #333;      
      font-weight: normal;    
      padding: 12px 16px 0;
      max-width: calc(740px - 32px);
      width: calc(95% - 32px);
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      @media (prefers-color-scheme: dark) {
        background-color: #333!important;
        color: #f6f6f6!important;
      }
    
      @media (max-width:427px){
        max-width: calc( 100% - 32px);
      }
      h1{
        font-size: 28px;
        line-height: 32px;
        font-weight: bold;
        margin-top: 10px;
        text-transform: none;      
      }
      h2{
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 0px;      
      }
      h1,h2,h3,h4,p{
        text-align: left;
        text-transform: none;      
      }
    }
  

    button.close{
      cursor: pointer;
      background: transparent;
      border: 0;
      color: #111;
      position: fixed;
      top: 60px;
      left: calc(( 100vw - 860px ) / 2 );      
      z-index: 4;
      @media (prefers-color-scheme: dark) {
        color: #f6f6f6!important;
      }

      @media (min-width: 1640px) {
        left: calc(( 100vw - 945px ) / 2 );      
      }
        
      @media (max-width: 769px) {
        top: 30px;
        left: -10px;
        padding: 2px 3px;
        background: rgba(255, 255, 255, 0.9);
        color: #222;
        width: 55px;
        height: 55px;
        border-radius: 30px;
      }
        
    }
      
  }
}

.category-wide{
  position: relative;
  display:flex;  
  flex-flow: column;
  justify-content:flex-end; /*halign*/
  align-items:flex-start; /*valign*/
  overflow:hidden;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.3rem;

  .title {
    margin: auto;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 15px;
    font-size: 24px;
  }
  .subtitle{
    text-align: center;
    margin: auto;
  }



  .further-product-container {
    display: relative;
    width: 95%;
    max-width: 600px;
    margin: auto;
    flex: 1;
    align-items: center;    
    >div{
      padding:10px 5px;
    }
    .light{
      color: #aaa;
    }
  }

  .breaker.small{
    margin-top: 25px;
  }


  .toolbox{
    transform: translateY(0);
    transition: all 200ms;
    z-index: 3;
    background: transparent;
    position: fixed;
    left: -5px;
    height: 100vh;
    width: 10px;
    overflow-x: visible;
    top:300px;
    /* display sub category on product list screen */
    opacity: 1;
    display: flex;
    margin-bottom: 0;
    margin-top: 20%;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 1025px) {
      transform:none!important;
      left:calc( (100vw - 865px) / 2);
      top: 40px;
      margin-top: 0;
      margin-left: -200px;
      opacity: 1!important;

    }

    @media (min-width: 1640px) {
      left:calc( (100vw - 945px) / 2);
    }


    &.show{
      top: 0;
      background: rgba(0, 0, 0, 0.65);
      bottom: 0;
      height: 100vh;  
      transform: none;  
    }


    &.exited:not(.show){
      transform: translateX(-245px);    
      opacity: 0;
    }

    &.extend-all{
      top:40px;
      ul{
        margin-left: 0;
      }

    }


    font-size: smaller;
    // display: flex!important;
    // height: auto;
    // flex-flow: row wrap; 
    .show-more{
      width: 64px;
      height: 64px;
      color: #000;
      background: #fff;
      border-radius: 32px;
      text-align: center;
      min-width: 64px;
      transform: translateX(-22px);      
      box-shadow: 0 0 3px 0px #646464cf;
      display: flex;
      justify-content: center;
      align-items: center;      
      span{
        font-size: 27px;
        font-weight: bolder;
      }
    }
    ul{
      display: block;
      transition: all 200ms;
      @media (max-width: 429px) {
        margin-left: -300px;
      }
      li.kng-chip{
        margin: 7px 4px;
        box-shadow: 0 0 1px 1px rgba(100, 100, 100, 0.4);            
        color: #000;
        font-size: 1.1em;
        &.selected{
          background-color: black!important;
          color: var(--mdc-theme-primary-text, #fff)!important;      
        }
      }
    } 
  }

  .vendor{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 94%;
    margin-top: 15px;
    padding-left: 5px;
    padding-top: 5px;    

    div.owner{
      overflow: hidden;
      width: 48px;
      height: 48px;
      cursor: pointer;
      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        padding: 1px;
        &.selected{
          border: 1px solid var(--mdc-theme-karibou-pink);
        }
      }      
    }
  }



  .owner-title{
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    font-size: 24px;
  }
}


.owner-title,
.vendor,
.further-product-container{
  max-width: 740px;
  padding: 0px 0;

  display: relative;
  width: 95%;
  margin: auto;
  flex: 1;
  align-items: center;    
  >div{
    padding:10px 5px;
  }

  @media (max-width:429px) {
    width: calc( 100% - 10px );
  }
  @media (max-width:320px) {
    width: calc( 100% - 10px );
  }
  
  @media (min-width:1640px) {
    max-width: 740px;
  }
    
}


// /* Desktop large
// ------------------------- */
// @media (min-width: 1200px) {

// }


// /* Tablet paysage (Ipad1)
// ------------------------- */
// @media (min-width: 780px) and (max-width: 1124px) {

// }

// /* Tablet portrait
// ------------------------- */
// @media (min-width: 768px) and (max-width: 970px) {
  
// }

// /* Tablet
// ------------------------- */
// @media (max-width: 767px) {

// }


