.product-dialog {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 3;
  background: white;

  &.scroll-locked {
    overflow-y: hidden!important;
  }

  @media (min-width: 1025px) {
    background-color: rgba(0, 0, 0, 0.57);
  }

  @media (max-width: 768px) {
    background: white;
  }

  @media (min-width: 1025px) {
    padding: 5px;

    .product-backdrop {}
  }


  .product-dialog__surface {
    /* see overflow in mdc-style.scss */
    background-image: linear-gradient(45deg, #fff 70%, #fff, #fff, var(--mdc-theme-appbar-light));
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: var(--mdc-theme-background, #fff);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 70vh;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;


    @media (prefers-color-scheme: dark) {
      background-color: var(--mdc-theme-secondary-dark);
      color: var(--mdc-theme-secondary-dark-text);
    }

    @media (max-width: 769px) {
      margin-top: 0px;
    }

    @media (min-width: 1640px) {
      max-width: 945px;
    }

    .material-symbols-outlined.size-large {
      font-size: 30px !important;
      font-weight: 700;
    }

    .subscription {
      display: flex;
      width: calc(740px - 10px);
      margin: auto;
      padding: 12px 5px;
      flex-wrap: wrap;
      font-size: 18px;
      font-weight: 500;
      border-radius: 15px;

      &.colored {
        color: #333;
        background: #f6f6f6;
        margin-top: 10px;
        padding: 12px 16px;
        width: calc(740px - 32px);
      }

      @media (max-width:827px) {
        width: calc(100% - 10px);
        &.colored {
          max-width: calc(100% - 32px);
          width: calc(95% - 32px);
        }
      }



      @media (prefers-color-scheme: dark) {
        background-color: var(--mdc-theme-secondary-dark);
        color: var(--mdc-theme-secondary-dark-text);
      }

      div.row {
        display: flex;
        width: 100%;
        margin-bottom: 0px;
        align-items: center;
        justify-content: space-between;
      }

      .sublabel {
        color: #333;
        font-weight: 400;
        font-size: 17px;
        margin-top: 5px;
        max-width: 98%;
      }

    }

    .banner {
      position: relative;
      font-family: 'Gentium Plus';

      min-height: 120px;
      border-radius: 15px;
      color: #333;
      font-weight: normal;
      padding: 12px 16px 0;
      max-width: calc(740px);
      width: calc(95%);
      margin: auto;
      margin-top: 50px;
      margin-bottom: 20px;

      @media (prefers-color-scheme: dark) {
        background-color: var(--mdc-theme-secondary-dark);
        color: var(--mdc-theme-secondary-dark-text);
      }

      @media (max-width:427px) {
        max-width: calc(100% - 32px);
      }

      h1 {
        font-size: 45px;
        line-height: 52px;
        font-weight: 600;
        padding-left: 0;
        margin-bottom: 5px;
        text-align: center !important;
        width: 100%;

      }

      h2 {
        font-weight: 400;
        font-size: 23px;
        padding-top: 8px;
        line-height: 28px;
        margin: auto;
        margin-top: 0px;
        text-align: center !important;
      }

      h1,
      h2,
      h3,
      h4,
      p {
        text-align: left;
        text-transform: none;
      }
    }

    .topbar {
      margin: 0;
      padding: 0;
      display: flex;
      align-items:center;
      width: 865px;
      padding: 15px 0;
      position: fixed;
      top: 30px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all .5s;
      z-index: 1;

      @media (max-width:431px) {
        top:0px
      }

      &.sticked {
        background-color: rgba(255, 255, 255, .9);
        top: 0px;
        .page-title { opacity: 1;}
      }

      .page-title{
        opacity: 0;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        width: fit-content;
        margin-left: 3%;
      }

      button.close {
        cursor: pointer;
        background: transparent;
        border: 0;
        color: #111;
        left: calc((100% - 860px) / 2);
        z-index: 4;
        margin-left: 10px;

        @media (prefers-color-scheme: dark) {
          color: var(--mdc-theme-secondary-dark-text);
        }
      }

      .cart {
        margin-right: 15px;
        margin-left: auto;
        min-width: fit-content;
        opacity: 0;
      }

      .cart.visible {
        opacity: 1;
      }

      .subscription-cart {
        display: flex;
        button {
          margin-right: 0;
          margin-left: auto;
          text-align: left;
          padding: 10px 25px;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          border: 0px solid var(--mdc-theme-primary);
          border-radius: 28px;
          color: var(--mdc-theme-appbar-text);
          background-color: var(--mdc-theme-appbar);
          cursor: pointer;

          span {
            float: right;
            font-weight: 400;
          }
        }
      }

    }


  }
}

.category-wide {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  /*halign*/
  align-items: flex-start;
  /*valign*/
  overflow: hidden;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.3rem;

  .page-title {
    margin: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    margin-left: 3%;
  }

  .further-product-container {
    display: relative;
    width: 95%;
    max-width: 600px;
    margin: auto;
    flex: 1;
    align-items: center;

    >div {
      padding: 10px 5px;
    }

    .light {
      color: #aaa;
    }
  }

  .breaker.small {
    margin-top: 25px;
  }


  .toolbox {
    transform: translateY(0);
    transition: all 200ms;
    z-index: 3;
    position: fixed;
    left: -5px;
    height: 100vh;
    width: 10px;
    overflow-x: visible;
    top: 50px;
    /* display sub category on product list screen */
    opacity: 1;
    display: flex;
    margin-bottom: 0;
    margin-top: 15%;
    flex-direction: column;
    align-items: flex-start;


    @media (min-width: 800px) {
      top: 20px;
    }

    @media (min-width: 1025px) {
      transform: none !important;
      left: calc((100% - 865px) / 2);
      top: 20px;
      margin-top: 0;
      margin-left: -250px;
      opacity: 1 !important;
      ul{
        align-items: flex-end;
      }

    }

    @media (min-width: 1640px) {
      left: calc((100% - 945px) / 2);
    }


    &.show {
      top: 0;
      background: rgba(240, 240, 240, 0.65);
      bottom: 0;
      height: 100vh;
      transform: none;
    }


    &.exited:not(.show) {
      transform: translateX(-245px);
      opacity: 0;
    }

    &.extend-all {

      ul {
        margin-left: 0;
        padding-left:30px
      }
    }


    font-size: smaller;

    // display: flex!important;
    // height: auto;
    // flex-flow: row wrap;
    .show-more {
      position: absolute;
      top: 130px;
      width: 32px;
      height: 232px;
      color: white;
      background: #000;
      border-radius: 32px;
      text-align: center;
      min-width: 32px;
      transform: translateX(-12px);
      box-shadow: 0 0 5px 0px #646464cf;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 27px;
        font-weight: bolder;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: all 200ms;

      list-style: none;
      padding: 4px;
      margin-left: 0px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 20px;

      @media (max-width: 541px) {
        margin-left: -300px;
        background: rgba(240, 240, 240, 0.9);
      }

      li.kng-chip {
        margin: 7px 4px;
        box-shadow: 0 0 1px 1px rgba(100, 100, 100, 0.4);
        color: #000;
        font-size: 1.1em;
        max-width: 250px;

        &.selected {
          background-color: black !important;
          color: var(--mdc-theme-primary-text, #fff) !important;
        }
      }
    }

  }

  .owner-title {
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    font-size: 24px;
  }
}

kng-signup{
  border: 0!important;
}

.kng-informations{
  max-width: 760px;
}

.kng-assistant{
  background: var(--mdc-theme-appbar-light);
  width: 225px;
  margin-left: 10px;
  border-radius: 7px;
  max-width: 740px;
  padding: 0px 5px!important;

  position: relative;

}

.kng-assistant,
.kng-informations,
.owner-title,
.vendor,
.further-product-container {
  max-width: 880px;
  padding: 0px 0;

  position: relative;
  width: 95%;
  margin: auto;
  flex: 1;
  align-items: center;

  >.menu {
    justify-content: flex-start!important;
  }

  @media (max-width:431px) {
    width: calc(100% - 10px);
  }

  @media (max-width:320px) {
    width: calc(100% - 10px);
  }

  @media (min-width:1640px) {
    max-width: 740px;
  }

}


// /* Desktop large
// ------------------------- */
// @media (min-width: 1200px) {

// }


// /* Tablet paysage (Ipad1)
// ------------------------- */
// @media (min-width: 780px) and (max-width: 1124px) {

// }

// /* Tablet portrait
// ------------------------- */
// @media (min-width: 768px) and (max-width: 970px) {

// }

// /* Tablet
// ------------------------- */
// @media (max-width: 767px) {

// }
