


  .group{
    min-width: 100%;
    margin: 1rem 0;
    @media (prefers-color-scheme: dark) {
      background-color: var(--mdc-theme-secondary-dark);
      color: var(--mdc-theme-secondary-dark-text);
      border-radius: 15px;
      margin: 10px 0 20px;
    }

    &.james{
      padding: 14px;
      border-radius: 14px;
      width: calc(100% - 28px);
      margin-left: -14px;
      background-color: yellow;
      background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
      margin-top: 20px;
    }
  }

  .category-hide-sm:not(.display) {
    @media (max-width:599px) {
      display: none!important;
    }
  }

  .product-dialog{
    section{
      margin-left: 0px!important;
    }
  }
  section{
    &.title{
      text-align:left;
      padding-top:10px;
      margin-bottom: 20px;
      margin-left: 0px;
      display: none;
    }

    &.category-title{
      .kng-chip{
        .inlink{
          font-size: 1rem;
          font-weight: 500;
          color: #2f2fe4;
        }
      }
    }

    &.display{
      display: block;
    }

    &.child{
      margin: 50px 4px 25px;
      border-bottom: 1px solid #ddd;
    }

    &.child:first-child {
      margin-top: 10px;
    }

    h2,h3{
      font-weight: 600;
      color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.9));
      font-size: 1.4675rem;
      margin-top: 20px;
      margin-left: 0px;
      margin-right: 10px;
      @media (prefers-color-scheme: dark) {
        color: var(--mdc-theme-secondary-dark-text);
      }

    }
    h3{
      font-weight: 200;
      font-size: 1.275rem;
      color: #aaa;
      text-shadow:1px 1px 0 white;
      margin-top: -10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    h5,h4{
      color:var(--mdc-theme-secondary);
      font-weight: 500;
      margin-bottom: 0px;
    }

  }

