<div class="selected">
  <ng-content></ng-content>
  <section>
    <h2 class="title">
      {{title}}
      <div class="kng-chip" [hidden]="boost" (click)="doSearch(action)" >
        <span class="inlink">{{actionLabel}} ...</span>
      </div>
    </h2>

  </section>
  <div class="content" #scrollEl >
      <div class="kng-layout-card">
        <kng-product-thumbnail
          [visibility]="true"
          [displayVendor]="false"
          [sku]="section.sku"
          *ngFor="let section of products;let j=index"
          class="">
        </kng-product-thumbnail>

      </div>
  </div>

</div>
