:host{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
    border: 0 solid #fff;
    &.large{
      .media{
        height: 13rem!important;
      }
    }
}

.loader{
  width: 100%;
  height: 262px;
  margin: 0px;
  img{
    width: 100%;
    object-fit: cover;
  }
}


.product-card.insubs .action-remove,
.product-card.insubs .action-add
{
  visibility: hidden;
}


.product-card.incart .action-remove,
.product-card.incart .action-add
{
  visibility: visible;
  opacity: 0.8;
}

.product-card.incart .info-quantity{
  visibility: visible!important;
}

.product-card.popular .info-score{
  display: inline-block!important;
}
.product-card.noinstock .product-available{
  display: flex!important;
}
.product-card.noavailable .product-available{
  display: flex!important;
}

.product-card.timelimit .vendor-name{
  display: none!important;
}
.product-card.timelimit .product-timelimit,
.product-card.timelimited .product-timelimited{
  display: flex!important;
  align-content: center;
  flex-wrap: wrap;
  .label{
    width: 100%;
    font-weight: 400;
    font-size: smaller;
  }
}

.product-card.insubs .product-in-subscription{
  display: flex!important;
}


.product-card{
  &.selected{
  }
  height: auto;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.04),
              0px 2px 2px 0px rgba(0, 0, 0, 0.04),
              0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inherit;
  cursor: pointer;

  margin-bottom: 20px;
  background: rgba(255,255,255,0.25);
  border-radius: 6px;
  -height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: transparent;
    color: var(--mdc-theme-primary-dark-text);
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }

  .media{
    position: relative;
    overflow: hidden;
    aspect-ratio:1/1.1;
    @supports not (aspect-ratio: 1 / 1.1) {
      padding-top: 100%;
    }

    border-radius: 12px;
    transition: background-color .2s ease-in-out;
    background: linear-gradient(43deg,var(--mdc-theme-primary) 0%, var(--mdc-theme-appbar) 100%);

    &.selected{
      box-shadow: 10px -10px 0px 0px deeppink;
    }

    .product-in-subscription,
    .product-available,
    .product-timelimit-old{
      position: absolute;
      top: 0;
      width: 100%;
      bottom: 0;
      background: rgba(0, 0, 0, 0.55);
      z-index: 1;
      text-align: center;
      color: white;
      font-weight: 700;
      letter-spacing: -.5px;
      display: none;
      align-items: center;
      justify-content: center;
    }
    .product-timelimit-old{
      background: rgba(0, 0, 0, 0.25);
    }
    .product-variants{
      position: absolute;
      top: 0;
      width: 100%;
      bottom: 0;
      background: rgba(255, 255, 255, 0.85);
      z-index: 2;
      margin-top: -15px;
      ul{
        list-style: none;
        padding: 15px;
        li{
          padding: 5px 0px;
          border-bottom: 1px solid #666;
        }
      }

    }
    .icon-subscription{
      position: absolute;
      left: 7px;
      top: 7px;
      i{
        font-weight: 500;
        font-size: 28px;
        color: var(--mdc-theme-primary-text);
        text-shadow: 0 0 6px rgba(0,0,0,0.9);

      }

    }
    .product-timelimited,
    .bio{
      position: absolute;
      left: 5px;
      bottom: 5px;
      color: var(--mdc-theme-primary);
      font-weight: 600;
      font-size: 13px;
      background: var(--mdc-theme-primary-text);
      padding: 0.125rem;
      letter-spacing: -0.2px;
      opacity: .8;
      width: fit-content;
      max-width: fit-content;
      span{
        display: flex;
        align-items: center;
        padding: 1px 3px;
        width: fit-content;
      }
    }
    .product-timelimited{
      top: 5px;
      bottom: auto;
      display: none;
      max-width: 50%;
      border-radius: .5rem;

    }
  }

  .product-timelimit{
    display: none;
  }


  img{
    width: 58px;
    height: 58px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 50%;

    &.thumbnail{
      position: absolute;
      width: 100%;
      border-radius: 0;
      margin: auto;
      object-fit: cover;
      min-height: 100%;
      object-position: center center;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      border: 0px;
      border-radius: 0;

    }
  }

  img.highlight-new{
    position: absolute;
    top: -22px;
    left: -25px;
    border-radius: 0;
    border: none;
    width: auto;
    height: 17%;
    transform: rotate(-45deg);
    opacity: .5;
  }

  img.photo-owner{
    width: 34px;
    height: 34px;
    padding: 0px;
    margin-right: 5px;
    border-radius: 50%;
  }


  .action-add,.action-remove{
    background-color: var(--mdc-theme-secondary) !important;
    color: var(--mdc-theme-secondary-text) !important;
    border: 0;
    font-weight: bold;
    border-radius: 25px;
    width: 48px;
    height: 32px;
    position: absolute;
    top: 5px;
    padding: 0px;
    padding-top: 3px;
    outline: 0;
    cursor: pointer;
    &.right{
      right:5px;
    }
  }


  .action-remove{
    visibility: hidden;
    right:65px;
  }

  .info-quantity{
    visibility:hidden;
    font-size: 38px;
    line-height: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: auto;
    z-index: 0;
    text-shadow: 0 0 6px rgba(0,0,0,0.9);
    color: white;
    font-weight: 600;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 30% 0;
  }

  .info-score{
    position: absolute;
    top: 5px;
    margin: 0 auto;
    left: 5px;
    color: rgba(255, 215, 0, 0.85);
    display: none;
  }

  .product-card__vendor{
    padding: 0;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #888;
    overflow: hidden;
    width: 100%;
    @media (prefers-color-scheme: dark) {
      color: white;
    }

    div{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;

    }
  }

  .product-header{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    padding: 5px 3px 8px;
    width: calc( 100% - 6px);
    align-items:center;
    flex: 1;

    .product-title{
      width: 100%;
      overflow: hidden;
      -text-overflow: ellipsis;
      -white-space: nowrap;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: rgb(52, 53, 56);
      padding: 0px 0 4px;
      -min-height: 36px;
      @media (prefers-color-scheme: dark) {
        color: var(--mdc-theme-primary-dark-text);
    }

    }

    .product-price{
      width: 63%;
      text-align: right;
      margin-right: 5px;
      margin-left: auto;
      font-size: large;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
      color: var(--mdc-theme-secondary);
      @media (prefers-color-scheme: dark) {
        color: var(--mdc-theme-primary-dark-text);
    }

      .discount {
        margin-right: 1px;
        text-decoration: line-through;
        color: #999;
        font-size: 11px;
        background: white;
        @media (prefers-color-scheme: dark) {
          background-color: var(--mdc-theme-primary-dark);
          color: var(--mdc-theme-primary-dark-text);
        }

      }
    }

    .product-part{
      margin-left: 0px;
      margin-right: auto;
      width: 32%;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      overflow: visible;
      text-wrap: nowrap;
      color: rgb(114, 118, 126);
      @media (prefers-color-scheme: dark) {
        color: var(--mdc-theme-secondary-dark-text);
    }

    }
    .product-subscription {
      font-size: 13px;
      line-height: 19px;
      font-weight: 600;
      color: #8f9092;
      overflow: hidden;
      width: 100%;
      margin-top: 8px;
      border-top: 1px solid #eee;
      padding-top: 4px;
      min-height: 25px;
      @media (prefers-color-scheme: dark) {
        color: var(--mdc-theme-secondary-dark-text);
    }

      div{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }

}

