


.product-dialog{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility:visible;
  z-index: 3;

  background: white;
  @media (min-width: 1025px) {
    background-color: rgba(0, 0, 0, 0.57);
  }

  &.is-searching{
    z-index: 2;
  }
  &.fadeout{
    opacity: 0;
  }
  @media (max-width: 768px) {
    background: white;
  }

  @media (min-width: 1025px) {
    padding: 5px;
    .product-backdrop{
    }
  
  }
  .product-dialog__surface{
    /* see overflow in mdc-style.scss */
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 865px;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;    
    @media (max-width: 769px) {
      margin-top: 0px;
    }

    .topbar {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      width: 865px;
      padding: 15px 0;
      position: fixed;
      top: 30px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all .5s;
      z-index: 1;

      @media (max-width:431px) {
        top:0px
      }

      &.sticked {
        background-color: rgba(255, 255, 255, .9);
        top: 0px;
        .title { opacity: 1;}
      }

      .title{
        opacity: 0;
        font-size: 22px;
        margin-left: 3%;
        text-align: left;
        width: 100%;
      }

      button.close {
        cursor: pointer;
        background: transparent;
        border: 0;
        color: #111;
        left: calc((100vw - 860px) / 2);
        z-index: 4;

        @media (prefers-color-scheme: dark) {
          color: var(--mdc-theme-secondary-dark-text);
        }
      }

      .cart {
        margin-right: 15px;
        margin-left: auto;
        opacity: 0;
      }

      .cart.visible {
        opacity: 1;
      }

      .subscription-cart {

        display: flex;
        button {
          margin-right: 0;
          margin-left: auto;
          text-align: left;
          padding: 10px 25px;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          border: 0px solid var(--mdc-theme-primary);
          border-radius: 28px;
          color: var(--mdc-theme-appbar-text);
          background-color: var(--mdc-theme-appbar);
          cursor: pointer;

          span {
            float: right;
            font-weight: 400;
          }
        }
      }

    }
    .material-symbols-outlined.size-large {
      font-size: 30px !important;
      font-weight: 700;
    }

    
  }

    
    
}


.product-wide{
  display:flex;  
  flex-flow: column;
  justify-content:flex-end; /*halign*/
  align-items:flex-start; /*valign*/
  overflow:hidden;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.3rem;
  
  img.photo-owner{
    width:120px;
    padding:1px;
    -border: 1px solid #ddd;
    margin-right: 10px;
    border-radius:10px;
  }

  .product-card.incart .action-remove,
  .product-card.incart .action-add
  {
    visibility: visible;
    opacity: 0.8;
  }
  
  .product-card.incart .info-quantity{
    visibility: visible;
  }
  
  .product-card{
    flex: 1;
    align-items: center;
    min-height: 400px;
    background: white;

    margin-top: 0px;
    position: relative;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.04), 
                0px 2px 2px 0px rgba(0, 0, 0, 0.04), 
                0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: inherit;
    display: flex;
    flex-direction: column;

    &.noinstock .product-available{
      display: block!important;
    }
    &.noavailable .product-available{
      display: block!important;
    }

    &.insubs .product-in-subscription{
      display: block!important;
    }
    

    @media (max-width:430px) {
      margin-top: 0px;      
    }
   
    section{
      width: 100%;
    }

    .product-in-subscription,
    .product-available{
      position: absolute;
      top: 0;
      width: 100%;
      bottom: 0;
      background: rgba(0, 0, 0, 0.55);
      z-index: 2;
      text-align: center;
      padding-top: 30%;
      color: white;
      font-weight: 700;
      letter-spacing: -.5px;      
      display: none;
      font-size: x-large;
    }

  
    img{
      width: 58px;
      height: 58px;
      padding: 2px;
      border: 1px solid #ddd;
      border-radius: 50%;  
      @media (max-width:431px) {
        border-radius: 0;  
      }
    }
  
    img.highlight-new{
      position: absolute;
      top: -30px;
      left: -77px;
      border-radius: 0;
      border: none;
      width: auto;
      height: 17%;
      transform: rotate(-45deg);    
      opacity: .8;
    }
  
    
    .action-add,.action-remove{
      background-color: var(--mdc-theme-secondary) !important;
      color: var(--mdc-theme-secondary-text) !important;
      opacity: 0.9;
      border: 0;
      font-weight: bold;
      border-radius: 25px;
      width: 68px;
      height: 46px;
      position: absolute;
      bottom: 10px;
      padding: 0px;
      outline: 0;
      z-index: 1;
      cursor: pointer;
      &.right{
        right:10px;
      }
    }
  
  
    .action-remove{
      visibility: hidden;
      right:80px;
    }
    
    .info-portion{
      position: absolute;
      left: 10px;
      bottom: 10px;
      background: rgba(255, 255, 255, 0.48);
      font-size: 18px;
      line-height: 26px;
      font-weight: 200;
      padding: 2px;
      border-bottom: 1px solid #999;
      
      >div{
        padding: 3px ;
      }
    }

    .info-quantity{
      font-size: 32px;
      line-height: 42px;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
      text-align: center;
      width: 46px;
      position: absolute;
      bottom: 11px;
      margin: 0 auto;
      right: 150px;
      z-index: 1;
      color: white;
      visibility: hidden;
      background: rgba(0, 0, 0, 0.65);
      border-radius: 50%;      
    }
    .image-links{
      position: absolute;
      top: 11px;
      margin: 0 auto;
      left: 10px;
      a{
        margin-right: 3px;
        padding: 3px;
        background-color:rgba(255, 255, 255, 0.32);
      }
    }
  
    .media{
      background-color:#ddd;
  
      background-repeat: no-repeat;
      background-size: cover;  
      background-position-y: 50%;
      border-radius: 5px;  
      transition: background-color .2s ease-in-out;
      position: relative!important;
      
      max-width: 600px;
      width: 85%;
      height: 100%;
      min-height: 400px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        height: 550px;
      }

      @media (max-width: 430px) {
        height: 270px;
        border-radius: 0px;  
        margin: 20px 26px;
        width: auto;
        min-height: auto;
      }
      .photo-owner{
        top: 10px;
        position: absolute;
        left: 10px;
        border: 4px solid #666;
        width: 70px;
        height: 70px;
        border-radius: 50%;        
      }

      .product-variants{
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        background: rgba(255, 255, 255, 0.85);
        z-index: 2;

        ul{
          list-style: none;
          padding: 15px;
          li{
            padding: 10px 20px;
            border-bottom: 1px solid #666;
          }          
        }
      }
      
    }  
  
    

    .product-card__vendor{
      display: flex;
      padding: 4px 0;
    }

  
    .price{
      font-weight: 900;
      font-size: x-large;
      margin: 0px;
      margin-right: 0;
      margin-left: auto;
      .red{
        color: red!important;
      }
      .discount {
        margin-right: 5px;
        text-decoration: line-through;
        color: #999;
        font-size: small;      
      }  
    }
  
    .part{
      font-weight: 500;    
      margin: 0px;
    }
  }
  
  

  

  .admin-actions{
    padding: 10px 20px;    
  }

  .further-product-container,
  .vendor,
  .header,
  .admin-actions,
  .quick-stock,
  .recipe,
  .availability,
  .certified,
  .description{
    display: relative;
    width: calc(100% - 26px *2);
    max-width: 600px;
    margin: 0 26px;
    flex: 1;
    align-items: center;    
    .light{
      color: #aaa;
      white-space: break-spaces;
    }

    img{
      max-width: 100%;
    }
  }
  .product-note{
    position: relative;
    max-width: 600px;
    margin: 0px 26px 0;
    width: calc(100% - 26px *2 );
    &.recording{
      background-color: #ffb6b6;
      box-shadow: 0 0px 10px #ffb6b6;
    }
  }
  .quick-stock{
    width: calc(100% - 26px *2);
    margin-top: 10px;
    opacity: .5;
    margin-bottom: 20px;
    button{
      margin-right: 10px;
    }
    >p,
    >div,
    >h4{
      display: flex;
      flex-flow: row wrap;
      
      padding: 5px 10px;        

    }
  }
  .header{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
    .title{
      margin: 20px 0;
      font-size: 30px;
      flex:1 0 100%;
      line-height: 40px;
      margin-top: 0;      
    }
  }

  .recipe{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .content{
      width: 100%;
      margin: 5px 0;
      padding: 5px;
    }
    button{
      font-size: 18px;
      flex: 1;
    }
  }

  .description>div{
    p{
      margin: 5px 0;
    }
    blockquote{
      margin: 0;
      color: #333;      
    }    
    padding:15px 5px 0;
  }

  .certified{
    div.kng-chip-content{
      transform: translateX(-4px);
      padding: 10px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;      
    }
      
    >ul{
      &.info{
        min-height: 0;
        li{
          font-weight: 600;
        }  
      }
      margin-bottom: 5px;
      margin-top: 5px;
      padding: 5px;
      list-style: none;      
    }
        
  }
  

  .availability {
    font-size: medium;
    width: auto;
    ul{
      padding-left: 0;
      list-style: none;
      li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;        
        text-align: center;
        .indicator{
          color: #a7cf7b;
        }              
      }          
    }      
  }

  .vendor{
    span>p{
      display: inline;
    }
  }


  .disqus{
    padding: 10px 20px;            
  }

  ul.dropdown-menu > li:first-child{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
    text-align: center;
  }
  ul.dropdown-menu > li:first-child > span{
    font-weight: normal;
    color: black;
  }

}



.further-product-container{
  max-width: 600px;
  max-width: 740px;
  padding: 20px 0;

  display: relative;
  width: 95%;
  margin: auto;
  flex: 1;
  align-items: center;    
  >div{
    padding:10px 5px;
  }

  @media (max-width:431px) {
    width: calc( 100% - 10px );
  }
  @media (max-width:320px) {
    width: calc( 100% - 10px );
  }

  section{
    h2,h3{
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);      
      color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));      
      font-size: 1.4675rem;
      text-transform: uppercase;    
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;      

      @media (prefers-color-scheme: dark) {
          background-color: var(--mdc-theme-secondary-dark);
          color: var(--mdc-theme-secondary-dark-text);      
      }
            
    }
    h3{
      font-weight: 200;
      font-size: 1.275rem;
      color: #aaa;
      text-shadow:1px 1px 0 white;
      margin-top: -10px;
      margin-left: 10px;
      margin-right: 10px;
    }

  }  
  

}


/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Tablet paysage (Ipad1)
------------------------- */
@media (min-width: 780px) and (max-width: 1124px) {

}

/* Tablet portrait
------------------------- */
@media (min-width: 768px) and (max-width: 970px) {
  
}

/* Tablet
------------------------- */
@media (max-width: 767px) {

}


