:host{
    cursor: pointer;
}
.btn-default-action{
    padding: 2px 11px;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid var(--mdc-theme-karibou-green);
    background-color: var(--mdc-theme-appbar);    
    color: var(--mdc-theme-appbar-text);
    font-size: 15px;
    transition:all 1s;  
    opacity: 1;
    font-weight: 400;
    cursor: pointer;
    &.not-visible{
        opacity: 0;
        overflow: hidden;
        transition-duration: 50ms;

    }
}