:host {

  margin:auto;
  width: 100%;
  height: auto;
  display: block;

}
.calendar-container{
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;

  h2{
    width: 100%;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.4675rem;
    margin-bottom: 15px;
  }
  h3{
    width: 100%;
    font-family: var(--mdc-theme-font);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.75rem;
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 0;
  }

  .noshipping{
    width: 100%;
  }
  .calendar{
    overflow: hidden;
    overflow-x: auto;
    border:1px solid var(--mdc-theme-appbar);
    border-radius: 1rem;
    background-color: var(--mdc-theme-appbar-light) !important;
    padding: 0.5rem;
    flex: 1 1 calc(50% - 1rem);
    margin: auto;
    @media (max-width: 899px) {
      flex: 1 1 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .list{
      display: flex;
      flex-wrap: nowrap;
      gap:3px;
      width: 100%;

      .element{
        margin: 0px;
        margin-left: 0;
        background-color: white;
        border: none;

        color: var(--mdc-theme-appbar-text);
        background-color: var(--mdc-theme-appbar);

        width: 50px;
        height: 60px;
        border-radius: 15px;
        font-size: .80em;
        display: flex;
        flex-flow: column;
        text-align: center;
        cursor: pointer;
        &.last-minute{
          width: auto;
          min-width: 4rem;
          padding: 0.125rem;
          margin-left: auto;
          margin-right: 0;
          border-radius: 0.5rem;
          .ei_Title{
            padding: 0;
            margin-top: .1rem;
            margin-bottom: 0;
            line-height: 1rem;
            color: var(--mdc-theme-primary);
          }
          .ei_Copy{
            font-size: 1rem;
            font-weight: 600;
          }
        }

        &.disabled {
          .ei_Title{
            color: #333;
          }
          background-color: transparent;
          border: none;
          cursor: default;
        }

        &.selected{
          background-color: var(--mdc-theme-secondary);
          .ei_Title{
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--mdc-theme-primary-text);
          }
          .ei_Copy{
            color: var(--mdc-theme-primary-text);
          }
        }
        .ei_Title{
          margin: auto;
          padding: 9px;
        }

        &:hover:not(.disabled){
          background-image: linear-gradient(-222deg, var(--mdc-theme-primary), var(--mdc-theme-primary));
          box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
          .ei_Copy,.ei_Title{
            color:#fff;
          }
        }
      }

    }

  }
  .kng-boxed{

    width: fit-content;
    min-height: 30px;
    padding: 0px;

    .label{
      padding: 20px 15px 0;
      font-weight: 400;
      font-size: inherit;
    }
    .content{
      min-height: auto;
      padding: 10px;
    }
  }
  .switch-hub {
    margin: auto;
    padding: .5rem;
    display: flex;
    border: 1px solid var(--mdc-theme-appbar);
    @media (min-width: 768px) {
      flex: 1 1 calc(50% - 2rem);
    }

    .label {
      // ✅ 50% par défaut, grandit si bouton au max
      flex: 1 1 50%;
      min-width: 0; // Permet à flex de réduire en dessous de la largeur du contenu
      @media (max-width: 599px) {
        flex: 1 1 auto;
      }
    }

    button{
      cursor: pointer;
      color: var(--mdc-theme-secondary);
      background-color: var(--mdc-theme-secondary-text);
      flex: 0 0 40%;
      min-width: 120px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid var(--mdc-theme-appbar);

      @media (max-width: 899px) {
        flex: 0 0 auto;
      }
    }
  }

  p{
    width: 100%;
  }
}
