  <!-- CONTAINER-->
  <div class="calendar-container">
    <h2 [hidden]="hideTitle">{{label.nav_shipping}} {{currentHub.name}}</h2>
    <!-- PENDING ORDER -->
    <h3 [hidden]="!pendingOrder">
      {{label.cart_order_grouped_details}}, <b>{{pendingOrderShipping|date:'EEE d MMM':'':locale}}</b>.
      &nbsp;{{label.cart_order_grouped_details_more}}
    </h3>

    <!-- NO SHIPPING -->
    <div class="noshipping block-warning" [hidden]="!noshippingMsg">
      <i class="material-symbols-outlined ">info</i>
      <span>{{noshippingMsg}}</span>
    </div>

    <!-- CALENDAR -->
    <div class="calendar">
      <div class="list">
          <div class="element" 
          [class.selected]="day.equalsDate(currentShippingDay)" 
          [class.disabled]="!isDayAvailable(day)" 
          *ngFor="let day of currentWeek;let idx=index"
          (click)="doSetCurrentShippingDay($event,day,idx)">
            <div class="ei_Title">{{day|date:'EEE d MMM':'':locale}}</div>
        </div>
      </div>
    </div>    

    <div class="switch-hub kng-boxed" [hidden]="minimal">
      <div class="label">{{label_switch_store}}
        <button class="goto" [routerLink]="['/store',displayHubSwitch.slug,'home']">{{displayHubSwitch.name}}​</button>

      </div>
    </div>
  </div>
