  <!-- CONTAINER-->
  <div class="calendar-container">
    <h3 [hidden]="minimal">{{label.nav_shipping}} {{currentHub.siteName[locale]}}</h3>

    <!-- NO SHIPPING -->
    <div class="noshipping block-warning" [hidden]="!noshippingMsg">
      <i class="material-symbols-outlined ">info</i>
      <span>{{noshippingMsg}}</span>
    </div>

    <!-- CALENDAR -->
    <div class="calendar">
      <div class="list">
          <div class="element" 
          [class.selected]="day.equalsDate(currentShippingDay)" 
          [class.disabled]="!isDayAvailable(day)" 
          *ngFor="let day of currentWeek;let idx=index"
          (click)="doSetCurrentShippingDay($event,day,idx)">
            <div class="ei_Title">{{day|date:'EEE d':'':locale}}</div>
        </div>
      </div>
    </div>    

    <div class="switch-hub kng-boxed" [hidden]="minimal">
      <div class="label">{{label_switch_store}}</div>
      <span class="content">
        <button class="goto" [routerLink]="['/store',displayHubSwitch.slug,'home']">{{displayHubSwitch.name}}​</button>
      </span>
    </div>

    <!-- PENDING ORDER -->
    <div [hidden]="!pendingOrder" >
        <p [innerHtml]="label.cart_order_grouped_info" class="help-info" ></p>
    </div>



  </div>
