<div>
  <form [formGroup]="$user" (submit)="onSignup()">
    <!-- FAMILY NAME -->
    <div class="groupfield fullwidth">
      <input id="name" class="form__field" type="text" formControlName="name" [placeholder]="glabel.user_name">
      <label for="name" class="form__label" [class.error]="isInvalid('name')"> {{glabel.user_name}}
      </label>
    </div>

    <!-- Given NAME -->
    <div class="groupfield fullwidth">
      <input id="forname" class="form__field" type="text" formControlName="forname"
        [placeholder]="$i18n[locale].user_firstname">
      <label for="forname" class="form__label" [class.error]="isInvalid('forname')">
        {{$i18n[locale].user_firstname}} </label>
    </div>

    <!-- POSTAL CODE -->
    <div class="groupfield fullwidth" [hidden]="signin || !displayPostalcode">
      <input id="postalcode" class="form__field" type="text" formControlName="postalcode"
        [placeholder]="$i18n[locale].user_postalcode">
      <label for="postalcode" class="form__label" [class.error]="isInvalid('postalcode')">
        {{$i18n[locale].user_postalcode}} </label>
    </div>

    <div class="groupfield fullwidth">
      <input id="phone" class="form__field" type="text" formControlName="phone"
        [placeholder]="$i18n[locale].user_phone">
      <label for="phone" class="form__label" [class.error]="isInvalid('phone')"> {{glabel.user_phone}}
      </label>
    </div>
    <!-- <p class="help-block phone-hide">
      {{i18n[locale].signup_phone}}
    </p> -->

    <!-- EMAIL -->
    <div class="groupfield fullwidth">
      <input id="email" class="form__field" type="text" formControlName="email"
        [placeholder]="glabel.user_email">
      <label for="email" class="form__label" [class.error]="isInvalid('email')"> {{glabel.user_email}}
      </label>
    </div>

    <div class="signup" [hidden]="isAuth">
      <kng-slider [small]="true" [(ngModel)]="signup" [ngModelOptions]="{standalone: true}">
        <span>Souhaitez-vous créer un compte client</span>
      </kng-slider>    
  
      <!-- PASSWORD -->
      <div class="groupfield fullwidth" [hidden]="signin">
        <input id="password" class="form__field" type="password" formControlName="password"
          [placeholder]="glabel.user_password">
        <label for="password" class="form__label" [class.error]="isInvalid('password')">
          {{glabel.user_password}} </label>
      </div>
  
      <!-- PASSWORD / confirmation -->
      <div class="groupfield fullwidth" [hidden]="signin">
        <input id="confirm" class="form__field" type="password" formControlName="confirm"
          [placeholder]="glabel.user_repassword">
        <label for="confirm" class="form__label" [class.error]="isInvalid('confirm')">
          {{glabel.user_repassword}} </label>
      </div>

      <button [disabled]="!$user.valid" class="default align-center" [hidden]="signin">
        <span tabindex="-1" class="material-symbols-outlined">account_circle</span>
        <span>{{label.signup_create}}</span>
      </button>
        
    </div>

    
  </form>
</div>