<div class="kng-assistant-wrapper" [class.running]="currentState?.status === 'running'">
  <kng-assistant-history
    #history
    [agent]="agent"
    [user]="user"
    [config]="config"
    [withHeader]="false"
    [welcome]="label.james_welcome"
    [welcomeDescription]="label.james_disclaimer"
    (chat)="onHistoryChat($event)">
  </kng-assistant-history>

  <kng-prompt
    #promptComponent
    [agent]="agent"
    [user]="user"
    [config]="config"
    [tips]="tips"
    [prompts]="prompts"
    [autoRecord]="autoRecord"
    [messagesLimit]="messagesLimit"
    [thinking]="thinking"
    [placeholder]="label.james_placeholder"
    [disclaimer]="label.james_disclaimer"
    (chatRequest)="onChatRequest($event)"
    (clearRequest)="onClearRequest()"
    (thinkingChange)="onThinkingChange($event)">
  </kng-prompt>
</div>
