.kng-drawer {
  color: var(--mdc-theme-primary-text);
  background: white;
  position: fixed;
  top: calc(100%);
  left: 0;
  width: 100%;
  min-height: 300px;
  @media (max-width: 899px) {
    height: 100%;
  }
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: 0 12px 24px 10px rgba(0, 0, 0, 0.4);
  padding-bottom: 2px;

  &.kng-drawer-open {
    top: 0px;
    .checkout {
      display: flex;
    }
  }


  .k-brand {
    position: absolute;
    left:  max(calc((100% - var(--mdc-theme-container-width)) / 2),1rem);
    top: 2rem;
    font-size: .8rem;
    z-index: 100;
    opacity: 1;
    color: #999;
    background-color: white;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
  }

  button.close {
    cursor: pointer;
    background: transparent;
    color: #333;
    border: 0;
    position: absolute;
    top: 1rem;
    right: calc((100% - var(--mdc-theme-container-width)) / 2  - 1rem);
    width: 100px;
    text-align: right;
    @media (max-width: 899px) {
      top: 8px;
      right: 2px !important;
    }

    .size-large {
      font-size: 40px;
    }
  }

  .checkout {
    color: var(--mdc-theme-text-primary-on-background);
    min-height: calc(100% - 40px);
    margin-top: 50px;
    padding: 0 5px;
    overflow-y: auto;
    height: calc(100% - 40px);
    @media print {
      height: 100%;
    }
  }


  input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
  }


}

.checkout{
  display: none;
  flex-wrap: wrap;
  max-width: calc(var(--mdc-theme-container-width) + 2rem);
  margin: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 1px;
    height: 8px;
    background-color: transparent; /* or add it to the track */
  }

  /* Add a thumb */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  @media (max-width: 599px) {
    .cart-container:last-child{
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  }

  @media (min-width: 600px) {
    flex-wrap: nowrap;
    .cart-container:last-child{
      order: 1;
      padding-left: 0px;
      margin-top: 0rem;
      width: min(calc(100% - 1rem), calc(var(--mdc-theme-container-width)/2 + 2rem));
      border-right: 4px solid var(--mdc-theme-appbar);
      padding-right: .5rem;
      margin-left: 0;

      .order-resume{
        border:none;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }



}

.cart-container {
  padding-top: 0px;
  padding-left: 0.5rem;
  width: min(calc(100% - 1rem), calc(var(--mdc-theme-container-width)/2 - 5rem));
  margin: auto;
  margin-top: 3rem;
  position: relative;

  order: 2;

  @media (prefers-color-scheme: dark) {
    background: #fff !important;
    color: #333;
  }

  @media (max-width: 599px) {
    width: calc(100% - 1rem);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    flex: 1;

  }

  .order-address {
    margin: 0px auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 2px 0;

    section.payments,
    section.addresses {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin: 5px auto;
      flex-direction: column;
      align-content: flex-start;

      .address.on-selection,
      .payment.on-selection {
        opacity: 0.25;
        display: none;
      }

      .payment.error,
      .address.error {
        .name,
        .note {
          color: red !important;
        }
        span.payment {
          display: inline;
        }
      }

      .address-new {
        background-color: white !important;
        width: 100%;
        margin-bottom: 20px;
        kng-address {
          margin: auto;
        }
      }

      .payment,
      .address {
        display: block;
        position: relative;
        min-width: 165px;
        margin-right: 15px;
        margin-bottom: 10px;
        width: calc(100% - 35px);
        border: 2px solid #eee;
        border-radius: 1rem;
        padding: 15px;

        &.twint .note{
          display: none;
        }

        &.checked {
          border: 2px solid #ccc;
          background-color: white;
        }

        @media (max-width: 599px) {
          width: calc(100% - 35px);
          margin-right: 0px;
        }

        .method.name {
          font-family: monospace;
          color: #333;
          font-size: 15px;
        }

        .name {
          &.deposit {
            background-color: yellow;
            width: fit-content;
          }

          line-height: 24px;
          font-weight: 700;
          font-size: 17px;
          span {
            font-weight: 300;
          }
        }

        .street,
        .note {
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 0.01785714em;
          color: #666;
          margin: 2px 0;
        }

        .note {
          max-width: 80%;
        }

        span.payment {
          display: none;
        }

        .shipping-amount {
          position: absolute;
          right: 20px;
          bottom: 15px;
        }

        label {
          position: absolute;
          right: 20px;
          font-weight: 600;
          color: #007aff;

          .collect {
            line-height: 20px;
          }
        }
      }

      .profile-action {
        display: block;
        padding: 0px 0;
        width: calc(100% - 30px);
        cursor: pointer;
        border: 2px solid #eee;
        border-radius: 1rem;
        padding: 15px;
        background-color: #efefef;
        margin-bottom: 10px;
        @media (max-width: 599px) {
          width: calc(100% - 40px);
          margin-right: 0px;
        }

        .material-symbols-outlined {
          transform: translateY(7px);
        }

        div.button,
        button {
          border: 0;
          font-size: 15px;
          font-weight: 600;
          color: #007aff !important;
          span {
            color: #007aff !important;
          }
        }
      }
    }
  }

  .subscription,
  .order-resume {
    position: relative;
    text-align: left;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    padding-bottom: 40px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 1rem;

    h3 {
      font-weight: 200;
      font-size: 1.275rem;
      color: #aaa;
      text-shadow: 1px 1px 0 #fff;
    }

    .order-resume-block {
      position: relative;
      width: 100%;
      padding: 10px 0px 0;
      margin: 0;

      @media (max-width: 599px) {
        width: calc(100% - 0px);
      }

      .material-symbols-outlined {
        font-size: 19px;
        transform: translateY(0px);
      }

      .slot {
        display: flex;
        align-items: center;
      }

      .bill {
        display: flex;
        flex-wrap: wrap;
        padding-left: 5px;
        line-height: 1.25rem;

        input {
          margin-right: 16px;
          width: 18px;
          height: 18px;
        }

        &.border {
          border-bottom: 1px solid #aaa;
        }

        &.contract {
          border-bottom: 4px double #aaa;
          padding-bottom: 5px;
          margin-bottom: 15px;
        }

        &.wallet {
          border-top: 4px solid black;
          padding-top: 8px;
          margin-top: 0px;
          font-weight: normal;
        }

        &.info-amount {
          padding: 8px 5px 16px;
        }

        &.total {
          padding-top: 0px;
          margin-top: 0px;
          font-weight: bold;
        }

        &.grouped {
          background-color: #f6f6f6;
          padding: 5px 8px;
          border-radius: 0px;
          margin-top: -5px;
          margin-bottom: 10px;
          color: #333;
          width: calc(100% - 10px);
          margin-left: 0;
          font-size: 90%;
        }

        &.error {
          font-weight: 400;
          background-color: #ffb1b1;
          padding: 6px 8px;
          border-radius: 8px;
        }

        &.shipping-discount {
          color: #e45e5e;
          text-align: right;
          width: 100%;
          font-size: 13px;
          margin-bottom: 16px;
        }

        &.help {
          border-top: 3px solid #ddd;
          margin: 10px 0;
          padding: 10px 0;
          a {
            color: #333;
            background: #eee;
            padding: 5px 20px;
            width: 100%;
            border-radius: 8px;
          }
        }

        > div {
          height: fit-content;
          min-height: 28px;
          width: 100%;
        }

        .block-info {
          margin-left: -5px;
          margin-top: 3px;
        }

        .label:first-letter {
          text-transform: uppercase;
        }

        .label,
        .overflow {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .label {
          width: 70%;
        }

        .amount-light {
          width: 30%;
          text-align: right;
        }

        .amount {
          width: 30%;
          text-align: right;
          font-weight: bold;
        }

        .small {
          font-size: 1rem !important;
          font-weight: bold;
        }

        .info {
          color: #888;
          font-size: 1rem;
          margin-top: 16px;
          height: fit-content;
        }

        .input-text {
          height: 52px;
        }

        input[type='checkbox'] {
          width: 1rem;
          height: 1rem;
        }

        input[type='text'] {
          border: 1px solid #eee;
          padding: .5rem 5px;
          font-size: 1em;
          width: calc(100% - 10px);
          font-weight: bold;
        }

        button:disabled {
          opacity: .3;
        }
      }
    }

    .checkout-msg {
      min-height: 80px;
      position: relative;
      width: 100vw;
      background: var(--mdc-theme-secondary);
      color: var(--mdc-theme-secondary-text);
      padding: 20px;
      margin: 0;
      margin-top: 30px;
    }

    button {
      img{
        max-height: 2rem;
        margin-left: 16px;
        background-color: white;
      }
      div{
        margin:0px auto;
        width: fit-content;
        display: flex;
        align-items: center;

      }
      cursor: pointer;
      width: 100%;
      margin: 10px 0;
      padding: 8px 8px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
