.kng-checkout-drawer {
  color: var(--mdc-theme-primary-text);
  background: white;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top var(--wa-transition-slow) cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;
  padding-bottom: 0.125rem;

  &.kng-drawer-open {
    top: 0;
    .checkout {
      display: flex;
    }
  }

  .k-brand {
    position: absolute;
    left: max(calc((100% - var(--mdc-theme-container-width)) / 2), 1rem);
    top: 2rem;
    font-size: 0.8rem;
    z-index: 100;
    color: #999;
    background-color: transparent;
  }

  button.close {
    cursor: pointer;
    background: transparent;
    color: #333;
    border: 0;
    position: absolute;
    top: 1rem;
    right: calc((100% - var(--mdc-theme-container-width)) / 2 - 1rem);
    width: 6.25rem; // 100px
    text-align: right;

    @media (max-width: 899px) {
      top: 0.5rem; // 8px
      right: 0.125rem !important; // 2px
    }

    .size-large {
      font-size: 2.5rem; // 40px
    }
  }

  .checkout {
    color: var(--mdc-theme-text-primary-on-background);
    min-height: calc(100% - 2.5rem);
    margin-top: 3rem;
    padding: 0 0.25rem;
    overflow-y: auto;
    height: calc(100% - 2.5rem);

    @media print {
      height: 100%;
    }
  }

  input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
  }
}

.checkout {
  display: none;
  flex-wrap: wrap;
  max-width: calc(var(--mdc-theme-container-width) + 2rem);
  margin: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 0.0625rem; // 1px
    height: 0.5rem; // 8px
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  @media (max-width: 599px) {
    .cart-container:last-child {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  }

  @media (min-width: 600px) {
    flex-wrap: nowrap;

    .cart-container:last-child {
      order: 1;
      padding-left: 0;
      margin-top: 0;
      width: min(calc(100% - 1rem), calc(var(--mdc-theme-container-width) / 2 + 2rem));
      border-right: 0.25rem solid var(--mdc-theme-appbar); // 4px
      padding-right: 0.5rem;
      margin-left: 0;

      .order-resume {
        border: none;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

.cart-container {
  padding-top: 0;
  padding-left: 0.5rem;
  width: min(calc(100% - 1rem), calc(var(--mdc-theme-container-width) / 2 - 5rem));
  margin: 3rem auto 0;
  position: relative;
  order: 2;

  @media (prefers-color-scheme: dark) {
    background: #fff !important;
    color: #333;
  }

  @media (max-width: 599px) {
    width: calc(100% - 1rem);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    flex: 1;
  }

  .block-info {
    margin: 0 auto;
    width: 100%;

    &.info-amount {
      padding: 0.5rem 0.25rem 1rem;

      .info {
        color: #888;
        font-size: 1rem;
        height: fit-content;
      }
    }
  }

  .order-address {
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 0.125rem 0;

    section.payments,
    section.addresses {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin: 0.25rem auto;
      flex-direction: column;
      align-content: flex-start;

      .address.on-selection,
      .payment.on-selection {
        opacity: 0.25;
        display: none;
      }

      .payment.error,
      .address.error {
        .name,
        .note {
          color: red !important;
        }
        span.payment {
          display: inline;
        }
      }

      .address-new {
        background-color: white !important;
        width: 100%;
        margin-bottom: 1.25rem; // 20px
        kng-address {
          margin: auto;
        }
      }

      .payment,
      .address {
        display: block;
        position: relative;
        min-width: 10rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        width: calc(100% - 2rem);
        border: 0.125rem solid var(--wa-color-neutral-border-quiet);
        border-radius: 1rem;
        padding: 1rem;

        &.twint .note {
          display: none;
        }

        &.checked {
          border: 0.125rem solid #ccc;
          background-color: white;
        }

        @media (max-width: 599px) {
          width: calc(100% - 2rem);
          margin-right: 0;
        }

        .method.name {
          font-family: monospace;
          color: #333;
          font-size: 1rem;
        }

        .name {
          line-height: 1.5rem;
          font-weight: 700;
          font-size: 1rem;

          &.deposit {
            background-color: yellow;
            width: fit-content;
          }

          span {
            font-weight: 300;
          }
        }

        .street,
        .note {
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01785714em;
          color: #666;
          margin: 0.125rem 0;
        }

        .note {
          max-width: 80%;
        }

        span.payment {
          display: none;
        }

        .shipping-amount {
          position: absolute;
          right: 1.25rem;
          bottom: 1rem;
        }

        label {
          position: absolute;
          right: 1.25rem;
          font-weight: 600;
          color: #007aff;

          .collect {
            line-height: 1.25rem;
          }
        }
      }

      .profile-action {
        display: block;
        width: calc(100% - 2rem);
        cursor: pointer;
        border: 0.125rem solid var(--wa-color-neutral-border-quiet);
        border-radius: 1rem;
        padding: 1rem;
        background-color: #efefef;
        margin-bottom: 0.5rem;

        @media (max-width: 599px) {
          width: calc(100% - 2.5rem);
          margin-right: 0;
        }

        .material-symbols-outlined {
          transform: translateY(0.5rem);
        }

        div.button,
        button {
          border: 0;
          font-size: 1rem;
          font-weight: 600;
          color: #007aff !important;

          span {
            color: #007aff !important;
          }
        }
      }
    }
  }

  .subscription,
  .order-resume {
    position: relative;
    text-align: left;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.125rem solid #ccc;
    border-radius: 1rem;

    .order-resume-block {
      position: relative;
      width: 100%;
      padding: 0.5rem 0 0;
      margin: 0;

      @media (max-width: 599px) {
        width: 100%;
      }

      .slot {
        display: flex;
        align-items: center;

        input[type='checkbox'] {
          width: 1rem;
          height: 1rem;
          margin-right: 1rem;
        }
      }

      .bill {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0.25rem;
        line-height: 1.25rem;
        width: 100%;

        &.error {
          font-weight: 400;
          background-color: #ffb1b1;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }

        &.help {
          border-top: 0.25rem solid var(--wa-color-neutral-border-quiet);
          margin: 0.5rem 0;
          padding: 0.5rem 0;

          a {
            color: #333;
            background: var(--wa-color-neutral-fill-quiet);
            padding: 0.25rem 1.25rem;
            width: 100%;
            border-radius: 0.5rem;
          }
        }
        >div {
          width: 100%;
        }

        .small {
          font-size: 1rem !important;
          font-weight: bold;
        }

        .info {
          color: #888;
          font-size: 1rem;
          margin-top: 1rem;
          height: fit-content;
        }

        .input-text {
          height: 3.25rem;
          width: 100%;

          input[type='text'] {
            border: 0.0625rem solid var(--wa-color-neutral-border-quiet);
            padding: 0.5rem 0.25rem;
            font-size: 1em;
            width: calc(100% - 0.5rem);
            font-weight: bold;
          }
        }
      }

      button {
        cursor: pointer;
        width: 100%;
        margin: 0.5rem 0;
        padding: 1.5rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 0.25rem;
        font-size: 1.25rem;
        text-align: center;
        text-transform: uppercase;

        &:disabled {
          opacity: 0.3;
        }

        img {
          max-height: 2rem;
          margin-left: 1rem;
          background-color: white;
        }

        div {
          margin: 0 auto;
          width: fit-content;
          display: flex;
          align-items: center;
        }
      }
    }

    .checkout-msg {
      min-height: 5rem;
      position: relative;
      width: 100vw;
      background: var(--mdc-theme-secondary);
      color: var(--mdc-theme-secondary-text);
      padding: 1.25rem;
      margin: 2rem 0 0;
    }
  }
}
