
.kng-drawer{
  color:var(--mdc-theme-primary-text);
  background: linear-gradient(transparent 20%,white 50%);
  background: white;


  position: fixed;
  top: calc( 100vh * -1.85 );
  left: 0;
  width: 100%;
  min-height: 300px;
  @media (max-width: 769px) {
    height: 100vh;
  }

  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.4), 
              0 4px 8px 0 rgba(0,0,0,.14), 
              0 1px 16px 0 rgba(0,0,0,.12);

  box-shadow: 0 12px 24px 10px rgba(0, 0, 0, 0.4);            

  padding-bottom: 2px;


  &.kng-drawer-open{
    top: 0px;
  }    

  .k-brand{
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 11px;
    z-index: 100;
    opacity: 1;
    color: #333;
    background-color: white;
  }
  

  button.close{
    cursor: pointer;
    background: transparent;
    color: black;
    border: 0;
    position: absolute;
    top: 12px;
    right: 10px;
    color: #333;
    width: 100px;
    text-align: right;    
    @media (max-width: 769px) {
      top: 8px;
      right: 2px !important;
    }

    .size-large{
      font-size: 40px;
    }

  }
   



  .checkout{
    color:var(--mdc-theme-text-primary-on-background);
    min-height: calc(100vh - 80px);
    background: white;  
    margin: 0; 
    margin-top: 70px;
    padding-top: 0px;  
    padding: 0 5px;

    overflow-y: auto;
    height: calc(100vh - 80px );
    @media print  {
      height: 100vh;
    }

    section{
      .title-error{
        color: red;
      }
    }
  
    
  }
  
}


.cart-container{
  padding-top: 0px;
  background: var(--mdc-theme-background-container);
  max-width: 900px;
  margin: auto;

  @media (prefers-color-scheme: dark) {
    background: #fff!important;
    color: #333;
  }

  @media (max-width:431px) {
    width: calc( 100% - 8px );
    margin-left: 0px;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;    
  }

  .resume-title ::ng-deep h2{
    padding-left: 15px;
  }
  
  .order-address{
    margin: 0px auto;
    width:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;
    position: relative;
    padding: 2px  0;



    //
    // section address, payment and resume
    section.payments,
    section.addresses {
      display: flex;
      flex-wrap:wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin: 5px auto;
      flex-direction: column;
      align-content: flex-start;

      .payment.error,
      .address.error{
        .name,
        .note{
          color: red!important;
        }
        span.payment{
          display: inline;
        }
      }

      .payment,
      .address{
        display: block;
        position: relative;
        min-width: 165px;
        margin-right: 15px;
        margin-bottom: 10px;
        width: calc( 100% - 30px);

        border: 2px solid #eee;
        border-radius: 14px;
        padding: 15px;
        background-color: #efefef;
        &.checked{          
          border: 2px solid var(--mdc-theme-primary);
          border: 2px solid #ccc;
          background-color: white;
        }

        &:last-child{
          margin-bottom: 0px;
        }

        @media (max-width:431px) {
          width: calc( 100% - 40px );
          margin-right: 0px;
        }

        input{
          margin: auto;
          margin-right: 10px;
          margin-left: 0;
          margin-top: 1px;
        }

        .name:first-letter {
          text-transform: uppercase;
        }
        .method.name{
          font-family: monospace;
          color: #666;
          font-size: 15px;
        }
      
        .name{
          &.deposit {
            background-color: yellow;
            width: fit-content;
          }
  
          line-height: 24px;
          font-weight: 700;
          font-size: 17px;            
          span{
            font-weight: 300;
          }
        }
        .street, .note{
          font-size: 15px;
          font-weight: 400;
          letter-spacing: .01785714em;
          color: #666;
          margin: 2px 0;
          
        }
        .note{
          max-width: 80%;          
        }
        span.payment{
          display: none;
        }
        .shipping-amount{
          position: absolute;
          right: 20px;
          bottom: 15px;
        }

        label{
          position: absolute;
          right: 20px;
          font-weight: 600;
          color: var(--mdc-theme-primary,#007aff);
          color: #007aff;
          
          .collect{
            line-height: 20px;
          }
        }
      }

      .profile-action {
        display: block;
        padding: 0px 0;
        width: calc( 100% - 30px);
        cursor: pointer;

        border: 2px solid #eee;
        border-radius: 14px;
        padding: 15px;
        background-color: #efefef;
        margin-bottom: 10px;
        @media (max-width:431px) {
          width: calc( 100% - 40px );
          margin-right: 0px;
        }

        .material-symbols-outlined {
          transform: translateY(7px);      
        }
        div.button,
        button{          
          border: 0;
          font-size: 16px;
          font-weight: 600;
          color: #007aff!important;
          span{
            color: #007aff!important;
          }
        }
      }
    
    }    
  }  

  .subscription,
  .order-resume{
    position: relative;
    text-align: left;
    width:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 14px;
    margin: 10px 0;
    border:2px solid #ccc;
    border-radius: 14px;
    h3{
      font-weight: 200;
      font-size: 1.275rem;
      color: #aaa;
      text-shadow: 1px 1px 0 #fff;
      margin-top: -10px;      
    }

    .order-resume-block:first-child{
      .resume-title ::ng-deep h2{
        margin-top: -15px;
        padding-left: 5px;
        border-bottom: 2px solid #eee;
      }
    }

    .order-resume-block{
      position: relative;
      width: calc(50% - 20px);
      padding: 10px 0px 0;
      margin: 15px 0;
      &.border-left{
        border-left: 4px solid #eee;
        margin-left: -19px;
        padding-left: 15px;        
      }

      @media (max-width:431px) {
        width: calc(100% - 00px);
      }


      .material-symbols-outlined {
        font-size: 19px;
        transform: translateY(3px);        
      }
      .bill{
        display: flex;
        flex-wrap: wrap;
        padding-left: 5px;
        &.border{
          border-bottom: 1px solid #aaa;

        }
        &.contract{
          border-bottom: 4px double #aaa;                    
          padding-bottom: 5px;
          margin-bottom: 15px;
        }
        &.wallet{
          border-top: 4px solid black;
          padding: 5px auto;
          margin-top: 10px;
          font-weight: normal;
        }

        &.total{
          padding-top: 0px;
          margin-top: 0px;
          font-weight: bold;
        }
        &.grouped{
          background-color: #f6f6f6;
          padding: 5px 8px;
          border-radius: 0px;
          margin-top: -5px;
          margin-bottom: 10px;
          color: #333;
          width: calc(100% - 10px);
          margin-left: 0;
          font-size: 90%;
        }
        &.error{
          font-weight: 400;
          background-color: #ffb1b1;
          padding: 6px 8px;
          border-radius: 8px;          
        }

        &.shipping-discount{
          color: #e45e5e;
          text-align: right;
          width: 100%;   
          font-size: 13px;       
        }
        &.help{
          border-top: 3px solid #ddd;
          margin: 10px 0;
          padding: 10px 0;
          a{
            color: #333;
            background: #eee;
            padding: 5px 20px;
            width: 100%;
            border-radius: 8px;            
          }
        }

        >div{
          height: fit-content;
          min-height: 30px;
          line-height: 30px;
          width: 100%;
        }
        .block-info{
          margin-left: -5px;
          margin-top: 3px;
        }
        .label:first-letter {
          text-transform: uppercase;
        }

        .label,
        .overflow {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .label{
          width: 70%;          
        }
        .amount-light{
          width: 30%;
          text-align: right;
        }

        .amount{
          width: 30%;
          text-align: right;
          font-weight: bold;
        }
        .full{
          width: 100%;
          margin-left: 0;
        }
        .small{
          font-size: 14px!important;
          font-weight: bold;
        }
        .info{
          line-height: 18px;
          color: #888;
          font-size: 14px;
          margin-top: 10px;
          height: fit-content;
        }
        .input-text{
          height: 52px;
        }
        input[type="text"]{
          border: 1px solid #eee;
          padding: 15px 5px;
          border-radius: 4px;        

          font-size: 1em;
          width: calc( 100% - 10px);
          color: var(--mdc-theme-secondary);         
          font-weight: bold; 
        }
        button:disabled{
          background-color: #ddd;
          color: #aaa;
        }
      }
    }

    .shipping{
      border-bottom: 2px solid #ddd;
      margin-bottom: 10px;      
      section.image{
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        img{
          object-fit: contain;
          width: 100%;          
        }    
      }
    }

    .checkout-msg{
      min-height: 80px;
      position: relative;
      width: 100vw;
      background: var(--mdc-theme-secondary);
      color:var(--mdc-theme-secondary-text);
      padding: 20px;
      margin: 0;
      margin-top:30px;
    }
     

    button{
      flex:0 0 70%;
      max-width: wi;
      font-size: 20px;
      margin: 25px;
      min-height: 50px;      
    }
    button{
      cursor: pointer;
      width: 100%;
      margin: 10px 0;
      background-color: var(--mdc-theme-primary);
      color: var(--mdc-theme-primary-text);
      border: none;
      border-radius: 8px;          
    }

    
  }    


}
