@import "colors.scss";

:host{
  padding-top: 50px;
}
div.footer{
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  font-size: .9rem;

  background-image: url(/assets/img/k-footer.png);
  background-position-y: 8%;
  background-position-x: 40%;
  background-repeat: repeat-x;
  background-color: #f3f3f3;
  padding-top: 120px;


  div.main{
    color: var(--mdc-theme-primary-on-background);  
    background: #d0d0d9;
    width: 100%;
    margin: auto;
    box-sizing: border-box;  
    padding:4px 0;
    margin-top: 0px;
    margin-bottom: 0px;    
    .line{
      padding:2px 0;
      @media screen and (max-width:429px){
        padding-left: 30px;
      }
      display:flex;
      flex-flow: row wrap;
      justify-content:flex-start; /*halign*/
      align-items:flex-start; /*valign*/
      &.marked{
        border-bottom:3px dotted var(--mdc-theme-primary);      
      }
      .elem{
        flex:1 0 calc(33% - 40px);
        padding:20px;
        min-width: 200px;
        @media screen and (max-width:429px){
          flex:1 0 calc(100% - 40px);
          padding:5px;
        }
        &.right{
          font-size: 12px;
          font-weight: 200;
          padding: 5px;
          img {
            display: none;
          }
          @media screen and (min-width:429px){
            text-align: right;            
          }
        }

        ul,ol{
          list-style: none;//hangul-consonant;
          padding-left: 0;
          margin-top: 0;
          li{
            line-height: 1.9em;
          }
          a{
            text-decoration: none;
            color: var(--mdc-theme-primary);
            font-size: 120%;
          }          
        }
      }
    }
  }
}