
:host{
  padding-top: 50px;
}
div.footer{
  margin-top: 0px;
  width: 100%;
  display: flex;
  display: none;
  flex-wrap: wrap;
  height: fit-content;
  font-size: .9rem;
  opacity: 0;

  &.display{
    opacity: 1;
  }

  background-image: url(/assets/img/k-footer.png);
  background-position-y: 8%;
  background-position-x: 40%;
  background-repeat: repeat-x;
  background-color: var(--mdc-theme-appbar);
  background-color: #fff;
  padding-top: 110px;
  @media (prefers-color-scheme: dark) {
    background-color: var(--mdc-theme-primary-dark);
    color: var(--mdc-theme-primary-dark-text);
  }


  @media (max-width: 899px) {
    .main{
      display: none!important;
    }
  }

  div.main{
    color: var(--mdc-theme-primary-on-background);
    background: #d0d0d9;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding:0;
    margin-top: 0px;
    margin-bottom: 0px;
    .line{
      padding:2px 0;
      @media screen and (max-width: 899px){
        padding-left: 30px;
      }
      display:flex;
      flex-flow: row wrap;
      justify-content:flex-start; /*halign*/
      align-items:flex-start; /*valign*/
      &.marked{
        border-bottom:2px dotted var(--wa-color-neutral-border-quiet);
      }
      .elem{
        flex:1 0 calc(33% - 40px);
        padding:0px;
        min-width: 200px;
        @media screen and (max-width: 899px){
          flex:1 0 calc(100% - 40px);
          padding:5px;
        }
        &.right{
          font-size: var(--wa-font-size-xs);
          font-weight: 200;
          padding: 5px;
          img {
            display: none;
          }
          @media screen and (min-width: 1200px){
            text-align: right;
          }
        }

        ul,ol{
          list-style: none;//hangul-consonant;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          li{
            line-height: 1.9em;
          }
          a{
            text-decoration: none;
            color: #000;
            font-size: 90%;          }
        }
      }
    }
  }
}
