@import "colors.scss";


[hidden], .hide {
  display: none!important;
}

//
// Screen
body{
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  margin: 0;
  margin-bottom: 0px!important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--mdc-theme-primary-dark);
  }
}

// this is google places autocomplete
.pac-container{
  margin-top: -45px !important;
  margin-left: -18px !important;
  box-shadow: 0 14px 14px rgba(0,0,0,.3) !important;
  width: 400px!important;
  @media (max-width:440px){
    width: calc(100% - 38px)!important;
  }
}
.pac-logo:after{
  opacity: .7;
  zoom: .7;
}


.waiting {
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}


.width-full {
  width: 100%;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  margin-right: -50%;
}

.flex-row{
  display: flex;
  flex-flow: row;
  align-items:flex-start; /*valign*/
  justify-content: space-between;
}

.width-25 { flex:0 1 calc(25% - 5px)!important;width:25%!important;}
.width-33 { flex:0 1 calc(33% - 5px)!important;width:33%!important;}
.width-50 { flex:0 1 calc(50% - 5px)!important;width:50%!important;}
.width-75 { flex:0 1 calc(75% - 5px)!important;width:75%!important;}
.width-100{ flex:0 1 calc(100% - 5px)!important;width: 100%!important;}

.align-center{
  flex: 0 1 auto;
  margin: auto;
}

.align-right{
  flex: 0 1 auto;
  margin-left: auto;
  margin-right:0;
}

.float-right{
  float: right;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flyer-color{
  background: #ffe83d!important;
  border-color: #ffe83d!important;
  color: #333!important;
}

.markdown {
  blockquote {
    background: var(--mdc-theme-appbar);
    margin: 17px 0;
    padding: 10px;
    color: #333;
    border-radius: 8px;
  }
  ol,ul{
    padding:15px;
    li{
      margin: 5px 0;
    }
  }
}

.ribbon{
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  font-size: 13px;
  text-decoration: none;
  text-indent: -999999px;
  &.primary{
    &::before{
      background: var(--mdc-theme-primary);
    }
  }
  &.secondary{
    &::before{
      background: var(--mdc-theme-secondary);
    }
  }

}
.ribbon.left-top,
.ribbon.left-bottom {
  right: auto;
  left: 0;
}

.ribbon:before, .ribbon:after {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;

  top: 2.23em;
  right: -4.23em;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon:before {
  content: "";

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: .38em 0;

  /* Set the base colour */
  background-color: #a00;


  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);

  pointer-events: auto;
}

.ribbon:after {
  /* Set the text from the data-ribbon attribute */
  content: attr(title);

  /* Set the text properties */
  color: #fff;
  font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;

  /* Set the layout properties */
  padding: .15em 0;
  margin: .15em 0;

  /* Add "stitching" effect */
  border-width: .08em 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.dashed{
  border-color: #dddddd;
  border-style: dashed;
  margin: 10px 0;
}

.breaker {
  &.ridge{
    border-bottom: 1px ridge #aaa;
    border-style: ridge;
  }
  &:before{
    content: "• • •";
    width: 100%;
    text-align: center;
    display: block;
    color: #999;
    letter-spacing: 4px;
    position: relative;
    top: -16px;
    font-size: 26px;
  }
  height: 1px;
  margin: 4rem auto;
  width: 100%;
  &.large{
    margin: 6rem auto;
  }
  &.small{
    margin: 2rem auto;
  }
  &.big{
    margin: 1rem auto;
    &:before{
      top: -22px;
      font-size: 40px;
    }

  }
}


//
// colors

.highlight {
  background-color: yellow;
}
.evidence {
  background-image: linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15));
  color: #666;
}


.secondary-bg     {
  background:      var(--mdc-theme-secondary)!important;
}
.primary-bg       {
  background:      var(--mdc-theme-primary)!important;
}

.primary-on-text  {
  color:      var(--mdc-theme-primary)!important;
}

.secondary-on-text  {
  color:      var(--mdc-theme-secondary)!important;
}

.secondary-text   {
  color:           var(--mdc-theme-secondary)!important;
}
.primary-text     {
  color:           var(--mdc-theme-primary)!important;
}
.text-primary-dark{
  color:           var(--mdc-theme-primary-dark)!important;
}
.text-primary     {
  color:           var(--mdc-theme-text-primary-on-background)!important;
}

.text-secondary   {
  color:           var(--mdc-theme-text-secondary-on-background)!important;
  outline: 0;
}
.text-primary     {
  color:           var(--mdc-theme-primary-text)!important;
}
.text-secondary   {
  color:           var(--mdc-theme-secondary-text)!important;
  outline: 0;
}
.green            {color:         #43b02a!important;}
.lime             {color:         lime!important;}
.red              {color:         red!important;}
.gray             {color:         #ccc!important;}
.gray-1           {color:         #999!important;}
.black            {color:         black!important;}
.pink             {color:         #da1c5c!important;}
.light            {color:           #aaa!important;}
.white            {color:         white!important;}
.gold            {color:         gold!important;}
.yellow          {color:         var(--mdc-theme-karibou-yellow)!important;}


//
// Colors themes

.theme-bisque{
  background: bisque!important;
  color: black!important;
}

.theme-crimson{
  background: crimson!important;
  color: white!important;
}

.theme-gray{
  background: slategrey!important;
  color: white!important;
}

.theme-lime{
  background: lawngreen!important;
  color: black!important;
}

.theme-red{
  background: red!important;
  color: black!important;
}

.theme-violet{
  background: violet!important;
  color: black!important;
}

.theme-violetblue{
  background: blueviolet!important;
  color: white!important;
}
//
// text
.text-right       {text-align: right;}
.text-center      {text-align: center;}
.text-capitalize  {text-transform:  capitalize;}
.text-uppercase   {text-transform: uppercase;}
.text-strike      {text-decoration: line-through!important;}
.bold             {font-weight:     bold!important; }
.small            {font-size: small!important;}
.smaller          {font-size: smaller!important;}
.text-shadow-1    {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.link{
  cursor: pointer;
  color: #007aff;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px dotted #007aff;
  text-decoration:none;
  &.gray{
    border-color:#ddd !important;
  }
}

.help-block{
  color: var(--mdc-theme-text-secondary-on-background);

  a{
    color: #55a;
  }
}

//
// icons
.icon-link-solid,
.icon-facebook-solid,
.icon-phone-solid,
.icon-alcool, .fa-alcool,
.icon-bread, .fa-bread,
.icon-digestive, .fa-digestive,
.icon-fish, .fa-fish,
.icon-champagne, .fa-champagne,
.icon-caterer, .fa-caterer,
.icon-cheese, .fa-cheese,
.icon-drink, .fa-drink,
.icon-flour, .fa-flour,
.icon-finefood, .fa-finefood,
.icon-honey, .fa-honey,
.icon-health, .fa-health,
.icon-meat, .fa-meat,
.icon-sugar, .fa-sugar,
.icon-shop, .fa-shop,
.icon-oil, .fa-oil,
.icon-pasta, .fa-pasta,
.icon-vegetable, .fa-vegetable,
.icon-wine, .fa-wine,
.icon-wine-lg, .fa-wine-lg,
.icon-beer, .fa-beer,
.icon-wine, .fa-wine-white,
.icon-gift, .fa-gift
{
  width:24px;
  height: 24px;
  display: inline-block;
  margin-right: 3px;
  background-size:contain;
  background-position: 50%;
  background-repeat: no-repeat;
  transform:translateY(5px);
}
.icon-large{
  width:32px;
  height: 32px;
  font-size: 150%;
}
.icon-alcool, .fa-alcool{
  background-image: url(/assets/img/icon-alcool.svg);
}


.icon-link-solid, .fa-link-solid{
  background-image: url(/assets/img/external-link-alt-solid.svg);
  opacity: .5;
  width: 19px;
}

.icon-facebook-solid, .fa-facebook-solid{
  background-image: url(/assets/img/icon-facebook-square-brands.svg);
  opacity: .5;
  width: 19px;
}

.icon-phone-solid, .fa-phone-solid{
  background-image: url(/assets/img/icon-phone-square-solid.svg);
  opacity: .5;
  width: 19px;
}


.icon-bread, .fa-bread{
  background-image: url(/assets/img/icon-bread.svg)
}

.icon-beer, .fa-beer{
  background-image: url(/assets/img/icon-beer.svg)
}

.icon-caterer, .fa-caterer{
  background-image: url(/assets/img/icon-caterer.svg);
}

.icon-cheese, .fa-cheese{
  background-image: url(/assets/img/icon-cheese.svg)
}

.icon-drink, .fa-drink{
  background-image: url(/assets/img/icon-drink.svg)
}

.icon-flour, .fa-flour{
  background-image: url(/assets/img/icon-flour.svg)
}

.icon-finefood, .fa-finefood{
  background-image: url(/assets/img/icon-finefood.svg)
}

.icon-honey, .fa-honey{
  background-image: url(/assets/img/icon-honey.svg)
}

.icon-health, .fa-health{
  background-image: url(/assets/img/icon-health.svg)
}

.icon-meat, .fa-meat{
  background-image: url(/assets/img/icon-meat.svg)
}

.icon-oil, .fa-oil{
  background-image: url(/assets/img/icon-oil.svg)
}

.icon-pasta, .fa-pasta{
  background-image: url(/assets/img/icon-pasta.svg)
}

.icon-sugar, .fa-sugar{
  background-image: url(/assets/img/icon-sugar.svg)
}

.icon-shop, .fa-shop{
  background-image: url(/assets/img/icon-shop.svg)
}

.icon-vegetable, .fa-vegetable{
  background-image: url(/assets/img/icon-vegetable.svg)
}


.icon-wine, .fa-wine{
  background-image: url(/assets/img/icon-wine.svg)
}

.icon-wine-lg, .fa-wine-lg{
  background-image: url(/assets/img/icon-wine-lg.svg)
}

.icon-wine, .fa-wine-white{
  background-image: url(/assets/img/icon-wine.svg)
}

.icon-gift, .fa-gift{
  background-image: url(/assets/img/icon-gift-solid.svg)
}

.icon-digestive, .fa-digestive {
  background-image: url(/assets/img/icon-digestive.svg)
}
.icon-fish, .fa-fish {
  background-image: url(/assets/img/icon-fish.svg)
}
.icon-champagne, .fa-champagne {
  background-image: url(/assets/img/icon-champagne.svg)
}



.block-warning{
  font-weight: 200;
  color: #f00;
  text-shadow: 1px 1px 0 white;
  width: calc(100% - 20px);

  border-bottom: 1px solid pink;

  font-size: 14px;
  padding: 9px;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: -5px;
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
}


.block-info{
  width: calc(100% - 20px);
  font-size: 14px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  background: #fbfbfb;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}


//
// progress
progress.kng-progress[value] {
	/* Get rid of the default appearance */
	appearance: none;

	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;

	/* Add dimensions */
	width: calc(100% - 10px);
  height: 6px;

  background-color: whitesmoke;
  border-radius: 0px;
  -box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;


	position: relative;
	margin: 0px 5px 10px;
}


progress.kng-progress[value]::-webkit-progress-bar {
	background-color: whitesmoke;
	border-radius: 3px;
	-box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}

progress.kng-progress[value]::-webkit-progress-value {
	position: relative;

	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
}


progress.kng-progress[value]::-webkit-progress-value:after {
	/* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
	content: '';
	position: absolute;

	width:5px; height:1px;
	top:7px; right:7px;

	background-color: white;
	border-radius: 100%;
}
progress.kng-progress::-webkit-progress-value{
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient( 90deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, var(--mdc-theme-primary), var(--mdc-theme-secondary));
}

progress.kng-progress::-moz-progress-bar{
	background-image:
	-moz-linear-gradient( 90deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient(left, var(--mdc-theme-primary), var(--mdc-theme-secondary));

}


//
// animation

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  50%  { -webkit-transform:  rotate(0deg); }
  90%  { -webkit-transform:  rotate(3deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}

@-webkit-keyframes wobble-vertical  {
  0%  { -webkit-transform:  translateY(10px); }
  90%  { -webkit-transform:  translateY(4px); }
  100%  { -webkit-transform:  translateY(10px); }
}


.wobble-vertical {
  animation: wobble-vertical 5s infinite;
}

.wobble {
  animation: wobble 7s infinite;
}
.rotate {
  animation: roll 3s infinite;
  transform: rotate(30deg);
}
