@import "colors.scss";


body.shop .mdc-content{
  width: 100vw!important;
  max-width: 100vw!important;
  padding: unset!important;
  margin: unset!important;
  background-color: black!important;
}

@media screen and (min-width:1024px){
  body.shops .navigation,
  body.shop .navigation{
    display: none;
  }  


}
