  //
  // cart content
.mdc-list{
  display: block;
}


.title-separator{
  padding: 0 14px;
}

kng-subscription-option{
  max-width: 360px;
}

.hub-item{
  height: 90px;
  border-bottom: 2px solid #aaa!important;
  &.selected{
    border: none!important;
    .title{
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: auto;
      color: black;
      font-size: 1.5rem;
    }
  }
  .text{
    width: 100%;
    margin-top: 14px;
    margin-bottom: auto;
    .title-subtitle{
      .checkout-disabled-title{
        color: red;
        font-weight: 200;
      }
      @media (max-width:431px) {
        max-width: 190px;
        font-size: 14px;
      }
    }

    button{
      line-height: 14px;
      width: auto;
      height: 20px;
      border-radius: 8px;
      padding: 0 10px;
      margin-left: 0px;
      border:1px solid #eee;

    }
  }
}


.list-item{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 90px;
  padding: 0 16px;
  overflow: hidden;

  &.border-top{
    border-top: 1px solid #eee;
  }

  &.border-bottom{
    border-bottom: 1px solid #eee;
  }

  &.one-line{
    height: 70px;
  }
  &.auto-line {
    height: auto;
    padding-top:8px;
  }

  &.error-line {
    align-items:flex-start;
    margin-bottom: 16px;

  }

  &.action-line {
    height: auto;
    padding: 0px 14px 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    flex-flow:wrap;
  }


  &.slim-item{
    margin-top: -14px;
  }

  &.selected{
    border:1px solid var(--mdc-theme-primary, rgba(0, 0, 0, 0.87));
  }

  &.shared {
    height: 80px;
    background: var(--mdc-theme-appbar-light);
    border-bottom: 1px solid #eee;
  }

  color: #333;
  button{
    width: 31px;
    height: 34px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 239,.5);

    &.round{
      width: 34px;
      border-radius: 28px;
      padding-top: 2px;
    }

  }

  &.pending-date:not(.display-message){
    display: none!important;
  }


  .block-info{
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    border-radius: 0px;
    background: transparent;
  }




  .cart-frequency{
    margin-left: 10px;
    color: var(--mdc-theme-karibou-pink);
  }

  @media (max-width:431px) {
    padding-left: 5px;
  }

}


.list-item{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 90px;
  padding: 0 14px;
  overflow: hidden;
  &.subscription-item{
    background: #eee;
  }

  &.subscription{
    background: #fff;
    font-weight: 600;
    margin: 15px 0 50px;

  }
  &.separator {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    margin: 0px 0 30px;
    color: #888;
    opacity: .5;
    border-radius: 0 0 14px 14px;
    div{
      text-align: center;
      width: 100%!important;
      font-weight: 400;

    }
  }


  &.auto-height {
    height: auto;
    overflow: visible;
  }

  &.separator.hide-title{
    >div{
      display: none;
    }
    margin: 5px 0;
    height: 30px;
    border-top: none;
  }


  .full-width{
    width: 100%;
  }
  .start{
    margin-left: 0;
    margin-right: auto;
    &button{
      margin-left: -4px;
    }
  }
  .end{
    margin-left: auto;
    margin-right: 0;
    &button{
      margin-right: -4px;
    }
  }

  .graphic{
    margin-left: -7px;
    margin-right: 10px;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    display: flex;
    .icon {
      margin: auto;
      font-size: 26px;
      background-color: var(--mdc-theme-appbar);
      padding: 14px;
      border-radius: 8px;
    }
    >div{
      width: 56px;
      height: 56px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 50%;
      background-color: #ddd;
    }
    >div.round{
      border-radius: 50%;
      border: 3px solid #eee;
    }
  }

  .item{
    overflow: hidden;


    .title{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @media (max-width:431px) {
        font-size: 90%;
      }

    }
    .subtitle{
      color: #999;
      font-size: 13px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      .action-delete{
        color: #aaa;
      }


      .link{
        border-color: #ccc;
      }

      .cart-variant {
        color: red;
        margin-right: 5px;
      }


      .note{
        padding-left: 5px;
        color:var(--mdc-theme-secondary);
      }
      .material-symbols-outlined{
        width: 20px;
        font-size: 18px;
        transform: translateY(5px);
        margin-left: -4px;
        padding-left: 0;
      }

    }

  }

  .message-error{
    width: auto;
    background-color: yellow;
    color: #333;
    position: absolute;
    height: auto;
    display: flex;
    left: 68px;
    align-items: center;
    bottom: 14px;
    padding: 5px;
    margin-right:8px;
    font-size: 13px;
    opacity: .95;
    border-radius: 8px;
    a {
      margin-left: 10px;
    }
  }

  .item-actions{
    display: flex!important;
    justify-content: flex-start;
    color: #333!important;
    font-size: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    @media (max-width:431px) {
      zoom: .85;
    }

    div.label{
      flex: 1;
      position: absolute;
      z-index: 1;
      background: rgba(255, 255, 255, 0.5);
      padding: 12px;
      color: black;
      left: 7px;
      width: 36px;

      cursor: pointer;
      button{
        border-radius: 50%;
      }

    }

    div.info i{
      transform: translateY(5px);
      color: #ffa506;
    }
    div.action{
      flex:1;
      position: absolute;
      z-index: 1;
      &.right { transform:translateX(30px);}
      &.left  { transform:translateX(-30px);}
    }
    div.quantity{
      flex:1;
      border:1px solid #ddd;
      border-radius: 4px;
      padding: 4px 10px;
      height: 24px;
      display: flex;
      align-items: center;
    }

    div.price{
      flex:1;
      margin-left: 2px;
      min-width: 80px;
      text-align: right;
      color: black;
      &.hidden{
        opacity: .1;
      }
    }

  }

  .cart-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -7px;
    min-width: 110px;
  }

  button.action{
    background-color: var(--mdc-theme-secondary);
    border-color: var(--mdc-theme-secondary-text);
    color: var(--mdc-theme-secondary-text);
    border-radius: 39px;
    border-style: solid;
    padding: 4px 20px;
    width: fit-content;
    margin: auto;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  button.continue{
    cursor: pointer;
    border: 1px solid #eee;
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 4px 10px;
    width: auto;
    max-width: 400px;
    margin-right: 0;
    font-size: 17px;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    @media (max-width:431px) {
      margin-right: auto;
      width: 100%;
      margin-top: 10px;
      height: 35px;
      font-size: 15px;
    }
  }
  kng-calendar{
    border-radius: 8px;
  }
  button.order{
    cursor: pointer;
    border: 1px solid var(--mdc-theme-appbar-text);
    border-radius: 8px;
    padding: 4px 10px;
    width: 42%;
    max-width: 400px;
    margin-right: auto;
    font-size: 17px;
    height: 56px;
    font-weight: bold;
    margin-left: 0;
    @media (max-width:431px) {
      width: 100%;
    }

  }
  button[disabled]{
    cursor: pointer;
    background: #eee!important;
    color: #aaa!important;
  }

}

