kng-ui-bottom-actions{
  transform: translateY(0);
  transition: all 200ms;
  z-index: 2;

  position: fixed;
  -top:calc( 100% - 70px );
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;

  &.show{
    top: 0;
    background: rgba(255, 255, 255, 1);
    bottom: 0;
    height: 100vh;  
    transform: none;  
  }

  &.exited:not(.show){
    transform: translateY(55px);    
  }
  .results{
    display:flex;
    flex-flow: column;  
    align-items: flex-start;
    justify-content: flex-end;

    overflow-y: auto;
    max-height: calc( 100% - 70px);
    height: 100%;
    padding-top: 10px;
    background-color: white;
    // &::-webkit-scrollbar { 
    //   display: none; 
    // }
      

    @media screen and (min-width:768px){
      // max-width: 740px;
      // width: 740px;
      margin-right: auto;
      margin-left: auto;
      width: 100vw;
      padding-top: 20px;

    }

    //
    // search content
    mdc-list{
      background: white;
      width: 100%;
      height: 100%;
      margin: auto;

      mdc-list-item{
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;

        background-color: #fff;    
        &.border-top{
          border-top: 1px solid #aaa;
        }
        button{
          width: 31px;
          height: 34px;  
        }
        
  
        mdc-list-item-text{
          div.title{
            display: block;        
          }
          max-width: 100%;
        }
      
        mdc-list-item-graphic{
          width: 56px!important;
          .avatar{
            width: 56px;
            height: 56px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: 50%;    
          }
        }
      
      }    
  
    }
    ul{
      &.col{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 1px;
        align-content: space-evenly;

        @media (max-width:426px) {
          align-content: space-between;
          li{
            font-size: 14px;
            i.fa{
              width: 50px!important;
              height: 50px!important;
  
            }
          }
        }
        li{
          text-align: center;
          max-width: calc( 31% - 20px );
          flex:1 1 30%;
          padding-left: 0px;
          i.fa{
            width: 70px;
            height: 70px;
            display: block;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
          }          
        }        
      }
      list-style: none;
      padding-left: 15px;
      height: 100%;
      width: 95%;
      max-width: 740px;
      margin: auto;

      li{
        padding: 8px;
        font-size: 18px;
        padding-left: 5px;
        cursor: pointer;
        font-weight: 500;
        color: #555;
        letter-spacing: -0.5px;        
        mdc-icon{
          transform: translateY(6px);
        }
      }      
    }  
    .info{
      color: #aaa;
      padding: 25px;        
      margin: auto;
    }
  }
  .bottom-actions{
    display:flex;
    flex-flow: column;  
    align-items: flex-end;

    position: fixed;
    bottom:0;
    width: 100vw;
    z-index: 1;

    .fabs{
      display: flex;
      flex-flow: row;
      margin: 0;
      width: 100vw;      
      justify-content:flex-end;
      z-index: 1;
    }

    .mdc-fab{
      margin-right:30px;
      // margin-left: auto;
      flex:0 1 auto;
      box-shadow: 0px 0px 10px 1px rgba(109, 109, 109, 0.26);
      border: 1px solid rgba(185, 185, 185, 0.8);

      @media (max-width: 426px) {
        margin-right:10px;
        .mdc-fab__label{
          display: none;
        }
        .mdc-fab__icon {
          margin-left: -1px!important;
          margin-right: -1px!important;
      }        
      }

      @media (min-width: 1025px) {
        margin-right:calc( ( 100vw - 780px ) / 2 - 90px );
      }
    }

    .mdc-fab.cart{
      flex:0 1 auto;
      margin-left:10px;
      margin-right: auto;
      // @media (max-width: 426px) {
      //   margin-left:10px;
      // }
      @media (min-width: 768px) {
        display: none;
      }

      @media (min-width: 1025px) {
        margin-left:calc( ( 100vw - 780px ) / 2 );
      }
    }

    .search{
      margin: 10px;
      height: 45px;
      max-width: 450px;
      margin-right:30px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      z-index: 1;
      i.left{
        position: absolute;
        margin-left: 7px;
        z-index: 1;
        margin-top: 11px;  
        color: var(--mdc-theme-primary)!important;      
      }
      i.right{
        z-index: 1;
        margin-top: 11px;  
        color: var(--mdc-theme-primary)!important;      
        margin-left:-35px;
        @media (max-width: 426px) {
          right: 25px;
        }
  
      }
      .stats{
        font-size: 90%;
        position: absolute;
        margin-top: 15px;
        font-weight: 900;
        color: #999;     
        transition: all .3s;   
      }
      input{
        padding-left: 30px;
        outline: 0;
        border: 1px solid rgba(185, 185, 185, 0.8);
        border-radius: 25px;
        background: #fff;
        width:500px;
        max-width: calc( 100vw - 55px);
        box-shadow: 0px 0px 10px 1px rgba(109, 109, 109, 0.26);        
        font-size: 15px;
      }
      @media (max-width: 426px) {
        -margin-right:10px;
      }
    }
  }
}
