<div class="bottom-actions" >  
  <div class="fabs">
    <button mdc-fab  extended label="MENU" [hidden]="show"
      (click)="doToggle()">
      <mdc-icon >menu</mdc-icon>
    </button>  

  </div>  
  <div class="fabs left">
    <button mdc-fab   [hidden]="show" class="bookmark"
      (click)="doPreferred()">
      <mdc-icon >favorite</mdc-icon>
    </button>  
  </div>


  <div class="search">
    <i class="left material-icons">search</i>
    <span #stats class="stats"></span>
    <input type="text" 
          (input)="doInput($event.target.value)"
          (change)="doInput()" 
          (focus)="onFocus()" 
          [placeholder]="i18n[locale].search_placeholder" #search>    
    <i class="right material-icons" [hidden]="!hasSearch()" (click)="doClear()">close</i>
  </div>  

</div>  

<div class="results" [hidden]="!show">
  <button  (click)="doToggle()" class="close">
    <mdc-icon >{{show?'close':'menu'}}</mdc-icon>
  </button>  

  <!-- CATS -->
  <ul class="col" [hidden]="products.length">
    <!-- TODO rebuild list of categories based on the menu group -->
    <!-- <li class="menu-group" *ngFor="let menu of primary;let idx=index;" (click)="onPrimaryMenu(menu.url)">
        <div [innerHTML]="menu.name[locale]"></div>
    </li> -->

    <li *ngFor="let category of categories" 
        [hidden]="!category.active||products.length" 
        (click)="doGoCategory(category.slug)">
      <i [class]="category.image" class="icon"></i>
      <!-- <img src="assets/img/icon-wine.svg" width="32px" height="32px"/> -->
      <!-- <mdc-icon>radio_button_unchecked</mdc-icon> -->
      <div>&nbsp;{{category.name}}</div>
    </li>                

    <!-- LINKS -->
    <kng-product-link [config]="config"></kng-product-link>

  </ul>

  <!-- PRODUCTS -->
  <mdc-list [twoLine]="true" avatar="true" [interactive]="false" [hidden]="!products.length">
      <mdc-list-item *ngFor="let product of products">
        <mdc-list-item-graphic [routerLink]="['/store',store,'home','products',product.sku]">
          <div class="avatar" [ngStyle]="{'background-image': 'url(' + product.photo.url + '/-/resize/128x/)'}">
    
          </div>
        </mdc-list-item-graphic>
        <mdc-list-item-text >
            <span class="title" [routerLink]="['/store',store,'home','products',product.sku]">{{product.title}}</span>
            <mdc-list-item-secondary>
              {{product.pricing.part}} - {{product.pricing.price|currency:'CHF'}}
              <a href="javascript:;" class="gray" i18n (click)="addToCard(product)" [hidden]="product.variants.length">
                  <i class="material-icons" style="transform: translateY(5px);font-size:20px">add</i>ajouter</a>
            </mdc-list-item-secondary>
        </mdc-list-item-text>
  
      </mdc-list-item>
      <mdc-list-item>
        <mdc-list-item-text >.</mdc-list-item-text>
      </mdc-list-item>
    </mdc-list>

  <!-- <div [hidden]="!findGetNull" class="info">
    <h4>Pas de résultat avec votre recherche</h4>
  </div> -->

</div>

