
<div class="results" [hidden]="!show">
  <ul>
    <li *ngFor="let category of categories" 
        [hidden]="!category.active||products.length" 
        (click)="doGoCategory(category.slug)">
      {{category.name}}
    </li>                
    <li>&nbsp;</li>
  </ul>

  <mdc-list [lines]="2" avatar="true" [interactive]="false" [hidden]="!products.length">
      <mdc-list-item *ngFor="let product of products">
        <mdc-list-item-graphic [routerLink]="['/store',store,'home','products',product.sku]">
          <div class="avatar" [ngStyle]="{'background-image': 'url(' + product.photo.url + '/-/resize/128x/)'}">
    
          </div>
        </mdc-list-item-graphic>
        <mdc-list-item-text >
            <span class="title">{{product.title}}</span>
            <mdc-list-item-secondary>
              {{product.pricing.part}} - {{product.pricing.price|currency:'CHF'}}
              <a href="javascript:;" class="gray" i18n (click)="addToCard(product)">
                  <i class="material-icons" style="transform: translateY(5px);font-size:20px">add</i>ajouter</a>
            </mdc-list-item-secondary>
        </mdc-list-item-text>
  
      </mdc-list-item>
    </mdc-list>

  <div [hidden]="!findGetNull" class="info">
    <h4>Pas de résultat avec votre recherche</h4>
  </div>

</div>

<div class="bottom-actions" >
    <div class="fabs">
      
      <button mdc-fab    
        (click)="doToggle()"
        class='-text-primary'>
        <mdc-icon>drag_indicator</mdc-icon>
      </button>  

    </div>
    

    <div class="search">
      <i class="left material-icons">search</i>
      <input type="text" 
            (input)="doInput($event.target.value)"
            (change)="doInput()" 
            (focus)="onFocus()" 
            placeholder="Rechercher" #search>    
      <i class="right material-icons" [hidden]="!hasSearch()" (click)="doClear()">close</i>
    </div>  
    <!-- <div class="fab-list" >
      <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
      <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
      <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
      <button mdc-fab >  <mdc-icon>drag_indicator</mdc-icon></button>
    </div> -->

  </div>  
