<!--
    http://localhost:4200/store/artamis/validate/ac97700878eb995cbad18f45c6c6f7543770f208/test1@karibou.ch
-->
<div *ngIf="!user.isReady()" class="mail-checker">
    <h3 i18n>{{i18n[locale].title_h3}}</h3>
    <!-- FIXME -->
    <progress class="mdc-progress" value="30"></progress>
    <h2 i18n>{{i18n[locale].title_h2}}</h2>
    <p class="block-info" i18n>
        {{i18n[locale].action_1}} {{user.getEmailStatus()|date}}. 
        <br/><a href="javascript:;" (click)="sendConfirmationMail()">{{i18n[locale].action_2}}</a>
        
    </p>
</div>  

