<!-- ORDER OPEN -->
<div class="processing" [class.boxed]="boxed" *ngIf="getOrderState()=='authorized'" >
  <h3 i18n>{{i18n[locale].title_order_open}} {{order.oid}}</h3>

  <p class="help-block">
      {{i18n[locale].title_order_prepare}}&nbsp;
      <b>{{order.shipping.when|date:'EEE d MMM y':'':locale}}</b><br/>
      {{i18n[locale].title_order_shipping}} <b class="text-capitalize">{{order.shipping.name}}</b>
      &nbsp;<span [hidden]="!childOrderLength" class="ita">//{{childOrderLength}} {{i18n[locale].title_order_grouped}} </span>
  </p>
  <progress max="100" [value]="order.getProgress()/100+10" class="kng-progress"></progress>    
</div>

<!--- ORDER IS CANCEL -->
<div class="feedback" [class.boxed]="boxed" *ngIf="getOrderState()=='voided'">
  <div class="details" >
    <span class="bold">{{hubName}} </span>
    <span class="text-capitalize">{{order.shipping.when|date:'EEE d MMM y'}}</span>,
      {{i18n[locale].title_order_cancel}}
      <span class="text-strike">{{order.getTotalPrice()|currency:'CHF'}}</span>
  </div>                                      
</div>

<!--- ORDER IS EVALUATED -->
<!--
<div class="feedback " [class.boxed]="boxed" *ngIf="getOrderState()=='evaluated'">
  <div class="details" >
    <span class="bold">{{hubName}} </span>
    <span class="text-capitalize">{{order.shipping.when|date:'EEE d MMM y':'':locale}}</span>,
      {{order.items.length}} articles
      <span>{{order.getTotalPrice()|currency:'CHF'}}</span>
  </div>                                      
  <div class="form">
    <span>{{i18n[locale].title_evaluation}}</span>&nbsp;
    <span class="stars material-symbols-outlined" [class.scored]="score>=0">star_rate</span> 
    <span class="stars material-symbols-outlined" [class.scored]="score>=1">star_rate</span> 
    <span class="stars material-symbols-outlined" [class.scored]="score>=2">star_rate</span>
    <span class="stars material-symbols-outlined" [class.scored]="score>=3">star_rate</span>
  </div>
</div>
-->

<!--- ORDER IS PAID -->
<!--
<div class="feedback " [class.boxed]="boxed" *ngIf="getOrderState()=='paid'">
  <h3>{{label.home_feedback_title}}</h3>
  <div class="details" >
      <div class="text-capitalize">{{order.shipping.when|date:'EEE d MMM'}}</div>
      <div><b>{{order.items.length}}</b> articles </div>
      <div>{{order.getTotalPrice()|currency:'CHF'}}</div>
      <button hidden class="action right">les article</button>
  </div>                   
                   
  <div class="form">
    <span>{{i18n[locale].title_evaluation_quick}}</span>&nbsp;
    <span class="stars material-symbols-outlined" (click)="openIssue(0)" [class.scored]="score>=0">star_rate</span> 
    <span class="stars material-symbols-outlined" (click)="openIssue(1)" [class.scored]="score>=1">star_rate</span> 
    <span class="stars material-symbols-outlined" (click)="openIssue(2)" [class.scored]="score>=2">star_rate</span>
    <span class="stars material-symbols-outlined" (click)="openIssue(3)" [class.scored]="score>=3">star_rate</span>    
  </div>
</div>
-->

<div class="customer">
  <div class="kng-boxed  history" [class.boxed]="boxed" *ngIf="getOrderState()=='paid'">
    <div class="label">{{label.home_feedback_title}} {{order.shipping.when|date:'d MMM'}}, {{order.getTotalPrice()|currency:'CHF'}}</div>
    <div class="content">
      <p>
        <span [innerHtml]="i18n[locale].title_issue_subtitle"></span>
      </p>
      <div class="bottom">
        <button (click)="openIssue()" class="issue" >{{i18n[locale].title_issue_question}}</button>    
      </div>
    </div>
  </div>

  <div class="kng-boxed  wallet " [class.boxed]="boxed">
    <div class="label">{{llabel.title_wallet}} </div>
    <div class="cash">{{balance}} CHF</div>
    <div class="gift">
      <input type="text" [placeholder]="llabel.title_code" [(ngModel)]="applyCode">
      <button (click)="onRedeem()" [disabled]="!applyCode"><span class="stars material-symbols-outlined">done</span></button>
    </div>
  </div>

  <div class="kng-boxed  bill" [hidden]="!hasInvoiceTransfer || hasInvoice" [class.boxed]="boxed">
    <div class="label">{{i18n[locale].title_invoice_paid}}</div>
    <div class="content">
      <p>{{qrbillTransfer|| 'Aucune facture en attente'}}</p>
      <div class="bottom"><button class="" routerLink="/store/artamis/home/me/invoices">{{i18n[locale].title_invoice_open}}</button> </div>
    </div>
  </div>

  <div class="kng-boxed  bill" [hidden]="!hasInvoiceMethod" [class.boxed]="boxed">
    <div class="label">{{i18n[locale].title_invoice}}</div>
    <div class="content">
      <p>{{qrbillInvoice|| 'Aucune facture ouverte'}}</p>
      <div class="bottom"><button class="" routerLink="/store/artamis/home/me/invoices">{{i18n[locale].title_invoice_open}}</button> </div>
    </div>
  </div>

  <div class="kng-boxed  favorite" [class.boxed]="boxed">
    <div class="label">{{i18n[locale].title_favorite}}</div>
    <div class="content">
      <p>{{i18n[locale].title_favorite_p}}</p>
      <div class="bottom">
        <button (click)="onFavorites()">OPEN</button>
      </div>
    
    </div>
  </div>

      
</div>

<!-- FEEDBACK POPUP -->
<ng-container *ngIf="askFeedback">
  <div class="blured" ></div>
  <div class="container top">
    <button (click)="onBack()" class="close">
        <span class="size-xlarge  material-symbols-outlined">close</span>
    </button>
    <div class="feedback-container" >


      <h3>{{i18n[locale].title_issue_title}}</h3>

      <div class="stars">

      </div>

      <p [innerHtml]="i18n[locale].title_issue_header"></p>

      <!-- ORDER ITEMS -->
      <ng-container 
        [ngTemplateOutlet]="orderItems"
        [ngTemplateOutletContext]="{ $implicit: order }">
      </ng-container>


      <p>
  
        <label for="feedback">{{i18n[locale].title_issue_hub}}</label>
        <textarea kng-autosize rows="2" [(ngModel)]="feedbackText"> </textarea>                  
  
      </p>
      <!-- ORDER FEEDBACK -->
      <div class="form">
        <!-- Annulation {{order.getFulfilledFailure()}} - 
        Problème {{order.getFulfilledIssue().length}} -->
        <span class="">{{i18n[locale].title_evaluation_quick}}</span>&nbsp;
        <span class="stars material-symbols-outlined" (click)="evaluate(0)" [class.scored]="score>=0">star_rate</span> 
        <span class="stars material-symbols-outlined" (click)="evaluate(1)" [class.scored]="score>=1">star_rate</span> 
        <span class="stars material-symbols-outlined" (click)="evaluate(2)" [class.scored]="score>=2">star_rate</span>
        <span class="stars material-symbols-outlined" (click)="evaluate(3)" [class.scored]="score>=3">star_rate</span>    
      </div>

      <!-- FEEDBACK ACTIONS -->
      <button  (click)="onEvaluate()" [disabled]="">{{i18n[locale].title_issue_send}}</button>

    </div>
  </div>    
</ng-container>

<!-- ITEMS POPUP -->
<ng-container *ngIf="selectedOrder">

  <div class="blured" ></div>
  <div class="container top">
    <button (click)="onBack()" class="close">
        <span class="size-xlarge  material-symbols-outlined">close</span>
    </button>
    <div class="feedback-container" >
      <h2>Commande</h2>
      <p> commande </p>

      <!-- ORDER ITEMS -->
      <ng-container 
        [ngTemplateOutlet]="orderItems"
        [ngTemplateOutletContext]="{ $implicit: selectedOrder }">
      </ng-container>


      <div class="breaker small"></div>

      <!-- ORDER FEEDBACK -->

      <!-- FEEDBACK ACTIONS -->
      <button  (click)="onEvaluate()" [disabled]="">pouet</button>

    </div>
  </div>    

</ng-container>

<ng-template #orderItems let-order>
  <ul>
    <li *ngFor="let item of order.items"
        [class.selected]="selected[item.sku]" >
        <div class="header"(click)="selected[item.sku]=!selected[item.sku]">
          <input type="checkbox" [checked]="selected[item.sku]" [(ngModel)]="selected[item.sku]">
          {{item.quantity}}x {{item.title}} ({{item.part}})  
        </div>
        <div class="content" [hidden]="!selected[item.sku]">
          <label for="story">{{i18n[locale].title_issue_item}}</label>
          <textarea id="story" class=""  rows="2" [(ngModel)]="item.note" kng-autosize>
          </textarea>
        </div>
    </li>
  </ul>
  <ul *ngFor="let complement of childOrder[order.oid]">
    <li class="bold">En complément</li>
    <li *ngFor="let item of complement.items"
        [class.selected]="selected[item.sku]">

        <div class="header"(click)="selected[item.sku]=!selected[item.sku]">
          <input type="checkbox" [checked]="selected[item.sku]" [(ngModel)]="selected[item.sku]">
          {{item.quantity}}x {{item.title}} ({{item.part}})  
        </div>
        <div class="content" [hidden]="!selected[item.sku]">
          <label for="story">{{i18n[locale].title_issue_item}}</label>
          <textarea id="story" class=""  rows="2" [(ngModel)]="item.note" kng-autosize>
          </textarea>
        </div>
    </li>
  </ul>
  <ul hidden>
    <li class="add-to-cart">                
      <a href="javascript:;" class="black smaller "                    
      (click)="onAddAllToCart()" i18n>
      <i class="material-symbols-outlined " style="transform: translateY(5px);font-size:16px;">add_shopping_cart</i>{{i18n[locale].title_add_all_to_cart}}</a>             
    </li>

  </ul>

</ng-template>