
div.mail-checker{
  display: flex;
  flex-direction: column;
  padding: 10px;  
  border-bottom: 4px solid #ddd;
  border-top: 4px solid #ddd;
    
  h1,h2{
    font-weight: 400!important;
  }
  h3,h4{
    font-weight: 300!important;
  }
  
  .block-info{
    color: #aaa;
    text-shadow: 1px 1px 0 white;
    margin-top: -15px;    
  }
    
}
