<!-- ngStyle="{'background-image': 'url(' + document?.photo.header + ')'}" -->
<div class="page-saving" [hidden]="isReady">
  <h1>Saving</h1>
</div>
<div class="page-container page-edit ">
  <button [routerLink]="['../']" class="close">
      <mdc-icon class="size-large">close</mdc-icon>
  </button>

  <div class="container ">


      <h3 class="byline" i18n>
        Publié le <time>{{document?.created| date: 'mediumDate'}}</time> par <span class="author">{{document?.signature}} </span>        
      </h3>


      <form [formGroup]="edit.form" (submit)="onSave()">
        <!-- TOP ACTIONS -->
        <div class="check">
          <mdc-form-field>
              <mdc-switch [ngModel]="document.available" formControlName="available"></mdc-switch>
              <label i18n>Actif</label>
          </mdc-form-field>
          <mdc-form-field>
              <mdc-switch [ngModel]="document.published" formControlName="published"></mdc-switch>
              <label i18n>Publié</label>
          </mdc-form-field>        
          <mdc-select placeholder="Type" floatLabel="false" [ngModel]="document.type" formControlName="type"   >
            <option [value]="null"></option>
            <option *ngFor="let cat of getCategories()" [value]="cat">{{cat}}</option>
          </mdc-select>

          <button mdc-button (click)="onShow()" i18n>Apperçu</button>    
        </div>
        <!-- TOP SLUGS ACTION -->
        <mdc-list dense="true" interactive="false" border="true">
          <mdc-list-item *ngFor="let slug of document.slug;let idx=index">
            /content/{{slug}}
              <button mdc-button mdc-list-item-meta (click)="document.slug.splice(idx,1)" [disabled]="document.slug.length<2">clear</button>
          </mdc-list-item>
        </mdc-list>

        <!-- TOP IMAGES ACTIONS -->
        <div class="images" [hidden]="!isDocumentReady()">
          <mdc-list dense="true" interactive="false" border="true">
            <mdc-list-item *ngFor="let photo of document.photo.bundle;let idx=index">
              ![votre titre image]({{photo}})            
              <button mdc-button mdc-list-item-meta (click)="document.photo.bundle.splice(idx,1)">clear</button>
            </mdc-list-item>
          </mdc-list>
            
          <ngx-uploadcare-widget
            images-only="true"
            [validator]="ucValidator"
            (on-upload-complete)="onUpload($event)"
            (on-dialog-open)="onDialogOpen($event)"
            [public-key]="config.shared.keys.pubUpcare">
          </ngx-uploadcare-widget>        
        </div>
        <!-- SIGNATURE -->
        <div class="signature">
          <mdc-text-field i18n-label label="Signature"  type="text" [ngModel]="document.signature||user.display()" formControlName="signature">
          </mdc-text-field>                
        </div>

                      
              
              
        <!-- TITLE -->
        <h1>
          <mdc-text-field i18n-label label="Titre"  type="text" [ngModel]="document.title[locale]" formControlName="title">
          </mdc-text-field>                
        </h1>
        <h2>
          <mdc-textarea i18n-label label="En tête" formControlName="header"
                        kng-autosize rows="3" outline="false"
                        [ngModel]="document.header[locale]">
          </mdc-textarea>                  
        </h2>

        <section>
            <mdc-textarea i18n-label label="Que souhaitez vous écrire?" 
                          kng-autosize rows="4" formControlName="body"
                          [ngModel]="document.content[locale]">
            </mdc-textarea>                              
        </section>

      </form>

      <div class="flex-row">
        <button mdc-button class="important "  unelevated="true"  [hidden]="!user.isAdmin()" (click)="doDelete()" >Supprimer cette page</button>
        <button mdc-button class="align-right "  unelevated="true"   (click)="onSave()" >Enregistrer</button>  
      </div>

      


      
  </div>  
  <kng-footer [config]="config"></kng-footer>  
</div>

