<!-- ngStyle="{'background-image': 'url(' + document?.photo.header + ')'}" -->
<div class="page-saving" [hidden]="isReady">
  <h1>Saving</h1>
</div>
<div class="page-container page-edit ">
  <button [routerLink]="['../']" class="close">
      <span class="material-symbols-outlined size-large">close</span>
  </button>

  <div class="container ">


      <h3 class="byline" >
        Publié le <time>{{document?.created| date: 'mediumDate'}}</time> par <span class="author">{{document?.signature}} </span>        
      </h3>


      <form [formGroup]="edit.form" (submit)="onSave()">
        <!-- TOP ACTIONS -->
        <div class="check">
          <div class="form-field">
              <input type="checkbox" [ngModel]="document.available" formControlName="available">
              <label>Actif</label>
          </div>
          <div class="form-field">
              <input type="checkbox" [ngModel]="document.published" formControlName="published">
              <label>Publié</label>
          </div>        
          <select placeholder="Type"  [ngModel]="document.type" formControlName="type" >
            <option [value]="null"></option>
            <option *ngFor="let cat of getCategories()" [value]="cat">{{cat}}</option>
          </select>

          <button class="btn" (click)="onShow()" >Apperçu</button>    
        </div>
        <!-- TOP SLUGS ACTION -->
        <div class="mdc-list dense">
          <div class="mdc-list-item" *ngFor="let slug of document.slug;let idx=index">
            /content/{{slug}}
            <button class="btn meta" (click)="document.slug.splice(idx,1)" [disabled]="document.slug.length<2">clear</button>
          </div>
        </div>

        <!-- TOP IMAGES ACTIONS -->
        <div class="images" [hidden]="!isDocumentReady()">
          <div class="mdc-list dense">
            <div class="mdc-list-item" *ngFor="let photo of document.photo.bundle;let idx=index">
              ![votre titre image]({{photo}})            
              <button class="btn meta" (click)="document.photo.bundle.splice(idx,1)">clear</button>
            </div>
          </div>
            
          <ngx-uploadcare-widget
            [images-only]="true"
            [validator]="ucValidator"
            (on-upload-complete)="onUpload($event)"
            (on-dialog-open)="onDialogOpen($event)"
            [public-key]="config.shared.keys.pubUpcare">
          </ngx-uploadcare-widget>        
        </div>
        <!-- SIGNATURE -->
        <div class="signature">
          <div class="groupfield">
            <label>Signature</label>
            <input type="text" [ngModel]="document.signature||user.display()" formControlName="signature">
          </div>                
        </div>

                      
              
              
        <!-- TITLE -->
        <h1>
          <div class="groupfield">
            <label>Titre</label>
            <input type="text" [ngModel]="document.title[locale]" formControlName="title">
          </div>                
        </h1>
        <div class="groupfield">
          <label>En tête</label>
          <textarea kng-autosize rows="3" formControlName="header" [ngModel]="document.header[locale]"></textarea>
        </div>                    
        <br />   
        <div class="groupfield">
          <label>Que souhaitez vous écrire?</label>
          <textarea kng-autosize rows="4" formControlName="body" [ngModel]="document.content[locale]"></textarea>
        </div>                              
       
      </form>

      <div class="flex-row">
        <button class="btn important"  [hidden]="!user.isAdmin()" (click)="doDelete()" >Supprimer cette page</button>
        <button class="btn align-right"  (click)="onSave()" >Enregistrer</button>  
      </div>

      


      
  </div>  
  <kng-footer [config]="config"></kng-footer>  
</div>
