/**
 * PRESENTATION
 */

.markdown-page{
  font-family: Helvetica,Arial, sans-serif;
  margin: 30px;
  background: var(--mdc-theme-background-container);
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width:431px) {
    width: 100%;
    margin-left: 0px;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;    
  }

  
  strong, b {
    font-weight: 600;
  }  

  h1,h2,h3,h4,h5{
    margin-top: 25px;
    margin-bottom: 30px;    
    font-weight: 700;
    padding-bottom:0px;
  }

  h2.header{
    color: #999;
    font-size: 1.5em;
    line-height: 1.3em;
    font-style: italic;
    font-weight: 400;    
  }

  .home-header{
    margin-top: 30px;
    border-bottom: 1px solid #EEE;
    position: relative;
    height: 500px;
    margin-bottom: 50px;    
    background-size: cover;
    background-position: center;    
  }

  a{
    color: #365899;
  }
  .byline{
    color: #aaa;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 5px;
    button{
      float: right;
    }
  }        

  .sidebar-block{
    float: right;
    padding: 10px;
    border-radius: 4px;
    color: var(--mdc-theme-primary-text);
    background-color: var(--mdc-theme-primary);
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (max-width:431px){
      width:calc( 100vw - 90px );
    }
    
    h4{
      margin-top: 5px;
      margin-bottom: 20px;    
      padding-bottom: 10px;
      border-bottom: 1px solid #389422;      
      border-color: var(--mdc-theme-primary-text);
    }

    ol{
      padding-left: 1px;
      -list-style: none;
      margin-bottom: 20px;      
      padding-left: 15px;
      li{
        margin: 15px 0;
      }
      a{
        color: var(--mdc-theme-primary-text);
        text-decoration:none;
      }
    }    
  }
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    blockquote{
      margin:50px 0px;
      font-style: italic;
      color: #888;  
      font-size: 1.3em;
    }
      
    ul{
      padding-left: 15px;
      margin: 0;
    }

    p{
      line-height: 1.4em;
      font-size: 1.3em;
      font-weight: 200;
      font-style: normal;
      letter-spacing: -.003em;      
      margin-top: 10px;
      margin-bottom: 10px;
      img{
        max-width: calc( 100% + 40px );
        margin-bottom: 20px;  
        display: block;
        margin-left: -20px;
        margin-right: -20px;              
        @media screen and (max-width:431px) {
          max-width: calc( 100vw + 1px );          
          margin-left: -5px;
          margin-right: -5px;              
          }
      }      

    }      
  }  
} 

/**
 * EDITION 
 */
.page-saving{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.78);
  width: 100%;
  height: 100vh;
  z-index: 4;
  h1{
    color: white;
    text-align: center;
    padding-top: 25%;
  }

}
.page-edit{
  width: 100%;
  margin: 0;
  font-size: large;
  background: #fbfbfb;
  display: flex;
  flex-direction: column;


  /* EDITION */
  margin-top: 50px;
  padding-top: 8vh !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto!important;
  z-index: 3;
  margin: auto;
  align-items: center;

  a{
    color: #365899;
  }
  

  &.page-container{
    color: #424242;
    background-color: var(--mdc-theme-background-container);
    padding: 0;

    .close{
      background: transparent;
      border: 0;
      color: #777;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 4;    
    }  
  


    form{
      background-color: var(--mdc-theme-background-container);
      display: flex;
      flex-flow: column;
      flex:1 0 100%;
      width: 740px;
      @media (max-width: 430px) {
        width: 100%;
      }
      
      h1 mdc-text-field,
      mdc-textarea{
        width: 100%;
        mdc-floating-label{
          padding-top: 2px!important;
          padding-bottom: 2px!important;
          margin-top: 6px;
        }
      }
      input.mdc-text-field__input{
        border: 0;
      }

      .check{
        padding: 5px;
        margin: 10px 0;
        background: #eee;        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        mdc-form-field{
          flex:1;
        }
        select{
          align-self: flex-end;
          margin-bottom: 8px;        
          padding: 15px;
          border: 1px solid #aaa;
          background: #fff;
          border-radius: 5px;
          font-size: 1em;      
          flex: 2;
        }
    
        button{
          margin-left: auto;
          margin-right: 0;
        }
      }
      mdc-list{
        background: #eee;
        align-self:flex-start;
        width:100%;
      }
      .signature{
        background: #eee;
        align-self:flex-start;
        width:100%;
        margin-bottom: 20px;
        mdc-text-field{
          margin-left: 15px;
        }
      }
      
      .images{
        margin: 10px 0;
        background: #eee;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        ngx-uploadcare-widget{
          align-self: flex-end;
        }
      }
    }

    div.flex-row{
      button{
        margin: 50px 0;
      }
      button.important{
        text-align: center;
        background: red;
      }
    }
  }

  /* new version */


  kng-footer{
    width: 100%;
  }
    
}

