.patreon-dialog{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility:visible;
    z-index: 3;
    background: white;

    @media (min-width: 1025px) {
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.57);
    }

    @media (max-width: 1025px) {
      background: white;
    }



    .patreon-dialog__surface{
      /* see overflow in mdc-style.scss */
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
      background-color: var(--mdc-theme-background, #fff);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1024px;
      min-height: 70vh;
      border-radius: var(--wa-border-radius-s);
      opacity: 1;
      position: relative;
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;


      @media (prefers-color-scheme: dark) {
        background-color: var(--mdc-theme-primary-dark)!important;
        color: var(--mdc-theme-primary-dark-text)!important;
      }

      @media (max-width: 769px) {
        margin-top: 0px;
      }

      @media (min-width: 1640px) {
        max-width: 1024px;
      }

      .material-symbols-outlined.size-large {
        font-size: 25px!important;
        font-weight: 700;
      }

      .patreon{
        display: flex;
        max-width: calc(1024px - 32px);
        width: calc(95% - 32px);
        margin: auto;
        padding: 12px 16px;
        flex-wrap:wrap;
        border-radius: 15px;

        @media (prefers-color-scheme: dark) {
          background-color: var(--mdc-theme-secondary-dark);
          color: var(--mdc-theme-secondary-dark-text);
        }

      }

      .banner{
        font-family: var(--mdc-theme-font);
        position: relative;
        background: #f6f6f6;
        border-radius: 15px;
        color: #333;
        font-weight: normal;
        padding: 12px 16px;
        max-width: calc(740px - 32px);
        width: calc(95% - 32px);
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (prefers-color-scheme: dark) {
          background-color: var(--mdc-theme-secondary-dark);
          color: var(--mdc-theme-secondary-dark-text);
        }

        @media (max-width:427px){
          max-width: calc( 100% - 32px);
        }
        h1{
          font-size: 28px;
          line-height: 32px;
          font-weight: bold;
          margin-top: 10px;
          text-transform: none;
        }
        h2{
          font-size: 17px;
          line-height: 20px;
          font-weight: 400;
          margin-top: 0px;
        }
        h1,h2,h3,h4,p{
          text-align: left;
          text-transform: none;
        }
      }


      button.close{
        cursor: pointer;
        background: transparent;
        border: 0;
        color: #111;
        position: fixed;
        top: 60px;
        left: calc(( 100vw - 860px ) / 2 );
        z-index: 4;
        @media (prefers-color-scheme: dark) {
          background-color: var(--mdc-theme-secondary-dark);
          color: var(--mdc-theme-secondary-dark-text);
        }

        @media (min-width: 1640px) {
          left: calc(( 100vw - 945px ) / 2 );
        }

        @media (max-width: 769px) {
          top: 30px;
          left: -10px;
          padding: 2px 3px;
          background: rgba(255, 255, 255, 0.9);
          color: #222;
          width: 55px;
          height: 55px;
          border-radius: 30px;
        }

      }

    }
}

.kng-informations {
  height: 100%;
  margin-bottom: 40px;
  max-width: calc(100% - 160px);
  margin: auto;
  @media (max-width:599px) {
    max-width: calc(100% - 16px);
  }

  .markdown {
    margin: auto;
    margin-bottom: 40px;
    width: calc(100% - 32px);
  }
  .markdown ::ng-deep{
    h2 {
      font-size: 1.1em;
      margin: 25px auto 15px;
    }
    code {
      font-size: 15px;
    }
  }

  .profile-action {
    display: block;
    padding: 0px 0;
    width: calc( 100% - 30px);
    cursor: pointer;

    border: 2px solid var(--wa-color-neutral-border-quiet);
    border-radius: 14px;
    padding: 15px;
    background-color: #efefef;
    margin-bottom: 10px;
    @media (max-width:599px) {
      width: calc( 100% - 40px );
      margin-right: 0px;
    }

    .material-symbols-outlined {
      transform: translateY(7px);
    }
    div.button,
    button{
      cursor: pointer;
      border: 0;
      font-size: var(--wa-font-size-m);
      font-weight: 600;
      color: var(--mdc-theme-secondary);
      span{
        color: #007aff;
        color: var(--mdc-theme-secondary);
      }
    }
  }

}


.container {
  background-image: linear-gradient(45deg,#fff 90%,#fff,#fff,var(--mdc-theme-appbar-light));
  height: 100%;
  .welcome{
    font-family: var(--mdc-theme-font);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 50px;
    canvas{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    h1{
      font-size: 45px;
      line-height: 52px;
      color: #111;
      font-weight: 600;
      padding-left: 0;
      margin-bottom: 5px;
      text-align: center;
      width: 100%;
      max-width: 700px;

      // -background: -webkit-linear-gradient(45deg,#1c176d,#007b48 90%);
      // -background-clip: text;
      // --webkit-text-fill-color: transparent;

      @media (max-width:599px) {
        font-size: 40px;
        line-height: 48px;
        padding:auto 10px;

      }
    }
    .content{
      font-weight: 400;
      padding-top: 8px;
      line-height: 28px;
      padding-left: 0;
      max-width: 60%;
      font-size: 21px;
      margin: 0 auto;
      color: #333;
      text-align: center;
      @media (max-width:599px) {
        font-size: 17px;
        padding-left: 0px;
        max-width: calc(100% - 40px);
        line-height: 21px;
        width: calc(100% - 40px);
        padding-top: 0;
      }
    }
    .actions{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 30px;

      button[disabled] {
        opacity: .5;
      }
      button{
        cursor: pointer;
        text-transform: uppercase;
        padding: 20px 10px;
        border-radius: 45px;
        min-width: 300px;
        display: block;
        margin: 10px auto;
        text-decoration: none;
        font-size: large;
        background-color: var(--mdc-theme-primary);
        color: var(--mdc-theme-primary-text);
        border: 0px;
        font-weight: bold;
        .sm{
          font-size: var(--wa-font-size-xs);
          margin-left: 10px;
        }
      }

      .info{
        font-family:  sans-serif;
        font-size: var(--wa-font-size-xs);
        width: 350px;
        margin: auto;
        color: #666;
        text-align: center;
      }
    }

    .ready {
      width: 100%;
      text-align: center;
      background: var(--wa-color-neutral-fill-quiet);
      margin: 20px 0;
      font-family: sans-serif;
    }
  }


  .how-it-works{
    display: flex;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;

    .box{
      cursor: pointer;
      width: 238px;
      box-shadow: 2px 4px 10px 2px rgb(201 198 198 / 40%);
      border-radius: 14px;
      background-color: #fff;
      min-height: 222px;
      padding: 15px 12px;
      margin: 0 10px;
      border: solid 1px transparent;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      &.checked{
        border: 2px solid var(--mdc-theme-primary);
        border: 2px solid #da1c5c;
        background-color: white;
        -width: 100%;
        .price{
          color: yellow;
        }
      }

      &:last-child{
        -margin-bottom: 0px;
      }

      @media (max-width:599px) {
        min-height: auto;
        padding: 15px 12px;
        margin: 10px 10px;
        width: 100%;
      }
      .name{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
        padding: 6px 0 10px;
      }
      .description{
        font-weight: 400;
        margin-bottom: 8px;
        line-height: 18px;
        padding: 0 13px;
        font-size: var(--wa-font-size-s);
        color: #666;
      }
      .price{
        margin: 5px auto;
        width: 150px;
        text-align: center;
        background: yellow;
        background: var(--mdc-theme-primary);
        color: var(--mdc-theme-appbar);
        border-radius: 6px;
        padding: 5px 0;
        margin-top: auto;
        margin-bottom: 0;
        font-weight: bold;
      }

    }
  }
}
