//
// innerHtml CASE
:host ::ng-deep{
  .more{
    color: cornflowerblue;
    border-bottom: 1px dotted cornflowerblue;
  }

  .order-address,
  .order-resume{
    section {
      flex:1 0 100%;
      h1,h2,h3,
      p.block-info{
        font-weight: 300;
        padding: 0 0px;
        text-align: center;
        width:100%;
        max-width: 800px;
        text-shadow: 1px 1px 0 white;
        margin-top: -15px;    
      }  
      p.block-info{
        color: #aaa;
      }    
    }
  }
}
.cart-container{
  padding-top: 0px;
  background: var(--mdc-theme-background-container);
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-height:700px) {
  }

  @media (max-width:429px) {
    width: calc( 100% - 8px );
    margin-left: 0px;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;    
    zoom: .9;
  }

  .kng-address, 
  .kng-payment {
    border-radius: 4px;
    background-size: cover;
    height: 40px;
    width: 40px;
    padding-bottom: 16px;
    overflow: visible;    
  }
  
  .kng-address{
    background-image:linear-gradient(
      rgba(40, 40, 40, 0.15),
      rgba(40, 40, 40, 0.1)
    ),url(/assets/img/k-address.png)
  }
  .kng-payment{
    background-image:linear-gradient(
      rgba(40, 40, 40, 0.15),
      rgba(40, 40, 40, 0.1)
    ),url(/assets/img/k-payment.png)
  }


  section{
    h2,h3{
      font-weight: 500;
      color: var(--mdc-theme-primary);
      font-size: 1.875rem;
      text-transform: uppercase;    
      padding-top: 20px;
      text-align:center;
      a {
        text-decoration: none!important;
        color: #ddd!important;
      }

    }
    h3{
      font-weight: 200;
      font-size: 1.275rem;
      color: #aaa;
      text-shadow:1px 1px 0 white;
      text-align: center;
    }
  
    h5,h4{
      text-align: center;
      color:var(--mdc-theme-primary);
      font-weight: 500;
      margin-bottom: 0px;    
    }
    .title-error{
      color: red;
    }
  }

  h1,h2,h3,h4{
    font-weight: 300;
  }

  .block-info{
    color: #aaa;
    text-shadow: 1px 1px 0 white;
    margin-top: -15px;    
  }

  .block-warning{
    font-weight: 200;
    font-size: 1.275rem;
    color: #f00;
    text-shadow: 1px 1px 0 white;
    text-align: center;    

    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid pink;    
    .material-icons{
      transform: translateY(4px);
    }
  }

  .block-cart {
    padding-bottom: 10px;
    width: calc( 100% + 40px );
    margin-left: -20px;    
    background-color: #eee;
    h2,h3 {
      text-transform:none;
      margin-bottom: 5px;
      padding-top: 5px;
    }
  }


  .amount-info{
    padding: 10px 4px;
    background: #eee;    
    background-color: antiquewhite;  
  }

  .profile-action {
    display: flex;
    padding: 0px;
    mdc-icon {
      transform: translateY(7px);      
    }
    button {          
      border: 1px solid var(--mdc-theme-primary);
      padding: 2px 15px;
      border-radius: 23px;
      margin-right: auto;
      margin-left: 23px;
      font-size: .8rem;
      vertical-align: bottom;
      line-height: 30px;
      background-color: transparent;
    }
  }


  .cart-flow{
    width: 0px;
    height: 0px;
    position: absolute;
    left: 1px;
    margin-top:-55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;    
    background: var(--mdc-theme-primary);
    
    color: var(--mdc-theme-primary-text);
    &::after{
      content: "";
      position: absolute;
      top: 35px;
      left: 15px;
      width: 1px;
      height: calc(100% - 38px);
      height: 20px!important;
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
  }

  button{
    border: 0;
    padding: 0px;
    outline: 0;
    z-index: 1;
    cursor: pointer;   
    margin: 04px 0;             

    &.style1{
      flex:0 0 50%;
      max-width: wi;
      font-size: 20px;
      margin: 25px;
      min-height: 50px;
      padding-left: 8px;
      padding-right: 8px;
    }
  
    &.action{
      padding: 5px;      
      width: 50%;        
    }
  }

  //
  // cart content
  mdc-list-item{        
    &.border-top{
      border-top: 1px solid #aaa;
    }

    &.auto-height {
      height: auto;
    }

    &.slim-item{
      margin-top: -12px;
    }

    &.mdc-list-item--selected,
    &.selected{
      border:1px solid var(--mdc-theme-primary, rgba(0, 0, 0, 0.87));
      border:1px solid gold !important;
    }

    color: #333;
    button{
      width: 31px;
      height: 34px;  
    }

    mdc-list-item-meta.icon {
      mdc-icon{
        margin-right: 7px;
      }
    }

    @media (max-width:429px) {
      padding-left: 5px;      
    }

    mdc-list-item-text{
      span.title.large{
        font-size: 18px;
        margin-left: 4px;
      }
      div.title{
        display: block;        
      }
      div.message{
        display: none;
      }
      &.error{
        overflow: visible;
        white-space: inherit;
        .title{
          display: none;        
        }          
        .message{
          display: block;
          background: rgb(255, 180, 180);
          font-size: 12px;
          line-height: 18px;
          margin-top: -25px;
          padding: 2px;          
        }        
      }
      min-width: 160px;

      overflow: visible;
    }

  
    .mdc-list-item__graphic{
      width: 56px;
      .avatar{
        width: 56px;
        height: 56px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 50%;    
        background-color: #ddd;
        &.round{
          border-radius: 30px;
        }
      }
    }
  
    .mdc-list-item__meta{
      display: flex!important;
      justify-content: flex-start;
      color: #333!important;
      font-size: 1rem;
      flex-wrap: nowrap;
      align-items: center;   
      div.label{
        flex: 1;
        position: absolute;
        z-index: 1;
        right: 180px;
        background: white;
        padding: 12px;
        color: black;
        border: 1px solid #ddd;
        @media (max-width:429px) {
          font-size: 80%;                      
          padding: 8px;
        }
    
      } 

      div.info i{
        transform: translateY(5px);
        color: #ffa506;
      }
      div.action{
        flex:1;
        position: absolute;
        z-index: 1;
        &.right { transform:translateX(30px);}
        &.left  { transform:translateX(-30px);}        
      }    
      div.quantity{
        flex:1;
        border:1px solid #ddd;
        border-radius: 2px;
        padding: 4px 10px;
        height: 24px;
      }
  
      div.price{
        flex:1;
        margin-left: 8px;
        min-width: 80px;
        text-align: right;
        color: black;
        &.hidden{
          opacity: .1;
        }
      }
    }
  }

  //
  // card elements
  mdc-card{
    &.selected{
      border:2px solid var(--mdc-theme-primary, rgba(0, 0, 0, 0.87));
      border:2px solid gold !important;
    }
    border-radius: 0;
    padding:5px;
    background: white;
    position: relative;
    flex: 0 0 140px;
    width: 140px;
    margin: 8px;    
    box-shadow: inherit;
    // FIXME Safari 10.1 CSS FIX
    min-height: 210px;
      
    .card__media{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-position-y:0px;
      border-radius: 5px;  
      transition: background-color .2s ease-in-out;
      
      span{
        position: absolute;
        bottom: 0%;
        left: 0;
        right:0;
        text-align: center;
        font-size: 150%;
        background: rgba(154, 154, 154, 0.6);
        background: rgba(45, 174, 116, 0.64);
        background: rgba(214, 214, 214, 0.7);
        color: #000;
        text-transform: capitalize;
        padding: 5px 3px;
      }
    }
    .card__primary,
    .card__secondary{
      text-align: center;
      padding: 5px 0px;
      margin: 0;
      margin-top:auto;
      font-size: smaller;
      .type{
        font-weight: bold;
      }
      .price{
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: large;
        font-weight: 500;
      }
    }
    .card__secondary{
      color:#333 ;      
      background-color: rgba(66, 63, 58, 0.4);
    }

    .card__secondary.payment{
      &.invalid{
        color:red;        
        text-shadow: 0 0 2px #ddd;
        font-weight: 400;        
      }
    }
    .card__subtitle{
      margin:0;        
    }       

  }

  .order-address.is-done {
    div.cart-flow{
      color: var(--mdc-theme-primary-text);
      background: var(--mdc-theme-primary-text);
      background-color: var(--mdc-theme-karibou-pink);
  
    }
    section.selected {
      display: block;
      .link{
        color: blue;
        font-weight: 300;
        text-transform: none;        
      }
    }
    section:not(.selected) {
      display: none;
    }
    mdc-list{
      display: none;
    }
  }

  .order-address{
    section.selected{
      display: none;
      p{
        text-align: left!important;
        padding-left: 30px!important;
      }
    }
    margin-top: 20px;
    padding-top: 40px;
    border-top:1px solid #ddd;
    width:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;
    position: relative;
    padding: 40px 4px 0;

    section{
      h1,h2,h3,
      p.block-info{
        padding: 0 10px;
        text-align: center;
        width:100%;
        max-width: 800px;
        font-weight: 500;
      }  
    }

    button.action{
      width: 50%;
    }

    mdc-card-primary-action{
      height: 100%;
    }

    mdc-list{
      width: 100%;
    }
  }

  .order-resume{
    div.cart-flow{
      background-color: var(--mdc-theme-karibou-pink);
      color: var(--mdc-theme-primary-text);
    }

    position: relative;
    margin-top: 20px;
    padding-top: 40px;
    border-top:1px solid #ddd;
    text-align: center;
    width:auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 40px 4px 0;

    h1,h2,h3{
      width:100%;
      padding: 0 10px;
    }
    p.block-info{
      width: 100%;
      text-align: center;
    }

    .shipping-discount {
      height: 30px;
      padding: 0;
      overflow: visible;
      text-align: center;
      margin-top: -10px;
      .info{
        text-align: center;
        margin: auto;
        color: var(--mdc-theme-secondary);
        padding:0;
        margin-top: 0px;
        margin-right: 15px;        
        white-space: nowrap;
        font-size: 14px;
      }
    }

    div.shipping-note{
      width: 80%;
      text-align: left;
      input{
        border: 1px solid #ddd;
        padding: 4px;
        flex: 1;
        width: 100%;
        margin: 5px 0;        
        font-size: 14px;
        line-height: 20px;
      }
    }
    div.shipping{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; 
      div.vendor{
        margin: auto;
        width: 300px;
      }

      div.customer{
        width: 300px;
        min-height: 180px;
        .pin{
          width: 48px;
          margin: auto;
          margin-bottom: 10px;
          display: block;
        }
        text-transform: capitalize;
        height: 150px;
        margin: auto;
        .block-info{
          margin-top: 5px;
          padding: 0;
        }
      }
        
      .block-info{
        padding: 30px;
      }
    }

    .checkout-msg{
      min-height: 80px;
      position: relative;
      width: 100vw;
      background: var(--mdc-theme-secondary);
      color:var(--mdc-theme-secondary-text);
      padding: 20px;
      margin: 0;
      margin-bottom:30px;
      margin-left: -20px;
      margin-right: -20px;
      @media (max-width:429px) {
        padding-top: 40px;
        
      }
    }
      
    
    mdc-form-field,mdc-list{
      width:80%;
    }

    button{
      flex:0 0 70%;
      max-width: wi;
      font-size: 20px;
      margin: 25px;
      min-height: 50px;
    }
    
  }

  div.order,
  div.order-login{
    section{
      padding: 0 10px;
    }
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    flex-direction:row;
    display: flex;    
  }  

  div.order-login{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;    
    a{
      position: absolute;
      right: 0;
      top: 60px;
    }
    form{
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;    
      max-width: 424px;
  
    }
  }

  div.order-final{
    width: 100%;
  }
}
