//
// Select Cart or Subscription
.cart-container{
  background: var(--mdc-theme-background-container);
 
  @media (prefers-color-scheme: dark) {
    background: #fff!important;
    color: #333;
  }
}

.cart-selector{
    
  padding: 0 0px;
  flex-basis: 50%;
  padding-bottom:0px;
  max-width: calc(100% - 20px);
  flex: auto;
  margin: auto;

  @media (max-width:429px) {
    width: calc(100% + 0px);
    max-width: calc(100% + 0px);
    margin-left: 0px;
  }

  .elem .item{
    font-weight: 400;
    font-size: 29px;
    margin: 30px auto 10px;
    margin-left: auto;
    text-align: center;    
    @media (max-width:429px) {
      margin-left: 15px!important;
      text-align: left;    
    }
  
  }
}


section.cart{
  margin-top: 15px;
  h2,h3{
    font-weight: 500;
    color: #333;
    font-size: 1.875rem;
    text-transform: uppercase;    
    padding-top: 0px;
    text-align: center;
  }
  h3{
    font-weight: 200;
    font-size: 1.275rem;
    color: #aaa;
    text-align: center;
    padding: 0 10px;
  }

  .title-error{
    color: red;
  }
}


.pending-order{
  display: none;      
  padding: 0 10px;
  margin: 20px 0 40px;
  &.display-message{
    display: block;
  }

}

.block-link{
  text-align: center;
  line-height: 15px;
  margin-top: -15px;
  color: gray;
  font-size: 15px;
  padding: 0 10px;  
}


.order-address,
.order-resume{
  section {
    flex:1 0 100%;
    p.block-info{
      margin-top: -15px;    
      @media (max-width:429px) {
        text-align: left;
      }
    }  
    p.block-info{
      color: #333;
      border-radius: 8px;
      background-color: #fafafa;
    }    
  }
}
