
<div class="cart-container" mdcTypography>
  <section [hidden]="items.length">
    <h2 i18n>{{i18n[locale].cart_empty}}</h2>
    <h3 class="primary-text" i18n>{{i18n[locale].cart_nextshipping}} <b>{{$cart.getCurrentShippingDay()|date:'EEEE,d MMMM':'':$i18n.locale}}</b></h3>
    <hr/>
  </section>
  
  <section [hidden]="!items.length">
    <h2 i18n>{{config?.shared.checkout.title[$i18n.locale]}}</h2>
    <h3 class="primary-text" i18n *ngIf="!noshippingMsg; else noShipping">
      {{i18n[locale].cart_nextshipping}} 
      <b>{{$cart.getCurrentShippingDay()|date:'EEEE,d MMMM':'':$i18n.locale}}</b>
      <br/> {{shippingTime}}
    </h3>
    <ng-template #noShipping>
      <h3 class="primary-text">
        {{noshippingMsg}} 
      </h3>
    </ng-template>

    
    <h4 class="title-error" [hidden]="!hasOrderError" i18n>{{i18n[locale].cart_error}}</h4>
  </section>
  <mdc-list [twoLine]="true" avatar="true" [interactive]="false" [hidden]="!items.length">
    <mdc-list-item *ngFor="let item of sortedItems()" (click)="onSelect($event,item)">
      <mdc-list-item-graphic>
        <div class="avatar"
              [ngStyle]="{'background-image': 'url(' + item.thumb + '/-/resize/128x/)'}">

        </div>
      </mdc-list-item-graphic>
      <mdc-list-item-text [class.error]="item.error">
          <span class="title">{{item.title}} <span class="cart-variant red" [hidden]="!item.variant">» {{item.variant}}</span></span>
          <div class="message" >{{item.error}}</div>          
          <mdc-list-item-secondary>
            <a href="javascript:;" class="gray" i18n (click)="removeAll(item,item.variant)">
                <i class="material-icons" style="transform: translateY(5px);font-size:20px">close</i>{{i18n[locale].cart_remove}}</a>
            <span [hidden]="!getVendorDiscount(item).threshold" i18n class="">&nbsp;- 🛈 {{i18n[locale].cart_discount}}</span>                
          </mdc-list-item-secondary>
      </mdc-list-item-text>
      
      <mdc-list-item-meta>
        <div class="label" [hidden]="!item.selected||!getVendorDiscount(item).threshold">
            <b>🛈</b> {{i18n[locale].cart_discount_title}} {{getVendorDiscount(item).needed}} fr de {{getVendorDiscount(item).total+getVendorDiscount(item).amount }} fr
        </div>
        <div class="action left" [hidden]="!item.selected">
          <button (click)="remove(item,item.variant)"><mdc-icon>remove</mdc-icon></button> 
        </div>
        <div class="quantity">
            {{item.quantity}}
        </div>
        <div class="action right" [hidden]="!item.selected">
            <button (click)="add(item,item.variant)"><mdc-icon>add</mdc-icon></button> 
        </div>
        <div class="price" [class.hidden]="item.selected">
            {{item.price*item.quantity|currency:'CHF'}}
        </div>
      </mdc-list-item-meta>
    </mdc-list-item>

    <!-- KARIBOU SERVICE -->
    <mdc-list-item class="border-top">
      <mdc-list-item-graphic hidden>
        <div class="avatar"
              [ngStyle]="{'background-image': 'url(/assets/img/k-puce-v2.png)'}">  
        </div>
      </mdc-list-item-graphic>
  
      <mdc-list-item-meta (click)="showInfoFees=!showInfoFees">
        <div class="info"><span [innerHtml]="i18n[locale].cart_info_service_k"></span> &nbsp;</div>
        <div class="price gray" >{{currentServiceFees()|currency:'CHF'}}</div>
      </mdc-list-item-meta>
    </mdc-list-item>

    <mdc-list-item class="border-top" [hidden]="!showInfoFees">
      <div class="amount-info" [innerHtml]="i18n[locale].cart_info_service_k_plus"></div>
    </mdc-list-item>

    <mdc-list-item class="slim-item">
      <mdc-list-item-meta>
        <div class="info" i18n>{{i18n[locale].cart_info_subtotal}}</div>
        <div class="price" >{{$cart.subTotal()|currency:'CHF'}}</div>
      </mdc-list-item-meta>
    </mdc-list-item>      

    <mdc-list-item class="slim-item">
      <mdc-list-item-meta>
        <div class="info" i18n>{{i18n[locale].cart_discount_info}}</div>
        <div class="price" >-{{getTotalDiscount()|currency:'CHF'}}</div>
      </mdc-list-item-meta>
    </mdc-list-item>      

  </mdc-list>

  <!-- No more window for delivery -->
  <div class="border-top" [hidden]="isDayAvailable()">    
    <div class="amount-info" [innerHtml]="i18n[locale].cart_info_limit"></div>
  </div>


  <!-- NOT LOGGED -->
  <div class="order-login" [hidden]="user.isAuthenticated()||!items.length">
      <section>
        <h3 i18n>{{i18n[locale].cart_login}}</h3>
      </section>

      <button [routerLink]="['/store/'+store+'/me/login-or-register']" 
              class="style1 white"
              mdc-button
              unelevated="true"
              mdcHeadline2>{{i18n[locale].cart_signin}}</button>

  </div>
  
  <kng-mail-confirmation [user]="user" *ngIf="user.isAuthenticated()&&!user.isReady()"></kng-mail-confirmation>

  <!-- ADDRESS IFF isAuth()-->
  <div class="order-address" [hidden]="!user.isAuthenticated()||!items.length||!user.isReady()||!isDayAvailable()">      
    <div class="cart-flow" [class.flow-done]="currentShipping().name==null" >1</div>
    <section  [innerHtml]="config?.shared.checkout.address[$i18n.locale]"></section>
      
    <!-- USER ADDRESS -->
    <mdc-list  twoLine avatar singleSelection interactive>
      <mdc-list-item *ngFor="let address of user.addresses" 
                    [selected]="isSelectedAddress(address)"              
                    (click)="setShippingAddress(address)">
        <mdc-list-item-graphic>
          <div class="avatar"
          [ngStyle]="{'background-image': bgGradient + 'url(' + getStaticMap(address) + ')'}"></div>
        </mdc-list-item-graphic>
        <mdc-list-item-text [secondaryText]="address.streetAdress" >
          <strong class="text-capitalize">{{address.name}}</strong> {{address.note}}
        </mdc-list-item-text>                  
        <mdc-list-item-meta>
          <span [class.bold]="isSelectedAddress(address)">
          Fr  {{computeShippingByAddress(address)|number:'1.2-2'}}</span>
        </mdc-list-item-meta>        
      </mdc-list-item>

      <!-- SEPARATOR -->
      <mdc-list-divider inset></mdc-list-divider>      

      <!-- ADDRESS DEPOSIT -->
      <mdc-list-item *ngFor="let address of getDepositAddress()" 
                      [hidden]="!address.active"
                      (click)="setShippingAddress(address)"
                      [selected]="isSelectedAddress(address)">
        <mdc-list-item-graphic>
          <div class="avatar"
          [ngStyle]="{'background-image': bgGradient + 'url(' + getStaticMap(address) + ')'}"></div>
        </mdc-list-item-graphic>
        <mdc-list-item-text [secondaryText]="address.streetAdress">
          <strong>{{address.name}}</strong> 
        </mdc-list-item-text>                  
        <mdc-list-item-meta>
          <span [class.bold]="isSelectedAddress(address)">
            Fr {{address.fees|number:'1.2-2'}}</span>
        </mdc-list-item-meta>        
      </mdc-list-item>
      <!-- SEPARATOR -->
      <mdc-list-divider inset></mdc-list-divider>

      <!-- NEW ADDRESS -->
      <mdc-list-item [routerLink]="['/store/'+store+'/me/login-or-address']" >
        <mdc-list-item-graphic class="kng-address">
          &nbsp;
        </mdc-list-item-graphic>
        <mdc-list-item-text secondaryText="Nous déposons vos sacs devant votre porte si vous êtes absent">
          {{$i18n[locale].cart_address_add}} 
        </mdc-list-item-text>
        <mdc-list-item-meta class="icon">
          <mdc-icon class="primary">note_add</mdc-icon>
        </mdc-list-item-meta>
        
      </mdc-list-item>
    </mdc-list>    
          
  </div>

  <!-- PAYMENT-->
  <div class="order-address" *ngIf="user.isAuthenticated()&&items.length&&user.isReady()&&isDayAvailable()">      
    <div class="cart-flow" [class.flow-done]="currentGatewayLabel()=='Aucun'">2</div>
    <section  [innerHtml]="config?.shared.checkout.payment[$i18n.locale]"></section>


    <!-- FIXME hide wallet method -->
    <!--               [hidden]="payment.issuer=='wallet'"-->
    <mdc-list  twoLine avatar singleSelection interactive>
      <mdc-list-item *ngFor="let payment of user.payments" 
                      [hidden]="payment.issuer=='wallet'"
                      (click)="setPaymentMethod(payment)"
                      [class.selected]="isSelectedPayment(payment)">
        <mdc-list-item-graphic>
          <div class="avatar"
          [ngStyle]="{'background-image': bgGradient + 'url(' + issuer[payment.issuer].img + ')'}"></div>
        </mdc-list-item-graphic>
        <mdc-list-item-text [secondaryText]="payment.expiryToDate()|date:'MM/y'">
          {{issuer[payment.issuer].label}}
        </mdc-list-item-text>                  

        <!-- <mdc-checkbox mdcListItemMeta [checked]="isSelectedPayment(payment)"></mdc-checkbox> -->
      </mdc-list-item>
      <!-- SEPARATOR -->
      <mdc-list-divider inset></mdc-list-divider>
      <!-- ADD PAYMENT -->
      <mdc-list-item [routerLink]="['/store/'+store+'/me/login-or-payment']" >
        <mdc-list-item-graphic class="kng-payment">
          &nbsp;
        </mdc-list-item-graphic>
        <mdc-list-item-text secondaryText="visa, mastercard, american express">
          {{$i18n[locale].cart_payment_add}} 
        </mdc-list-item-text>
        <mdc-list-item-meta class="icon">
          <mdc-icon class="gray">note_add</mdc-icon>
        </mdc-list-item-meta>
        
      </mdc-list-item>
    </mdc-list>    
 
  </div>
  
  <!-- RESUME -->
  <div class="order-resume" *ngIf="isOrderReady() && isDayAvailable()">
    <div class="cart-flow ">3</div>
    <section class="header" [class.deposit]="!isCartDeposit()" 
         [innerHtml]="config?.shared.checkout.resume[$i18n.locale]">
   </section>  

    <!-- TAX & SHIPPING -->
    <mdc-list avatar="true" [interactive]="false">
      <mdc-list-item class="border-top">
        <mdc-list-item-meta>
          <div class="info" i18n>{{i18n[locale].cart_info_subtotal}} ({{$cart.getItems().length}})</div>
          <div class="price" >{{$cart.subTotal()|currency:'CHF'}}</div>
        </mdc-list-item-meta>
      </mdc-list-item>      

      
      <mdc-list-item class="border-top">
        <mdc-list-item-meta>
          <div class="info">{{i18n[locale].cart_info_shipping}}</div>
          <div class="price" >{{$cart.shipping()|currency:'CHF'}}</div>
        </mdc-list-item-meta>
      </mdc-list-item>
        
      <mdc-list-item  [hidden]="getTotalDiscount()==0">
        <mdc-list-item-meta>
          <div class="info" i18n>{{i18n[locale].cart_info_discount}}</div>
          <div class="price" >-{{getTotalDiscount()|currency:'CHF'}}</div>
        </mdc-list-item-meta>
      </mdc-list-item>

      <!-- FIXME add payment fees here -->
      <mdc-list-item hidden>
        <mdc-list-item-meta>
          <div class="info" i18n>{{i18n[locale].cart_info_payment}} ({{currentGatewayLabel()}}/{{currentGatewayFees()}} %)</div>
          <div class="price" >{{currentGatewayAmount()|currency:'CHF'}} </div>
        </mdc-list-item-meta>
      </mdc-list-item>
      
      <mdc-list-item class="border-top">
        <mdc-list-item-meta (click)="showInfoAmount=!showInfoAmount">
          <div class="info"><i class="material-icons">info</i>{{i18n[locale].cart_info_total}}</div>
          <div class="price" >{{$cart.total()|currency:'CHF'}}</div>
        </mdc-list-item-meta>
      </mdc-list-item>        
    </mdc-list>       
    <div class="amount-info" [hidden]="!showInfoAmount">
      {{i18n[locale].cart_amount_1}} 
      <b >{{$cart.total()*amountReserved|currency:'CHF'}}</b>
      {{i18n[locale].cart_amount_2}}
    </div>

    <!-- INFO SHIPPING NOTE -->
    <div class="shipping-note">
      <section class="header">{{$i18n[locale].user_address_note}}</section>
      <input type="text" [(ngModel)]="shippingNote" />
    </div>
  
    <h3 class="primary-text" i18n>
      <span class="bold text-capitalize">{{$cart.getCurrentShippingDay()|date:'EEEE,d MMMM':'':$i18n.locale}}</span>
      entre <b>{{shippingTime}}</b>
    </h3>  
    <div class="shipping">
      <!-- (SRC) HUB -->
      <div class="vendor">
        <img src="/assets/img/k-shipping.png" />
      </div>          

      <!-- SHIPPING -->
      <div class="customer">
        <img src="/assets/img/k-pin.png" class="pin"/>
        <strong>{{currentShipping().name}}</strong>            
        <address>{{currentShipping().streetAdress}}</address>
        <address>{{currentShipping().postalCode}}/{{currentShipping().region}}</address>
        <p class="block-info">{{currentShipping().note}}</p>
      </div>          
    
    </div>


    <!-- CHECKOUT  MSG -->
    <div class="checkout-msg" *ngIf="config.shared.checkout.active">
      <div [innerHtml]="config.shared.checkout.message[$i18n.locale]"></div>
    </div>

    <div class="block-warning" *ngIf="noshippingMsg">
        <i class="material-icons">info</i> {{noshippingMsg}} 
    </div>
  
      
    <!-- ORDER FINAL ACTION -->
    <div>
      <mdc-checkbox [(ngModel)]="cgAccepted" style="transform:translateY(9px)"></mdc-checkbox>
      <label i18n class="link">        
        <a href="javascript:;" class="link"
           [routerLink]="['/store',store,'content','conditions-generales-de-vente']">{{i18n[locale].cart_cg}}</a></label>  
    </div>
    <button primary mdc-button unelevated="true" [disabled]="!cgAccepted||isRunning" (click)="doOrder()" >{{i18n[locale].cart_order}}</button>    
  </div>
</div>
