//
// Select Cart or Subscription
.cart-container{
  background: var(--mdc-theme-background-container);

  @media (prefers-color-scheme: dark) {
    background: #fff!important;
    color: #333;
  }
}

.cart-selector{

  padding: 0 0px;
  flex-basis: 50%;
  padding-bottom:0px;
  max-width: calc(100% - 20px);
  flex: auto;
  margin: auto;

  @media (max-width:599px) {
    width: calc(100% + 0px);
    max-width: calc(100% + 0px);
    margin-left: 0px;
  }

  .elem .item{
    font-family: var(--mdc-theme-font);
    font-weight: 400;
    font-size: 29px;
    margin: 30px auto 10px;
    margin-left: auto;
    text-align: center;
    @media (max-width:599px) {
      margin-left: 15px!important;
      text-align: left;
    }

  }
}

section.block-sharedcart{
  font-family: var(--mdc-theme-font);
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
  padding: 0 10px;
  border-bottom: 1px dotted var(--wa-color-neutral-border-quiet);
  h2{
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  h3{
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    margin-top: 10px;
    line-height: 24px;
  }

}

section.cart{
  margin-top: 15px;
  h2,h3{
    font-weight: 500;
    color: #333;
    font-size: 1.875rem;
    text-transform: uppercase;
    padding-top: 0px;
    text-align: center;
  }
  h3{
    font-weight: 200;
    font-size: 1.275rem;
    color: #aaa;
    text-align: center;
    padding: 0 10px;
  }

  .title-error{
    color: red;
  }
}

.cart-name {
  border: 1px solid #aaa;
  border-radius: 4px!important;
  color: #333;
  padding: 2px 10px;
  line-height: 24px;
  font-size: 15px;
  margin: 5px;
}
.name-breaker {
  display: block;
  font-size: 22px;
  border-bottom: 1px solid #000;
}

.pending-order{
  display: none;
  padding: 0 10px;
  margin: 15px 0 20px;
  &.display-message{
    display: block;
  }
  &.error-message{
    p{
      border-color: red;
      span{
        background-color: yellow;
      }
    }
  }

}

.block-link{
  text-align: center;
  line-height: 15px;
  margin-top: -15px;
  color: gray;
  font-size: 15px;
  padding: 0 10px;
}


.order-address,
.order-resume{
  section {
    flex:1 0 100%;
    p.block-info{
      margin-top: 0px;
      @media (max-width:599px) {
        text-align: left;
      }
    }
    p.block-info{
      color: #333;
      border-radius: var(--wa-border-radius-m);
      background-color: #fafafa;
    }
  }
}
