<kng-cart-checkout (updated)="onCheckout($event)" [config]="config" [i18n]="i18n" [orders]="orders" #checkout>  </kng-cart-checkout>

<div class="cart-container" *ngIf="isValid">
  <section class="cart" [hidden]="items.length">
  </section>

  <!-- VOS PANIER -->

  <div class="cart-selector">
    <div class="elem">
      <div class="item" [hidden]="!currentCartView" (click)="doSelectCart(true)">
        {{llabel.cart_info_title}} {{currentShippingDay|date:'EEEE':'':locale}}
      </div>
      <div  class="item" [hidden]="currentCartView" (click)="doSelectCart(false)" >

        {{llabel.cart_subscription_title}} &nbsp;<i class="material-symbols-outlined bold">more_time</i>
      </div>
    </div>
  </div>


  <kng-mail-confirmation [user]="user" *ngIf="user.isAuthenticated()&&!user.isReady()"></kng-mail-confirmation>

  <!-- PANIER PARTAGER -->
  <section [hidden]="!isSharedCart()" class="block-cart">
    <h2 hidden>{{i18n[locale].cart_shared_title1}} <span class="material-symbols-outlined">share</span>
    </h2>
    <h3 class="" [hidden]="user.isAuthenticated()">
      {{i18n[locale].cart_shared_title2}}
    </h3>
  </section>


  
  <!-- CHECKOUT MSG  -->
  <div class="pending-order display-message" [hidden]="!checkoutMessage">
    <p class="shipping-grouped block-info" >
      <span class="highlight" [innerHtml]="checkoutMessage"></span>
    </p>
  </div>

  <!-- CHECKOUT ERR MSG  -->
  <div class="pending-order display-message error-message" [hidden]="!checkoutMessageError">
    <p class="shipping-grouped block-info" >
      <span [innerHtml]="checkoutMessageError"></span>
    </p>
  </div>


  <!-- COMPLEMENT DE CMD -->
  <div class="pending-order" [hidden]="!currentCartView" [class.display-message]="hasPotentialShippingReductionMultipleOrder()">
    <p class="shipping-grouped block-info" [innerHtml]="label.cart_order_grouped_info">
  </div>  
  <mdc-list [twoLine]="true" avatar="true" [interactive]="false">
    <ng-container *ngFor="let hub of hubs; index as idx; let last = last ">

    <!-- DISPLAY HUB ITEMS -->
    <kng-cart-items (checkoutEvent)="doInitateCheckout($event)" [showCartItems]="currentCartView" [i18n]="i18n" [config]="config" [currentHub]="hub" [showSeparator]="idx>0" [showFooter]="!last"></kng-cart-items>
    </ng-container>
  </mdc-list>

  <div class="pending-order display-message" [hidden]="!currentCartView">
    <p class=" block-link" [hidden]="isSharedCart()">
      {{i18n[locale].cart_shared_copy}} <a class="copy-link" (click)="onCopy($event)" [href]="sharedCart">Copy Link</a>    
    </p>  
  </div>

  <router-outlet></router-outlet>


</div>
