<kng-cart-checkout (updated)="onCheckout($event)" [config]="config" [i18n]="i18n" [orders]="orders" #checkout>  </kng-cart-checkout>

<div class="cart-container" *ngIf="isValid">
  <section class="cart" [hidden]="items.length">
  </section>

  <!-- VOS PANIER -->
  <div class="cart-selector">
    <div class="elem">
      <div class="item" [hidden]="!currentCartView ||isSharedCart" (click)="doSelectCart(true)">
        {{llabel.cart_info_title}} {{currentShippingDay|date:'EEEE':'':locale}}
      </div>
      <div  class="item" [hidden]="currentCartView" (click)="doSelectCart(false)" >

        {{llabel.cart_subscription_title}} &nbsp;<i class="material-symbols-outlined bold">more_time</i>
      </div>
    </div>
  </div>


  <kng-mail-confirmation [user]="user" *ngIf="user.isAuthenticated()&&!user.isReady()"></kng-mail-confirmation>

  <!-- PANIER PARTAGER -->
  <section [hidden]="!isSharedCart" class="block-sharedcart ">
    <h2><span class="named" [class.name-breaker]="cartName?.length>20">{{cartName}}&nbsp;</span> 
    {{i18n[locale].cart_shared_title1}}</h2>
    <h3>{{i18n[locale].cart_shared_title2}}</h3>
  </section>


  <div class="pending-order" [hidden]="!currentCartView" [class.display-message]="hasPotentialShippingReductionMultipleOrder()">
    <p class="shipping-grouped block-info" [innerHtml]="label.cart_order_grouped_info">
  </div>


  <mdc-list [twoLine]="true" avatar="true" [interactive]="false">
    <ng-container *ngFor="let hub of hubs; index as idx; let last = last ">

    <!-- DISPLAY HUB ITEMS -->
    <kng-cart-items (checkoutEvent)="doInitateCheckout($event)" [showCartItems]="currentCartView" [i18n]="i18n" [config]="config" [currentHub]="hub" [showSeparator]="idx>0" [showFooter]="!last"></kng-cart-items>
    </ng-container>
  </mdc-list>

  <div class="pending-order display-message" >
    <p class=" block-link" [hidden]="isSharedCart">      
      {{i18n[locale].cart_shared_copy}} 
      <input id="shared-cart-name" class="cart-name" type="text" [(ngModel)]="_sharedCartName" [placeholder]="i18n[locale].cart_shared_name" />
      <a class="copy-link" [hidden]="!_sharedCartName" (click)="onCopy($event)" [href]="sharedCart">Copy Link</a>    

    </p>  
    <div class="block-info" [hidden]="_sharedCartName?.length<5">
      <b>Info:</b><br/>
      <span class="named" [class.name-breaker]="cartName?.length>20">{{_sharedCartName}}. </span> {{i18n[locale].cart_shared_title1}}
    </div>
  </div>

  <router-outlet></router-outlet>


</div>
