h2{
  font-size: 1.4675rem;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
h3{
  font-size: 1.2675rem;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
button {
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;

  font-weight: bold;
  border: 0;
  padding: 7px 20px;
  background-color: #ffffffcf;      
  color: #333;
  border-radius: 20px;
  font-size: inherit;

  span {
    font-size: 40px;
  }
}

button[disabled] {
  opacity: .4;
  background-color: var(--mdc-theme-primary-light)!important;
  color: #333!important;
  border-color: #eee!important;
}

.customer {
  display: flex;
  flex-wrap: wrap;

  .subscription {
    &.patreon {
      background-color: yellow;
    }

  }
}


  //
  // FEEDBACK
  .container.top{
    color: #424242;
    background-color:rgba(255,255,255,0.99);
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center; /*halign*/
    align-items:flex-start; /*valign*/
    padding-top: 4vh!important;
    padding-bottom: 10vh!important;
    box-sizing: border-box;    
    position: fixed;top: 0;z-index: 4;margin: auto;left: 0;right: 0;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #fff 50%, #fff, #fff, var(--mdc-theme-appbar));

    .close{
      background: transparent;
      border: 0;
      color: #333;
      
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 4;
      @media (max-width: 429px) {
        top: 10px;
        right: -10px;
      }
      span{
        font-size: 50px;        
      }
    }
  
    .subscription-container{
      display: block;
      max-width: 100vw;
      -background: rgba(255,255,255,0.95);
      position: relative;
      z-index: 2;  
      text-align:left;
      transition:max-height 0.3s ease-out; // note that we're transitioning max-height, not height!
      max-height:calc( 100vh - 60px ); // still have to hard-code a value!
      top:0;
      padding: 10px 4px;
      overflow-y: auto;
      font-size: 1.1rem;
      width: 600px;
      margin: 0 auto 20px auto;
  
      @media (max-width: 429px) {
        padding: 0 5px;
      }
  
      &::-webkit-scrollbar { 
        display: none; 
      }    

      .title{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;        
        font-weight: 300;
        @media (max-width: 429px) {
          width: 100%;
          padding:8px 2px;
        }
            
      }

      label.date{
        display: flex;
        align-items: center;      
        width: max-content;
        margin-left: 0;
        span::after {
          padding-left: 5px;
        }
        @media (max-width: 429px) {
          width: 100%;
        }

        input{
          font-size: 17px;          
          font-family: "Roboto";
          margin-left: auto;
          width: 130px;
        }
        input:invalid + span::after {
          content: "✖";
          color:var(--mdc-theme-karibou-pink)
        }
        
        input:valid + span::after {
          content: "✓";
          color:var(--mdc-theme-primary);
          font-size: 20px;
          font-weight: 600;
        }        
      }
      button.date {
        border-radius:20px  0 0 20px;
        border-color: #aaa !important;
        margin: 4px 0;
        margin-left: auto;
      }
      input[type="date"] {
        width: 26px;
        height: 24px;
        font-size: 20px;
        border-radius: 0 20px 20px 0;
        border: 1px solid var(--mdc-theme-primary);
        background-color: var(--mdc-theme-appbar);
        padding-right: 7px;
        color: black;
      }

      textarea{
        margin-top: 10px;
        width: calc(100% - 20px)!important;
        border: 1px solid #ddd;
        height: 120px;
        margin: 0 5px;
        margin-left: 0;
      }
      textarea:focus,
      textarea:focus{
        border-color: #ddd!important;
      }
  
      ul{
        list-style: none;
        padding: 5px;
        margin: 0;
  
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 8px 0;
          font-size: 1.0rem;
    
          text-overflow: ellipsis;
          white-space: nowrap;
  
          overflow: hidden;

          padding: 8px;
          padding-left: 5px;
          border-radius: 4px;
          position: relative;
          height: auto;    
          flex-wrap: wrap;

          @media (max-width: 429px) {
            margin: 4px 0;
          }
    

          &.selected{
            color: var(--mdc-theme-primary);
          }
  
          &.contrasted{
            color: #777;
            background-color: #efefef;
          }


          &.contrasted-sm{
            @media (max-width:429px) {
              color: #777;
              background-color: #efefef;                
            }
          }

          .left{
            margin-left: 5px;
            margin-right: auto;
          }
          button{
            color: var(--mdc-theme-primary-text);
            padding: 3px 15px;
            border: 1px solid var(--mdc-theme-primary);
            background-color: var(--mdc-theme-primary);            
            font-size: 16px;
            &.danger{
              background-color: red;
              color: white;
              border-color: red;
              padding: 6px 18px;
            }
          }
        }
  
      }
  
  
      @media (max-width: 429px) {
        box-shadow: none;
        position: absolute;        
        margin-top: 40px;
      }
    }
  }
  

