<div class="page-saving" [hidden]="isReady">
  <h1>Saving</h1>
</div>
<div class="container">
  <h3 >Catégories</h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" format="menu"></kng-config-input>

  <!-- HUB Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>
  
  <mdc-list twoLine avatar="true" border>
    <mdc-list-item  (click)="onCategoryCreate()">
        <span class="material-symbols-outlined" mdcListItemGraphic>save</span>
        <mdc-list-item-text>Ajouter une nouvelle catégorie
          <mdc-list-item-secondary >Cliquer ici</mdc-list-item-secondary>
        </mdc-list-item-text>
        <span class="material-symbols-outlined" mdcListItemMeta>favorite</span>  
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>
    <mdc-list-item *ngFor="let category of categories" 
                   [class.disabled]="!category.active"
                   (click)="onCategorySelect($event,category)">
        <img mdcListItemGraphic [hidden]="!category.cover" src="{{category.cover}}" />
        <span class="material-symbols-outlined" mdcListItemGraphic [hidden]="category.cover" class="size-large">folder</span>
        <mdc-list-item-text>
          <span>{{category.type}}/{{category.name}} ({{category.usedBy?.lenght||0}})</span>
          <mdc-list-item-secondary>
              {{category.description||'«pas de desciption»'}} // 
              <i class="{{category.image}}"></i> {{category.image}}  
          </mdc-list-item-secondary>              
        </mdc-list-item-text>
        <mdc-list-item-meta>
            <mdc-chip-set choice>
              <mdc-chip [hidden]="category.home" class="chip-primary">
                <mdc-chip-icon trailing>thumb_up</mdc-chip-icon>
              </mdc-chip>
              <mdc-chip >
                <mdc-chip-text>{{category.group}}</mdc-chip-text>
                <mdc-chip-icon trailing>folder</mdc-chip-icon>
              </mdc-chip>
              <mdc-chip>
                <mdc-chip-text>{{category.weight}}</mdc-chip-text>
                <mdc-chip-icon trailing><span class="material-symbols-outlined" >sort</span></mdc-chip-icon>
              </mdc-chip>
            </mdc-chip-set>                      
            
        </mdc-list-item-meta>
        <mdc-list-divider></mdc-list-divider>
    </mdc-list-item>
  </mdc-list>
</div>
