<mdc-dialog 
  (accept)="askSave()" 
  (decline)="askDecline()"
  (delete)="askDelete()">
 
    <mdc-dialog-surface>
      <mdc-dialog-title>  <!--  TOFIX anciennement  mdc dialog header title -->
          <span >{{category?.type}}<b>/</b> {{category?.name}}</span>
      </mdc-dialog-title>
      <mdc-dialog-content *ngIf="category">
          <form [formGroup]="form" (submit)="askSave()">

              <!-- CHECK -->          
            <div>
              <div class="group">
                <kng-slider [small]="true" [(ngModel)]="category.active" formControlName="active">
                  Caétogorie active
                </kng-slider>
          
                <kng-slider [small]="true" [(ngModel)]="category.home" formControlName="home">
                  Caétogorie de la Page d'accueil
                </kng-slider>
                <!-- TYPE -->
                <fieldset>
                  <legend>Type de la catégorie</legend>
                  <label for="type-1">Classification des produits</label>
                  <input id="type-1" type="radio" formControlName="type" value="Category" name="type" [ngModel]="category.type"/>

                  <label for="type-2">Classification des commerçants</label>
                  <input id="type-2" type="radio" formControlName="type" value="Catalog" name="type" [ngModel]="category.type"/>
                
                </fieldset>
            </div>
            <!-- IMAGE  -->
             <div class="group bg">
              <div class="image" >
                <img [src]="category.cover" *ngIf="category.cover" />
                <mdc-form-field>
                    <ngx-uploadcare-widget
                      images-only="true"
                      [value]="category.cover"
                      [validator]="ucValidator"
                      (on-upload-complete)="onUpload($event)"
                      (on-dialog-open)="onDialogOpen($event)"
                      [public-key]="pubUpcare">            
                    </ngx-uploadcare-widget>          
                  </mdc-form-field>      
                </div>
              </div> 

             </div>


            <div class="-between">
              <!-- GROUP -->
              <mdc-text-field  label="Group" type="text" [ngModel]="category.group" formControlName="group" style="width: 120px">
              </mdc-text-field>

              <!-- WEIGHT -->
              <mdc-text-field  label="Poid" type="number" [ngModel]="category.weight" formControlName="weight" style="width: 120px">
              </mdc-text-field>

              <!-- ICON -->
              <mdc-text-field  label="Icon" type="text" [ngModel]="category.image" formControlName="image" style="width: 120px">
              </mdc-text-field>

              <!-- COLOR -->
              <mdc-text-field  label="Color" type="text" [ngModel]="category.color" formControlName="color" style="width: 110px">
              </mdc-text-field>
      
            </div>

            <div>                      
              <!-- NAME/DESC -->
              <mdc-text-field fullwidth  label="Nom" type="text" [ngModel]="category.name" formControlName="name" >
              </mdc-text-field>

              <mdc-text-field fullwidth class="double"  label="Description" type="text" [ngModel]="category.description" formControlName="description" >
              </mdc-text-field>
            </div>

            <!-- CHILD CATEGORY -->
            <div>
              <mdc-list>
                <mdc-list-item *ngFor="let child of category.child;let idx = index" >
                  
                    <mdc-list-item-text>
                      <mdc-text-field label="Name"  type="text" [(ngModel)]="child.name" [ngModelOptions]="{standalone: true}" class="child"></mdc-text-field>
                      <mdc-text-field label="Weight"  type="number" [(ngModel)]="child.weight" [ngModelOptions]="{standalone: true}" class="child"></mdc-text-field>
              
                    </mdc-list-item-text>
                    <mdc-list-item-meta>
                      <mdc-form-field>
                          <button mdc-button (click)="category.child.splice(idx,1)"><span class="material-symbols-outlined" >delete</span></button>
                      </mdc-form-field>
                    </mdc-list-item-meta>
                </mdc-list-item>
                <mdc-list-divider></mdc-list-divider>
              
                <mdc-list-item  (click)="category.child.push({name:'',weight:0})">
                    <mdc-list-item-graphic>
                      <span class="material-symbols-outlined size-large">playlist_add</span>
                    </mdc-list-item-graphic>
                    <mdc-list-item-text >                  
                      <mdc-list-item-secondary >Ajouter une nouvelle catégorie enfant</mdc-list-item-secondary>
                    </mdc-list-item-text>        
                </mdc-list-item>          
              </mdc-list>
            </div>

            <!-- <div>
              {{form.value|json}}
            </div> -->
          </form>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <button mdcDialogButton [disabled]="category?.usedBy?.length!=0" (click)="askDelete()" class="align-start">Delete</button>
        <button mdcDialogButton mdcDialogAction="close">Decline</button>      
        <button mdcDialogButton mdcDialogAction="accept" (click)="askSave()" [disabled]="!isFormValid">Accept</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface> 
 
</mdc-dialog>