.container{
  background: white;
  min-width: 600px;
  @media (max-width: 429px) {
    -min-width: 300px;
  }

  mdc-list{

    
    .material-symbols-outlined.size-large {
      font-size: 30px;
    }
       
    mdc-list-item{
      &.disabled{
        opacity: 0.4;
      }
      mdc-form-field{
        align-self: start;
        margin-top: auto;
        margin-bottom: 12px;    
      }
      mdc-list-item-text{
        max-width: 60%;
      }
      mdc-list-item-graphic{
        img{
          width: 38px!important;
          height: 38px;
          border-radius:8px;
        }
      }  
  
    }
  }
}

mdc-dialog{
  .double{
    flex:2;
  }

  mdc-dialog-surface{
    background-color: white;
    min-width: 865px;
  }

  mdc-dialog-content{
    form{
      .image{
        position: absolute;
        right: 10px;
        top: 10px;
        background: white;
        padding: 5px;
        border-radius: 5px;
        align-items: center;
        display: flex;
        mdc-form-field{
          width: 200px;
          float: right;
        }
        img{
          width: 140px;
          height: auto;
          border-radius: 5px;
          float: right;
          margin-right: 12px;
        }
      }
  
      display: flex;
      flex-flow: column wrap;
      justify-content:flex-start; /*halign*/
      background: transparent;
      width: 100%;

      .mdc-text-field{
        margin-right: 8px;        
      }

      .child{
        width: 23vw;
      }

      >div{
        display: flex;
        flex-flow: row wrap;
        justify-content:flex-start;
        &.between{
          justify-content:space-between;
        }

        &.around{
          justify-content: space-around;
        }

      }

    }
  }

}

.page-saving{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.78);
  width: 100vw;
  height: 100vh;
  z-index: 4;
  h1{
    color: white;
    text-align: center;
    padding-top: 25%;
  }

}
