.container{
  background: white;
  min-width: 600px;
  @media (max-width: 426px) {
    -min-width: 300px;
  }

  mdc-list{
    mdc-list-item{
      &.disabled{
        opacity: 0.4;
      }
      mdc-form-field{
        align-self: start;
        margin-top: auto;
        margin-bottom: 12px;    
      }
      mdc-list-item-text{
        max-width: 60%;
      }
      mdc-list-item-graphic{
        img{
          width: 38px!important;
          height: 38px;
          border-radius:8px;
        }
      }  
  
    }
  }
}

mdc-dialog{
  .double{
    flex:2;
  }

  mdc-dialog-surface{
    background-color: white;
  }

  mdc-dialog-body{
    form{
      .image{
        width: 200px;
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        mdc-form-field{
          width: 200px;
          float: right;
        }
        img{
          width: 140px;
          height: auto;
          border-radius: 5px;
          float: right;
          margin-right: 12px;
        }
      }
  
      display: flex;
      flex-flow: column wrap;
      justify-content:flex-start; /*halign*/
      background: transparent;
      width: 100%;

      .mdc-text-field{
        margin-right: 8px;        
      }

      .child{
        width: 23vw;
      }

      >div{
        display: flex;
        flex-flow: row wrap;
        justify-content:flex-start;
        &.between{
          justify-content:space-between;
        }

        &.around{
          justify-content: space-around;
        }

      }

    }
  }

}
