<div class="container">
  <mdc-list twoLine avatar="true" border>
    <mdc-list-item  (click)="onCategoryCreate()">
        <mdc-icon mdcListItemGraphic>save</mdc-icon>
        <mdc-list-item-text i18n>Ajouter une nouvelle catégorie
          <mdc-list-item-secondary >Cliquer ici</mdc-list-item-secondary>
        </mdc-list-item-text>
        <mdc-icon class="pink" mdcListItemMeta>favorite</mdc-icon>  
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>
    <mdc-list-item *ngFor="let category of categories" 
                   [class.disabled]="!category.active"
                   (click)="onCategorySelect($event,category)">
        <img mdcListItemGraphic [hidden]="!category.cover" src="{{category.cover}}" />
        <mdc-icon mdcListItemGraphic [hidden]="category.cover" class="size-large">folder</mdc-icon>
        <mdc-list-item-text>
          <span>{{category.type}}/{{category.name}} ({{category.usedBy?.lenght||0}})</span>
          <mdc-list-item-secondary>
              {{category.description||'«pas de desciption»'}} // 
              <i class="{{category.image}}"></i> {{category.image}}  
          </mdc-list-item-secondary>              
        </mdc-list-item-text>
        <mdc-list-item-meta>
            <mdc-chip-set choice>
              <mdc-chip [hidden]="category.home" class="chip-primary">
                <mdc-chip-icon trailing>thumb_up</mdc-chip-icon>
              </mdc-chip>
              <mdc-chip >
                <mdc-chip-text>{{category.group}}</mdc-chip-text>
                <mdc-chip-icon trailing>folder</mdc-chip-icon>
              </mdc-chip>
              <mdc-chip>
                <mdc-chip-text>{{category.weight}}</mdc-chip-text>
                <mdc-chip-icon trailing><mdc-icon >sort</mdc-icon></mdc-chip-icon>
              </mdc-chip>
            </mdc-chip-set>                      
            
        </mdc-list-item-meta>
        <mdc-list-divider></mdc-list-divider>
    </mdc-list-item>
  </mdc-list>
</div>
