<!-- 
<div class="container">
  <h1>Config introspection</h1>
  <div >
      <table>
          <tr>
              <th>Menu</th>
          </tr>
          <tr *ngFor="let sub of config.shared?.menu">
              <td>{{sub.name.fr}} </td>
          </tr>
      </table> <br>
      <table>
          <tr>
              <th>Market places</th>
              <th>lat/lng</th>
          </tr>
          
          <tr *ngFor="let sub of config.shared?.marketplace.list">
              <td>{{sub.name}} </td>
              <td>{{sub.lat}}/{{sub.lng}}</td>
          </tr>
      </table><br>
      <table>
          <tr>
              <th>Shipping Week</th>
          </tr>
          <tr *ngFor="let sub of config.shared?.shippingweek">
              <td>{{sub | date:'medium'}} </td>
          </tr>
      </table>
  </div>
</div>
<div>
  
      <div class="clearfix well" >
        <h3 class="page-header">Gateway public key (stripe)</h3>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" [(ngModel)]="config.shared.keys.pubStripe" />
        </div>

        <h3 class="page-header">Uploadcare public key </h3>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" [(ngModel)]="config.shared.keys.pubUpcare" />
        </div>

        <h3 class="page-header">Github public key</h3>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" [(ngModel)]="config.shared.keys.pubGithub" />
        </div>

        <h3 class="page-header">Map public key</h3>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" [(ngModel)]="config.shared.keys.pubMap" />
        </div>

        <h3 class="page-header">Disqus public key</h3>
        <div class="form-group ">                        
            <input type="text" class="form-control input-lg" [(ngModel)]="config.shared.keys.pubDisqus" />
        </div>
      </div>
  
</div>
-->