
<div class="blured" ></div>
<!-- EDIT DOCUMENT CONTENT -->
<router-outlet></router-outlet>

<div class="container" >

  <h3 >Pages</h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" format="menu"></kng-config-input>

  <!-- HUB Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

  <mdc-list [twoLine]="true" avatar="true" border="true" >
    <mdc-list-item [routerLink]="['./create']">
      <mdc-icon mdcListItemGraphic class="size-large">folder</mdc-icon>
      <mdc-list-item-text>
        Ajouter un nouveau contenu
        <mdc-list-item-secondary>Cliquer ici pour ajouter</mdc-list-item-secondary>
      </mdc-list-item-text>        
    </mdc-list-item>
    <!-- LIST OF PAGES -->
    <mdc-list-divider></mdc-list-divider>
    <mdc-list-item *ngFor="let content of contents" 
                    [routerLink]="['./',content.slug[0]]"
                    [class.disabled]="!content.available">
      <mdc-icon mdcListItemGraphic class="size-large">folder</mdc-icon>
      <mdc-list-item-text>
        <span>{{content.type}}</span><b>/</b>{{content.slug[0]}}
        <mdc-list-item-secondary>
            <span [innerHtml]="content.title[$i18n.locale]"></span>
        </mdc-list-item-secondary>              
      </mdc-list-item-text>
      <div mdcListItemMeta>
        <mdc-form-field>
            <mdc-checkbox [checked]="content.available" [disabled]="true" ></mdc-checkbox>
            <span class="hide-md">Active</span>
        </mdc-form-field>
          
        <mdc-chip>
          <mdc-chip-icon leading><mdc-icon >sort</mdc-icon></mdc-chip-icon>
          <mdc-chip-text>{{content.weight}}</mdc-chip-text>
        </mdc-chip>          
      </div>
      <mdc-list-divider></mdc-list-divider>
    </mdc-list-item>
  </mdc-list>
</div>


