 <div class="page-saving" [hidden]="isReady">
    <h1>Saving</h1>
  </div>
  <div class="container">  
  <h3 >Configuration du système</h3>  
  <hr class="dashed"/>
  <kng-config-input clazz="config" format="menu"></kng-config-input>

  <!-- SITE Lang -->
  <kng-config-input clazz="config" label="Langage selection"  format="lang"></kng-config-input>

  <!-- TITLE/DESC -->
  <kng-config-input clazz="config" label="Ttre principal" name="site.title" format="text" 
                    [(ngModel)]="config?.shared.name[$i18n.locale]"></kng-config-input>
  <kng-config-input clazz="config" label="Description principale" name="site.description" format="area" 
                    [(ngModel)]="config?.shared.description[$i18n.locale]"></kng-config-input>


  <!-- EMAIL -->
  <kng-config-input clazz="config" label="Mail de contact" name="mail" format="text" 
                    [(ngModel)]="config?.shared.mail.address"
                    [checked]="config?.shared.welcome.active" [withCheck]="true"
                    (checkChange)="config?.shared.welcome.active=$event"></kng-config-input>

  
  <!-- PHONE -->
  <kng-config-input clazz="config" label="Téléphone de contact" name="phone" format="text" 
                    [(ngModel)]="config?.shared.mail.phone"></kng-config-input>

  <!-- SUBJECT -->
  <kng-config-input clazz="config" label="Sujet des mails" name="mail.subject" format="text" 
                    [(ngModel)]="config?.shared.mail.subject"></kng-config-input>

  <!-- SIGNATURE -->
  <kng-config-input clazz="config" label="Signature des mails" name="mail.signature" format="area" 
                    [(ngModel)]="config?.shared.mail.signature"></kng-config-input>


  <!-- FAQ -->
  <h3 >FAQ de karibou.ch</h3>  
  <hr class="dashed"/>
  <!-- SITE Lang -->
  <kng-config-input clazz="config" label="Langage selection"  format="lang"></kng-config-input>

  <div class="faq-title">
    <kng-config-input clazz="config" label="FAQ titre" name="faq.title" format="text" 
                    [(ngModel)]="config?.shared.faq_title[$i18n.locale]"></kng-config-input>

    <button (click)="onCreateFAQ()">Ajouter une Question</button>
  </div>

  <div class="faq">
    <div *ngFor="let faq of config?.shared.faq;let idx=index" class="faq-separator">
      
      <div class="faq-question">
        <kng-config-input clazz="config" label="FAQ question {{idx + 1}}" name="faq.question" format="text" [(ngModel)]="faq.q[$i18n.locale]"></kng-config-input>
      </div>
      <div class="faq-reponse">
        <kng-config-input clazz="config" label="FAQ réponse" name="faq.réponse" format="area" 
        [(ngModel)]="faq.a[$i18n.locale]"></kng-config-input>
      </div>      
      <div class="faq-actions">
        <button  (click)="config?.shared.faq.splice(idx, 1)">Supprimer</button>
      </div>
    </div>
  </div>      


  <!-- Subscription text -->
  <h3 >Subscription <span class="gray">(subscription header)</span></h3>
  <hr class="dashed"/>
  <!-- SITE Lang -->
  <kng-config-input clazz="config" label="Langage selection"  format="lang"></kng-config-input>

  <kng-config-input clazz="config" label="Titre subscription" name="subscription.titre" format="text" 
                    [(ngModel)]="config?.shared.subscription.t[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Subtitle subscription" name="subscription.subtitre" format="text" 
                    [(ngModel)]="config?.shared.subscription.h[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Paragraphe subscription" name="subscription.p" format="area" 
                    [(ngModel)]="config?.shared.subscription.p[$i18n.locale]"></kng-config-input>

  

  <!-- Karibou.ch Footer -->
  <h3 >Main Footer <span class="gray">(welcome bottom)</span></h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" label="Titre footer" name="footer.titre" format="text" 
                    [(ngModel)]="config?.shared.footer.t[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Header footer" name="footer.h" format="text" 
                    [(ngModel)]="config?.shared.footer.h[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Paragraphe footer" name="footer.p" format="area" 
                    [(ngModel)]="config?.shared.footer.p[$i18n.locale]"></kng-config-input>

                    
  <hr class="dashed"/>
  <h3 >Configuration des clés publiques (API tiers)</h3>
  <kng-config-input clazz="config" label="Connect public key (stripe)" name="key.connect" format="text" 
                    [(ngModel)]="config?.shared.keys.pubConnect"></kng-config-input>
  <kng-config-input clazz="config" label="Gateway public key (stripe)" name="key.api" format="text" 
                    [(ngModel)]="config?.shared.keys.pubStripe"></kng-config-input>

  <kng-config-input clazz="config" label="Uploadcare public key" name="key.uc" format="text" 
                    [(ngModel)]="config?.shared.keys.pubUpcare"></kng-config-input>

  <kng-config-input clazz="config" label="Translate public key" name="key.translate" format="text" 
                    [(ngModel)]="config?.shared.keys.pubTranslate"></kng-config-input>

  <kng-config-input clazz="config" label="Github public key" name="key.github" format="text" 
                    [(ngModel)]="config?.shared.keys.pubGithub"></kng-config-input>

  <kng-config-input clazz="config" label="Map public key" name="key.map" format="text" 
                    [(ngModel)]="config?.shared.keys.pubMap"></kng-config-input>

  <kng-config-input clazz="config" label="Chat public key" name="key.map" format="text" 
                    [(ngModel)]="config?.shared.keys.pubChat"></kng-config-input>

  <kng-config-input clazz="config" label="Discuss public key" name="key.map" format="text" 
                    [(ngModel)]="config?.shared.keys.pubDisqus"></kng-config-input>

  <kng-config-input clazz="config" label="Google Auth " name="key.ggauth" format="text" 
                    [(ngModel)]="config?.shared.keys.pubGoogle"></kng-config-input>

  <kng-config-input clazz="config" label="Facebook Auth " name="key.ggauth" format="text" 
                    [(ngModel)]="config?.shared.keys.pubFacebook"></kng-config-input>

  <button raised mdc-button (click)="onConfigSave()" class="primary">
    <span mdcButtonLabel>Sauver vos modifications</span>
    <span class="material-symbols-outlined">save</span>
  </button>    
                                    
</div>