<div class="container">
  <mdc-list [lines]="2" avatar="true" border="true" interactive="false">
    <mdc-list-item (click)="onConfigSave()">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">save</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-text i18n>
          Sauver vos modifications
          <mdc-list-item-secondary>Cliquer ici </mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item-text>
      <mdc-list-item-meta>
        <mdc-icon class="pink">favorite</mdc-icon>
      </mdc-list-item-meta>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>

    <!-- WELCOME/MSG -->
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-textarea i18n-label label="Message de Welcome" kng-autosize rows="4" [(ngModel)]="config?.shared.welcome.message[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
      <mdc-list-item-meta>
        <mdc-form-field>
          <mdc-checkbox [checked]="config?.shared.welcome.active" [(ngModel)]="config?.shared.welcome.active"></mdc-checkbox>
        </mdc-form-field>
      </mdc-list-item-meta>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>

    <!-- MAINTENANCE/MSG -->
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-textarea i18n-label label="Message de maintenance" kng-autosize rows="4" [(ngModel)]="config?.shared.maintenance.reason[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
      <mdc-list-item-meta>
        <mdc-form-field>
          <mdc-checkbox [checked]="config?.shared.maintenance.active" [(ngModel)]="config?.shared.maintenance.active"></mdc-checkbox>
        </mdc-form-field>
      </mdc-list-item-meta>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>

    <!-- HEADER/MSG -->
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-textarea i18n-label label="Message d'entête " kng-autosize rows="4" [(ngModel)]="config?.shared.header.message[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
      <mdc-list-item-meta>
        <mdc-form-field>
          <mdc-checkbox [checked]="config?.shared.header.active" [(ngModel)]="config?.shared.header.active"></mdc-checkbox>
        </mdc-form-field>
      </mdc-list-item-meta>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>

    <h4 class="text-center">Page de checkout</h4>
    <!-- CHECKOUT ADDRESS -->    
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
            <mdc-textarea i18n-label label="Info adresse lors du checkout" rows="4" [(ngModel)]="config?.shared.checkout.address[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>    
    <!-- CHECKOUT PAYMENT -->    
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-textarea i18n-label label="Info payment lors du checkout" rows="4" [(ngModel)]="config?.shared.checkout.payment[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>
    <!-- CHECKOUT MSG -->
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-textarea i18n-label label="Message lors du checkout" rows="4" [(ngModel)]="config?.shared.checkout.message[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
      <mdc-list-item-meta>
        <mdc-form-field>
          <mdc-checkbox [checked]="config?.shared.checkout.active" [(ngModel)]="config?.shared.checkout.active"></mdc-checkbox>
        </mdc-form-field>
      </mdc-list-item-meta>
    </mdc-list-item>
    
  </mdc-list>
    
</div>