mdc-dialog{

  &.loading{
    filter: brightness(80%);
  }

  .double{
    flex:2;
  }

  mdc-dialog-surface{
    background-color: white;
  }
    
  mdc-dialog-content{
    .geomap{
      height: 180px;
      width: 180px;
      position: absolute;
      right: 15px;
      top: 15px;  
      background-size:cover;  
      border:1px solid #ddd;
      margin: 2px;
    }
      
    form{
      display: flex;
      flex-flow: column wrap;
      justify-content:flex-start; /*halign*/
      background: transparent;
      width: 100%;

      .ng-invalid .mdc-floating-label{
        color: red!important;
      }

      >div{
        display: flex;
        flex-flow: row wrap;
        justify-content:flex-start;
        &.between{
          justify-content:space-between;
        }

      }

    }
  }
}
