  <div class="page-saving" [hidden]="isReady">
    <h1>Saving</h1>
  </div>
  <div class="container">    
    <h3 i18n>Informations principales</h3>
    <hr class="dashed"/>
    <kng-config-input clazz="config" format="menu"></kng-config-input>
  
    <!-- SITE Lang -->
    <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

    <!-- SITE About -->
    <kng-config-input clazz="config" label="Titre about" name="about.titre" format="text" 
                      [(ngModel)]="config?.shared.about.t[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config" label="Header about" name="about.titre" format="text" 
                      [(ngModel)]="config?.shared.about.h[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config" label="Paragraphe about" name="about.p" format="area" 
                      [(ngModel)]="config?.shared.about.p[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config" label="Image about" name="about.image" format="image" 
                      (imageChange)="onDialogOpen($event)" [config]="config"
                      [(ngModel)]="config?.shared.about.image"></kng-config-input>


    <!-- SITE Footer -->
    <kng-config-input clazz="config" label="Titre footer" name="footer.titre" format="text" 
                      [(ngModel)]="config?.shared.footer.t[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config" label="Header footer" name="footer.titre" format="text" 
                      [(ngModel)]="config?.shared.footer.h[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config" label="Paragraphe footer" name="footer.p" format="area" 
                      [(ngModel)]="config?.shared.footer.p[$i18n.locale]"></kng-config-input>

    <button raised mdc-button (click)="onConfigSave()" class="primary">
      <span mdcButtonLabel>Sauver vos modifications</span>
      <mdc-icon>save</mdc-icon>
    </button>    
                      
</div>