.container{
  min-width: 600px;
  z-index: 1;
  @media (max-width: 429px) {
    -min-width: 300px;
  }

  h1,h2,h3{
    padding-left: 15px;
    margin-top: 40px;
  }

  .menu-group{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    padding-top: 5px;    
  }

  button.primary{
    width: 100%;
  }

  .config-custom{
    display: flex;
    align-items: center;    
    margin-bottom: 10px;
  }

  div.block{
    background: #eee;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;  
    padding: 0 8px;
    h3 .material-symbols-outlined{
      transform: translateY(6px);      
    }
  }

  select{
    align-self: flex-end;
    margin-bottom: 8px;        
    padding: 15px;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 5px;
    font-size: 1em;      
    width: 100%;
  }

}

.page-saving{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.78);
  width: 100vw;
  height: 100vh;
  z-index: 4;
  h1{
    color: white;
    text-align: center;
    padding-top: 25%;
  }
}

/**
 CODE MIRROR */
