<div class="container">
    <mdc-list [twoLine]="true" avatar="true"  [interactive]="false">
      <mdc-list-item (click)="onAddressCreate()">
          <mdc-list-item-graphic>
            <mdc-icon [fontSize]="30">folder</mdc-icon>
          </mdc-list-item-graphic>
          <mdc-list-item-text i18n>
            Ajouter une nouvelle adresse de collecte
            <mdc-list-item-secondary i18n>Cliquer ici pour ajouter</mdc-list-item-secondary>
          </mdc-list-item-text>        
      </mdc-list-item>
      <mdc-list-divider></mdc-list-divider>
      <mdc-list-item *ngFor="let address of config.shared.deposits; let i = index" 
                      [class.disabled]="!address.active"
                      (click)="onAddressSelect($event,address,i)">
          <mdc-list-item-graphic>
            <div class="map" [ngStyle]="{'background-image': 'url(' + getStaticMap(address) + ')'}"></div>
          </mdc-list-item-graphic>
          <mdc-list-item-text>
            <span>{{address.name}}</span><b>/</b><span>{{address.streetAdress}}</span>
            <mdc-list-item-secondary>
                {{address.postalCode}}/{{address.region}}<br/>
                {{address.note}}
            </mdc-list-item-secondary>              
          </mdc-list-item-text>
          <mdc-list-item-meta>
              <mdc-form-field>
                  <mdc-checkbox [checked]="address.active" [disabled]="true" ></mdc-checkbox>
                  <span class="hide-md">Active</span>
              </mdc-form-field>
                
              <mdc-chip>
                <mdc-chip-icon leading><mdc-icon >sort</mdc-icon></mdc-chip-icon>
                <mdc-chip-text>{{address.fees|currency:'CHF'}}</mdc-chip-text>
              </mdc-chip>
              
          </mdc-list-item-meta>
          <mdc-list-divider></mdc-list-divider>
      </mdc-list-item>
    </mdc-list>
  </div>
  <!-- EDIT -->
  <mdc-dialog #dlgEdit 
    (accept)="onSave($event)"
    (decline)="onDecline()"
    [escapeToClose]="true"
    [clickOutsideToClose]="true">
    <mdc-dialog-surface>
      <mdc-dialog-header>
        <mdc-dialog-header-title>
          <span i18n>{{edit.address?.name||'Nouvelle Addresse'}}</span>
        </mdc-dialog-header-title>
      </mdc-dialog-header>
      <mdc-dialog-body *ngIf="edit.address">
          <form [formGroup]="edit.form" (submit)="onSave()">
              <!-- CHECK -->
              <div class="geomap" 
                  [ngStyle]="{'background-image': 'url(' + getStaticMap(edit.address) + ')'}">
              </div>
              <div>

                <mdc-text-field i18n-label label="Poid" type="number" [ngModel]="edit.address.weight" formControlName="weight">
                </mdc-text-field>                
                <mdc-text-field i18n-label label="Prix" type="number" [required]="true" [ngModel]="edit.address.fees" formControlName="fees">
                </mdc-text-field>                
                  
                <mdc-text-field i18n-label label="Nom" type="text" [ngModel]="edit.address.name" formControlName="name">
                </mdc-text-field>                
                <mdc-text-field i18n-label label="Rue/N°" type="text" [ngModel]="edit.address.streetAdress" formControlName="streetAddress" style="width: 50%">
                </mdc-text-field>                
                <mdc-text-field i18n-label label="Étage" type="text" [ngModel]="edit.address.floor" formControlName="floor" style="width: 20%">
                </mdc-text-field>                
                
                <mdc-text-field i18n-label label="Note" type="text" [ngModel]="edit.address.note" formControlName="note" style="width: 50%">
                </mdc-text-field>                
                
                <mdc-form-field class="align-end">
                  <mdc-checkbox [ngModel]="edit.address.active" formControlName="active" ></mdc-checkbox>
                  <span i18n>Actif</span>
                </mdc-form-field>
            </div>
    
            <div>                      
              <mdc-text-field style="flex:1" i18n-label label="Code Postal" type="text" [ngModel]="edit.address.postalCode" formControlName="postalCode" >
              </mdc-text-field>
              <mdc-text-field style="flex:1" i18n-label label="Région" type="text" [ngModel]="edit.address.region" formControlName="region" >
              </mdc-text-field>
            </div>
          </form>
          
      </mdc-dialog-body>
      <mdc-dialog-footer>
        <button mdc-dialog-button (click)="onDelete($event)" [hidden]="!edit.idx" [disabled]="edit.address?.active" class="align-start">Delete</button>
        <button mdc-dialog-button [cancel]="true">Decline</button>
        <button mdc-dialog-button (click)="onSave($event)" [disabled]="!edit.form.valid">Accept</button>
      </mdc-dialog-footer>
    </mdc-dialog-surface>
  </mdc-dialog>
  