<div class="page-saving" [hidden]="isReady">
  <h1>Saving</h1>
</div>
<div class="container">

  <h3 >Configuration du Welcome</h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" format="menu"></kng-config-input>

  <!-- SITE Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>


  <!-- WELCOME/MSG -->
  <kng-config-input clazz="config" label="Message de Welcome" name="welcome" format="area" [withCheck]="true"
                    [(ngModel)]="config?.shared.welcome.message[$i18n.locale]"
                    [checked]="config?.shared.welcome.active"
                    (checkChange)="config?.shared.welcome.active=$event"></kng-config-input>

  <!-- SITE TAGLINE -->
  <h3 >Tagline <span class="gray">(welcome top)</span></h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" label="Titre tagline" name="tagline-t" format="text"
                    [(ngModel)]="config?.shared.tagLine.t[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Header tagline" name="tagline-h" format="text"
                    [(ngModel)]="config?.shared.tagLine.h[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Paragraphe tagline" name="tagline-p" format="area"
                    [(ngModel)]="config?.shared.tagLine.p[$i18n.locale]"></kng-config-input>

  <!-- SITE TAGLINE IMAGE -->
  <kng-config-input clazz="config" label="Image tagline" name="tagline-p" format="image"
                    [config]="config"
                    (imageChange)="onDialogOpen($event)"
                    [(ngModel)]="config.shared.tagLine.image"></kng-config-input>

  <!-- SITE About -->
  <h3 >About <span class="gray">(welcome middle)</span></h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" label="Titre about" name="about.titre" format="text" 
                    [(ngModel)]="config?.shared.about.t[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Header about" name="about.titre" format="text" 
                    [(ngModel)]="config?.shared.about.h[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Paragraphe about" name="about.p" format="area" 
                    [(ngModel)]="config?.shared.about.p[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Image about" name="about.image" format="image" 
                    (imageChange)="onDialogOpen($event)" [config]="config"
                    [(ngModel)]="config?.shared.about.image"></kng-config-input>


  <!-- SITE Footer -->
  <h3 >Footer <span class="gray">(welcome bottom)</span></h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" label="Titre footer" name="footer.titre" format="text" 
                    [(ngModel)]="config?.shared.footer.t[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Header footer" name="footer.titre" format="text" 
                    [(ngModel)]="config?.shared.footer.h[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Paragraphe footer" name="footer.p" format="area" 
                    [(ngModel)]="config?.shared.footer.p[$i18n.locale]"></kng-config-input>

  <button raised mdc-button (click)="onConfigSave()" class="primary">
    <span mdcButtonLabel>Sauver vos modifications</span>
    <mdc-icon>save</mdc-icon>
  </button>    
                
</div>