<div class="container">
  <mdc-list [lines]="2" avatar="true" border="true" interactive="false">
    <mdc-list-item (click)="onConfigSave()">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">save</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-text i18n>
          Sauver vos modifications
          <mdc-list-item-secondary>Cliquer ici </mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item-text>
      <mdc-list-item-meta>
        <mdc-icon class="pink">favorite</mdc-icon>
      </mdc-list-item-meta>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>

    <!-- SITE TAGLINE -->
    <mdc-list-item class="config">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-text-field i18n-label label="Titre tagline du site" type="text" [(ngModel)]="config?.shared.home.tagLine.t[$i18n.locale]">
          </mdc-text-field>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item class="config">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-text-field i18n-label label="Header tagline du site" type="text" [(ngModel)]="config?.shared.home.tagLine.h[$i18n.locale]">
          </mdc-text-field>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-textarea i18n-label label="Paragraphe tagline du site" rows="4" kng-autosize [(ngModel)]="config?.shared.home.tagLine.p[$i18n.locale]"></mdc-textarea>
      </mdc-list-item-text>
    </mdc-list-item>
    <!-- TAGLINE IMAGE -->
    <mdc-list-item class="config">
      <mdc-list-item-text>
        <button mdc-button outlined="true"  dense="true" class="align-right"
          (click)="onClear('tagLine')">remove image</button>   
        <div class="images" style="float: right;">
          <ngx-uploadcare-widget images-only="true" 
            [value]="config.shared.home.tagLine.image" 
            [validator]="ucValidator"
            (on-upload-complete)="onUpload($event,'tagLine')"
            (on-dialog-open)="onDialogOpen($event)"
            [public-key]="config.shared.keys.pubUpcare">
          </ngx-uploadcare-widget>
        </div>
      </mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>
    <!-- SITE Howto -->
    <mdc-list-item class="config">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-text-field i18n-label label="Titre howto du site" type="text" [(ngModel)]="config?.shared.home.howto.t[$i18n.locale]">
          </mdc-text-field>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item class="config">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-text-field i18n-label label="Header howto du site" type="text" [(ngModel)]="config?.shared.home.howto.h[$i18n.locale]">
          </mdc-text-field>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item class="config large">
      <mdc-list-item-graphic>
        <mdc-icon [fontSize]="30">folder_special</mdc-icon>
      </mdc-list-item-graphic>
      <mdc-list-item-text>
        <mdc-list-item-secondary>
          <mdc-textarea i18n-label label="Paragraphe howto du site" kng-autosize rows="4" [(ngModel)]="config?.shared.home.howto.p[$i18n.locale]"></mdc-textarea>
        </mdc-list-item-secondary>
      </mdc-list-item-text>
    </mdc-list-item>
    <!-- HOWTO IMAGE -->
    <mdc-list-item class="config">
      <mdc-list-item-text>
        <button mdc-button outlined="true"  dense="true" class="align-right"
          (click)="onClear('howto')">remove image</button>   
        <div class="images" style="float: right;">
          <ngx-uploadcare-widget images-only="true" [value]="config.shared.home.howto.image" (on-upload-complete)="onUpload($event,'howto')"
            [public-key]="config.shared.keys.pubUpcare">
          </ngx-uploadcare-widget>
        </div>
      </mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-divider></mdc-list-divider>

  </mdc-list>
</div>