 <div class="page-saving" [hidden]="isReady">
    <h1>Saving</h1>
  </div>
  <div class="container">  
  <h3 i18n>Configuration du système</h3>  
  <hr class="dashed"/>
  <kng-config-input clazz="config" format="menu"></kng-config-input>

  <!-- SITE Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

  <!-- EMAIL -->
  <kng-config-input clazz="config" label="Mail de contact" name="mail" format="text" 
                    [(ngModel)]="config?.shared.mail.address"
                    [checked]="config?.shared.welcome.active" [withCheck]="true"
                    (checkChange)="config?.shared.welcome.active=$event"></kng-config-input>

  
  <!-- PHONE -->
  <kng-config-input clazz="config" label="Téléphone de contact" name="phone" format="text" 
                    [(ngModel)]="config?.shared.mail.phone"></kng-config-input>

  <!-- SUBJECT -->
  <kng-config-input clazz="config" label="Sujet des mails" name="mail.subject" format="text" 
                    [(ngModel)]="config?.shared.mail.subject"></kng-config-input>

  <!-- SIGNATURE -->
  <kng-config-input clazz="config" label="Signature des mails" name="mail.signature" format="area" 
                    [(ngModel)]="config?.shared.mail.signature"></kng-config-input>

  
  <hr class="dashed"/>
  <h3 i18n>Configuration des clés publiques (API tiers)</h3>
  <kng-config-input clazz="config" label="Connect public key (stripe)" name="key.connect" format="text" 
                    [(ngModel)]="config?.shared.keys.pubConnect"></kng-config-input>
  <kng-config-input clazz="config" label="Gateway public key (stripe)" name="key.api" format="text" 
                    [(ngModel)]="config?.shared.keys.pubStripe"></kng-config-input>

  <kng-config-input clazz="config" label="Uploadcare public key" name="key.uc" format="text" 
                    [(ngModel)]="config?.shared.keys.pubUpcare"></kng-config-input>

  <kng-config-input clazz="config" label="Translate public key" name="key.translate" format="text" 
                    [(ngModel)]="config?.shared.keys.pubTranslate"></kng-config-input>

  <kng-config-input clazz="config" label="Github public key" name="key.github" format="text" 
                    [(ngModel)]="config?.shared.keys.pubGithub"></kng-config-input>

  <kng-config-input clazz="config" label="Map public key" name="key.map" format="text" 
                    [(ngModel)]="config?.shared.keys.pubMap"></kng-config-input>

  <kng-config-input clazz="config" label="Chat public key" name="key.map" format="text" 
                    [(ngModel)]="config?.shared.keys.pubChat"></kng-config-input>

  <kng-config-input clazz="config" label="Discuss public key" name="key.map" format="text" 
                    [(ngModel)]="config?.shared.keys.pubDisqus"></kng-config-input>

  <kng-config-input clazz="config" label="Google Auth " name="key.ggauth" format="text" 
                    [(ngModel)]="config?.shared.keys.pubGoogle"></kng-config-input>

  <kng-config-input clazz="config" label="Facebook Auth " name="key.ggauth" format="text" 
                    [(ngModel)]="config?.shared.keys.pubFacebook"></kng-config-input>

  <button raised mdc-button (click)="onConfigSave()" class="primary">
    <span mdcButtonLabel>Sauver vos modifications</span>
    <mdc-icon>save</mdc-icon>
  </button>    
                                    
</div>