  <div class="page-saving" [hidden]="isReady">
    <h1>Saving</h1>
  </div>
  <div class="container" *ngIf="currentHub">    
    <h3 >Informations principales</h3>
    <hr class="dashed"/>
    <kng-config-input clazz="config" format="menu"></kng-config-input>
    <kng-config-input clazz="config" format="hub"></kng-config-input>
  

  <!-- HUB maintenance -->
  <h3 >Maintenance <span class="gray"> top destination</span></h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config" label="Maintenance message" name="header.maintenance" format="area" [withCheck]="true"
                    [(ngModel)]="currentHub.maintenance.reason[$i18n.locale]"
                    [checked]="currentHub.maintenance.active"
                    (checkChange)="currentHub.maintenance.active=$event"></kng-config-input>

  <!-- switch Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

  <!-- HUB Content associated a target (home,cellar,grocery, ...) -->
  <h3 >
    Content <span class="gray">top destination (home,cellar,grocery, ...)</span>
    <button class="float-right" mdc-button outlined    (click)="addContent()"><span class="material-symbols-outlined">add</span></button>
  </h3>
  <hr class="dashed"/>
  <div class="hub-content" *ngFor="let content of currentHub.home.content;let $idx=index">
    <!-- DEL CONTENT -->
    <kng-config-input clazz="config" label="Content associated target" name="content-{{$idx}}.target" format="text" 
                      [(ngModel)]="content.target">

    <button class="small" mdc-button outlined primary (click)="currentHub.home.content.splice($idx, 1)">
      <span class="material-symbols-outlined">delete</span>
    </button>
                  
    </kng-config-input>

    <kng-config-input clazz="config" label="Titre content" name="content-{{$idx}}.titre" format="text" 
                      [(ngModel)]="content.t[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config" label="Header content" name="content-{{$idx}}.h" format="text" 
                      [(ngModel)]="content.h[$i18n.locale]"></kng-config-input>

    <kng-config-input clazz="config run-codemirror" label="Paragraphe content" name="content-{{$idx}}.p" format="area" 
                      [(ngModel)]="content.p[$i18n.locale]"></kng-config-input>

    <!-- switch Lang -->
    <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

    <kng-config-input clazz="config" label="Image content" name="content-{{$idx}}.image" format="image" 
                      (imageChange)="onDialogOpen($event)" [config]="config"
                      [(ngModel)]="content.image">

    </kng-config-input>


  </div>    

  <!-- HUB Header -->
  <h3 >Header <span class="gray">home middle</span></h3>  
  <hr class="dashed"/>

  <kng-config-input clazz="config run-codemirror" label="Header message" name="header.message" format="area" [withCheck]="true"
                    [(ngModel)]="currentHub.header.message[$i18n.locale]"
                    [checked]="currentHub.header.active"
                    (checkChange)="currentHub.header.active=$event"></kng-config-input>
  
  <!-- switch Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

  <!-- HUB Selection -->
  <h3 >Selection </h3>
  <hr class="dashed"/>
  <kng-config-input clazz="config run-codemirror" label="Selection title" name="home.selection.t" format="text" 
                    [(ngModel)]="currentHub.home.selection.t[$i18n.locale]"></kng-config-input>


  <!-- HUB Checkout -->
  <h3 >Checkout</h3>
  <hr class="dashed"/>
  <!-- switch Lang -->
  <kng-config-input clazz="config" label="Titre about"  format="lang"></kng-config-input>

  <kng-config-input clazz="config" label="Checkout title" name="checkout.titre" format="area" 
                    [(ngModel)]="currentHub.checkout.title[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Checkout address" name="checkout.address" format="area" 
                    [(ngModel)]="currentHub.checkout.address[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Checkout payment" name="checkout.payment" format="area" 
                    [(ngModel)]="currentHub.checkout.payment[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Checkout resume" name="checkout.resume" format="area" 
                    [(ngModel)]="currentHub.checkout.resume[$i18n.locale]"></kng-config-input>

  <kng-config-input clazz="config" label="Checkout message" name="checkout.message" format="area" 
                    [(ngModel)]="currentHub.checkout.message[$i18n.locale]"
                    [checked]="currentHub.checkout.active" [withCheck]="true"
                    (checkChange)="currentHub.checkout.active=$event"></kng-config-input>



  <button raised mdc-button (click)="onHubSave()" class="primary">
    <span mdcButtonLabel>Sauver vos modifications</span>
    <span class="material-symbols-outlined">save</span>
  </button>    
                
</div>