<div>
    <form [formGroup]="$address" (ngSubmit)="onSave()">

        <div class="groupfield fullwidth">
            <input  id="f001" class="form__field" type="text" formControlName="name"  [placeholder]="glabel.user_display_name">
            <label for="f001" class="form__label" [class.error]="isInvalid('name')">
                {{glabel.user_display_name}}
            </label>
        </div>          


        <div class="groupfield width-75">
            <input #street id="autocomplete" class="form__field  " type="text" [placeholder]="label.address_street" autocomplete="false" formControlName="street">
            <label for="autocomplete" class="form__label" [class.error]="isInvalid('street')">
                {{label.address_street}}
            </label>
        </div>          


        <div class="groupfield width-25">
            <input  id="f003" class="form__field  floor" type="text" formControlName="floor" [placeholder]="label.address_floor" >
            <label for="f003" class="form__label" [class.error]="isInvalid('floor')">
                {{label.address_floor}}
            </label>
        </div>
          
        <div class="groupfield fullwidth">
            <input  id="f004" class="form__field" type="text" formControlName="phone" [placeholder]="glabel.user_phone" (blur)="onGeoloc()">
            <label for="f004" class="form__label" [class.error]="isInvalid('phone')">
                <span hidden class="material-symbols-outlined">phone</span>
                {{glabel.user_phone}}
            </label>
        </div>
        
  
        <p class="help-block" >
          {{label.address_postalcode_title}}
        </p>
          
        <select formControlName="region" class="width-50" >
          <!-- <option value="" selected></option> -->
          <option value="" disabled selected>{{label.address_region}}</option>
          <option *ngFor="let region of regions" [value]="region" >{{region}}</option>
        </select>
        
          
        
        <select  formControlName="postalCode" class="width-50" >
          <option value="" disabled selected>{{label.address_postalcode}}</option>
          <option *ngFor="let location of locations" [value]="location" >{{location}}</option>
        </select>
        
        <div class="groupfield fullwidth">
            <input  id="f005" class="form__field" type="text" formControlName="note" [placeholder]="glabel.user_address_note">
            <label for="f005" class="form__label">
                {{glabel.user_address_note}}
            </label>
        </div>
        
        <!-- <p>Form value: {{ $address.value | json }}</p>
        <p>Form status: {{ $address.status | json }}</p> -->
        <button [hidden]="!displayClear" [disabled]="isClear" type="button" (click)="onCancel()"
                class="align-left default secondary">
          <span class="material-symbols-outlined">close</span>              
        </button>            
        
        <button [disabled]="!$address.valid" 
                class="align-right primary default">
          <span class="material-symbols-outlined">account_circle</span>              
          <span >{{glabel.action_save}}</span>
        </button>            

    </form>
  </div>
