
.kng-drawer{
  color:var(--mdc-theme-primary-text);
  background: linear-gradient(transparent 20%,white 50%);

  position: fixed;
  top: calc( 100vh * -1.85 );
  left: 0;
  width: 100%;
  min-height: 300px;
  @media (max-width: 769px) {
    height: 95vh;
  }

  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.4), 
              0 4px 8px 0 rgba(0,0,0,.14), 
              0 1px 16px 0 rgba(0,0,0,.12);

  box-shadow: 0 12px 24px 10px rgba(0, 0, 0, 0.4);            

  padding-bottom: 2px;


  &.kng-drawer-open{
    top: 0px;
  }    

  .k-brand{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 11px;
    z-index: 100;
    opacity: .5;
    color: #333;
    img {
      width: 16px;
      transform: translateY(7px);
    }
  }
  
  .noshipping {
    padding: 8px;
    color: var(--mdc-theme-primary);
    border-radius: 4px;
    border: 1px solid var(--mdc-theme-secondary);
    margin: 20px;
    width: fit-content;
    background: pink;
    opacity: .8;    
    b{
      vertical-align: super;
      padding: 5px;      
    }
  }

  button.close{
    cursor: pointer;
    background: transparent;
    color: black;
    border: 0;
    position: absolute;
    top: 12px;
    right: 10px;
    color: #333;
    background: var(--mdc-theme-appbar);
    width: 100px;
    text-align: right;    
    @media (max-width: 769px) {
      top: 8px;
      right: 2px !important;
    }

    .size-large{
      font-size: 40px;
    }

  }
   

  .header{
    margin: 40px 20px;
    text-align: center;
    zoom: .8;
  
    h1{
      font-size: 1.5em;
    }
    h2{
      font-size: 1em;
      font-weight: 400;
    }
  }


  .marketplace,
  .calendar_events{
    color:var(--mdc-theme-text-primary-on-background);
    min-height: 240px;
    background: white;  
    margin: 0; 
    margin-top: 70px;
    padding-top: 10px;
    kng-calendar{
      height: 100%;
      display: flex;
      justify-content:center;
      margin-top: auto;      
      margin-left: 15px;
      @media (max-width: 769px) {
        margin-left: 5px;
      }
    
    }
  
  }
  
}