<!-- NAVIGATION  -->
<div class="kng-drawer" [class.kng-drawer-open]="open" >
  <!-- brand -->
  <div class="k-brand">
    {{i18n[locale].karibou_project}} - <b>v{{VERSION}}</b>
  </div>

  <button class="close " (click)="open = false">
    <span class="size-large material-symbols-outlined" >close</span>
  </button>

  <!-- CALENDAR-->
  <div class="calendar_events">
    <kng-calendar  [minimal]="true" [config]="config" (updated)="doSetCurrentShippingDay($event)"></kng-calendar>
  </div>
</div>
