<div class="order-resume-block">

  <!-- Objectif : informer l'utilisateur qu'une commande groupée réduit les frais de livraison -->
  <div class="bill grouped" *ngIf="hasShippingReductionMultipleOrder">
    <div>
      <i class="material-symbols-outlined black">info</i>&nbsp;{{ label.cart_info_shipping_group }}
    </div>
  </div>

  <!-- Objectif : rappeler le total du contrat existant lors d'une mise à jour d'abonnement -->
  <div class="bill border contract" *ngIf="isSubscription && hasUpdateContract">
    <div class="label">
      <span [innerHtml]="label.cart_info_contract_total"></span>
    </div>
    <div class="amount-light">
      {{ contractTotal | currency: 'CHF' }}
    </div>
  </div>

  <!-- Objectif : afficher le sous-total des produits avant frais, réductions et balance -->
  <div class="bill">
    <div class="label">
      <span [innerHtml]="label_cart_info_subtotal"></span>
      &nbsp;<i
        class="material-symbols-outlined gray"
        (click)="doToggleFees = !doToggleFees"
        >info</i
      >
    </div>
    <div class="amount">
      {{ itemsAmount | currency: 'CHF' }}
    </div>
  </div>

  <!-- Objectif : conserver la ligne technique du sous-total de frais, masquée par défaut -->
  <div class="bill border" hidden>
    <div class="label">
      <span [innerHtml]="label_cart_info_subtotal_fees"></span>
    </div>
    <div class="amount-light">
      {{ currentFeesAmount | currency: 'CHF' }}
    </div>
  </div>

  <!-- Objectif : expliquer le détail des frais lorsque l'utilisateur demande plus d'information -->
  <div class="bill" *ngIf="doToggleFees">
    <p class="block-info" [innerHtml]="label.cart_info_service_k_plus"></p>
  </div>

  <!-- Objectif : afficher les frais de livraison calculés pour l'adresse sélectionnée -->
  <div class="bill">
    <div class="label">
      <span [innerHtml]="label.cart_info_shipping"></span>
    </div>
    <div class="amount">
      {{ currentShippingFees | currency: 'CHF' }}
    </div>
  </div>

  <!-- Objectif : signaler la réduction appliquée aux frais de livraison -->
  <div
    class="bill shipping-discount"
    *ngIf="!isCartDeposit && shippingDiscount"
  >
    <div [innerHtml]="shippingDiscount"></div>
  </div>

  <!-- Objectif : afficher la réduction totale appliquée au panier -->
  <div class="bill" *ngIf="totalDiscount != 0">
    <div class="label">
      {{ label.cart_info_discount }}
    </div>
    <div class="amount">
      -{{ totalDiscount | currency: 'CHF' }}
    </div>
  </div>


  <!-- Objectif : déduire la balance utilisateur du montant à payer pour un panier simple -->
  <div class="bill wallet" *ngIf="isCart">
    <div class="label">
      {{ label.cart_info_wallet }}
    </div>
    <div class="amount-light">
      {{ currentTotalUserBalance * -1 | currency: 'CHF' }}
    </div>
  </div>

  <!-- Objectif : afficher le total final selon le contexte panier ou abonnement -->
  <div class="bill total">
    <div class="label">
      {{ isCart ? label.cart_info_total :
         (hasUpdateContract ? label.cart_info_total_subscription_update : label.cart_info_total_subscription) }}
    </div>
    <div class="amount">
      {{ isCart ? (currentTotalMinusBalance | currency: 'CHF') : (currentTotalSubscription | currency: 'CHF') }}
    </div>
  </div>

  <!-- Objectif : afficher le montant réservé si le moyen de paiement le supporte avant facturation finale -->
  <div class="bill reserved" *ngIf="shouldShowReservedAmount">
    <div class="label">
      {{ label.cart_info_reserved }}
      <span class="highlight">{{ data?.payment?.issuer }}</span>
    </div>
    <div class="amount-light">
      {{ currentTotalMinusBalance * amountReserved | currency: 'CHF' }}
    </div>
  </div>

</div>

