:host{
  background: #f2f2f2;
  background: #fff;
  min-height: 100px;
  border-radius: 15px;
  color: #333;
  overflow: visible;
  width: 100%;
}

.arrow-up {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #f2f2f2;
  position: absolute;
  right: 40%;
  top: -24px;
}

.arrow-down {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #eee;
  position: absolute;
  right: 70%;
  top: 0px;
}

.icon{
  color: #666;
  transform: translateY(6px);
}

.subscription{
  display: flex;
  flex: 1 1 0%;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding: 0px 0;
  .info{
    .update{
      background: yellow;
    }

    .icon{
      top: 0px;
      color: var(--mdc-theme-secondary);
    }

    width: 100%;
    position: relative;
    margin-right: 0px;
    text-align: center;
  }
  h1{
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 10px;
  }
  p{
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    margin: 5px 0;
    width: 100%;
  }

  p.highcontrast,
  p.checkout{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-weight: bold;
    background: yellow;
    .update{
      display: none;
    }
  }

  .selector{
    &:nth-child(4){
    }
    padding-right: 10px;
    flex-basis: 50%;
    padding-bottom:5px;
    flex: auto;
    font-size: var(--wa-font-size-s);

    &.time{
      width: 100%;
      margin-bottom: 5px;
      .item{
        height: 25px!important;
      }
      .item.selected{
        background-color: #eee !important;
        color: #333 !important;
        border-color: #bbb!important;
      }
    }

    @media (max-width:599px) {
      padding-right: 0px;
      width: calc(100% - 0px);
      max-width: calc(100% - 0px)!important;
    }


    .label{
      font-size: var(--wa-font-size-m);
      font-weight: 700;
      line-height: 24px;
      width: 100%;
      display: flex;
      .price{
        background-color: yellow;
        margin-right: auto;
        margin-left: 10px;
        padding: 0 4px;
      @media (max-width:599px) {
          margin-right: 0;
          margin-left: auto;
          font-size: var(--wa-font-size-s);
        }
      }
    }


    .elem{
      display: flex;
      -webkit-box-align: baseline;
      align-items: baseline;
      width: 100%;
      @media (max-width:599px) {
        -width:calc(100% - 65px);
      }
      div.item:first-child {
        border-radius: 8px 0px 0px 8px!important;
      }
      div.item:last-child {
        border-radius: 0px 8px 8px 0px!important;
      }


      div.item{
        &.selected{
          border-radius: 0;
          color: white;
          font-weight: 700;
          background-color: var(--mdc-theme-secondary);
          border: 1px solid var(--mdc-theme-secondary);
        }
        &.time {
          font-size: var(--wa-font-size-s);
        }

        flex:1 1 auto;
        cursor: pointer;
        min-width: 65px;
        vertical-align: text-bottom;
        text-decoration: none;
        letter-spacing: normal;
        color: #999;
        font-weight: 400;
        background-color: #fafafa;
        border: 1px solid #ccc;
        margin-left: -1px;
        overflow-wrap: break-word;
        text-align: center;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 30px;
        padding: 0px 3px !important;
      }

    }
  }

  .items{
    width: 100%;
  }
  table{
    width: 100%;
    border: none;
    border-collapse: collapse;
    thead{
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
    .th-title{
    }
    .th-iteration{
      min-width: 150px;
    }
    td.description{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 100px);
    }
  }
}
