<div class="subscription">
  <p [hidden]="quiet">
    {{i18n.title}}     
  </p>


  <!-- SUBSCRIPTION OPTIONS -->

  <div class="selector time" [hidden]="!checkout || contract">
    <div class="label" for="time">{{i18n.title_time_contract}} <span class="price" [hidden]="!timeprice">+{{timeprice}} fr</span></div>
    <div class="elem" id="time">
      <div class="item time" 
          *ngFor="let time of shippingtimes|keyvalue;let idx=index" 
          (click)="selTime = time.key;onSave()"
          [class.selected]="selTime == time.key">{{time.value}}</div>
    </div>
  </div>
  <div class="selector time" [hidden]="!checkout || !contract">
    <div class="label" for="time">{{i18n.title_time_contract_update}} <span class="price" >{{shippingtimes[selTime]}}</span></div>
  </div>

  <div class="selector iteration" [class.quiet]="quiet">
    <div class="elem" id="iteration">
      <div class="item " 
          *ngFor="let iteration of iterations;let idx=index" 
          (click)="selIteration = iteration;onSave()"
          [class.selected]="selIteration.id == iteration.id">{{iteration.label[locale]}}</div>
        
    </div>
  </div>
  <div class="selector day-of-week" [class.quiet]="quiet">
    <div class="elem" id="day-of-week">
      <div class="item " 
          *ngFor="let day of dayOfWeek;let idx=index" 
          (click)="selDayOfWeek = day;onSave()"
          [class.selected]="selDayOfWeek.id == day.id">{{day.label[locale]}}</div>
    </div>
  </div>
  <div class="info">
    <div class="icon">
      <span class="material-symbols-outlined ">info</span>
    </div>
    <p [class.checkout]="checkout">
      <b [hidden]="!update" class="update">
        {{label.subscription_update}}<br/>
      </b>
  
      {{label.subscription_next_shipping}}
       <b>{{nextShippingDay|date:'EEEE dd':'':locale|titlecase}} </b> 
    </p>
    
  </div>


</div>
