
<!-- NAVIGATION  -->
<mdc-drawer drawer="modal" #navigation  (click)="navigation.close()">
  <mdc-drawer-header [title]="getTagline('t')" 
                     [routerLink]="['/']">
    <!-- <h3 mdcDrawerTitle>TODO Title</h3>
    <h6 mdcDrawerSubtitle>{{getTagline('t')}}</h6> -->
    <img [src]="config.shared.home.siteName.image" />
  </mdc-drawer-header>
  <mdc-drawer-content >

    <mdc-list-group subheader="">
      <mdc-list>
        <mdc-list-item [routerLink]="['/store',store,'me']" [hidden]="!user.isAuthenticated()" class="">
          <mdc-icon mdcListItemGraphic class="">account_box</mdc-icon><span i18n>{{$i18n.label().nav_account}}</span>
        </mdc-list-item>
        <mdc-list-item [routerLink]="['/store',store,'me','login']" [hidden]="user.isAuthenticated()">
          <mdc-icon mdcListItemGraphic class="">account_circle</mdc-icon><span i18n>{{$i18n.label().nav_login}}</span>
        </mdc-list-item>
                      
        <mdc-list-divider></mdc-list-divider>
        <h3 mdcListGroupSubheader i18n>{{$i18n.label().nav_shipping}}</h3>
        <h3 mdcListGroupSubheader i18n>{{$i18n.label().nav_shipping2}}</h3>
          <mdc-list-item *ngIf="noshippingMsg"><b>{{noshippingMsg[locale]}}</b></mdc-list-item>
          <mdc-list-item *ngFor="let day of getShippingDays();let idx=index" 
                       [selected]="day.equalsDate(currentShippingDay)"
                       (click)="doSetCurrentShippingDay($event,day,idx)">
            <mdc-icon mdcListItemGraphic>radio_button_checked</mdc-icon>
            {{day|date:'EEEE d MMMM':'':locale}}&nbsp;
            <!-- <mdc-icon mdc-list-item-meta>info</mdc-icon>                 -->
        </mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
        <h3 mdcListGroupSubheader i18n>Contactez-nous!</h3>
        <mdc-list-item >
          <mdc-icon mdcListItemGraphic >phone</mdc-icon><a href="tel:{{config.shared.home.phone}}" >{{config.shared.home.phone}}</a>
        </mdc-list-item>
        <mdc-list-item >
          <mdc-icon mdcListItemGraphic >email</mdc-icon><a href="mailto:{{config.shared.home.email}}" >{{config.shared.home.email}}</a>
        </mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item [hidden]="!beforeinstallprompt" (click)="installApp()">
          <mdc-icon mdcListItemGraphic class="pink">get_app</mdc-icon><span i18n>{{$i18n.label().nav_installapp}}</span>
        </mdc-list-item>

      </mdc-list>
    </mdc-list-group>
    <!-- ADMIN -->
    <mdc-list-group class="admin" 
                    [hidden]="!$navigation.isAdmin" >
      <mdc-list>
        <mdc-list-item>
          <mdc-icon mdcListItemGraphic>loop</mdc-icon>
          <div>
            <mdc-radio-group [(ngModel)]="$i18n.locale">
              <mdc-form-field>
                <mdc-radio class="radio-primary" value="en"  (change)="onLang($event,'en')" ></mdc-radio>
                <label>En</label>
              </mdc-form-field>
              <mdc-form-field>
                <mdc-radio class="radio-primary" value="fr"  (change)="onLang($event,'fr')" ></mdc-radio>
                <label>Fr</label>
              </mdc-form-field>
            </mdc-radio-group>      
          </div>
        </mdc-list-item>
      
        <mdc-list-divider></mdc-list-divider>
        <h3 mdcListGroupSubheader>Administration</h3>
        <h6 mdcListGroupSubheader>Config</h6>
          <mdc-list-item [id]="20+i" class="admin-item " 
          *ngFor="let menu of $navigation.getMenuItems('admin');let i=index;" 
          [routerLink]="getRouterLink(menu.url)"><mdc-icon class="red"  mdcListItemGraphic>radio_button_checked</mdc-icon>&nbsp;{{menu.name[locale]}}
        </mdc-list-item>
      </mdc-list>
    </mdc-list-group>
  </mdc-drawer-content>
</mdc-drawer>

<!-- MAIN LAYOUT -->
<div [hidden]="!isAppReady()" class="navbar">      

  <mdc-top-app-bar #appbar fixed="false"  [dense]="true">
    <mdc-top-app-bar-row >
      <!-- APPBAR-SECTION-START -->
      <mdc-top-app-bar-section align="start" >
        <mdc-icon mdcAppBarNavIcon (click)="navigation.open()"  class="">menu</mdc-icon>
        <mdc-top-app-bar-title class="home" [routerLink]="['/store',store]" >{{title}}</mdc-top-app-bar-title>        
      </mdc-top-app-bar-section>       
      <mdc-top-app-bar-section>
        <mdc-top-app-bar-title class="shipping hide-sm" (click)="navigation.open()">
          « {{currentShippingDay|date:'EEEE d MMMM':'':locale}} » <i class="material-icons " [hidden]="!noshippingMsg">info</i>
        </mdc-top-app-bar-title>
      </mdc-top-app-bar-section>
      <!-- APP BAR MENU ICON --> 
      <mdc-top-app-bar-section align="end">
          <a [routerLink]="['/store',store,'cart']" style="width: auto;margin-right: 8px;" class="show-sm" mdcAppBarActionItem ><mdc-icon>shopping_cart</mdc-icon> <span class="cart-items-count label"></span></a>         
          <a *ngFor="let menu of topmenu;let idx=index;" href="javascript:;"
              mdcAppBarActionItem
              [routerLink]="'.'+menu.url"                     
              routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">
            <span [innerHTML]="menu.name[locale]"></span>
          </a>                         
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
    <mdc-top-app-bar-row [hidden]="$navigation.isAdminLayout || $navigation.isMobile()" >
      <!-- APPBAR-SECTION-START -->
      <mdc-top-app-bar-section align="start"></mdc-top-app-bar-section>

      <!-- APPBAR-SECTION-MIDDLE -->
      <!-- NOTE: [routerLinkActiveOptions]="{exact:true}" ONLY FOR LINK == '/' -->
      <mdc-top-app-bar-section #section>
        <mdc-tab-bar>
          <!-- mdcRouter -->
          <mdc-tab-scroller>
          <mdc-tab *ngFor="let menu of primary;let idx=index;" 
                    [routerLink]="'.'+menu.url"                     
                     routerLinkActive #rla="routerLinkActive" >
            <span [innerHTML]="menu.name[locale]"></span>
          </mdc-tab>
          <mdc-tab [routerLink]="['/store',store,'me']" [hidden]="!user.isAuthenticated()">
            <mdc-icon class="hide">account_box</mdc-icon><span i18n>{{$i18n.label().nav_account}}</span>
          </mdc-tab>
          <mdc-tab [routerLink]="['/store',store,'me','login']" [hidden]="user.isAuthenticated()">
            <mdc-icon class="hide">account_circle</mdc-icon><span i18n>{{$i18n.label().nav_login2}}</span>
          </mdc-tab>
        </mdc-tab-scroller>
      </mdc-tab-bar>              
      </mdc-top-app-bar-section>      

      <!-- APPBAR-SECTION-END -->
      <mdc-top-app-bar-section align="end" class="" >
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>

  <!-- <div class="mdc-category">
    <ul>
      <li *ngFor="let category of categories" 
          [hidden]="!category.active||category.type!='Category'" >
        <i [class]="category.image"></i>
        &nbsp;{{category.name}}
      </li>                
    </ul>  
  </div> -->

  <!-- CONTENT APP -->
  <div class="mdc-content">
    <ng-content></ng-content>
  </div>

  <!-- BOTTOM APP BAR-->
  <!-- <mdc-top-app-bar hidden #bottombar fixed="false"  dense="true" class="mdc-bottom-app-bar">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start">
        <mdc-icon mdcAppBarNavIcon (click)="navigation.open()"  class="">update</mdc-icon>
        <mdc-top-app-bar-title>{{title}}</mdc-top-app-bar-title>
      </mdc-top-app-bar-section>       
    </mdc-top-app-bar-row>
  </mdc-top-app-bar> -->
  
  
  <!-- FOOTER -->
  <kng-footer [config]="config"></kng-footer>  
</div>
