$off_white:#fafafa;
$light_grey:#A39D9E;

.mdc-dialog__surface{
  @media screen and (min-width:600px){
    min-width: 600px;
  }

}
.mdc-dialog__content{
  min-width: 600px;
  @media screen and (max-width:426px){
    min-width: 300px;
  }
}

.light{
  background-color: #fff;
}
.dark{
  margin-left: 65px;
}

.calendar{
  width:100%;
  padding: 0;
  color:#363b41;
}

.calendar_header{
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color:$light_grey;
  font-size:20px;
}
.calendar_plan{
  margin:20px 0 20px;
}
.cl_plan{
  background-color: var(--mdc-theme-primary);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 30px;
  color: #fff;
  margin: auto;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  display: flex;  

  background-color: rgba(45, 43, 40, 0.32);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cl_plan_title{
  font-size: 1.9rem;
  text-align: center;
  margin: 10px;  
  color: var(--mdc-theme-primary);
  font-weight: 600;
}

.cl_HUB{
}

.cl_menu{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 8px;
  text-align: center;

  .cl_store{
    &.selected{
      border-bottom: 3px solid var(--mdc-theme-karibou-pink);
      color: var(--mdc-theme-primary);
    }
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #aaa;
    display: inline-block;
    margin: auto 4px;
    padding: 8px 2px;
    border-bottom: 3px solid transparent;
    i{
      font-size: x-large;
      font-weight: 400;
      transform: translateY(8px);
    }
  }  
}

.shops_events{
  color:$light_grey;
  min-height: 300px;
  .selection {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 20px 0;
    .cl_title{
      font-size: 0.9rem;  
    }
    .cl_copy{
      margin: 5px 0;
      display: inline-block;
      color: #2d2b28;
      font-weight: 500;  
    }
    
  }  

}


.calendar_events{
  color:$light_grey;
  min-height: 300px;
  .selection {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 20px 0;
    .cl_title{
      font-size: 0.9rem;  
    }
    .cl_copy{
      font-size: 24px;
      margin: 5px 0;
      display: inline-block;
      text-transform: capitalize;
      color: #2d2b28;
      font-weight: 700;  
    }
    
  }  
}
.ce_title{
  font-size:14px;
  span{
    cursor: pointer;
    float: right;
    font-weight: bold;
    color: var(--mdc-theme-primary);
    i {
      font-size: large;
    }    
  }
}

.event_item{
  margin: 6px 0;
  padding:5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  &.disabled {
    background-color: #eee;
    opacity: .7;
  }

  &:hover:not(.disabled){
    background-image: linear-gradient(-222deg, var(--mdc-theme-primary), var(--mdc-theme-primary));
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    .ei_Dot{
      background-color: #fff;
    }
    .ei_Copy,.ei_Title{
      color:#fff;
    }
  }
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: $light_grey;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active{
  background-color: var(--mdc-theme-karibou-pink);
}

.ei_Title{
  margin-left:10px;
  color:#363b41;
}

.ei_Copy{
  font-size:12px;
  margin-left:20px;
}

.dark{
  background-image: linear-gradient(-222deg, #646464, #454545);
  color:#fff;
  .header_title,.ei_Title,.ce_title{
    color:#fff;
  }
  
}