<mdc-toolbar
  [flexible]="true"
  [fixed]="true"
  [waterfall]="true"
  [fixedLastrow]="true"
  (change)="handleToolbarChange($event)">
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <a href="#" mdc-toolbar-menu-icon material-icon>menu</a>
      <mdc-toolbar-title>Karibou.ch</mdc-toolbar-title>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignEnd]="true">
      <a href="#/toolbar-demo" mdc-toolbar-icon material-icon>file_download</a>
      <a href="#/toolbar-demo" mdc-toolbar-icon material-icon>print</a>
      <a href="#/toolbar-demo" mdc-toolbar-icon material-icon>bookmark</a>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>

<!--<mat-toolbar color="primary" class="kng-toolbar">
  <mat-toolbar-row>
    <a  routerLink="/" mat-button  >
      <mat-icon >favorite</mat-icon> Karibou.ch
    </a>        
    
    <div class="md-toolbar-search">
      <mat-form-field >
        <label>Search for food</label> 
        <input  name="search-food">
      </mat-form-field>
    </div>    
    <span class="example-spacer"></span>
    
    <a  routerLink="/me" mat-button  [hidden]="!user.isAuthenticated()">
      <mat-icon >favorite</mat-icon> {{user.display()}}
    </a>        
    <a  routerLink="/login" mat-button  [hidden]="!!user.isAuthenticated()">
      <mat-icon >favorite</mat-icon> login
    </a>        
    <button mat-icon-button [matMenuTriggerFor]="menu" class="last">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    
  </mat-toolbar-row>

</mat-toolbar>-->

<!--
<nav>
  <md-toolbar class="toolbar-top">
    <img src="../../assets/img/logo.gif" alt="logo" width="60px">
    <div class="container-small">
      <button md-icon-button color="accent" class="container-small" (click)="sidenav.open()">
        <md-icon>view_headline</md-icon>
        <span>Menu</span>
      </button>
    </div>
    <span flex></span>
    <ul class="container-big">
      <li class="nav1">
        <button md-button routerLink="">
          Maraîcher
        </button>
        <button md-button routerLink="">
          Boucherie
        </button>
        <button md-button routerLink="">
          Laiterie
        </button>
        <button md-button routerLink="">
          Boulangerie
        </button>
        <button md-button routerLink="">
          Epicerie
        </button>
        <button md-button routerLink="">
          Soins & Maison
        </button>
      </li>
      <li class="nav2">
        <button md-button routerLink="">
          Qui sommes-nous ?
        </button>
        <button md-button routerLink="">
          Comment ça marche ?
        </button>
        <button md-button routerLink="">
          Producteurs
        </button>
        <button md-button routerLink="">
          Participer
        </button>
        <button md-button routerLink="">
          Contact
        </button>
      </li>
    </ul>
    <span flex></span>
    <div>
      <button md-icon-button color="accent">
      <md-icon>search</md-icon>
    </button>
      <button md-icon-button color="accent" [mdMenuTriggerFor]="menu">
      <md-icon>face</md-icon>
    </button>
      <md-menu #menu="mdMenu">
        <div *ngIf="user.isAuthenticated()">
          <button md-menu-item color="accent" routerLink="/profile">
          <md-icon>perm_identity</md-icon>
          <span>Bonjour, {{ user?.displayName }}</span>
          </button>
          <button md-menu-item color="accent" (click)="logout()">
          <md-icon>exit_to_app</md-icon>
          <span>Se déconnecter</span>
        </button>
        </div>
        <div *ngIf="!user.isAuthenticated()">
          <button md-menu-item color="accent" routerLink="/login">
            <md-icon>perm_identity</md-icon>
            <span>Se connecter</span>
          </button>
        </div>
      </md-menu>
      <button color="accent" md-icon-button>
      <md-icon>shopping_basket</md-icon>
    </button>
    </div>
  </md-toolbar>
</nav>-->
