button.last{
  margin-right: 15px;
}


.mdc-toolbar {
  -background-color: var(--mdc-theme-background);
  -color: var(--mdc-theme-secondary)!important;

  .primary{
    color: var(--mdc-theme-secondary)!important;
  }
  .mdc-toolbar__menu-icon,
  .mdc-toolbar__icon{
    color: var(--mdc-theme-primary-dark);  
  }

  .mdc-toolbar__title{
    color: white;
  }

  .mdc-text-field{
    background: white;
    color: var(--mdc-theme-primary-dark);
  }

  .mdc-toolbar__row:first-child{
    _background-image: url('https://d2d8wwwkmhfcva.cloudfront.net/1920x/filters:quality(50)/d2lnr5mha7bycj.cloudfront.net/warehouse/background_image/1/27ad618f-fa8c-46bf-be99-2d08f76197cc.jpg');
    background-size: cover!important;
    background-position: center!important;
  }

}



