
  button{
    border: 0;
    padding: 5px;
    outline: 0;
    z-index: 1;
    cursor: pointer;   
    margin: 4px 0;             
    color:var(--mdc-theme-secondary);
    background: white;
    border:1px solid #ddd;    
    &.fab{
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  }

  div.editor{
    color: #424242;
    background-color:rgba(255,255,255,0.9);
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center; /*halign*/
    align-items:center; /*valign*/
    padding-top: 8vh!important;
    padding-bottom: 10vh!important;
    min-height: 80%;
    box-sizing: border-box;    
    position: fixed;top: 0;z-index: 5;margin: auto;left: 0;right: 0;bottom:0;

    .close{
      background: transparent;
      border: 0;
      color: #777;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 4;
      @media (max-width: 426px) {
        top: 5px;
        right: 5px;
      }
    }
    

    mdc-list{
      min-width: 80%;
      mdc-list-item.config{
        &.large{
          min-height: 300px;
        }
        mdc-list-item-text{
          width: 100%;
          mdc-textarea, mdc-text-field{
            font-size: 90%;
            width: 98%;
            border: 0;
          }
        }
      }
      mdc-list-item{
        background: white;
        &.disabled{
          opacity: 0.4;
        }
        mdc-form-field{
          align-self: start;
          margin-top: auto;
          margin-bottom: 12px;    
        }
      
        mdc-list-item-graphic{
          img{
            width: 38px!important;
            height: 38px;
            border-radius:8px;
          }
        }  
    
      }
    }
      
  }