<button class="fab" (click)="onEdit()">edit</button>
<div class="editor" *ngIf="display">
  <!-- <mdc-list [interactive]="false">
    <mdc-list-item class="config large" >
        <mdc-list-item-graphic>
            <mdc-icon>folder_special</mdc-icon>
        </mdc-list-item-graphic>
        <mdc-list-item-text *ngFor="let elem of elems">
            <mdc-list-item-secondary >
                <mdc-textarea i18n-label label="{{elem.key}}" rows="12" 
                value="{{elem.value}}"></mdc-textarea>                  
           </mdc-list-item-secondary>               
        </mdc-list-item-text>        
    </mdc-list-item>
  </mdc-list> -->
  <button class="close" (click)="display=false;">close</button>
</div>