<div class="links" [hidden]="hideIfEmpty">
  <ng-content class="title"></ng-content>
  <div class="content" *ngIf="!shops">
      <mdc-chip-set choice >
        <!-- <mdc-chip (click)="fireSearch('favoris')" class="bookmark">
          <mdc-chip-icon secondary leading>bookmark</mdc-chip-icon>
          <mdc-chip-text>Favoris</mdc-chip-text>
        </mdc-chip> -->

        <mdc-chip *ngFor="let link of links;let i=index" (click)="fireSearch(link)">
          <mdc-chip-text>{{link}}</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
  </div>
  <div class="content">
      <!-- DISPLAY SHOPS -->
      <div class="shops">
        <article *ngFor="let shop of shops;trackBy:trackByShop;let idx = index;">
          <img class="photo-owner" [src]="shop.photo.owner" />        
          <div class="title">{{shop.name}}</div>
        </article>        

      </div>
  </div>
</div>
