<div class="container-orders">
  <!-- LAST ORDERS -->
  <p class="no-orders" [hidden]="!isReady||orders.length" i18n>
    {{i18n[locale].title_no_order}} &#9785;
  </p>
    
  <h3 [hidden]="!orders.length" i18n>{{i18n[locale].title_last_order}}</h3>

  <!-- LAST ORDERS -->
  <mdc-list twoLine interactive="false" [hidden]="!orders.length">
    <mdc-list-item *ngFor="let order of getLimitedOrders()"                   
                    [selected]="selected?.oid==order.oid"
                    [class.autoHeight]="selected?.oid==order.oid"
                    (click)="selectedOrder(order)">
      <mdc-icon class="hide-sm" mdcListItemGraphic [class.primary-text]="isPaidOrRefund(order)">{{getOrderStatusIcon(order)}}</mdc-icon>                    
      <mdc-list-item-text >        
          <kng-feedback [config]="config" [user]="user" [orders]="[order]" [child]="childOrder[order.oid]" boxed="true"></kng-feedback>     
          <mdc-list-item-secondary *ngIf="selected?.oid==order.oid">
            <ul>
              <li *ngFor="let item of order.items" [class.strike]="item.fulfillment.status=='failure'">
                {{item.quantity}}x {{item.title}} ({{item.part}}) 
                <span class="issue red" [hidden]="!item.fulfillment.refunded">remboursé</span>
              </li>
              <li [hidden]="!isPending(order)">
                <a href="javascript:;" class="black smaller "                    
                  (click)="cancel(order)" i18n>
                  <i class="material-icons " style="transform: translateY(5px);font-size:16px;">cancel</i>{{i18n[locale].title_cancel_order}}</a>
              </li>
              <li [hidden]="isPending(order)">                
                <a href="javascript:;" class="black smaller "                    
                (click)="addAllToCart(order)" i18n>
                <i class="material-icons " style="transform: translateY(5px);font-size:16px;">add_shopping_cart</i>{{i18n[locale].title_add_all_to_cart}}</a>             
              </li>
            </ul>  
            <!--- ORDER COMPLEMENT -->
            <ul *ngFor="let complement of childOrder[order.oid]">
              <li class="bold">En complément</li>
              <li *ngFor="let item of complement.items" [class.strike]="item.fulfillment.status=='failure'">
                {{item.quantity}}x {{item.title}} ({{item.part}}) 
                <span class="issue red" [hidden]="!item.fulfillment.refunded">remboursé</span>
              </li>
              <li [hidden]="!isPending(complement)">
                <a href="javascript:;" class="black smaller "                    
                  (click)="cancel(complement)" i18n>
                  <i class="material-icons " style="transform: translateY(5px);font-size:16px;">cancel</i>{{i18n[locale].title_cancel_order}}</a>
              </li>
              <li [hidden]="isPending(complement)">
                <a href="javascript:;" class="black smaller "                    
                (click)="addAllToCart(complement)" i18n>
                <i class="material-icons " style="transform: translateY(5px);font-size:16px;">add_shopping_cart</i>{{i18n[locale].title_add_all_to_cart}}</a>             
              </li>
            </ul>  
  
        </mdc-list-item-secondary>                           

      </mdc-list-item-text>  
      <div class="hide-sm" mdcListItemMeta>
        <div>{{order.shipping.when|date:'EEE d MMM y'}}</div>
        <div class="align-right bold">{{order.getTotalPrice()|currency:'CHF'}}</div>
      </div>        
    </mdc-list-item>   
    <mdc-list-divider></mdc-list-divider>
  </mdc-list>
  <div class="more-orders" [hidden]="orders.length<4||orders.length<=limitTo">
      <mdc-icon class="size-large"  (click)="getMoreOrders()">keyboard_arrow_down</mdc-icon>             
  </div>


  <!-- LAST PRODUCTS -->
  <!-- <h3 [hidden]="!getItems().length" i18n>Mes produits préférés</h3>
  <mdc-list [twoLine]="true" avatar="true" interactive="false">
    <mdc-list-item *ngFor="let rank of getItems()">
      <div class="avatar" mdcListItemGraphic
            [ngStyle]="{'background-image': 'url(' + getThumbnail(rank.item) + ')'}">

      </div>
      <mdc-list-item-text>
        {{rank.item.title}}
        <mdc-list-item-secondary>            
            <a href="javascript:;" class="text-secondary  small" i18n (click)="addToCard(rank.item)">
              <i class="material-icons " style="transform: translateY(5px);font-size:16px;">shopping_cart</i>ajouter dans le panier
            </a>            
        </mdc-list-item-secondary>      
      
      </mdc-list-item-text>
      
      <div class="score" mdcListItemMeta>
          {{rank.score}}
      </div>
    </mdc-list-item>    
  </mdc-list>
</div> -->
