<div class="blured" [hidden]="isReady"></div>
<div class="container top">

  <button (click)="onBack()" class="close">
      <span class="material-symbols-outlined size-large">close</span>
  </button>
  <div class="k-brand">
    <img class="icon" src="/assets/img/k-puce-light.png" /> &nbsp; {{$i18n[locale].karibou_project}}
  </div>

  <div class="sign" >

    <div class="logo"
         [ngStyle]="taglineLogo"
         [class.small]="askAction=='signup'"
         [routerLink]="['/store',hubSlug,'home']"
         [hidden]="askAction=='payment'||askAction=='address'"></div>

    <!-- LOGIN -->
    <div class="inner" *ngIf="!askAction">
      <h3 >{{i18n[locale].login_title}}</h3>
      <p class="help-block" [innerHtml]="i18n[locale].login_why">
      </p>

      <form [formGroup]="sign" (submit)="onSign()">
          <mdc-text-field  [label]="$i18n[locale].user_email" autocomplete autofocus fullwidth  [type]="authlink" formControlName="email">
            <span class="material-symbols-outlined" mdcTextFieldIcon trailing>person</span>
          </mdc-text-field>
          <kng-control-messages [control]="sign.controls.email"></kng-control-messages>

          <mdc-text-field  [label]="$i18n[locale].user_password" autocomplete fullwidth  type="password" formControlName="password">
            <span class="material-symbols-outlined"  trailing>vpn_key</span>
          </mdc-text-field>
          <kng-control-messages [control]="sign.controls.password"></kng-control-messages>

          <button primary mdc-button unelevated  [disabled]="!sign.valid" class="align-center">
            <span class="material-symbols-outlined">account_circle</span>
            <span >Login</span>
          </button>
      </form>
      <div class="signup-vs-login black" ><a class="link" (click)="askAction='signup'">{{i18n[locale].login_create_account}}</a></div>
      <div class="signup-vs-login black" ><a class="link black" [routerLink]="['/store',hubSlug,'home']">{{i18n[locale].login_skip}}</a></div>
      <div class="signup-vs-login light" ><a class="link" (click)="askAction='recover'">{{i18n[locale].login_forgot_password}}</a></div>
    </div>

    <!-- RECOVER -->
    <div class="inner" *ngIf="askAction=='recover'">
      <h3 >{{i18n[locale].login_reset_password}}</h3>
      <form [formGroup]="recover" (submit)="onRecover()">
          <mdc-text-field  [label]="$i18n[locale].user_email" fullwidth formControlName="email">
            <span class="material-symbols-outlined" mdcTextFieldIcon trailing>email</span>
          </mdc-text-field>
          <kng-control-messages [control]="recover.controls.email"><span >{{i18n[locale].login_wait_msg}}</span></kng-control-messages>
          <button primary  mdc-button unelevated  [disabled]="!recover.valid || sendRecover" class="align-center">
            <span class="material-symbols-outlined">account_circle</span>
            <span >{{sendRecover ? i18n[locale].action_reset_done : i18n[locale].action_reset}}</span>
          </button>
      </form>
      <div class="signup-vs-login" ><a class="link" (click)="askAction=null">{{i18n[locale].login_back_login}}</a></div>
    </div>

    <!-- SIGNUP -->
    <div class="inner" *ngIf="askAction=='signup'">
      <form [formGroup]="signup" (submit)="onSignup()">
          <mdc-text-field  [label]="$i18n[locale].user_name" fullwidth type="text" formControlName="name">
            <span tabindex="-1" class="material-symbols-outlined "  trailing>person</span>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.name"></kng-control-messages>
          <mdc-text-field  [label]="$i18n[locale].user_firstname" fullwidth type="text" formControlName="forname">
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.forname"></kng-control-messages>

          <mdc-text-field  [label]="$i18n[locale].user_postalcode" fullwidth type="text" formControlName="postalcode" [hidden]="mandatory.minimal">
          </mdc-text-field>
          <kng-control-messages [hidden]="mandatory.minimal" [control]="signup.controls.postalcode"></kng-control-messages>

          <mdc-text-field  [label]="$i18n[locale].user_phone" fullwidth  type="text" formControlName="phone" >
            </mdc-text-field>
          <p class="help-block phone-hide" >
            {{i18n[locale].signup_phone}}
          </p>


          <mdc-text-field  [label]="$i18n[locale].user_email" fullwidth formControlName="email">
            <span tabindex="-1" class="material-symbols-outlined "   trailing>email</span>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.email"></kng-control-messages>

          <mdc-text-field  [label]="$i18n[locale].user_password" fullwidth type="password" formControlName="password">
            <span tabindex="-1" class="material-symbols-outlined "  trailing>vpn_key</span>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.password"></kng-control-messages>

          <mdc-text-field  [label]="$i18n[locale].user_repassword" fullwidth type="password" formControlName="confirm">
            <span tabindex="-1" class="material-symbols-outlined "  trailing>vpn_key</span>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.confirm"></kng-control-messages>

          <button primary  mdc-button unelevated  [disabled]="!signup.valid" class="align-center">
            <span tabindex="-1" class="material-symbols-outlined">account_circle</span>
            <span >{{i18n[locale].signup_create}}</span>
          </button>
      </form>
      <div class="signup-vs-login" ><a class="link" (click)="askAction=null">{{i18n[locale].login_back_login}}</a></div>
    </div>

    <!-- ADDRESS -->
    <div class="inner" *ngIf="askAction=='address'">
      <kng-user-address [user]="user" [config]="config" (updated)="onUpdateAddress($event)"></kng-user-address>
    </div>

    <!-- PAYMENT -->
    <div class="inner" *ngIf="askAction=='payment'">
      <kng-user-payment-page [user]="user" [config]="config" (updated)="onUpdatePayment($event)"></kng-user-payment-page>
    </div>

    <!-- LOGOUT -->
    <div class="inner" *ngIf="askAction=='logout'">
      <h3 >{{i18n[locale].login_ok}}</h3>
      <div class="signup-vs-login" ><a class="link" (click)="askAction='login'">{{i18n[locale].login_back_login}}</a></div>
    </div>

  </div>
</div>
