  .container-orders{
    margin-top: 50px;

    h2,h3{
      margin-top: 40px;
      font-weight: 400;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;      
    }
  
    .more-orders{
      text-align: center;
      width: 100%;    
    }

    .no-orders{
      text-align: center;
      padding-top: 20px;
      color: #333;      
    }
    
  //
    // cart content
    mdc-list-item{    
      >::before{
        background-color: var(--mdc-theme-primary);      
        opacity: .16;
      }
      
      &.border-top{
        border-top: 1px solid #aaa;
      }
      button{
        width: 31px;
        height: 34px;  
      }
      
      &.mdc-list-item--selected{
        height: auto;

      }

      border-top: 1px solid #eee;

      @media screen and (max-width:426px){
        padding: 1px;
      }
  
      mdc-list-item-text{
        @media screen and (max-width:400px){
          max-width: 45vw;          
        }
        mdc-list-item-secondary{
          div.info{
            border-top: 1px solid #eee;
            padding-top: 10px;
            white-space: normal;
            margin: 20px 0;          
          }
            
          ul{
            padding-left: 0;
            border-top: 1px solid #eee;
            padding-top: 10px;
            margin-top: 5px;            
            li{
              &.strike{
                text-decoration: line-through;
              }
            }
          }
        }
      }
    
      mdc-list-item-graphic{
        width: 56px;
        .avatar{
          width: 56px;
          height: 56px;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position-y: 50%;    
        }
      }
    
      mdc-list-item-meta{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;    
        div.action{
          flex:1;
          position: absolute;
          z-index: 1;
          &.right { transform:translateX(30px);}
          &.left  { transform:translateX(-30px);}        
        }    
        div.quantity{
          flex:1;
          border:1px solid #ddd;
          border-radius: 2px;
          padding: 4px 10px;
          height: 24px;
        }
    
        div.price{
          flex:1;
          margin-left: 8px;
          min-width: 80px;
          text-align: right;
          color: black;
          &.hidden{
            opacity: .1;
          }
        }
      }
    }
  }
  