<div class="container">
  <!-- <h3 >Modifier votre mot de passe</h3>
  <h4 >{{user.display()}}</h4> -->
  <form [formGroup]="$profile" (submit)="onChange()">
      <mdc-text-field fullwidth  [label]="$i18n[locale].user_name" type="text" formControlName="name" [ngModel]="user.name.familyName">
        <span class="material-symbols-outlined primary" mdcTextFieldIcon trailing >face</span>
      </mdc-text-field>

      <mdc-text-field fullwidth  [label]="$i18n[locale].user_firstname" type="text" formControlName="forname" [ngModel]="user.name.givenName">
      </mdc-text-field>

      <mdc-text-field fullwidth  [label]="$i18n[locale].user_phone" type="text" formControlName="phone" [ngModel]="phone">
        <span class="material-symbols-outlined primary" mdcTextFieldIcon trailing>phone</span>
      </mdc-text-field>
      
      <mdc-text-field fullwidth  [label]="$i18n[locale].user_email" type="email" formControlName="email" [ngModel]="user.email.address">
      </mdc-text-field>
        
      
      <mdc-text-field fullwidth  [label]="$i18n[locale].user_confirm_password"  type="password" formControlName="password">
        <span class="material-symbols-outlined primary" mdcTextFieldIcon trailing >vpn_key</span>
      </mdc-text-field>
        
      <button mdc-button unelevated="true" [disabled]="!$profile.valid">
        <span class="material-symbols-outlined">account_circle</span>              
        <span >{{$i18n[locale].action_save}}</span>
      </button>            

      <div class="breaker small"></div>
      
      <button [routerLink]="['/store/' + store + '/home/me/login-or-address']"
        mdc-button [outlined]="true" >{{$i18n[locale].user_address_add}}</button>     

      <button [routerLink]="['/store/' + store + '/home/me/login-or-payment']"
        mdc-button [outlined]="true" >{{$i18n[locale].user_payment_add}}</button>     


  </form>
</div>