<div>
  <h2 mdc-typography-title i18n [hidden]="!user.payments.length" i18n>
    Vos méthodes de paiement
  </h2>
  <mdc-list border="true" [lines]="2">
      <mdc-list-item *ngFor="let payment of user.payments" 
      (click)="setPaymentMethod(payment)"
      [class.selected]="isSelectedPayment(payment)">
      <mdc-list-item-graphic>
          <div [ngStyle]="{'background-image': 'url(' + issuer[payment.issuer].img + ')'}">
          </div>
        </mdc-list-item-graphic>
        <mdc-list-item-text >             
            <span>{{issuer[payment.issuer].label}}</span>                 
            <button [hidden]="!isSelectedPayment(payment)" mdc-button [outlined]="true">
              Supprimer</button>
            <mdc-list-item-secondary>
                {{payment.number}}
                <div class="error" [hidden]="!payment.error">{{payment.error}}</div>
            </mdc-list-item-secondary>               
        </mdc-list-item-text>  
        <mdc-list-item-meta [class.invalid]="!payment.isValid()" >
            {{payment.expiryToDate()|date:'MM/y'}}
        </mdc-list-item-meta>                    
    </mdc-list-item>
  </mdc-list>
  <hr class="dashed"/>
  <h2 mdc-typography-title i18n  i18n [hidden]="!user.isReady()">
      Ajouter une méthode de paiement
  </h2>
    
  
  <form novalidate (ngSubmit)="onPayment()" [formGroup]="stripe" class="stripe-component">
    <mdc-text-field i18n-label label="Nom & Prénom" style="width:100%" type="text" 
                    [hidden]="!user.isReady()"
                    formControlName="name" [ngModel]="user.display()">
    </mdc-text-field>

    <div id="card-element" class="field"></div>
    <button type="submit" [disabled]="isLoading||!user.isReady()" i18n>
      Enregistrer
    </button>
  </form>      
</div>