<div class="user-container">
  <section>
      <h1 class="text-capitalize">{{user.display()}}</h1>      
      <div class="title" i18n>Membre depuis le {{user.created|date:'mediumDate'}}</div>
      <p class="resume ">
        <!-- 34 commandes, 5 problèmes, X X X X -->
        &nbsp;
        <!-- <button mdc-button outlined="true"  icon="true" (click)="doLogout()" i18n>        
          <mdc-icon>person</mdc-icon>Fermer votre session
        </button> -->
        <a href="javascript:;" (click)="doLogout()" style="float:left" class="text-primary-dark" i18n>        
          Fermer votre session
        </a>
          
      </p>

      <img src="/assets/img/k-user.png"/>

  </section>

  <kng-mail-confirmation [user]="user" *ngIf="!user.isReady()||true"></kng-mail-confirmation>

  <kng-user-reminder [user]="user"></kng-user-reminder>

  <div class="breaker small"></div>

	<mdc-tab-bar disableRipple="true" dense="true">
    <mdc-tab-scroller>
          <!-- mdcRouter -->
    <mdc-tab [routerLink]="['./orders']"
              routerLinkActive #rla="routerLinkActive">
        Commandes
    </mdc-tab>
    <mdc-tab [routerLink]="['./email']"
              routerLinkActive #rla="routerLinkActive">
        Compte
    </mdc-tab>
    <mdc-tab [routerLink]="['./password']"
              routerLinkActive #rla="routerLinkActive">
        mot-de-passe
    </mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>

  <router-outlet></router-outlet>  

</div>
