<div class="container-orders">
  <!-- <div class="processing" *ngIf="openOrder" >
      <h3 i18n>Votre commande en cours </h3>
      <p i18n class="help-block">
          Votre commande du <b>{{openOrder.shipping.when|date:'EEE d MMM y'}}</b> est en cours de préparation <b>({{openOrder.getProgress().toFixed(0)}}%)</b>
          <br/>La livraison est prévue chez <b>{{openOrder.shipping.name}}</b>
      </p>
      <mdc-linear-progress 
        #progress  determinate="true" [progress]="openOrder.getProgress()/100" [buffer]="0.75" 
        style="display:block"></mdc-linear-progress>
      <p class="footer">
      </p>
  </div>
 -->

  <!-- LAST ORDERS -->
  <p class="no-orders" [hidden]="!isReady||orders.length" i18n>
    {{i18n[locale].title_no_order}} &#9785;
  </p>
    
  <h3 [hidden]="!orders.length" i18n>{{i18n[locale].title_last_order}}</h3>

  <!-- LAST ORDERS -->
  <mdc-list twoLine interactive="false" [hidden]="!orders.length">
    <mdc-list-item *ngFor="let order of getLimitedOrders()"                   
                    [selected]="selected?.oid==order.oid"
                    [class.autoHeight]="selected?.oid==order.oid"
                    (click)="selectedOrder(order)">
      <mdc-icon class="hide-md" mdcListItemGraphic [class.primary-text]="isPaidOrRefund(order)">{{getOrderStatusIcon(order)}}</mdc-icon>                    
      <mdc-list-item-text >        
          <kng-feedback [user]="user" [orders]="[order]" boxed="true"></kng-feedback>     
          <mdc-list-item-secondary *ngIf="selected?.oid==order.oid">
            <ul>
              <li *ngFor="let item of order.items" [class.strike]="item.fulfillment.status=='failure'">
                {{item.quantity}}x {{item.title}} ({{item.part}}) 
                <span class="issue red" [hidden]="!item.fulfillment.refunded">remboursé</span>
              </li>
              <li [hidden]="!isPending(order)">
                <a href="javascript:;" class="text-secondary smaller "                    
                  (click)="cancel(order)" i18n>
                  <i class="material-icons " style="transform: translateY(5px);font-size:16px;">cancel</i>{{i18n[locale].title_cancel_order}}</a>
              </li>
            </ul>
            <button mdc-button unelevated="true"  (click)='addAllToCard(order.items)'>
                <mdc-icon>add_shopping_cart</mdc-icon>
                <span i18n>Tout Ajouter</span>
              </button>       
        </mdc-list-item-secondary>                           
      </mdc-list-item-text>  
      <div class="hide-sm" mdcListItemMeta>
        <div>{{order.shipping.when|date:'EEE d MMM y'}}</div>
        <div class="align-right bold">{{order.getTotalPrice()|currency:'CHF'}}</div>
      </div>        
    </mdc-list-item>   
    <mdc-list-divider></mdc-list-divider>
  </mdc-list>
  <div class="more-orders" [hidden]="orders.length<4||orders.length<=limitTo">
      <mdc-icon class="size-large"  (click)="getMoreOrders()">keyboard_arrow_down</mdc-icon>             
  </div>


  <!-- LAST PRODUCTS -->
  <!-- <h3 [hidden]="!getItems().length" i18n>Mes produits préférés</h3>
  <mdc-list [twoLine]="true" avatar="true" interactive="false">
    <mdc-list-item *ngFor="let rank of getItems()">
      <div class="avatar" mdcListItemGraphic
            [ngStyle]="{'background-image': 'url(' + getThumbnail(rank.item) + ')'}">

      </div>
      <mdc-list-item-text>
        {{rank.item.title}}
        <mdc-list-item-secondary>            
            <a href="javascript:;" class="text-secondary  small" i18n (click)="addToCard(rank.item)">
              <i class="material-icons " style="transform: translateY(5px);font-size:16px;">shopping_cart</i>ajouter dans le panier
            </a>            
        </mdc-list-item-secondary>      
      
      </mdc-list-item-text>
      
      <div class="score" mdcListItemMeta>
          {{rank.score}}
      </div>
    </mdc-list-item>    
  </mdc-list>
</div> -->
