<div class="blured" [hidden]="isReady"></div>
<div class="container top">
  <button (click)="onBack()" class="close">
      <mdc-icon [fontSize]="50">close</mdc-icon>
  </button>
  <div class="sign" >
    <div class="logo" 
         [routerLink]="'/store/'+store" 
         [hidden]="askAction=='payment'||askAction=='address'"></div>

    <!-- LOGIN -->
    <div class="inner" *ngIf="!askAction">
      <h3 i18n>Identifiez-vous avec votre email</h3>
      <form [formGroup]="sign" (submit)="onSign()">
          <mdc-text-field i18n-label label="Votre email" autocomplete fullwidth  type="email" formControlName="email">
            <mdc-icon trailing>person</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="sign.controls.email"></kng-control-messages>
          
          <mdc-text-field i18n-label label="Mot de passe" autocomplete fullwidth  type="password" formControlName="password">
            <mdc-icon trailing>vpn_key</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="sign.controls.password"></kng-control-messages>
            
          <button primary mdc-button unelevated  [disabled]="!sign.valid" class="align-center">
            <mdc-icon>account_circle</mdc-icon>              
            <span i18n>Login</span>
          </button>            
      </form>
      <div class="signup-vs-login black" i18n><a class="link" (click)="askAction='signup'">Je n'ai pas de compte</a></div>
      <div class="signup-vs-login light" i18n><a class="link" (click)="askAction='recover'">J'ai oublié mon mot de passe</a></div>
    </div>
      
    <!-- RECOVER -->
    <div class="inner" *ngIf="askAction=='recover'">
      <h3 i18n>Réinitialisez votre mot de passe</h3>
      <form [formGroup]="recover" (submit)="onRecover()">
          <mdc-text-field i18n-label label="Votre email" fullwidth formControlName="email">
            <mdc-icon trailing>email</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="recover.controls.email"><span i18n>L'envoi peut prendre quelques minutes          </span></kng-control-messages>
          <button primary  mdc-button unelevated  [disabled]="!recover.valid" class="align-center">
            <mdc-icon>account_circle</mdc-icon>              
            <span i18n>Envoyer</span>
          </button>            
      </form>
      <div class="signup-vs-login" i18n><a class="link" (click)="askAction=null">J'ai déjà un compte</a></div>
    </div>

    <!-- SIGNUP -->
    <div class="inner" *ngIf="askAction=='signup'">
      <form [formGroup]="signup" (submit)="onSignup()">
          <mdc-text-field i18n-label label="Votre nom" fullwidth type="text" formControlName="name">
            <mdc-icon trailing>name</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.name"></kng-control-messages>
          <mdc-text-field i18n-label label="Votre prénom" fullwidth type="text" formControlName="forname">
            <mdc-icon trailing>name</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.forname"></kng-control-messages>

          <mdc-text-field i18n-label label="Téléphone (mobile)" fullwidth  type="text" formControlName="phone" >
            </mdc-text-field>
          <p class="help-block" i18n>
            Le téléphone est essentiel pour pouvoir vous contacter lors d'une commande
          </p>
              

          <mdc-text-field i18n-label label="Votre email" fullwidth formControlName="email">
            <mdc-icon trailing>email</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.email"></kng-control-messages>

          <mdc-text-field i18n-label label="Mot de passe" fullwidth type="password" formControlName="password">
            <mdc-icon trailing>vpn_key</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.password"></kng-control-messages>

          <mdc-text-field i18n-label label="Vérifier le mot de passe" fullwidth type="password" formControlName="confirm">
            <mdc-icon trailing>vpn_key</mdc-icon>
          </mdc-text-field>
          <kng-control-messages [control]="signup.controls.confirm"></kng-control-messages>

          <button primary  mdc-button unelevated  [disabled]="!signup.valid" class="align-center">
            <mdc-icon>account_circle</mdc-icon>              
            <span i18n>Créer votre compte</span>
          </button>            
      </form>
      <div class="signup-vs-login" i18n><a class="link" (click)="askAction=null">J'ai déjà un compte</a></div>      
    </div>

    <!-- ADDRESS -->
    <div class="inner" *ngIf="askAction=='address'">
      <kng-user-address [user]="user" [config]="config" (updated)="onUpdateAddress($event)"></kng-user-address>
    </div>

    <!-- PAYMENT -->
    <div class="inner" *ngIf="askAction=='payment'">
      <kng-user-payment [user]="user" [config]="config" (updated)="onUpdatePayment($event)"></kng-user-payment>
    </div>
      
    <!-- LOGOUT -->
    <div class="inner" *ngIf="askAction=='logout'">
      <h3 i18n>Merci vous êtes maintenant déconnecté</h3>
      <div class="signup-vs-login" i18n><a class="link" (click)="askAction='login'">Je nesouhaite ouvrir une session</a></div>
    </div>
      
  </div>
</div>
