
  .container.top{
    color: #424242;
    background-color:rgba(255,255,255,0.95);
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center; /*halign*/
    align-items:center; /*valign*/
    padding-bottom: 10vh!important;
    min-height: 80%;
    box-sizing: border-box;
    position: fixed;top: 0;z-index: 4;margin: auto;left: 0;right: 0;bottom:0;
    overflow: hidden;
    border-radius: 15px;

    @media (min-width: 767px) {
      margin: 10px auto;
      max-width: 900px;
      overflow-y: auto;
      margin-top: 30px;
    }

    @media (max-width:440px) {
      padding-top: 0!important;
      padding-bottom: 0!important;
      overflow-y: auto;
    }

    .k-brand{
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 13px;
      z-index: 100;
      img {
        width: 20px;
        transform: translateY(7px);
      }
    }

    .close{
      background: transparent;
      border: 0;
      color: #777;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 4;
      .size-large {
        font-size: 50px!important;
      }
      @media (max-width:440px) {
        top: 5px;
        right: 5px;
      }
    }



    kng-control-messages{
      font-size: 85%;
      width: 100%;
      text-align: left;
      color:blue;
      padding: 4px 15px;

    }

    .sign{
      display: block;
      max-width: none;
      background: rgba(255,255,255,0.95);
      margin: 0 auto 20px auto;
      position: relative;
      z-index: 2;
      text-align:center;
      transition:max-height 0.3s ease-out; // note that we're transitioning max-height, not height!
      max-height:700px; // still have to hard-code a value!
      top:0;
      padding-top: 60px;
      border-radius: 15px;
      .signup-vs-login{
        line-height: 30px;
      }

      @media (max-width:440px) {
        box-shadow: none;
        position: absolute;
      }

      .icon{
        left:auto;
        right: 16px;
        position: absolute;
        bottom: 16px;
        cursor: pointer;
      }

      .logo{
        &.small{
          margin-bottom:-150px;
        }
        background-image: url(/assets/img/k-brand-lg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        height: 100px;
        margin: 10px 70px;
        margin-bottom: 10px;
        cursor:pointer;
        @media (max-width:440px) {
          margin: 30px;
          margin-bottom: 5px;
          height: 110px;
        }
      }

      .inner{
        box-sizing: border-box;
        padding: 0;
        position: relative;
        z-index: 2;
        width: 540px;
        zoom: .9;
        @media (max-width:440px) {
          width: 100%;
        }

        h1{
          margin: 0 40px;
          font-weight: 400;
          font-size: 30px;
        }
        p{
          padding: 10px 50px;
          @media (max-width:440px) {
            padding: 10px 40px;
            font-size: 14px;
          }

          @media (max-height:700px) {
            display: none;
          }
        }

        form{
          background: white;
          display: flex;
          flex-flow:row wrap;
          margin: 10px auto;
          padding: 8px 70px;
          min-height:150px;
          width: auto;
          margin-top:0;

          button{
            flex:0 0 70%;
            height: 50px;
            margin-top: 10px;
          }

          @media (max-width:440px) {
            padding: 8px 30px;
          }

        }
        .singup-vs-login{
          margin: 0;
          font-size: inherit;
        }

      }
    }

  }
