div{
  h1,h2,h3,h4{
    margin-top: 50px;
    font-weight: 300!important;
  }

  .block-info{
    color: #aaa;
    text-shadow: 1px 1px 0 white;
    margin-top: -15px;    
  }

  mdc-list-item-graphic{
    width: 52px;
    margin-right:12px;
    >div{
      margin-top: 20px;
      width: 52px;
      height: 52px;
      background-size: contain;          
      background-repeat:no-repeat;
    }
  }
  mdc-list-item-text{
    max-width: 70vw;
    
    @media screen and (max-width:376px) {
      max-width: 50vw;        
    }
      
    text-align: left;
    .error{
      color: red;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: translateY(-5px);
    }
    button{
      position: absolute;
      top: 15px;
      right: 5px;
      bottom: 5px;
      background: var(--mdc-theme-secondary);
      background: #d3ecce;
      -color: var(--mdc-theme-primary-light);

    }
  }
  div.invalid{
    color: red;
  }


  .stripe-component {
    background-color: #fff;
  }
  
  .stripe-component * {
    font-size: 16px;
    font-weight: 500;
  }
  
  
  .stripe-component .field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 1px;
  }
  
  .stripe-component .field.half-width {
    width: 50%;
  }
  
  .stripe-component .field.quarter-width {
    width: calc(25% - 10px);
  }
  

  
  .stripe-component .input.StripeElement {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: opacity;
  }
  
  .stripe-component .input.focused,
  .stripe-component .input:not(.empty) {
    opacity: 1;
  }
  

  
  .stripe-component::placeholder{
    color: #333!important;
  }
  .stripe-component .input.focused::-webkit-input-placeholder,
  .stripe-component .input:not(.empty)::-webkit-input-placeholder {
    color: #333!important;
  }
  
  .stripe-component .input.focused::-moz-placeholder,
  .stripe-component .input:not(.empty)::-moz-placeholder {
    color: #333!important;
  }
  
  .stripe-component .input.focused:-ms-input-placeholder,
  .stripe-component .input:not(.empty):-ms-input-placeholder {
    color: #333!important;
  }
  
  .stripe-component .input.focused + label,
  .stripe-component .input:not(.empty) + label {
    color: #aab7c4;
    transform: scale(0.85) translateY(-25px);
    cursor: default;
  }
  
  .stripe-component .input.focused + label {
    color: #24b47e;
  }
  
  .stripe-component .input.invalid + label {
    color: #ffa27b;
  }
  
  .stripe-component .input.focused + label + .baseline {
    background-color: #24b47e;
  }
  
  .stripe-component .input.focused.invalid + label + .baseline {
    background-color: #e25950;
  }
  
  .stripe-component input, .stripe-component button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
  }
  
  .stripe-component input:-webkit-autofill {
    -webkit-text-fill-color: #e39f48;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
  }
  
  .stripe-component .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  .stripe-component input, .stripe-component button {
    -webkit-animation: 1ms void-animation-out;
  }
  
  .stripe-component button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #24b47e;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

  }
  .stripe-component button[disabled]{
    background-color:#b8d3c9;
    cursor: default;
  }

  
  .stripe-component input:active {
    background-color: #159570;
  }
  
  .stripe-component .error svg {
    margin-top: 0 !important;
  }
  
  .stripe-component .error svg .base {
    fill: #e25950;
  }
  
  .stripe-component .error svg .glyph {
    fill: #fff;
  }
  
  .stripe-component .error .message {
    color: #e25950;
  }
  
  .stripe-component .success .icon .border {
    stroke: #abe9d2;
  }
  
  .stripe-component .success .icon .checkmark {
    stroke: #24b47e;
  }
  
  .stripe-component .success .title {
    color: #32325d;
    font-size: 16px !important;
  }
  
  .stripe-component .success .message {
    color: #8898aa;
    font-size: 13px !important;
  }
  
  .stripe-component .success .reset path {
    fill: #24b47e;
  }  
}

:host ::ng-deep{
  .InputElement::-webkit-input-placeholder {
    color: #444;
  }
  
  .InputElement::-moz-placeholder {
    color: #444;
  }
  .InputElement::placeholder {
    color: #444;
  }  
}