div{
  h1,h2,h3,h4{
    margin-top: 20px;
    font-weight: 400!important;
  }

  .block-info{
    color: #aaa;
    text-shadow: 1px 1px 0 white;
    margin-top: -15px;    
  }

  div.invalid{
    color: red;
  }


  ul.payment{
    list-style: none;
    padding: 0;
    cursor: pointer;
    li{
      min-height: 50px;
      position: relative;
      padding: 10px 15px;
      background: #efefef;
      border-radius: 14px;
      margin: 10px 0;   
      padding-left:90px;
      text-align: left;
      .image{
        width: 59px;
        overflow: hidden;
        position: absolute;
        top: 18px;
        left: 15px;
        img{
          object-fit: cover;
          width: 100%;
        }        
      }
      label{
        position: absolute;
        right: 20px;
        bottom: 9px;
        font-weight: bold;
        font-size: var(--wa-font-size-s);
        color: #aaa;        
      }
      .name::first-letter{
        text-transform: capitalize;
      }

      .name{
        font-weight: bold;
      }   
      button{
        border: 0;
        position: absolute;
        right: 15px;
        top: 10px;
        padding: 5px 15px;
        border-radius: var(--wa-border-radius-m);
        font-weight: bold;
        color: red;        
        background-color: white;
      }
    }
  }

}

