div{
  padding: 0 10px;
  text-align: left;

  h1,h2,h3,h4{
    text-align: center;
    font-weight: 400!important;
  }

  .block-info{
    color: #aaa;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    padding: 0 20px;
  }
  .help-block{
    text-align: center;
    color: #ccc;    
    text-align: center;
    padding: 0 20px;
  }
  
  mdc-list-item:nth-child(odd){
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  mdc-list-item{
    padding: 0;
    .mdc-list-item__graphic{
      width: 72px;
      height: 72px;
      margin-right:6px;
      background-size: cover;          
      background-repeat:no-repeat;
    }
    mdc-list-item-text{
      text-align: left;
      .error{
        color: red;
      }
      button{
        position: absolute;
        top: 15px;
        right: 5px;
        bottom: 5px;
        background: var(--mdc-theme-secondary);
  
      }
    }
    div.invalid{
      color: red;
    }
  
  }

  form{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content:space-between;
    
    mdc-text-field,
    select,
    mdc-select,
    kng-control-messages {
      flex: 0 1 calc(100% - 0px);
    }
  
    select{
      align-self: flex-end;
      margin-bottom: 8px;        
      padding: 15px;
      border: 1px solid #aaa;
      background: #fff;
      border-radius: 5px;
      font-size: 1em;      
    }

    button{
      margin: 10px 0;
    }


    
    .mdc-text-field.floor .mdc-text-field__input{
      border-bottom-color: red !important; /* red */
      
    }

    
    
  }  
  
}
