div{
  padding: 0 5px;
  text-align: left;

  h1,h2,h3,h4{
    text-align: center;
    font-weight: 400!important;
  }

  .block-info{
    color: #aaa;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    padding: 0 20px;
  }
  .help-block{
    text-align: center;
    color: #ccc;
    text-align: center;
    padding: 0 20px;
  }

  ul.address{
    list-style: none;
    padding: 0;
    cursor: pointer;
    li{
      &.selected{
        border: 2px dashed blue;
      }
      position: relative;
      padding: 10px 15px;
      background: #efeffe;
      border-radius: 14px;
      margin: 10px 0;
      label{
        position: absolute;
        right: 20px;
        bottom: 9px;
        font-weight: bold;
        font-size: 14px;
        color: #aaa;
      }
      .name::first-letter{
        text-transform: capitalize;
      }

      .name{
        font-weight: bold;
      }
      button{
        border: 0;
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 5px 15px;
        border-radius: var(--wa-border-radius-m);
        font-weight: bold;
        color: red;
        background-color: white;
      }
    }
  }

  kng-address{
    padding: var(--wa-space-s);
  }
}
