<div>
  <div [hidden]="!getUser().addresses.length">
    <h2 mdc-typography-title i18n [hidden]="!user.addresses.length" i18n>
      {{i18n[locale].list_title}} 
    </h2>
    <p class="help-block" i18n>
        {{i18n[locale].list_select}}
    </p>
              
    <mdc-list twoLine>
        <mdc-list-item *ngFor="let address of getUser().addresses;let idx=index" 
        (click)="setAddress(address,idx)"
        [class.selected]="isSelectedAddress(address,idx)">
          <div [ngStyle]="{'background-image': 'url(' + getStaticMap(address) + ')'}" mdcListItemGraphic></div>
          <mdc-list-item-text >             
              <span>{{address.name}}</span>                 
              <button [hidden]="!isSelectedAddress(address,idx)" 
              (click)="removeAddress(address,idx)"
                      mdc-button [outlined]="true" i18n>{{$i18n[locale].action_del}}</button>
              <mdc-list-item-secondary>
                  {{address.streetAdress}}
                  {{address.postalCode}}/{{address.region}}                          
              </mdc-list-item-secondary>               
          </mdc-list-item-text>  
          <div [class.primary]="address.primary" mdcListItemMeta></div>                    
      </mdc-list-item>
    </mdc-list>

    <div class="breaker small"></div>
  </div>

  <!-- <div [hidden]="!small" *ngIf="idx">
    <h2 mdc-typography-title>{{getUser().addresses[idx]}}</h2>
    <div [ngStyle]="{'background-image': 'url(' + getStaticMap(getUser().addresses[idx]) + ')'}"></div>
  </div> -->


  <div [hidden]="small">
    <h2 mdc-typography-title>{{i18n[locale].list_add}}</h2>
    <form [formGroup]="$address" (submit)="onSave()">

        <mdc-text-field fullwidth i18n-label [label]="$i18n[locale].user_display_name"  type="text" formControlName="name" [ngModel]="user.display()">
          <mdc-icon trailing>person</mdc-icon>
        </mdc-text-field>


        <mdc-text-field autocomplete="false" fullwidth i18n-label [label]="i18n[locale].address_street" type="text" formControlName="street" class="width-75" (blur)="onGeloc()">
        </mdc-text-field>

        <!-- <mdc-select placeholder="Adresse et N°" formControlName="street" class="width-75"  (selectionChange)="onGeloc($event)">
          <option *ngFor="let address of addresses" [value]="address" >{{address}}</option>
        </mdc-select> -->
          
        <mdc-text-field fullwidth i18n-label [label]="i18n[locale].address_floor"  type="text" formControlName="floor" class="width-25">
        </mdc-text-field>
  
        <mdc-text-field fullwidth i18n-label [label]="$i18n[locale].user_phone"  type="text" formControlName="phone" >
        </mdc-text-field>
  
        <p class="help-block" i18n>
          {{i18n[locale].address_postalcode_title}}
        </p>
          
        <mdc-select  [placeholder]="i18n[locale].address_region" formControlName="region" class="width-50"  (selectionChange)="onGeloc($event)">
          <!-- <option value="" selected></option> -->
          <option *ngFor="let region of regions" [value]="region" >{{region}}</option>
        </mdc-select>
        
          
        <!-- <mdc-text-field fullwidth i18n-label label="Code postal"  type="text" formControlName="postalCode" class="width-50">
        </mdc-text-field> -->
        <mdc-select [placeholder]="i18n[locale].address_postalcode" formControlName="postalCode" class="width-50"  (selectionChange)="onGeloc($event)">
          <option *ngFor="let location of locations" [value]="location" >{{location}}</option>
        </mdc-select>
        
        <mdc-text-field fullwidth i18n-label [label]="$i18n[locale].user_address_note"  type="text" formControlName="note">
          <mdc-icon trailing>person</mdc-icon>
        </mdc-text-field>
        <!-- <p>Form value: {{ $address.value | json }}</p>
        <p>Form status: {{ $address.status | json }}</p> -->
        <button mdc-button 
                type="button"
                [primary]="true"
                [unelevated]="true" 
                [disabled]="idx==null||idx==undefined" 
                (click)="idx=null;"
                class="align-left">
          <span i18n>{{$i18n[locale].action_cancel}}</span>
        </button>            
        
        <button mdc-button 
                [primary]="true"
                [unelevated]="true" 
                [icon]="true"  
                [disabled]="!$address.valid||isLoading" 
                class="align-right">
          <mdc-icon>account_circle</mdc-icon>              
          <span i18n>{{$i18n[locale].action_save}}</span>
        </button>            

    </form>
  </div>

</div>