div.container{
  form{
    display: flex;
    flex-direction: column;    
    button{
      align-self: center;
      margin: 10px;
    }
  }

  fieldset{
    border: 1px solid #ccc;
    border-radius: var(--wa-border-radius-s);    
  }


  button{
    border: 1px solid #eee;
    border-radius: var(--wa-border-radius-m);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    font-size: 17px;
    margin-right: 0!important;
    margin-left: auto!important;
    width: 100%;
    cursor: pointer;
  }  
}