<!--
<div *ngIf="errors" class="alert alert-danger">
    {{ errors }}
</div>
<div class="container">
  <form>

    <div>
      <h1>{{user.displayName}}</h1>
    </div>

    <hr>

    <div>
      <h2>Password</h2>
    </div>
    <div class="form-group ">
      <label class="control-label" for="i0">Old Password</label>
      <input type="text" [(ngModel)]="user.name.givenName" name="name" class="form-control" placeholder="Label" autofocus="autofocus">
    </div>

    <div class="form-group ">
      <label class="control-label" for="i0">New password</label>
      <input type="text" [(ngModel)]="user.name.familyName" name="forname" class="form-control" placeholder="Label" autofocus="autofocus">
    </div>

    <div class="form-group ">
      <label class="control-label" for="i0">Confirm new password</label>
      <input type="text" [(ngModel)]="user.email.address" name="email" class="form-control" placeholder="Label" autofocus="autofocus">
    </div>

    <div>
      <button name="save" (click)="onSave();" >Save</button>
    </div>
  </form>
</div>
-->