<div class="sign-container">
  <!-- <mdc-text-field
    [(ngModel)]="username"
    label="Username"
    [required]="true"
    [disabled]="false"
    [dense]="false">
  </mdc-text-field>
  <p mdc-text-field-helper-text
    [validation]="true"
    [persistent]="false">Username is required</p>

  <mdc-text-field [type]="hide ? 'password' : 'text'"
    label="Password"
    [required]="true"></mdc-text-field>

  <mdc-icon-toggle
    [(ngModel)]="mymodel"
    iconOn="favorite" iconOff="favorite_border"
    labelOn="Add to Favorites" labelOff="Remove from Favorites">
  </mdc-icon-toggle> -->

</div>