<div>
  <div [hidden]="!defaultUser.addresses.length">
    <h2 [hidden]="!user.addresses.length" >
      {{label.list_select}}
    </h2>
              
    <ul class="address">
      <li *ngFor="let address of defaultUser.addresses;let idx=index" 
        (click)="setAddress(address,idx)"
        [class.selected]="isSelectedAddress(address,idx)">
          <label for="">{{label.address_edit}}</label>
          <div class="name">{{address.name}}</div>                 
          <div class="street">{{address.streetAdress}}</div>
          <div class="postal">{{address.postalCode}}/{{address.region}}</div>
          <button (click)="removeAddress(address,idx)" 
                  [hidden]="!isSelectedAddress(address,idx)" >{{$i18n[locale].action_del}}</button>
      </li>
    </ul>
  </div>

  <!-- <div [hidden]="!small" *ngIf="idx">
    <h2 MdcHeadline1>{{defaultUser.addresses[idx]}}</h2>
    <div [ngStyle]="{'background-image': 'url(' + getStaticMap(defaultUser.addresses[idx]) + ')'}"></div>
  </div> -->


  <div [hidden]="small">
    <h2>{{label.list_add}}</h2>

    <kng-address displayClear="true" [phone]="phone" [config]="config" [address]="address" (updated)="onSave($event)"></kng-address>

  </div>

</div>