<div class="container">
  <!-- <h3 >Modifier votre mot de passe</h3>
  <h4 >{{user.display()}}</h4> -->
  <form [formGroup]="$password" (submit)="onChange()">

    <fieldset>
      <legend>Modifier votre mot de passe </legend>

      <div class="groupfield">
        <input class="form__field" type="password" [placeholder]="$i18n[locale].user_password_old" formControlName="previous" />
        <label class="form__label">{{$i18n[locale].user_password_old}}</label>
      </div>

      <div class="groupfield">
        <input class="form__field" type="password" [placeholder]="$i18n[locale].user_password_new" formControlName="password" />
        <label class="form__label">{{$i18n[locale].user_password_new}}</label>
      </div>

      <div class="groupfield">
        <input class="form__field" type="password" [placeholder]="$i18n[locale].user_repassword" formControlName="confirm" />
        <label class="form__label">{{$i18n[locale].user_repassword}}</label>
      </div>

      <button  [disabled]="!$password.valid">
        <span class="material-symbols-outlined">account_circle</span>
        <span >Enregistrer</span>
      </button>
    </fieldset>

  </form>
</div>
