<div class="container">
  <!-- <h3 i18n>Modifier votre mot de passe</h3>
  <h4 i18n>{{user.display()}}</h4> -->
  <form [formGroup]="$password" (submit)="onChange()">
      <mdc-text-field fullwidth i18n-label [label]="$i18n[locale].user_password_old" type="password" formControlName="previous">
        <mdc-icon mdcTextFieldIcon trailing class="primary">person</mdc-icon>
      </mdc-text-field>
      
      <mdc-text-field fullwidth i18n-label [label]="$i18n[locale].user_password_new" type="password" formControlName="password">
        <mdc-icon mdcTextFieldIcon trailing>vpn_key</mdc-icon>
      </mdc-text-field>

      <mdc-text-field fullwidth i18n-label [label]="$i18n[locale].user_repassword"  type="password" formControlName="confirm">
        <mdc-icon mdcTextFieldIcon trailing>vpn_key</mdc-icon>
      </mdc-text-field>
      
      <button mdc-button unelevated="true" icon="true"  [disabled]="!$password.valid">
        <mdc-icon>account_circle</mdc-icon>              
        <span i18n>Enregistrer</span>
      </button>            
  </form>
</div>