<div class="user-container">
  <section>
      <h1 class="text-capitalize">{{user.display()}}</h1>      
      <div class="title" i18n>Membre depuis le {{user.created|date:'mediumDate'}}</div>
      <p class="resume ">
        <!-- 34 commandes, 5 problèmes, X X X X -->
        &nbsp;
        <!-- <button mdc-button outlined="true"  icon="true" (click)="doLogout()" i18n>        
          <mdc-icon>person</mdc-icon>Fermer votre session
        </button> -->
        <a href="javascript:;" (click)="doLogout()" style="float:left" class="text-primary-dark" i18n>        
          Fermer votre session
        </a>
          
      </p>

      <img src="/assets/img/k-user.png"/>

  </section>

  <kng-mail-confirmation [user]="user" *ngIf="!user.isReady()"></kng-mail-confirmation>

  <hr class="dashed"/>

	<mdc-tab-bar disableRipple="true" dense="true">
    <mdc-tab-scroller>
          <!-- mdcRouter -->
    <mdc-tab [routerLink]="['./orders']"
              routerLinkActive #rla="routerLinkActive">
        Commandes
    </mdc-tab>
    <mdc-tab [routerLink]="['./email']"
              routerLinkActive #rla="routerLinkActive">
        Compte
    </mdc-tab>
    <mdc-tab [routerLink]="['./password']"
              routerLinkActive #rla="routerLinkActive">
        mot-de-passe
    </mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>

  <router-outlet></router-outlet>  

</div>

<!--
<div class="container">
  <h1>User introspection</h1>
  <div class="row">
    <div class="col-xs-3">User object</div>
    <div class="col-xs-9  pull-left">{{ user.displayName }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Address mail</div>
    <div class="col-xs-9  pull-left">{{ user.email.address }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Téléphone</div>
    <tr class="col-xs-9 " *ngFor="let tel of user.phoneNumbers ">
      <p>
        <b>Number: </b> {{tel.number}}
        <b>What: </b> {{tel.what}}
      </p>
    </tr>
  </div>
  <h1>User Adress</h1>
  <kng-user-address *ngFor="let add of user.addresses" [address]="add"></kng-user-address>
  <h1>User Card</h1>
  <kng-card *ngFor="let card of user.payments" [card]="card"></kng-card>
  <kng-user-orders></kng-user-orders>
</div>
-->