

[hidden], .hide {
  display: none!important;
}

// 
// Screen
body{
  font-family: Roboto, sans-serif !important; 
  margin-right: 0px!important;
  margin-left: 0px!important;
  margin-bottom: 0px!important;
}

.width-full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.width-25 { flex:0 1 calc(25% - 5px)!important;}
.width-50 { flex:0 1 calc(50% - 5px)!important;}
.width-75 { flex:0 1 calc(75% - 5px)!important;}
.width-100{ flex:0 1 calc(100% - 5px)!important;width: 100%!important;}

.align-center{     
  flex: 0 1 auto;
  margin: auto;
}

.align-right{     
  flex: 0 1 auto;
  margin-left: auto;
}


.dashed{
  border-color: #dddddd;
  border-style: dashed;
  margin: 10px 0;      
}


//
// colors

.secondary      {color:           var(--mdc-theme-secondary)!important;}
.primary        {color:           var(--mdc-theme-primary)!important;}
.text-primary   {color:           var(--mdc-theme-text-primary-on-background)!important;}
.text-secondary {color:           var(--mdc-theme-text-secondary-on-background)!important;outline: 0;}
.green          {color:         #43b02a!important;}
.lime           {color:         lime}
.red            {color:         red!important;}
.gray           {color:         #ccc!important;}
.black          {color:         black!important;}
.pink           {color:         #da1c5c!important;}
.light          {color:           #aaa!important;}

//
// text
.text-right     {text-align: right;}
.text-center    {text-align: center;}
.text-capitalize{text-transform:  capitalize;}
.text-uppercase {text-transform: uppercase;}
.text-strike    {text-decoration: line-through!important;}
.bold           {font-weight:     bold!important; }
.small          {font-size: small!important;}
.smaller        {font-size: smaller!important;}
.text-shadow-1  {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;  
}

.link{
  border-bottom: 1px dotted var(--mdc-theme-secondary);
  cursor: pointer;
  text-decoration:none;
}

.help-block{
  color: var(--mdc-theme-text-secondary-on-background);    
}

//
// icons
.icon-alcool, .fa-alcool,
.icon-bread, .fa-bread,
.icon-caterer, .fa-caterer,
.icon-cheese, .fa-cheese,
.icon-drink, .fa-drink,
.icon-flour, .fa-flour,
.icon-finefood, .fa-finefood,
.icon-meat, .fa-meat,
.icon-sugar, .fa-sugar,
.icon-shop, .fa-shop,
.icon-pasta, .fa-pasta,
.icon-vegetable, .fa-vegetable,
.icon-wine, .fa-wine,
.icon-wine, .fa-wine-white
{
  width:16px;
  height: 16px;
  margin-right: 3px;
  background-size:contain;
  background-position: 50%;
  background-repeat: no-repeat;  
  transform:translateY(3px);
}
.icon-large{
  width:32px;
  height: 32px;
  font-size: 150%;  
}
.icon-alcool, .fa-alcool{
  background-image: url(/assets/img/icon-alcool.png);
}

.icon-bread, .fa-bread{
  background-image: url(/assets/img/icon-bread.png)
}

.icon-caterer, .fa-caterer{
  background-image: url(/assets/img/icon-caterer.png);
}

.icon-cheese, .fa-cheese{
  background-image: url(/assets/img/icon-cheese.png)
}

.icon-drink, .fa-drink{
  background-image: url(/assets/img/icon-drink.png)
}

.icon-flour, .fa-flour{
  background-image: url(/assets/img/icon-flour.png)
}

.icon-finefood, .fa-finefood{
  background-image: url(/assets/img/icon-finefood.png)
}

.icon-meat, .fa-meat{
  background-image: url(/assets/img/icon-meat.png)
}

.icon-shop, .fa-shop{
  background-image: url(/assets/img/icon-shop.png)
}

.icon-pasta, .fa-pasta{
  background-image: url(/assets/img/icon-pasta.png)
}

.icon-vegetable, .fa-vegetable{
  background-image: url(/assets/img/icon-vegetable.png)
}

.icon-wine, .fa-wine{
  background-image: url(/assets/img/icon-wine.png)
}

.icon-wine, .fa-wine-white{
  background-image: url(/assets/img/icon-wine.png)
}

.icon-sugar, .fa-sugar{
  background-image: url(/assets/img/icon-sugar.png)
}


@media only screen and (max-width: 999px) {
  .hide-md    {display: none;}
}
@media only screen and (min-width: 1024px) {
  .show-lg    {display: block;}
  .hide-lg    {display: none;}
}
