
/**
A secondary color is used to accent select parts of your UI. 
It can be complementary or analogous to your primary color */
$mdc-theme-primary: #43B02A;
$mdc-theme-primary-light: #ffffff;
$mdc-theme-primary-dark: #babdbe;
$mdc-theme-primary-text: #43B02A;

/** 
A secondary color is used to accent select parts of your UI. 
It can be complementary or analogous to your primary color...

Buttons, floating action buttons, and button text
Text fields, cursors, and text selection
Progress bars
Selection controls, buttons, and sliders
Links
Headlines **/

/**
//
// https://material.io/color/#!/?view.left=0&view.right=1&primary.color=ffffff&secondary.color=43b02a&primary.text.color=43b02a&secondary.text.color=ffffff
$mdc-theme-primary: rgba(255,255,255,.05);
$mdc-theme-primary-light: #ffffff;
$mdc-theme-primary-dark: #cccccc;
$mdc-theme-secondary: #43b02a;
$mdc-theme-secondary-light: #7ae35c;
$mdc-theme-secondary-dark: #007f00;

$mdc-theme-primary-text: #43b02a;
$mdc-theme-secondary-text: #ffffff;
*/

$mdc-theme-background:#f7f7f7;


@import 'kng-search.scss';
@import 'kng-theme.scss';

@import "~@angular-mdc/theme/material-components-web.scss";


body{
  background: var(--mdc-theme-background);
}
// :root {
//   --mdc-theme-background: #0e4ead;
// }
