/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
    background-color: #f6f9fc;  
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-size: 15px;
    font-weight: 500;    
}