.audio-assistant{
  margin: 0;
  width: 100%;
  height: fit-content;

  &.recording{
    color: white;
    background-color: rgb(160,0,0);
    box-shadow: 0 0px 10px #ffb6b6;
  }

  &.thinking button.record::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 20px;
    height: 20px;
    pointer-events: none;
    opacity: 0;
    border: 20px solid rgba(160, 0, 0, 0.1);
    border-radius: 50%;
  }

  &.thinking button.record::before{
    animation: anim-ripple 1.2s ease-out infinite forwards;
  }
  &.thinking{
    margin-left: auto;
    margin-right: 0;
    .tips{
      display: none;
    }
  }
    

  .context,
  .autio-title{
    padding: 5px 5px 0;        
    font-weight: 200;
    margin: 8px 0;      
    line-height: 22px;
    .btn{
      border-radius: 10px;
      cursor: pointer;
      border: 1px solid #aaa;
      background-color: white;
      padding: 2px 8px;
      font-size: 12px;      
      margin-left: 5px;
      display: inline;
    }
  }
  .context{
    span{
      display: inline-block;
    }
    span ::ng-deep{
      
      section.thinking{
        background-color: yellow;
        padding: var(--wa-space-xs);
        border-radius: var(--wa-border-radius-m);
        display: none;
        font-family: monospace;
        font-size: 10px;
        line-height: 12px;          
        white-space:pre-line;
      }

      h2,h3{
        font-size: 1.1em;
        -margin: 0;
      }
      li{
        padding: 4px 0;
      }
      p{
        margin: 8px 0;

      }
      a{
        color: #000;
        text-decoration: none;
        border-bottom: 1px dotted #555;          
      }
      ol,ul{
        padding: 0 20px;
        -margin: 0;
      }
    }
  }

  

  .loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.73);
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    font-size: 18px;
  }


  .audio-controls{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    -border-bottom: 1px solid #ddd;
    min-height: 90px;
    .audio-error{
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.93);
      display: flex;
      align-items: center;
      z-index: 1;
      justify-content: center;
      padding: 0px 6px;
      color: red;
      width: calc(100% - 12px);
      border-radius: 10px 10px 0 0;
      button{
        padding: 5px 10px;
        margin-right: 20px;
        margin-left: auto;        
      }
    }

    audio{
      outline: 0;
      scale: .8;
      margin-left: -10px;
      margin-right: 50px;      
    }
    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-panel {
      background-color: #eee;
      color: #333;
    }      

    .record{
      position: relative;
      min-width: 54px;
      width: 54px!important;
      height: 54px!important;
      margin: 10px;
      margin-right: 0;
      text-align: center;
      padding: 14px;
      border-radius: 50px;
      border-width: 0 ;
      cursor: pointer;

      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;

      user-select:none;   
      margin-left: auto;
      margin-right: 10px;     
      background: black;
      color: var(--mdc-theme-secondary-text);      

      &[disabled]{
        background-color: #aaa;
        opacity: 0.4;
      }
  
      &.recording{
          color: rgb(160,0,0);                                
      }
    }      
  }


  @keyframes anim-ripple {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(3, 3, 1);
      transform: scale3d(3, 3, 1);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }    

}