<div class="audio-assistant" [class.thinking]="isThinking" [class.recording]="audioIsRecording" >
  <div class="audio-controls">
    <div class="loading" [hidden]="!audioLoading" >
      {{glabel.audio_recording}}
    </div>
    <div class="audio-title">{{label_title}}</div>
  
    <div class="audio-error" [hidden]="!audioError" >
      {{glabel.audio_error}} <button (click)="audioError = null">OK</button>
    </div>
    
    <div class="audio-error" [hidden]="audioDetected || hasNoAudio" >
      {{glabel.audio_silent}} <button (click)="audioDetected = true">OK</button>
    </div>


    <!-- RUN AUDIO -->
    <button class="record"  [class.recording]="audioIsRecording" [disabled]="isThinking"
      (click)="audioRecord($event)">
      <span [hidden]="audioIsRecording" class="material-symbols-outlined">mic</span>
      <span [hidden]="!audioIsRecording" class="material-symbols-outlined">pause</span>
    </button>

  </div>

  <div class="context" [hidden]="!note">
    <span [innerHtml]="markdownRender" [hidden]="quiet"></span> 
    <span class="btn" (click)="onSearch()">recommencer</span>
    <span class="btn" (click)="onClear()">supprimer</span>
  </div>
  <div class="context tips" [hidden]="note||audioIsRecording ">
    <kng-stream-sentence [sentences]="sentences" (chat)="onTest($event)" [pause]="isThinking"></kng-stream-sentence>
  </div>

</div>
