<div class="subscription">
  <h1 hidden>Gérer simplement votre panier récurrent</h1>
  <p [hidden]="quiet">
    Décidez de la fréquence de livraison et du jour qui vous arrange pour les produits dans votre panier.     
  </p>


  <!-- SUBSCRIPTION OPTIONS -->
  <div class="selector iteration" [class.quiet]="quiet">
    <label for="iteration">Vous souhaitez un panier</label>
    <div class="elem" id="iteration">
      <div class="item " 
          *ngFor="let iteration of iterations;let idx=index" 
          (click)="selectedIteration = idx"
          [class.selected]="selectedIteration == idx">{{iteration.label}}</div>
        
    </div>
  </div>
  <div class="selector day-of-week" [class.quiet]="quiet">
    <label for="day-of-week">Vous souhaitez être livré</label>
    <div class="elem" id="day-of-week">
      <div class="item " 
          *ngFor="let day of dayOfWeek;let idx=index" 
          (click)="selectedDayOfWeek = idx"
          [class.selected]="selectedDayOfWeek == idx">{{day.label}}</div>
    </div>
  </div>
  <p [class.checkout]="checkout">
    la prochaine livraison pour votre abonnement débuttera le 
     <b>{{nextShippingDay|date:'EEEE dd':'':locale|titlecase}} </b> 
  </p>


</div>
